# server_rootCA.csr.cnf
[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C = GB
ST = Scotland
L = Edinburgh
O = Scottish Council for Voluntary Organisations
OU = local_RootCA
emailAddress = scvoteamdigital@gmail.com
CN = scvo.local

[req_ext]
subjectAltName = DNS:scvo.local, DNS:goodmoves.local, DNS:amp.scvo.local, DNS:goodhq.local, DNS:digitalparticipation.local, DNS:humanrightsdeclaration.local, DNS: fundingscotland.local, DNS:auth.local, DNS:test.local 
