<cms-page></cms-page>

<div class="drupal page content" *ngIf="pages && pages.length > 0">
    <h3 class="light"><strong>Sections</strong></h3>

    <ul *ngFor="let link of pages">
        <li><h4 class="light"><a [routerLink]="link.path">{{link.title}}</a></h4></li>
    </ul>
</div>

<div class="drupal post content" *ngIf="posts && posts.length > 0">
    <h3 class="light"><strong>Posts</strong></h3>

    <div class="row">
        <div class="col s12 m6" *ngFor="let blog of posts">
            <div class="card small sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{blog.field_header_image}}" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{blog.title}}<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a [routerLink]="blog.path">Read more&hellip;</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{blog.title}}<i class="material-icons right">close</i></span>
                    <div [innerHTML]="blog.field_summary"></div>
                </div>
            </div>
        </div>
    </div>
</div>
