<cms-page></cms-page>

<div class="drupal page list" *ngIf="pages && pages.length > 0">
    <!-- <h3 class="light"><strong>Sections</strong></h3> -->

    <dl *ngFor="let page of pages">
        <dt><h4><a [routerLink]="page.path" [innerHTML]="page.title"></a></h4></dt>
        <dd *ngIf="page.field_summary" [innerHTML]="page.field_summary"></dd>
    </dl>
</div>

<div class="drupal post list" *ngIf="posts && posts.length > 0">
    <!-- <h3 class="light"><strong>Posts</strong></h3> -->

    <div class="row">
        <div class="col s12 m6" *ngFor="let post of posts">
            <div class="card small sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{post.field_header_image}}" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{post.title}}<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a [routerLink]="post.path">Read more&hellip;</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{post.title}}<i class="material-icons right">close</i></span>
                    <div [innerHTML]="post.field_summary"></div>
                </div>
            </div>
        </div>
    </div>
</div>
