<div *ngIf="!error" class="drupal post content">
    <p class="right" *ngIf="content_nid"><a href="https://master-o6miopmkpjxjq.eu.platform.sh/node/{{content_nid}}/edit" class="btn btn-primary"><span class="fa fa-edit"></span>&ensp;Edit post</a></p>

    <h1 [innerHTML]="content_title" class="light title"></h1>

    <p *ngIf="content_tags">Tags: <span *ngFor="let tag of content_tags | mapToIterable"><a [routerLink]="['/tags/'+tag.val]">{{tag.val}}</a> </span></p>
    <!-- <pre>{{content_tags | json}}</pre> -->

    <h2 *ngIf="content_subheading" [innerHTML]="content_subheading" class="light subheading"></h2>

    <!-- <p class="timestamp">Last updated: {{content_revision_timestamp | date:'yyyy-MM-dd H:mm:ss'}}</p> -->

    <div class="body" *ngIf="content_body_format == 'markdown'" [innerHTML]="content_body | markdown"></div>
    <div class="body" *ngIf="content_body_format == 'basic_html' || content_body_format == 'full_html'" [innerHTML]="content_body"></div>
    <div class="body" *ngIf="content_body_format == 'plaintext'">{{content_body}}</div>

    <!-- <pre>{{content | json}}</pre> -->
</div>

<div *ngIf="error">
    <h1 class="light">Page cannot be found (404)</h1>
    <p>{{error_message}}</p>
</div>
