<div *ngIf="!error" class="drupal page content">
    <p class="drupal edit link" *ngIf="content_nid"><a href="{{content_editLink}}" class="btn btn-primary"><span class="fa fa-edit"></span>&ensp;Edit page</a></p>

    <!-- <h1 [innerHTML]="content_category" class="light category"></h1> -->
    <h1 [innerHTML]="content_title" class="light drupal page title"></h1>

    <h2 *ngIf="content_subheading" [innerHTML]="content_subheading" class="light drupal page subheading"></h2>

    <!-- <p class="timestamp">Last updated: {{content_revision_timestamp | date:'yyyy-MM-dd H:mm:ss'}}</p> -->

    <!-- <div *ngIf="content_category" [innerHTML]="content_category"></div>
    <div *ngIf="content_subcategory" [innerHTML]="content_subcategory"></div> -->

    <!-- <div class="drupal page body" *ngIf="content_body_format == 'markdown'" [innerHTML]="content_body | markdown"></div> -->
    <div class="drupal page body" *ngIf="content_body_format == 'basic_html' || content_body_format == 'full_html'" [innerHTML]="content_body"></div>
    <div class="drupal page body" *ngIf="content_body_format == 'plaintext'">{{content_body}}</div>

    <!-- <pre>{{content | json}}</pre> -->
</div>

<div *ngIf="error">
    <h1 class="light drupal page error title">Page cannot be found (404)</h1>
    <p class="drupal page error title">{{error_message}}</p>
</div>

<!-- <cms-post-list></cms-post-list> -->
