<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{route.metaData.title}}</title>
    {{{layoutParts.head}}}
</head>
<body>
    <div class="container-fluid">
        {{{layoutParts.body}}}
    </div>
    {{{layoutParts.foot}}}
</body>
</html>
