<div class="container-fluid container-content">
  <h1>How we use cookies</h1>
  <h4>What is a cookie?</h4>
  <p>
    A cookie is a small file of letters and numbers that we may store on your browser or the hard drive of your computer or device. They cannot be used to identify you personally.
  </p>
  <p>
    We use cookies to distinguish you from other users of the Site. This helps us to provide you with a good experience when you browse the Site and also allows us to improve the Site.
  </p>
  <p>
    Cookies are used to improve services for you through, for example:
  </p>
  <ul>
    <li>enabling a service to recognise your device so you don’t have to give the same information several times during one task;</li>
    <li>recognising that you may already have given a username and password so you don’t need to do it for every web page requested; and</li>
    <li>measuring how many people are using services, so they can be made easier to use and there’s enough capacity to ensure they are fast</li>
  </ul>
  <h4>Types of cookies used</h4>
  <p>
    The Site uses the following types of cookies:
  </p>
  <ul>
    <li>Session cookie – this type of cookie allows websites to link the actions of a user during a browser session so that the website is able to store certain information whilst the user is browsing the site.</li>
    <li>Google Analytics cookies – Google Analytics sets cookies to help us accurately estimate the number of visitors to the Site and volumes of usage. This is to ensure that the service is available when you want it and fast.</li>
  </ul>
  <p>
    You can find more detailed information about the individual cookies we use and the purposes for which we use them in the tables below:
  </p>
  <h4>Cookie Info Script cookie</h4>
  <table>
    <tbody>
      <tr>
        <td><b><i>Cookie</i></b></td>
        <td><b><i>Typical content</i></b></td>
        <td><b><i>Purpose</i></b></td>
        <td><b><i>Expires</i></b></td>
      </tr>
      <tr>
        <td>CookieInfoScript</td>
        <td>1</td>
        <td>A Boolean value used to remember if the user has accepted the Cookie policy</td>
        <td>No expiry</td>
      </tr>
    </tbody>
  </table>
  <h4>Google Analytics cookies</h4>
  <p>
    The information from the following cookies will be used by Google in accordance with Google’s <a href="http://www.google.co.uk/intl/en/policies/privacy/">privacy policy</a>. For more information on the cookies set by Google Analytics please refer to the <a href="https://developers.google.com/analytics/resources/concepts/gaConceptsCookies">Google Analytics</a> website:
  </p>
  <table>
    <tbody>
      <tr>
        <td><b><i>Cookie</i></b></td>
        <td><b><i>Typical content</i></b></td>
        <td><b><i>Purpose</i></b></td>
        <td><b><i>Expires</i></b></td>
      </tr>
      <tr>
        <td>_utma</td>
        <td>Randomly generated number</td>
        <td>This cookie is typically written to the browser upon the first visit to our site from that web browser. This cookie is used to determine unique visitors to our site and it is updated with each page view. Additionally, this cookie is provided with a unique ID that Google Analytics uses to ensure both the validity and accessibility of the cookie as an extra security measure.</td>
        <td>This cookie will stay on your browser for 2 years.</td>
      </tr>
      <tr>
        <td>_utmb</td>
        <td>Randomly generated number</td>
        <td>This cookie is used to establish and continue a user session with our site. Each time a user visits a different page on our site, this cookie is updated to expire in 30 minutes, continuing a single session for as long as user activity continues within 30 minute intervals. This cookie expires when a user pauses on a page on our site for longer than 30 minutes.</td>
        <td>This cookie will stay on your browser for 30 minutes.</td>
      </tr>
      <tr>
        <td>_utmc</td>
        <td>Randomly generated number</td>
        <td>This cookie operates in conjunction with the utmb cookie to determine whether or not to establish a new session for the user. Should a user visit our site, exit the browser and then return to our website within 30 minutes, the absence of the utmc cookie indicates that a new session needs to be established.</td>
        <td>End of session.</td>
      </tr>
      <tr>
        <td>_utmz</td>
        <td>Randomly generated number + info on how the site was reached (e.g. directly or via a link, organic search or paid search)</td>
        <td>This cookie stores the type of referral used by the visitor to reach our site, whether via a direct method, a referring link, a website search, or a campaign such as an ad or an email link. It is used to calculate search engine traffic, ad campaigns and page navigation within our own site. The cookie is updated with each page view to our site.</td>
        <td>This cookie will stay on your browser for 6 months.</td>
      </tr>
    </tbody>
  </table>
</div>