{{> vacancy_search_form this instance_id="perm"}}

<div id="detailed-results-container" class="container-content goodmoves-saved-searches">
  <h1 class="mdc-typography--headline3 v-margin-full">
    Saved searches
  </h1>

  <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
    <li class="mdc-list-item mdc-ripple-upgraded">
      <span class="mdc-list-item__graphic far fa-search fa-2x" aria-hidden="true"></span>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone">
            <span class="mdc-list-item__text">
              Manager
              <span class="mdc-list-item__secondary-text">
                Glasgow
              </span>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
              <div class="mdc-switch" data-mdc-auto-init="MDCSwitch">
                <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" role="switch">
                <div class="mdc-switch__background">
                  <div class="mdc-switch__knob"></div>
                </div>
              </div>
              <label for="basic-switch">off/on</label>
            </span>
          </div>
        </div>
      </div>
      <span class="mdc-list-item__meta far fa-trash-alt" aria-hidden="true"></span>
    </li>
    <li class="mdc-list-divider" role="separator"></li>
    <li class="mdc-list-item mdc-ripple-upgraded">
      <span class="mdc-list-item__graphic far fa-search fa-2x" aria-hidden="true"></span>
      <span class="mdc-list-item__text">
        IT Manager
        <span class="mdc-list-item__secondary-text">
          Edinburgh, Glasgow
        </span>
      </span>
      <span class="mdc-list-item__meta far fa-trash-alt" aria-hidden="true"></span>
    </li>
    <li class="mdc-list-divider" role="separator"></li>
    <li class="mdc-list-item mdc-ripple-upgraded">
      <span class="mdc-list-item__graphic far fa-search fa-2x" aria-hidden="true"></span>
      <span class="mdc-list-item__text">
        Technician
        <span class="mdc-list-item__secondary-text">
          Glasgow, Falkirk
        </span>
      </span>
      <span class="mdc-list-item__meta far fa-trash-alt" aria-hidden="true"></span>
    </li>
    <li class="mdc-list-divider" role="separator"></li>
    <li class="mdc-list-item mdc-ripple-upgraded">
      <span class="mdc-list-item__graphic far fa-search fa-2x" aria-hidden="true"></span>
      <span class="mdc-list-item__text">
        Trustee
        <span class="mdc-list-item__secondary-text">
          Edinburgh
        </span>
      </span>
      <span class="mdc-list-item__meta far fa-trash-alt" aria-hidden="true"></span>
    </li>
  </ul>
</div>