<div id="map-full" class="hidden"></div>

{{> search_form this instance_id="perm"}}

<div class="goodmoves-job-search">
  <div id="detailed-results-container">
    {{> search_results this}}
  </div>
</div>
