<div id="map-full" class="hidden"></div>

{{> search_form this instance_id="perm"}}

<div id="detailed-results-container" class="container-content goodmoves-job-search">
  {{> search_results this}}
</div>