<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <form role="form" [formGroup]="loginForm" (submit)="login()">
                <div class="input-field-active">
                    <i class="fa fa-fw fa-envelope prefix"></i>
                    <label class="control-label" for="email">Email</label>
                    <input type="email" id="email" class="form-control validate active" formControlName="email" />
                </div>
                <div class="input-field-active">
                    <i class="fa fa-fw fa-lock prefix"></i>
                    <label class="control-label" for="password">Password</label>
                    <input type="password" id="password" class="form-control validate active" formControlName="password" />
                </div>
                <div class="input-field-active">
                    <button type="submit" class="btn btn-block btn-login btn-icon-right white-text">
                        Login
                        <i class="fa fa-fw fa-login"></i>
                    </button>
                </div>
            </form>

            <div *ngIf="message" class="row nopadding">
                <div class="col-sm-12">
                    <div class="card-panel red darken-4">
                        <span class="white-text">{{message}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
