<div class="page">
    {{> header_splash}}
    <div class="container-fluid">
        {{> breadcrumbs}}
    </div>
    <div class="page-content">
        <!-- {{{primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}} -->
        <div class="container-fluid">
            <p>
                Figures released at The Gathering 2018 have revealed that public trust in charities in Scotland has fallen by 9% over the last two years.
            </p>
            <p>
                The data comes from a telephone survey conducted by Ipsos MORI as part of the Scottish Public Opinion Monitor in December 2017, which shows that 73% of the 1,088 Scots questioned strongly or tended to agree that charities are trustworthy - a drop from 82% since 2015.
            </p>
            <p>
                While this may seem disheartening, it’s worth noting that the rate of trust recorded in Scotland is still highest in the UK, and the findings also highlight just how important charities are to Scottish communities. The majority of people surveyed (82%) has used a charity service in the last year – and personal experience was noted as a key indicator of trust.
            </p>
            <p>
                The findings have prompted the Scottish Council for Voluntary Organisations (SCVO) to launch an ‘<strong>I Love Charity’ campaign</strong>, which aims to inspire trust in charities by supporting good governance within organisations to ensure they are well run, open and transparent, and to encourage charities to work harder at promoting the positive impact of their work.
            </p>
            <h3><a href="/post">Read the press release</a></h3>
            <h3><a href="/post">Read the full report on the findings</a></h3>
            <p>
                However, many charities across the country are already finding new and innovative ways to challenge misinformation and promote trust in their cause, by involving their communities and embracing digital platforms – and are proving that you don’t have to be a big organisation to do it. Read some of our case studies:
            </p>
        </div>
        <div class="cta-content case-studies">
            <div class="container-fluid">
                <div class="mdc-layout-grid equal-height">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone case-study">
                            <div class="mdc-card v-margin-full contact-teas">
                                <section class="mdc-card__primary">
                                    <h2>Contact Teas</h2>
                                </section>
                                <section class="mdc-card__media"></section>
                                <section class="mdc-card__supporting-text">
                                    <p>
                                        Isolation is an issue which has crept into the public eye in recent years.
                                    </p>
                                    <p>
                                        With Scotland having a growing and ageing population, more elderly people than ever are facing having to spend their everyday lives without regular contact from loved ones or friends – to the detriment of both their physical and mental health.
                                    </p>
                                    <p>
                                        A range of projects across the country have been launched to help tackle isolation – and one that has received regular coverage in the media is Contact Teas.
                                    </p>
                                    <p>
                                        Operated by Contact the Elderly, the initiative sees people across Scotland host monthly tea parties for older people in their areas.
                                    </p>
                                    <p>
                                        The charity now has 126 groups operating parties, supporting more than 900 people. It has utilised social media to tell its story to supporters, and also to spread the Contact Teas movement.
                                    </p>
                                    <p>
                                        “We try to tell our story from the perspective that this is a family friendly activity, it is very personal, and takes place in people’s homes and their cars,” said Contact the Elderly head of service Morna O’May.
                                    </p>
                                    <p>
                                        “There is a lot of personal contact at our tea parties, there is one-to-one contact, and there are often children and even pets involved.
                                    </p>
                                    <p>
                                        “We are really keen that are staff are individually involved with our social media. All of our staff get the chance to tell their own stories online, which means that there are a lot of unique stories told.”
                                    </p>
                                    <p>
                                        The charity operates Facebook and twitter pages which have thousands of followers, and also uses Instagram to tell the personal stories of those that attend parties through colourful images and videos.
                                    </p>
                                    <p>
                                        O’May said: “The charity as a whole is doing a lot of work online, but it really is our Scotland team that is leading the way digitally. We are focusing on getting our message out there on all the different social media sites.
                                    </p>
                                    <p>
                                        “It comes into play at the tea parties as well. We had a tea party in Edinburgh recently that was taking place at the same time as one down south. Some of the people involved knew each other, and they ended up using Facetime to talk to each other despite being hundreds of miles apart.”
                                    </p>
                                </section>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone case-study">
                            <div class="mdc-card v-margin-full the-yard">
                                <section class="mdc-card__primary">
                                    <h2>The Yard</h2>
                                </section>
                                <section class="mdc-card__media"></section>
                                <section class="mdc-card__supporting-text">
                                    <p>
                                        Most charities are aware of the good work they are doing – however providing concrete proof can be challenging.
                                    </p>
                                    <p>
                                        The Yard has been praised for the support it provides to disabled children and their families at its play facility in Edinburgh – and has expanded to Dundee and Fife.
                                    </p>
                                    <p>
                                        Curiosity over the wider impact of its work led the organisation to commission a social impact study last year.
                                    </p>
                                    <p>
                                        “We were pretty sure through anecdotal evidence that our service was valued by the families that we worked with, but we had no real proof of this,” said chief executive Celine Sinclair.
                                    </p>
                                    <p>
                                        “Through the social impact study, we were able to identify that families felt more informed, and less isolated after they had been at The Yard.
                                    </p>
                                    <p>
                                        “The research provide clear, qualitative and quantitive which shows the good things we are doing.”
                                    </p>
                                    <p>
                                        The research showed that every pound spent at The Yard results in a return of over £20, and every pound invested achieves a social saving of £12. It also provided evidence of the positive effect that The Yard has on the families who attend, with them feeling more confident and being able to meet people in similar situations to them.
                                    </p>
                                    <p>
                                        The study is now being used to aid the charity in funding applications, and to display its good work to supporters.
                                    </p>
                                    <p>
                                        “I think quite often charities embark on projects but don’t re-evaluate them and think is what we are doing right?,” Sinclair added.
                                    </p>
                                    <p>
                                        “The study showed that the return on a pound that is spent on our service is about £20. That is a very good return for the local authorities that have given us funding.
                                    </p>
                                    <p>
                                        “It also makes sense to the people who support our organisation and for the businesses that are raising money on our behalf.”
                                    </p>
                                    <p>
                                        The study did come at a cost however, with the Yard able to fund it after a generous donation from a supporter. However the data in the study can be continually updated, meaning that the charity has up-to-date evidence of its work that can be utilised when required.
                                    </p>
                                    <p>
                                        Sinclair said: “The reason we made the decision to do the research was that we realised that we were at a size where we were having to raise a sizeable income, and we wanted to be able to very clearly evidence what people when they gave us their money.
                                    </p>
                                    <p>
                                        “It was about being able to build trust with our stakeholders, those who have funded us, and being able to demonstrate to them very clearly that our model of supporting disabled children and their families is great value for money.
                                    </p>
                                    <p>
                                        “It’s quite a big investment, both in terms of money and time. We would be happy to speak to other charities about it. We were lucky to get an allocated pot of money from one of our funders who wanted to specifically fund this, and it might be that organisations would also need a similar type of funding to carry out similar research.”
                                    </p>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone case-study">
                            <div class="mdc-card v-margin-full starter-packs-glasgow">
                                <section class="mdc-card__primary">
                                    <h2>Starter Packs Glasgow</h2>
                                </section>
                                <section class="mdc-card__media"></section>
                                <section class="mdc-card__supporting-text">
                                    <p>
                                        Loyalty is key for a charity’s survival – and harbouring trust is easier than recovering from distrust.
                                    </p>
                                    <p>
                                        With funding harder to come by than ever, organisations are more reliant on their supporters and need to prove their worth to funders.
                                    </p>
                                    <p>
                                        Starter Packs Glasgow is an example of a charity which has bounced back from having trust issues, and may not have survived had it not been for the understanding nature of its backers.
                                    </p>
                                    <p>
                                        The organisation was set up by a group of churches in 2000, but has been independent for more than a decade, and provides household essentials to those who have secured properties after being homeless.
                                    </p>
                                    <p>
                                        Manager Gavin Dunbar took the helm of the charity having volunteered and worked in the charity’s shop The Magpie’s Eye, which sells vintage items.
                                    </p>
                                    <p>
                                        He said: “The charity has always been run on a shoestring. Most charities struggle with the same things - funding, lack of volunteers and things like that.
                                    </p>
                                    <p>
                                        “We really are a community based charity but that doesn’t mean we can’t be professional about what we do. It’s all about making the most of your donations, your volunteers and your staff. It’s also about making the most of what you do for the community and the people that you help.
                                    </p>
                                    <p>
                                        “Five years ago we were really struggling, it was a real mess and a lot of things weren’t being done properly.
                                    </p>
                                    <p>
                                        “But our two shops had such a good reputation, particularly the Magpie’s Eye. I don’t think most people were aware of the issues, but those that were aware gave us the benefit of the doubt because they knew what we wanted to do.”
                                    </p>
                                    <p>
                                        With rare records often appearing on its shelves, the Magpie’s Eye has developed a significant following, which has allowed Starter Packs to spread information on the work it carries out.
                                    </p>
                                    <p>
                                        “I think one of the reasons that Starter Packs Glasgow has survived is that the community has been so supportive and know that we are in this for the right reasons,” Dunbar continued.
                                    </p>
                                    <p>
                                        “They know what we do, and what we are trying to do. The Magpie’s Eye shop brings people into Govan, and they look out for the stuff that we sell. When they come to the shop, they meet the staff and can see what we are all about.
                                    </p>
                                    <p>
                                        “Social media has also been key. People see items they like on our Facebook page and head straight for the shop. This has allowed us to gain a good following online.”
                                    </p>
                                    <p>
                                        Gaining a following has also allowed the charity to benefit from fundraising events.
                                    </p>
                                    <p>
                                        “Many of our supporters are big music fans, because of the type of records which we have in the shop,” Dunbar said.
                                    </p>
                                    <p>
                                        “We recently had a fundraiser which saw a vegan pop-up restaurant being held in Kinning Park to raise funds for us, which was great.
                                    </p>
                                    <p>
                                        “It is nice to do things that are a bit different, and that also make a real difference to us as well.”
                                    </p>
                                </section>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone case-study">
                            <div class="mdc-card v-margin-full friends-of-oban-community-playpark">
                                <section class="mdc-card__primary">
                                    <h2>Friends of Oban Community Playpark</h2>
                                </section>
                                <section class="mdc-card__media"></section>
                                <section class="mdc-card__supporting-text">
                                    <p>
                                        There are more than ten thousand small charities in Scotland that operate on shoestring budgets.
                                    </p>
                                    <p>
                                        Community is key to many of the nation’s smaller third sector groups, who often embark on vital projects without relying on staff members or large grants.
                                    </p>
                                    <p>
                                        Friends of Oban Community Playpark is an example of what can be achieved when a community works together.
                                    </p>
                                    <p>
                                        The group was founded six years ago with the town in need of a replacement for its ageing and decrepit play area.
                                    </p>
                                    <p>
                                        A ‘small but perfectly formed’ group of six mums went on to raise more than £334,000 for the project, which resulted in a stunning new play facility for children of all ages to use.
                                    </p>
                                    <p>
                                        The Friends’ Lyndsay Elliot said: “It was very much a small group of people, and we were all volunteers. It doesn’t always take a massive committee to get things done, but it does require a few people who know what they are talking about. We were seen as a small, but perfectly formed group of mums.”
                                    </p>
                                    <p>
                                        Collection boxes in local pubs and shops raised more than £6,000, and the group attempted to connect with the local community by hosting unique events to attract as many families as possible.
                                    </p>
                                    <p>
                                        “A lot of the money raised came through us getting our message across by using Facebook, working with local newspapers, appearing on radio stations, things like that,” Elliot added.
                                    </p>
                                    <p>
                                        “We also had face to face meetings with as many people as we could, as well as consulting with lots of parents and children.
                                    </p>
                                    <p>
                                        “We had to have as many regular events as possible, and has some large scale craft events which involved lots of kids.”
                                    </p>
                                    <p>
                                        The group benefited from working in a tight community, but also had to respond quickly when misinformation was spread about the project. The Friends had difficulties raising continued funding for the play area – with many locals believing that the project had been completed – and the committee having to ensure that it kept its supporters regularly with developments.
                                    </p>
                                    <p>
                                        Elliot said: “Our supporters knew that all of the money that gave us would be going towards the project, and that it would be used. I think people can get frustrated if they don’t see results after donating. They knew that we wouldn’t be sitting there doing nothing with their money, and that it would go straight to the project.
                                    </p>
                                    <p>
                                        “We were also very pro-active in telling people where we were with the project, and when we had hit specific goals or targets.”
                                    </p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>