<div class="page digital">
    {{> header_splash}}
    <div class="container-fluid heading">
        {{#> handle_404}}
        {{> breadcrumbs}}
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
                    <h1 class="mdc-card__title mdc-card__title--large v-margin">
                        We're helping people and organisations in Scotland develop their digital potential
                    </h1>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone cta page-cta">
                    <a href="/digital/about" class="mdc-button mdc-button--raised pull-right">Sign up for our e:bulletin</a>
                    <a href="https://twitter.com/digiscot" class="mdc-button mdc-button--raised pull-right" target="_blank">Follow us on Twitter&ensp;<i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="mailto:digital@scvo.org.uk" class="mdc-button mdc-button--raised pull-right" target="_blank">Email us&ensp;<i class="fas fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="basic-digital-skills callout">
        <div class="container-fluid">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <h2>Basic Digital Skills Framework Consultation</h2>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <h3>SCVO response</h3>
                        <p>
                            We welcome the opportunity to feed into the consultation on the
                            Basic Digital Skills Framework led by Tech Partnership and Lloyds Bank.
                            <a href="#">Read our response to the consultation</a>
                        </p>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <h3>Get involved!</h3>
                        <p>
                            Attend our event on the 00th of Month at the Venue in City.
                        </p>
                        <a href="#" class="mdc-button mdc-button--raised">Find out more</a>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <h3>&nbsp;</h3>
                        <p>
                            Influence our submission - we want to hear your views.
                        </p>
                        <a href="#" class="mdc-button mdc-button--raised">Contact us</a>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <h3>&nbsp;</h3>
                        <p>
                            Submit your own response to the consultation.
                        </p>
                        <a href="#" class="mdc-button mdc-button--raised">Submit your response</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="digital-participation callout">
        <div class="container-fluid">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
                        <h2>Tackling digital exclusion in Scotland</h2>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
                        <a href="https://digitalparticipation.scot">
                            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/digital/charter-logo.png" class="pull-right v-margin" />
                        </a>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/digital/Main-Hero-RGB-04-wee.png" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <div class="mdc-card">
                            <section class="mdc-card__primary">
                                <h3>What's the issue?</h3>
                            </section>
                            <section class="mdc-card__supporting-text">
                                <p>
                                    One in five people lack basic digital skills.
                                    Confidence, access and affordability can also prevent people benefiting from being online.
                                </p>
                            </section>
                            <section class="mdc-card__actions">
                                <ul>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://digitalparticipation.scot/skill-up">Understand the skills</a></li>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://digitalparticipation.scot/resources/reports">Read the research</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <div class="mdc-card">
                            <section class="mdc-card__primary">
                                <h3>Get involved</h3>
                            </section>
                            <section class="mdc-card__supporting-text">
                                <p>
                                    Can you play a role in building people's confidence and basic digital skills?
                                    Can you help tackle the issues of accessibility or affordability?
                                </p>
                            </section>
                            <section class="mdc-card__actions">
                                <ul>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://digitalparticipation.scot/sign-up">Sign the Charter</a></li>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://digitalparticipation.scot/signatories">View signatories</a></li>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://digitalparticipation.scot/resources">Find resources</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <div class="mdc-card">
                            <section class="mdc-card__primary">
                                <h3>Get support</h3>
                            </section>
                            <section class="mdc-card__supporting-text">
                                <p>
                                    Find out more about the support we can offer to help build the skills and
                                    confidence of your workforce and people you work with.
                                </p>
                            </section>
                            <section class="mdc-card__actions">
                                <ul>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/participation/champions">Digital Champion Training</a></li>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/participation/charter-fund">Apply for funding</a></li>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/participation/charter-fund/projects">View projects</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="digital-evolution callout">
        <div class="container-fluid">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                        <h2>Building a digitally confident third sector</h2>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/digital/evolution-icon.png" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <div class="mdc-card">
                            <section class="mdc-card__primary">
                                <h3>What's the issue?</h3>
                            </section>
                            <section class="mdc-card__supporting-text">
                                <p>
                                    New technology and the internet has changed the way we live our lives.
                                    Has the third sector responded to this change?
                                </p>
                            </section>
                            <section class="mdc-card__actions">
                                <ul>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/post/2016/11/08/digital-call-to-action-third-sector-scotland">Read the Call to Action</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <div class="mdc-card">
                            <section class="mdc-card__primary">
                                <h3>Adapt and evolve</h3>
                            </section>
                            <section class="mdc-card__supporting-text">
                                <p>
                                    Wherever you are in your digital journey, we're aiming to provide support to
                                    help you maximise the benefits and minimise the risks.
                                </p>
                            </section>
                            <section class="mdc-card__actions">
                                <ul>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/evolution/check-up">Digital Check-Up</a></li>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/evolution/cyber-resilience">Cyber Resilience</a></li>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/evolution/senior-leaders-programme">Leaders Programme</a></li>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="https://charitycatalogue.com">Find Digital Tools</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <div class="mdc-card">
                            <section class="mdc-card__primary">
                                <h3>Digital Pioneer Case Studies</h3>
                            </section>
                            <section class="mdc-card__supporting-text">
                                <p>
                                    From Facebook campaigns to Google Analytics, iConnect North East tell us what digital has to offer.
                                </p>
                            </section>
                            <section class="mdc-card__actions">
                                <ul>
                                    <li><a class="mdc-card__action mdc-button mdc-button--raised" href="/digital/evolution/digital-pioneers">More case studies</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid latest_content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="digital-blogs mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    <h2>Latest digital blogs</h2>
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            {{#each supplimentaryResponses.related_posts.hits.hits}}
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                {{{_source.rendered.scvo_gist}}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <p>
                        <a class="mdc-button mdc-button--raised v-margin" href="/digital/blogs">Read more</a>
                    </p>
                </div>
                <div class="digital-events mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    {{#compare supplimentaryResponses.related_events.hits.total ">" 0}}
                    <h2>Upcoming digital events</h2>
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            {{#each supplimentaryResponses.related_events.hits.hits}}
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                {{{_source.rendered.scvo_gist}}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <p>
                        <a class="mdc-button mdc-button--raised v-margin" href="/digital/events">See all</a>
                    </p>
                    {{/compare}}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid logos">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <h3>Our digital work delivered in partnership with</h3>
                </div>
            </div>
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <a href="http://gov.scot">
                        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/scotgov.png" alt="The Scottish Government" />
                    </a>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <a href="https://beta.gov.scot/policies/digital/">
                        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/digiscot.png" alt="Digital Scotland" />
                    </a>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <a href="https://biglotteryfund.org.uk">
                        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/biglottery.png" alt="Big Lottery Fund" />
                    </a>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <a href="http://onedigitaluk.com">
                        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/onedigital.png" alt="OneDigital" />
                    </a>
                </div>
            </div>
        </div>
        {{/handle_404}}
    </div>
</div>
