<h1 class="header-text">
  {{#if link ~}}<a href="/" title="Funding Scotland">{{/if ~}}
  <span class="header-text-banner">
    {{#if welcome ~}}<span class="normal welcome">Welcome to</span><br />{{/if ~}}
    Funding <span class="normal">Scotland</span>
  </span>
  {{#if link ~}}</a>{{/if ~}}
</h1>