{{#if paging.totalResults ~}}
<div class="search-info mdc-elevation--z3">
  <strong>Total results:</strong> {{addCommas paging.totalResults}} |
  <strong>Current page:</strong> {{addCommas paging.currentPage}} of {{addCommas paging.totalPages}}
</div>
{{else}}
{{#ifAny request.params.query.type request.params.query.regions request.params.query.sectors request.params.query.statuses request.params.query.location request.params.query.job_number request.params.query.q ~}}
<div class="search-info mdc-elevation--z1">
  No results, please try a different search query
</div>
{{/ifAny ~}}
{{/if ~}}