<div class="mdc-card list" data-fund-id="{{Id}}">
  {{> fund_key_info}}
  <hr class="mdc-list-divider" />
  {{#compare (trim (getProperty @root.data.notes Id)) "!==" "" ~}}
    {{> fund_description limit="3rem" description=description}}
    {{> fund_notes limit="3rem"}}
  {{else}}
    {{> fund_description limit="10.5rem" description=description}}
  {{/compare ~}}
  {{> fund_actions slug=slug Id=Id}}
</div>