.header {
    background: #009688;
    color: white;
}

.navbar-search {
    position: relative;
}

ul.sb-results-dropdown-menu {
    margin: 0;
    padding: 0;
    margin-right: 11px;
}

ul.sb-results-dropdown-menu > li {
    position: relative;
    border-bottom: 1px solid rgba(239, 239, 239, 0.25);
    height: 60px;
    padding: 15px;
    list-style: none;
    background: white;
    width: 100%;
}

ul.sb-results-dropdown-menu > li span {
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #525252;
    font-size:14px;
    padding-left:5px;
    cursor:pointer;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    display: block;
}

ul.sb-results-dropdown-menu > li:nth-child(odd) {
    background: #f7f7f7;
}
ul.sb-results-dropdown-menu > li:last-child {
    border-bottom: 0;
}

.sb-seachresults {
    position: absolute;
    z-index: 5;
    width: 100%;
    border-radius: 0;
}
.sb-seachresults.hidden{
    visibility: hidden;
}

.sb-message{
    position: absolute;
    background: #f7f7f7;
    height: 20px;
    width:100%;
}

.sb-message span {
    color: dimgrey;
    text-align: right;
    line-height: 10px;
    padding: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
