<!-- <li *ngIf="menuType == 'mobile'">
    <div class="userView">
        <img class="background" src="/app/assets/images/icons/scvo.png" />
        <a href="#!user"><img class="circle" src="/app/assets/images/icons/scvo.png" /></a>
        <a href="#!name"><span class="white-text name">SCVO</span></a>
        <a href="#!email"><span class="white-text email"></span></a>
    </div>
</li> -->

<li *ngFor="let navigationItem of navigationMenu, let i = index">
    <ul>
        <li *ngIf="menuType == 'desktop' && !navigationItem.contents">
            <a [routerLink]="navigationItem.link">{{navigationItem.title}}</a>
        </li>
        <li *ngIf="menuType == 'desktop' && navigationItem.contents" [routerLinkActive]="['active']">
            <a [routerLink]="navigationItem.link" materialize="dropdown" [attr.data-activates]="'dropdown' + i" data-belowOrigin="true" data-hover="true">{{navigationItem.title}}<span class="material-icons arrow_drop_down right">arrow_drop_down</span></a>
            <ul [attr.id]="'dropdown' + i" class="dropdown-content">
                <li *ngFor="let navigationContentItem of navigationItem.contents" [routerLinkActive]="['active']"><a [routerLink]="navigationContentItem.link">{{navigationContentItem.title}}</a></li>
            </ul>
        </li>
        <li class="no-padding" *ngIf="menuType == 'mobile' && !navigationItem.contents">
            <ul>
                <li>
                    <a [routerLink]="navigationItem.link">{{navigationItem.title}}</a>
                </li>
            </ul>
        </li>
        <li class="no-padding" *ngIf="menuType == 'mobile' && navigationItem.contents">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">{{navigationItem.title}}<span class="material-icons arrow_drop_down right">arrow_drop_down</span></a>
                    <div class="collapsible-body">
                        <ul *ngFor="let navigationContentItem of navigationItem.contents">
                            <li><a [routerLink]="navigationContentItem.link">{{navigationContentItem.title}}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</li>
