<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJdxcQpVKQ6HdrjnPXycUoZqsmp-Ep3l0&libraries=places&callback=initMap" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script>
  var terms = {
    sectors: [
      {{#each data.terms.types.aggregations.sectors.buckets}}
        { field: 'sectors', term: {{{stringify key}}} },
      {{/each}} 
    ],
    roles: [
      {{#each data.terms.types.aggregations.roles.buckets}}
        { field: 'roles', term: {{{stringify key}}} },
      {{/each}} 
    ],
    statuses: [
      {{#each data.terms.types.aggregations.statuses.buckets}}
        { field: 'statuses', term: {{{stringify key}}} },
      {{/each}} 
    ]
  };

  var selectedTerms = {
    sectors: [],
    roles: [],
    statuses: [],
    keywords: []
  };

  var sectorsEngine = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('term'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: terms.sectors
  });

  var rolesEngine = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('term'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: terms.roles
  });
  
  var statusesEngine = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('term'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: terms.statuses
  });

  $('#tt-what #what').typeahead({
    minlength: 0,
    highlight: true,
  },
  {
    name: 'sectors',
    source: sectorsEngine,
    display: 'term',
    templates: {
      header: '<h3>Sectors</h3>'
    }
  },
  {
    name: 'roles',
    source: rolesEngine,
    display: 'term',
    templates: {
      header: '<h3>Roles</h3>'
    }
  },
  {
    name: 'statuses',
    source: statusesEngine,
    display: 'term',
    templates: {
      header: '<h3>Statuses</h3>'
    }
  })
    .on('typeahead:select', typeaheadSelect)
    .on('typeahead:autocomplete', typeaheadSelect)
    .on('keydown', function(ev) {
      switch (ev.keyCode) {
        case (9): 
          ev.preventDefault(); 
          break;
        case (13):
          console.log('keydown', arguments, $('#what').typeahead('getActive'));
          ev.preventDefault();
          var val = $('#what').val();
          if (val) {
            addChip('keywords', $('#what').val());
            $('#what').typeahead('val', '');
            refocusWhat();
          }
          break;
      }
    });

  function typeaheadSelect(ev, suggestion) {
    addChip(suggestion.field, suggestion.term);
    $('#what')
      .typeahead('val', '')
      .typeahead('close');
    refocusWhat();
  }

  function refocusWhat() {
    setTimeout(function() {
      $('#what').focus();
    }, 100);
  }

  function addChip(field, term) {
    if (selectedTerms[field].indexOf(term) === -1) {
      selectedTerms[field].push(term);
    }
    updateTerms();
  }

  function removeChip(field, term) {
    if (selectedTerms[field].indexOf(term) > -1) {
      selectedTerms[field].splice(selectedTerms[field].indexOf(term), 1);
    }
    updateTerms();
  }

  function updateTerms() {
    redrawTermChips();
    doHomeSearch(); 
  }

  function doHomeSearch() {
    var body = {}
    Object.keys(selectedTerms).forEach(function(field) {
      if (selectedTerms[field].length > 0) {
        body[field] = selectedTerms[field]
      }
    });
    var options = {
      url: '/home-search',
      type: 'POST',
      data: JSON.stringify(body),
      contentType: 'application/json; charset=utf-8'
    };
    $.ajax(options).done(function(results) {
      $('#search-results').empty();
      clearPins();
      $('#search-results-total').text(results.hits.total);
      if (results.hits.total > 0) {
        vacancies = results.hits.hits.map(hit => hit._source);
        vacancies.forEach(function(vacancy) {
          $('#search-results').append(vacancy.rendered.scvo_gist);
        });
        refreshMap();
      } else {

      }
    });
  }

  function redrawTermChips() {
    $('#search-terms').empty();
    Object.keys(selectedTerms).forEach(function(field) {
      selectedTerms[field].forEach(function(term) {
        var chip = $('<div />')
          .addClass('mdc-chip mdc-theme--primary-bg')
          .attr({ tabindex: 0 })
          .appendTo('#search-terms');
        var chipText = $('<div />')
          .addClass('mdc-chip__text')
          .html('<strong>' + field + '</strong>: ' + term)
          .appendTo(chip);
        var chipClose = $('<i />')
          .addClass('fa fa-times-circle mdc-chip__icon mdc-chip__icon--trailing')
          .attr({ tabindex: 0, role: 'button' })
          .on('click', function() {
            removeChip(field, term);
          })
          .appendTo(chip);
      });  
    });
  }

  var map, autocomplete, placeSearch, scotlandCoords, homeMarker, vacancies = [];
  var markers = [];
  var defaultZoom = 8;
  function initMap() {
    autocomplete = new google.maps.places.Autocomplete($('#where')[0], { types: ['geocode'] });
    autocomplete.addListener('place_changed', autocompleteChange);
    createMap();
    geolocate();
  }

  function autocompleteChange() {
    var place = autocomplete.getPlace();
    console.log('Autocomplete change', place);
    console.log('Autocomplete coords', place.geometry.location.lat(), ',', place.geometry.location.lng());
    var position = new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng());
    changeHome(position, place.formattedAddress);
  }

  function changeHome(position, title) {
    if (homeMarker) {
      homeMarker.setPosition(position);
      homeMarker.setTitle(title);
    } else{ 
      homeMarker = new google.maps.Marker({
        position: position,
        title: title,
      });
      homeMarker.setMap(map);
    }
    refreshMap();
  }
  
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var position = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        changeHome(position, 'Home');
      });
    }
  }
  
  function createMap() {
    map = new google.maps.Map($('#map-full')[0], {
      center: new google.maps.LatLng(57.0268117, -5.5676529),
      zoom: defaultZoom
    });
  }

  function clearPins() {
    markers.forEach(function(marker) {
      marker.setMap(null);
      delete marker;
    });
    markers = [];
  }

  function refreshMap() {
    var bounds = new google.maps.LatLngBounds();

    vacancies.forEach(function(result) {
      if (result.geo_vacancy_coords) {
        result.geo_vacancy_coords.forEach(function(coord) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(coord.lat, coord.lon),
            title: 'JOB',
          });
          marker.setMap(map);
          bounds.extend(marker.position);
          markers.push(marker);
        });
      }
    });
    if (homeMarker) {
      bounds.extend(homeMarker.position);
    }

    map.fitBounds(bounds);

    var zoom = map.getZoom();
    if (zoom > 12) {
      map.setZoom(12);
    } else if (zoom < 6) {
      map.setZoom(6);
    }
  }
</script>
<!--
    {{{stringify data.terms}}}
-->
