{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
<title>Search results – Goodmoves</title>
<meta property="og:title" content="Search results – Goodmoves" data-dynamic="true">
{{else}}
<title>Search results – Goodmoves</title>
<meta property="og:title" content="Search results – Goodmoves" data-dynamic="true">
{{/if ~}}