Top of the mornin to yeh
<!--<div class="table-responsive">-->
  <!--<table class="table table-condensed">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th></th>-->
      <!--<th style="text-align:center;font-weight:bold;">Mon</th>-->
      <!--<th style="text-align:center;font-weight:bold;">Tue</th>-->
      <!--<th style="text-align:center;font-weight:bold;">Wed</th>-->
      <!--<th style="text-align:center;font-weight:bold;">Thu</th>-->
      <!--<th style="text-align:center;font-weight:bold;">Fri</th>-->
      <!--<th style="text-align:center;font-weight:bold;">Sat</th>-->
      <!--<th style="text-align:center;font-weight:bold;">Sun</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
      <!--<th>Morning</th>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--{{#if monday_morning}}-->
          <!--<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">✓</span>-->
        <!--{{/if}}-->
        <!--{{#unless monday_morning}}-->
          <!--<i class="fa fa-fw fa-square-o"></i>-->
        <!--{{/unless}}-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--{{#if tuesday_morning}}-->
          <!--<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">✓</span>-->
        <!--{{/if}}-->
        <!--{{#unless tuesday_morning}}-->
          <!--<i class="fa fa-fw fa-square-o"></i>-->
        <!--{{/unless}}-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--{{#if wednesday_morning}}-->
          <!--<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">✓</span>-->
        <!--{{/if}}-->
        <!--{{#unless wednesday_morning}}-->
          <!--<i class="fa fa-fw fa-square-o"></i>-->
        <!--{{/unless}}-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--{{#if thursday_morning}}-->
          <!--<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">✓</span>-->
        <!--{{/if}}-->
        <!--{{#unless thursday_morning}}-->
          <!--<i class="fa fa-fw fa-square-o"></i>-->
        <!--{{/unless}}-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--{{#if friday_morning}}-->
          <!--<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">✓</span>-->
        <!--{{/if}}-->
        <!--{{#unless friday_morning}}-->
          <!--<i class="fa fa-fw fa-square-o"></i>-->
        <!--{{/unless}}-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--{{#if saturday_morning}}-->
          <!--<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">✓</span>-->
        <!--{{/if}}-->
        <!--{{#unless saturday_morning}}-->
          <!--<i class="fa fa-fw fa-square-o"></i>-->
        <!--{{/unless}}-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--{{#if sunday_morning}}-->
          <!--<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">✓</span>-->
        <!--{{/if}}-->
        <!--{{#unless sunday_morning}}-->
          <!--<i class="fa fa-fw fa-square-o"></i>-->
        <!--{{/unless}}-->
      <!--</td>-->

      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>{{#if monday_morning}}<span class="visible-print">✓</span>{{/if}}-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th>Afternoon</th>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th>Evening</th>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
      <!--<td style="text-align:center;font-weight:bold;">-->
        <!--<i class="fa fa-fw fa-square-o"></i>-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->
