<h3>
  Scotland for Europe is a Scottish civil society campaign to stay in the EU.
</h3>

<p>
  This campaign is designed to stimulate action and debate across Scotland and the UK, to demand that we stay within Europe.
</p>

<p>
  Scotland for Europe is and shall remain a positive grass-roots, networked campaign.
</p>

<p>
  <a href="/the-declaration" class="mdc-button mdc-button--raised">Read &amp; Sign the Declaration</a>
</p>

<h4>Call to Action</h4>
<p>
  The Scotland for Europe campaign invites people across Scotland to <a href="https://www.change.org/p/u-k-government-scotland-for-europe-demands-an-eu-future">sign the Declaration</a> to stay in the EU. It will act as a network for all those who are already taking, or who want to take, action and connect through <strong>#ScotlandforEurope</strong> to halt Brexit – whether street stalls, local events, letters to MPs, petitions, social media action and more, both in Scotland and across the UK.
</p>