<h1>Signatories</h1>

<p>
  Chris Allen, The Round Room
</p>
<p>
  Simon Andrews, CEng FInstP, Executive Director, Fraunhofer UK Research Ltd
</p>
<p>
  Professor Sir Harry Burns, University of Strathclyde
</p>
<p>
  Colin Campbell, Executive Director, Assist Social Capital
</p>
<p>
  Lord Ming Campbell of Pittenweem
</p>
<p>
  Joanna Cherry QC MP, Edinburgh South West
</p>
<p>
  David Clarke, Financial and asset management consultant/commentator
</p>
<p>
  Brian Cox, Actor
</p>
<p>
  Emeritus Professor Sir Tom Devine, University of Edinburgh
</p>
<p>
  Dr Richard Dixon, Director, Friends of the Earth Scotland
</p>
<p>
  Sir David Edward
</p>
<p>
  Maria Fletcher, School of Law, University of Glasgow
</p>
<p>
  Gwilym Gibbons, Founder Creative Help Ltd
</p>
<p>
  Dr Alexia Grosjean, University of St Andrews (honorary)
</p>
<p>
  Vanessa Glynn, Chair, European Movement in Scotland
</p>
<p>
  Angus Hardie, Director of Scottish Community Alliance
</p>
<p>
  Patrick Harvie MSP
</p>
<p>
  Pauline Hinchion, Director, Scottish Communities Re: Investment Trust
</p>
<p>
  David Hood, Founder, Edinburgh Institute for Collaborative and Competitive Advantage
</p>
<p>
  Dr Kirsty Hughes, Director, Scottish Centre on European Relations
</p>
<p>
  Juuso Jarviniemi, President, Young European Movement U.K.
</p>
<p>
  Helen Kay MA MSc
</p>
<p>
  Stefan Kay OBE
</p>
<p>
  Patricia Kelly
</p>
<p>
  Lord Kerr of Kinlochard
</p>
<p>
  Mark Lazarowicz
</p>
<p>
  Dame Mariot Leslie
</p>
<p>
  David Martin MEP
</p>
<p>
  Kevin McDermott
</p>
<p>
  Professor Steve Murdoch, School of History, University of St Andrews
</p>
<p>
  Andrew Ormston, Director, Drew Wylie Projects
</p>
<p>
  Alex Orr
</p>
<p>
  Aidan Pia, Executive Director, Senscot
</p>
<p>
  Susannah Rae, Convenor, Perth 4Europe
</p>
<p>
  Lesley Riddoch, Broadcaster and writer
</p>
<p>
  Anthony Salamone, Research Fellow, Scottish Centre on European Relations
</p>
<p>
  Jane Salmonson
</p>
<p>
  Scottish Council for Voluntary Organisations
</p>
<p>
  Professor Jo Shaw, University of Edinburgh
</p>
<p>
  Alyn Smith MEP
</p>
<p>
  Danny Smith
</p>
<p>
  Professor Michael E. Smith, University of Aberdeen
</p>
<p>
  Claire Stevens
</p>
<p>
  Daphne Vlastari
</p>
