<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2>Terms &amp; conditions</h2>

      <p><strong>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SITE</strong></p>

      <p><a href="/">scotlandforeurope.scot</a> (the "<strong>Site</strong>") is a site operated by the Scottish Council for Voluntary Organisations ("<strong>we</strong>", " <strong>us</strong>", "<strong>our</strong>"). We are a charity registered in Scotland, with charity no. SC003558 and we have our registered office at Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh, EH3 6BB.</p>

      <p>The Site operates as an information hub and signposting service.</p>

      <h4>1.&#09;TERMS OF WEBSITE USE</h4>

      <p>These terms of use (together with the documents referred to herein) tell you the terms on which you may make use of the Site. Use of the Site includes accessing or browsing the Site or interacting in any way with the Site.</p>

      <p>Please read these terms of use carefully before you start to use the Site as these will apply to your use of the Site. We recommend that you print a copy of these terms for future reference.</p>

      <p>By using the Site, you confirm that you accept these terms of use and that you agree to comply with them.</p>

      <p>If you do not agree to these terms of use, you must not use the Site.</p>

      <h4>2.&#09;OTHER APPLICABLE TERMS</h4>

      <p>Our <a href="/privacy">privacy policy</a> also applies to your use of the Site and contact you make with us through or in connection with the Site or any content on the Site. Our Privacy Policy sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using the Site, you consent to such processing and you warrant that all data provided by you is accurate.</p>

      <h4>3.&#09;CHANGES TO THESE TERMS</h4>

      <p>We may revise these terms of use at any time by amending this page. Please check this page from time to time to take notice of any changes we make, as they are binding on you.</p>

      <h4>4.&#09;CHANGES TO THE SITE</h4>

      <p>We may update the Site from time to time and may change the content at any time. However, please note that any of the content on the Site may be out of date at any given time and we are under no obligation to update it.</p>

      <p>We do not guarantee that the Site, or any content on it, will be free from errors or omissions.</p>

      <h4>5.&#09;ACCESSING THE SITE</h4>

      <p>The Site is made available free of charge.</p>

      <p>We do not guarantee that the Site, or any content on it, will always be available or uninterrupted. Access to the Site is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of the Site without notice. We will not be liable to you if for any reason the Site is unavailable at any time or for any period.</p>

      <p>You are responsible for making all arrangements necessary for you to have access to the Site.</p>

      <p>You are also responsible for ensuring that all persons who access the Site through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.</p>

      <p>The Site is directed to people residing in Scotland. We do not represent that content available on or through the Site is appropriate or available in other locations. We may limit the availability of the Site or any service or product described on the Site to any person or geographic area at any time.</p>

      <h4>6.&#09;INTELLECTUAL PROPERTY RIGHTS</h4>

      <p>We are the owner or the licensee of all intellectual property rights in the Site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>

      <p>You may print off one copy, and may download extracts, of any page(s) from the Site for your personal use and you may draw the attention of others within your organisation to content posted on the Site.</p>

      <p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>

      <p>Our status (and that of any identified contributors) as the authors of content on the Site must always be acknowledged.</p>

      <p>You must not use any part of the content on the Site for commercial purposes without obtaining a licence to do so from us or our licensors.</p>

      <p>If you print off, copy or download any part of the Site in breach of these terms of use, your right to use the Site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>

      <h4>7.&#09;INFORMATION ON THE SITE</h4>

      <p>The content on the Site is provided for general information only. It is not intended to amount to legal or professional advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on the Site.</p>

      <p>Although we make reasonable efforts to update the information on the Site, we make no representations, warranties or guarantees, whether express or implied, that the content on the Site is accurate, complete or up-to-date.</p>

      <h4>8.&#09;THIRD PARTY LINKS AND RESOURCES IN THE SITE</h4>

      <p>Where the Site contains links to other sites and resources provided by third parties, these links are provided for your information only.</p>

      <p>We have no control over the content of those sites or resources and do not give any warranty as to their accuracy or suitability for your purposes.</p>

      <h4>9.&#09;INTERACTIVE SERVICES</h4>

      <p>We may from time to time provide interactive services on the Site, including, without limitation:</p>

      <ul>
        <li>survey questions; and</li>
        <li>voting buttons.</li>
      </ul>

      <p>Use of these interactive services will not require or involve the collection of your personal data. The data collected through these interactive services will be used by us for statistical and research purposes.</p>

      <p>If you are not comfortable with using these interactive services or sharing the opinions or information requested you should not use these services.</p>

      <h4>10.&#09;LIMITATION OF OUR LIABILITY</h4>

      <p>Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence,    or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by Scotslaw.</p>

      <p>To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to the Site or any content on it, whether express or implied.</p>

      <p>We will not be liable to any user for any loss or damage, whether in contract, delict (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:</p>

      <ul>
        <li>use of, or inability to use, the Site; or</li>
        <li>use of or reliance on any content displayed on the Site.</li>
      </ul>

      <p>If you are a business user, please note that in particular, we will not be liable for:</p>

      <ul>
        <li>loss of profits, sales, business, or revenue;</li>
        <li>business interruption;</li>
        <li>loss of anticipated savings;</li>
        <li>loss of business opportunity, goodwill or reputation; or</li>
        <li>any indirect or consequential loss or damage.</li>
      </ul>

      <p>If you are a consumer user, please note that we only provide the Site for domestic and private use. You agree not to use the Site for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>

      <p>We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the Site or to your downloading of any content on it, or on any website linked to it.</p>

      <p>We assume no responsibility for the content of websites linked on the Site. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.</p>

      <h4>11.&#09;VIRUSES</h4>

      <p>We do not guarantee that the Site will be secure or free from bugs or viruses.</p>

      <p>You are responsible for configuring your information technology, computer programmes and platform in order to access the Site. You should use your own virus protection software.</p>

      <p>You must not misuse the Site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to the Site, the server on which the Site is stored or any server, computer or database connected to the Site. You must not attack the Site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Site will cease immediately.</p>

      <h4>12.&#09;USER CONDUCT</h4>

      <p>You must at all times use the Site in a respectful and legal manner.</p>

      <p>You may not use the Site:</p>

      <ul>
        <li>in any way that breaches any applicable local, national or international law or regulation;</li>
        <li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;</li>
        <li>for the purpose of harming or attempting to harm minors in any way;</li>
        <li>to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam);</li>
        <li>to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware;</li>
        <li>to reproduce, duplicate, copy or re-sell any part of the Site in contravention of the provisions of these terms of use;</li>
        <li>to misrepresent your identity or affiliation with any other person or organisation;</li>
        <li>to disclose any information relating to any other party using the Site unless that party has consented to such disclosure; or</li>
        <li>to access without authority, interfere with, damage or disrupt:

          <ul>
            <li>any part of the Site;</li>
            <li>any equipment or network on which the Site is stored;</li>
            <li>any software used in provision of the Site; or</li>
            <li>any equipment or network or software owned or used by any third party.</li>
          </ul>
        </li>
      </ul>

      <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.</p>

      <p>You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. You must not establish a link to the Site in any website that is not owned by you. The Site must not be framed on any other site, nor may you create a link to any part of the Site other than the home page.</p>

      <p>We reserve the right to withdraw linking permission without notice.</p>

      <p>If you wish to make any use of content on the Site other than that set out above, please contact <a href="mailto:ann.rowe@scvo.org.uk">ann.rowe@scvo.org.uk</a>.</p>

      <h4>13.&#09;THIRD PARTY LINKS AND RESOURCES IN THE SITE</h4>

      <p>Where the Site contains links to other sites and resources provided by third parties, these links are provided for your information only.</p>

      <p>We have no control over the contents of those sites or resources.</p>

      <h4>14.&#09;APPLICABLE LAW</h4>

      <p>These terms of use, their subject matter and formation (and any non-contractual disputes or claims) are governed by Scots law. You and we both agree to the exclusive jurisdiction of the courts of Scotland.</p>

      <h4>15.&#09;CONTACT US</h4>

      <p>To contact us, please email <a href="mailto:ann.rowe@scvo.org.uk">ann.rowe@scvo.org.uk</a> or call us on <a href="tel:08081642520">0808 164 2520</a>.</p>

      <p>Thank you for visiting the Site.</p>
    </div>
  </div>
</div>