<h1>Scotland Declaration on Human Rights FAQs</h1>
<h2>Who has written this Declaration?</h2>
<p>
  The Scotland Declaration on Human Rights was developed by the Human Rights Consortium
  Scotland and the Scottish Council for Voluntary Organisations (SCVO), supported by the
  Scottish Human Rights Commission and the Equality and Human Rights Commission.  The
  text was developed in consultation with stakeholders.
</p>

<h2>What are human rights?</h2>
<p>
  Human rights are about dignity, respect, equality and freedom.  They include &#39;civil
  and political&#39; rights, such as freedom of expression, freedom of religion or conscience,
  the right to a fair trial and the right to privacy.  Human rights also include &#39;economic,
  social and cultural&#39; rights, such as the right to adequate food, housing, sanitation
  and water, the right to health and the right to education.
</p>

<p>
  For example, human rights mean that elderly couples have the right to live together in their
  old age. They mean that there are restrictions on how the government or companies can use
  your data and contact details.  Human rights mean that government needs to plan and budget
  for disabled people to have accessible housing. There are more examples of human rights
  protecting our daily lives here:
  <a href="https://www.equalityhumanrights.com/en/secondary-education-resources/useful-information/human-rights-case-studies">https://www.equalityhumanrights.com/en/secondary-education-resources/useful-information/human-rights-case-studies</a>
</p>

<h2>Why should my organisation support this Declaration?</h2>
<p>
  We are asking as many organisations as possible to show support for this Declaration. This
  includes organisations working across many different issues or subjects, and from different
  parts of Scotland.  This also includes organisations who do not often talk about human rights
  but who recognise that equality and human rights are important for Scotland.
</p>

<p>
  Most importantly, by giving your support to the Scotland Declaration on Human Rights, your
  organisation can show its support for equality and human rights in Scotland.
</p>

<h2>OK I will sign up to the Declaration -what happens next?</h2>
<p>
  Once we have received your sign-up form, we will put your organisation name and logo on to the
  signatory list on the website
  <a href="https://humanrightsdeclaration.scot">www.humanrightsdeclaration.scot</a>
  We will include your organisation in the public list of signatories. We will invite as many
  signatories as possible to an event to highlight the Declaration in early 2018.
</p>

<h2>Who should support the Scotland Declaration on Human Rights?</h2>
<p>
  Every organisation which supports equality and human rights in Scotland.
</p>

<p>
  Where can I get more information about the Scotland Declaration on Human Rights or discuss it
  further?
</p>

<p>
  If you would like more information or to discuss the Declaration further, you are invited to
  get in touch at <a href="mailto:craig.wilson@scvo.org.uk">craig.wilson@scvo.org.uk</a>
</p>
