<p>
  The Universal Declaration of Human Rights is 70 years old this year and states:
</p>

<p class="quote">
  <em>“All human beings are born free and equal in dignity and rights”</em>
</p>

<p>
  We want equality and human rights to be at the heart of Scottish society.  Whatever the Brexit outcome, we want to protect our rights.  We want Scotland to be a world leader in rights protection and implementation.
</p>

<p>
  Agree? Then please <a href="/sign-up">sign up</a> to support the Scotland Declaration on Human Rights.
</p>

<p>
  You can help send a clear message to policy makers, the public and the world that Scotland is actively committed to equality and human rights.
</p>

<p>
  <a href="/the-declaration" class="mdc-button mdc-button--raised">Read the declaration</a>
</p>