<div class="container-fluid">
    <md-toolbar>
        <md-toolbar-row class="brand navbar">
            <a [routerLink]="['/']" class="brand-logo"><img src="app/assets/images/logos/scvo-white.png" /> SCVO <span class="version">beta</span></a>
            <ul menu="top" class="list-inline right menu-top"></ul>
        </md-toolbar-row>

        <md-toolbar-row class="navbar">
            <ul menu="main" class="list-inline nav"></ul>
        </md-toolbar-row>
    </md-toolbar>
</div>
      <!-- <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section- -align-start">
          <span class="mdc-toolbar__title">Title</span>
          <a class="material-icons">menu</a>
        </section>
      </div> -->
      <!-- <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
  </button> -->
    <!-- <div class="navbar navbar-default" role="navigation">
        <div layout="column" layout-fill>
        <!- - <nav class="brand">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col m8 l9 navbar-brand"> - ->
                    <md-sidenav #sidenav mode="side" class="app-sidenav">
                      Sidenav
                    </md-sidenav>

                    <md-toolbar color="primary">
                      <button class="app-icon-button" (click)="sidenav.toggle()">
                        <i class="material-icons app-toolbar-menu">menu</i>
                      </button>

                      Angular Material2 Example App

                        <a (click)="slidein('menu')" data-activates="mobile-menu" class="button-collapse menu">
                            <i class="fa fa-fw fa-menu"></i>
                        </a>

                        <!- - <ul menu="mobile" id="mobile-menu" class="side-nav"></ul>
                        <a href="#" materialize="sideNav" [materializeParams]="[{closeOnClick: true, edge: 'left', menuWidth: 330}]" data-activates="mobile-menu" class="button-collapse">
                            <i class="material-icons">menu</i>
                        </a> - ->
                        <a [routerLink]="['/']" class="brand-logo"><img src="app/assets/images/logos/scvo-white.png" /> SCVO <span class="version">beta</span></a>

                        <ul menu="top" class="list-inline right menu-top"></ul>

                        <span class="app-toolbar-filler"></span>
                        <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
                      </md-toolbar>

                        <!- - <ul menu="desktop_right" class="right hide-on-med-and-down"></ul> -->
                        <!-- <ul class="right hide-on-med-and-down">
                            <li *ngFor="let navigationItem of navigationMenu, let i = index" [routerLinkActive]="['active']">
                                <a *ngIf="navigationItem.class == 'right'" [routerLink]="navigationItem.path">{{navigationItem.title}}</a>
                            </li>
                        </ul> -->
                    <!-- </div>
                    <div class="col hide-on-small-only m4 l3 right navbar-search">
                        <form ngForm="searchForm">
                            <!- - <input-debounce delay="500" (value)="searchChanged($event)"></input-debounce> - ->
                        </form>
                    </div>
                </div>
            </div>
        </nav> - ->
        <nav class="navigation hide-on-med-and-down">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s12 navbar-nav">
                        <ng2-slim-loading-bar color="rgba(0,0,0,0.1)" height="64px"></ng2-slim-loading-bar>
                        <ul menu="main" class="list-inline"></ul>
                    </div>
                </div>
            </div>
        </nav>
    </div> -->
