<div class="container-fluid">
    {{#each primaryResponse.hits.hits}}
        {{#if _source.rendered.search_result_scvo}}
            {{{_source.rendered.search_result_scvo}}}
        {{else}}
            {{#if _source.rendered.search_result}}
                {{{_source.rendered.search_result}}}
            {{/if}}
        {{/if}}
    {{/each}}
</div>
