{{#with supplimentaryResponse.splash.hits.hits.[0]._source}}
    <div class="splash-image" style="background-image:url({{original_image}});"></div>
{{/with}}

<div class="container-fluid">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                {{#with primaryResponse.hits.hits.[0]._source}}
                    {{{rendered.full}}}
                {{/with}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h3 class="">More posts by this author</h3>
                <ul class="supplimentary-list">
                    {{#each supplimentaryResponse.authors_posts.hits.hits}}
                        {{{_source.rendered.list}}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
