{{#and primaryResultSet primaryResultSet.documents}}
    {{#forEach primaryResultSet.documents}}
    {{{rendered.full}}}
    {{/forEach}}
{{else}}
    <div class="container-fluid">
        No results
    </div>
{{/and}}
