<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Scottish Council for Voluntary Organisations</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <style type="text/css">
        {{{this.css}}}
    </style>
    {{{headerTags}}}
    <script type="application/ld+json">
        {{{route.jsonLd}}}
    </script>
</head>
<body>
    <scvo-site>
        <div class="mdc-typography demo-body" style="">
            <div class="mdc-toolbar mdc-toolbar--fixed">
                <div class="mdc-toolbar__row">
                    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                        <button class="demo-menu material-icons mdc-toolbar__icon--menu" onclick="menu_draw.MDCTemporaryDrawer.open = true">menu</button>
                        <span class="mdc-toolbar__title catalog-title">SCVO</span>
                    </section>
                    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
                        <div class="mdc-form-field mdc-form-field--align-end">
                            <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                                <input type="text" class="mdc-textfield__input" placeholder="Search" id="search" data-search-url="/search/?q=%q">
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <aside class="mdc-temporary-drawer" id="menu_draw" data-mdc-auto-init="MDCTemporaryDrawer">
                <nav class="mdc-temporary-drawer__drawer">
                    <header class="mdc-temporary-drawer__header">
                        <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
                            SCVO
                        </div>
                    </header>
                    <nav class="mdc-temporary-drawer__content mdc-list-group">
                        <div id="icon-with-text-demo" class="mdc-list">
                            <a class="mdc-list-item" href="/" data-mdc-tabindex-handled="true" tabindex="-1">
                                <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
                            </a>
                            <a class="mdc-list-item" href="/search" data-mdc-tabindex-handled="true" tabindex="-1">
                                <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">search</i>Search
                            </a>
                        </div>
                    </nav>
                </nav>
            </aside>

            <main class="mdc-toolbar-fixed-adjust">
                <div class="page-content">
                    <router-outlet>{{{route.rendered}}}</router-outlet>
                </div>
            </main>
        </div>
    </scvo-site>
    <script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript">
        mdc.autoInit();
    </script>
    <script type="text/javascript" src="inline.bundle.js"></script>
    <script type="text/javascript" src="polyfills.bundle.js"></script>
    <script type="text/javascript" src="styles.bundle.js"></script>
    <script type="text/javascript" src="vendor.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script>
</body>
</html>
