<h1 class="light">Events</h1>
<div class="event-search card">
    <form class="card-content">
        <div class="row">
            <div class="input-field col s10">
                <input type="text" id="keywords" />
                <label for="keywords">Keywords</label>
            </div>
            <div class="col s2">
                <input type="submit" value="Search" class="btn btn-primary btn-large" />
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <select [(ngModel)]="selectedCategory" materialize="material_select" [materializeSelectOptions]="categories" [ngModelOptions]="{standalone: true}">
                    <option value="" selected>All categories</option>
                    <option *ngFor="let option of categories" [value]="option.value">{{option.name}}</option>
                </select>
            </div>
            <div class="col s3">
                <select [(ngModel)]="selectedLocation" materialize="material_select" [materializeSelectOptions]="locations" [ngModelOptions]="{standalone: true}">
                    <option value="" selected>All locations</option>
                    <option *ngFor="let option of locations" [value]="option.value">{{option.name}}</option>
                </select>
            </div>
            <div class="col s3">
                <select [(ngModel)]="selectedCost" materialize="material_select" [materializeSelectOptions]="costs" [ngModelOptions]="{standalone: true}">
                    <option value="" selected>Any cost</option>
                    <option *ngFor="let option of costs" [value]="option.value">{{option.name}}</option>
                </select>
            </div>
            <div class="col s3">
                <select [(ngModel)]="selectedMonth" materialize="material_select" [materializeSelectOptions]="months" [ngModelOptions]="{standalone: true}">
                    <option value="" selected>Any month</option>
                    <option *ngFor="let option of months" [value]="option.value">{{option.name}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="event-results">
    <div class="result card">
        <div class="row card-content">
            <div class="col s1">
                <div style="font-size:20px;text-transform:uppercase;font-weight:bold;">
                    result.day
                </div>
                <div style="font-size:16px;font-weight:bold;">
                    result.date
                </div>
            </div>
            <div class="col s10">
                <h4><a [routerLink]="['/events/detail']">result.title</a></h4>
                result.location,
                result.description
            </div>
            <div class="col s1">
                <div style="font-size:20px;text-transform:uppercase;font-weight:bold;">
                    £result.cost
                </div>
            </div>
        </div>
    </div>
</div>
