{{#if primaryResponse.hits.hits.[0]._source.header_background ~}}
{{else}}
{{#if supplimentaryResponses.splash.hits.hits.[0]._source.caption ~}}
<div class="container-relative">
    <div class="header-caption">
        {{{supplimentaryResponses.splash.hits.hits.[0]._source.caption}}}
    </div>
</div>
{{/if ~}}
{{/if ~}}