<form id="sign-in-form" method="POST" class="sign-in-form">
  <div class="mdc-card">
    <div class="mdc-card__info--fund">
      <div class="mdc-card__info--fund-title mdc-typography--headline4">
        Sign in
      </div>
    </div>
    <div class="mdc-card__info x-padding-full mdc-theme--primary-bg mdc-theme--on-primary" id="sign-in-message">
      <span id="form-message"></span>
    </div>
    <div class="mdc-typography--body1" id="form-section-email">
      <!-- {{> account_sign_in_social loaderSelector="#sign-in-loader" messageSelector="#sign-in-message"}}

      <div class="middle-line-text">
        <span>or</span>
      </div> -->

      <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
        <span class="far fa-at mdc-text-field__icon" tabindex="-1"></span>
        <input type="text" id="sign-in-email" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off">
        <label class="mdc-floating-label" for="sign-in-email">
          Email
        </label>
        <div class="mdc-line-ripple"></div>
      </div>

      <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
        <span class="far fa-key mdc-text-field__icon" tabindex="-1"></span>
        <input type="password" id="sign-in-password" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off">
        <label class="mdc-floating-label" for="sign-in-password">
          Password
        </label>
        <div class="mdc-line-ripple"></div>
      </div>
    </div>
    <div id="form-section-sign-in-buttons">
      <button class="mdc-button mdc-button--raised" type="submit" id="sign-in-submit">
        Sign up
      </button>
    </div>
    <div class="card-loader" id="sign-in-loader">
      <div class="card-loader-inner">
        <span class="far fa-2x fa-spinner fa-spin"></span>
      </div>
    </div>
  </div>
</form>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var $form = $('#sign-in-form');
    var $message = $('#sign-in-message');
    var $email = $('#sign-in-email');
    var $password = $('#sign-in-password');
    var $sign-in = $('#sign-in-submit');
    var $loader = $('#sign-in-loader');

    $form.on('submit', function(evt) {
      var email = $email.val();
      var password = $password.val();
      $loader.css('display', 'flex');
      evt.preventDefault();
      fundingscotland.app.auth().signInWithEmailAndPassword(email, password).then(function(user) {
        if (user) {
          window.location.href = '/';
        } else {
          $message.text('Something went wrong, logged in but no user?').show();
          $loader.css('display', 'none');
        }
      }).catch(function(err) {
        $message.text(err.message).show();
        $loader.css('display', 'none');
      });
    });
  });
</script>
