<h1 class="light">Setting up a charity</h1>

<p>Voluntary associations, trusts, social enterprises, companies limited by guarantee and SCIOs – setting up a third sector organisation can feel confusing!</p>

<p>Our information will help you to make the best decisions so you can set up an organisation that fits your goals.</p>

<h2>We'll see you right. Follow our easy steps</h2>

<ul>
    <li>step 1 - get started</li>
    <li>step 2 - make a plan</li>
    <li>step 3 - decide on membership</li>
    <li>step 4 - decide on charitable status</li>
    <li>step 5 - consider the risks</li>
</ul>

<h2 class="light">Frequently asked questions&hellip;</h2>
