<!-- <img src="{{content_header_image}}" /> -->

<div class="row">
    <div class="col s12">
        <h1 class="light center"><acronym title="Scottish Council for Voluntary Organisations">SCVO</acronym> is the membership organisation for Scotland's charities, voluntary organisations and social enterprises</h1>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l4">
        <h4>Featured</h4>
        <h2>Event / policy promotion</h2>
    </div>
    <div class="col s12 m6 l4">
        <h4>Blogs</h4>
        <ul>
            <li>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</li>
            <li>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</li>
            <li>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------</li>
        </ul>
    </div>
    <div class="col s12 m6 l4">
        <h4>What's new</h4>
        <ol>
            <li>----------------------------------------------------------------------------------------------------------------------------------------------------------------</li>
            <li>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</li>
            <li>--------------------------------------------------------------------------------------------------------------------------------------------------</li>
            <li>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</li>
        </ol>
    </div>
</div>
