<div class="row">
    <div class="col s12">
        <h1 class="light">Policy &amp; news</h1>
        <h2>Hot topics</h2>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center">
                <h5><a [routerLink]="['/policy/topic']">Our democracy</a></h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center">
                <h5><a [routerLink]="['/policy/topic']">Protecting charities</a></h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center">
                <h5><a [routerLink]="['/policy/topic']">Securing welfare</a></h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center">
                <h5><a [routerLink]="['/policy/topic']">Strengthening devolution</a></h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center">
                <h5><a [routerLink]="['/policy/topic']">Sustaining our economy</a></h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center">
                <h5><a [routerLink]="['/policy/topic']">Government spending</a></h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col m4 center">
        <i class="large material-icons teal-text">assignment</i>
        <h3 class="promo-caption teal-text">Consultations</h3>
    </div>
    <div class="col m4 center">
        <i class="large material-icons teal-text">library_books</i>
        <h3 class="promo-caption teal-text">Research</h3>
    </div>
    <div class="col m4 center">
        <i class="large material-icons teal-text">web</i>
        <h3 class="promo-caption teal-text">Blogs</h3>
    </div>
</div>
<div class="row">
    <div class="col s12">
    <h2>The team</h2>

</div>
