{{#if description ~}}
  <div class="search-result-article__snippet mdc-typography--body1">
    <div style="max-height: {{limit}};" class="faded-overflow">
      {{{description}}}
    </div>
  </div>
{{/if ~}}