<div class="mdc-card goodmoves-vacancy list{{if top_job " top-job"}}" data-vacancy-id="{{Id}}">
  {{> vacancy_key_info}}
  <hr class="mdc-list-divider" />
  {{#compare (trim (getProperty @root.data.notes Id)) "!==" "" ~}}
    {{> vacancy_description limit="3rem" description=description}}
    {{> vacancy_notes limit="4rem"}}
  {{else}}
    {{> vacancy_description limit="8rem" description=description}}
  {{/compare ~}}
  {{> vacancy_actions slug=slug Id=Id}}
</div>
