<div class="mdc-card content-primary search-result{{if top_job " top-content"}}" data-vacancy-id="{{Id}}">
  {{> vacancy_key_info view="search-result"}}
  <hr class="mdc-list-divider" />
  {{#compare (trim (getProperty @root.data.notes Id)) "!==" "" ~}}
    {{> vacancy_description limit="3rem" description=description}}
    {{> vacancy_notes limit="3rem"}}
  {{else}}
    {{> vacancy_description limit="6rem" description=description}}
  {{/compare ~}}
  {{> vacancy_actions slug=slug Id=Id home_based=home_based various_locations=various_locations distance=distance}}
</div>
{{>ga documentType="goodmoves-vacancy" documentId=Id hitType=(default hitContext "search-result")}}
