@charset "UTF-8";

 
.fa-minus:before { content: '\2d'; } /* '-' */
.fa-pencil:before { content: '\270e'; } /* '✎' */
.fa-info-circled:before { content: '\e705'; } /* '' */
.fa-eye:before { content: '\e70a'; } /* '' */
.fa-trash-empty:before { content: '\e729'; } /* '' */
.fa-bold:before { content: '\e77a'; } /* '' */
.fa-italic:before { content: '\e77b'; } /* '' */
.fa-menu:before { content: '\f0c9'; } /* '' */
.fa-list-bullet:before { content: '\f0ca'; } /* '' */
.fa-list-numbered:before { content: '\f0cb'; } /* '' */
.fa-strike:before { content: '\f0cc'; } /* '' */
.fa-table:before { content: '\f0ce'; } /* '' */
.fa-columns:before { content: '\f0db'; } /* '' */
.fa-quote-left:before { content: '\f10d'; } /* '' */
.fa-spinner:before { content: '\f110'; } /* '' */
.fa-code:before { content: '\f121'; } /* '' */
.fa-eraser:before { content: '\f12d'; } /* '' */
.fa-header:before { content: '\f1dc'; } /* '' */
.fa-picture:before { content: '🌄'; } /* '\1f304' */
.fa-floppy:before { content: '💾'; } /* '\1f4be' */
.fa-link:before { content: '🔗'; } /* '\1f517' */