<h2>About Get Involved!</h2>

<p>
  Get Involved is powered by a collaboration of infrastructure organisations across Scotland. It is only with the dedication of staff and volunteers from SCVO and the 32 local Third Sector Interfaces that the quality information here is available.
</p>

<hr>

<h3>SCVO</h3>
<p>
  The Scottish Council for Voluntary Organisations (SCVO) is the membership organisation for Scotland’s charities, voluntary organisations and social enterprises.
</p>

<p>
  SCVO works in partnership with the voluntary sector to advance our shared values and interests. We have over 1,900 members who range from individuals and grassroots groups, to Scotland-wide organisations and intermediary bodies. Through lobbying and campaigning SCVO works to advance the interests of our members and the people and communities that they support. <a href="https://scvo.org">Find out more <span class="far fa-external-link" aria-hidden="true"></span></a>
</p>

<hr>

<h3>Third Sector Interfaces</h3>

<p>
  Third Sector Interfaces (TSIs) have one mission at their heart: to build empowered, resilient communities with a thriving third sector. Each local authority area in Scotland has a TSI. At their core the 32 TSIs provide support for voluntary organisations, community groups, volunteers, social enterprise and support the local third sector to be involved in community planning. TSIs seek to empower communities to help themselves through the power of volunteering. They look to build social value by developing enterprising agencies whose profit is for the community they seek to serve. They put the community at the heart of local decisions by ensuring the views of the third sector and the communities they support are heard and understood.
</p>

<p>
  All 32 TSIs are members of Voluntary Action Scotland which works to support, co-ordinate and advocate for third sector interfaces and the vital work they undertake. If you require additional help or guidance about the local third sector; want to explore becoming more involved in your local community or to volunteer; or need assistance for your own local group or organisation, you can find contact details for the nearest TSI at the Voluntary Action Scotland website. <a href="http://vascotland.org">Find out more <span class="far fa-external-link" aria-hidden="true"></span></a>
</p>