<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1>Personal data and Privacy</h1>
      <h4>Who we are</h4>
      <p>
        Get Involved is operated by the Scottish Council for Voluntary Organisations (SCVO). SCVO is a Scottish Charitable Incorporated Organisation. Charity registered in Scotland SC003558. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
      </p>
      <p>
        We are committed to respecting and protecting your privacy. This policy explains how we do this. Please also read the <a href="/terms">terms and conditions</a>.
      </p>
      <h4>What information do we collect?</h4>
      <p>
        Simply by browsing this website, SCVO will not record any personal data about you except your IP address. 
      </p>
      <p>
        Your IP address is the individual identification number that is assigned to your computer when it is connected to the Internet. It is required to be used by our EU-based servers to enable you to browse the website. It is also stored for up to a month in logs to enable us to investigate errors.
      </p>
      <p>
        We use Google Analytics cookies to track how the website is used, but personal data is not recorded and your internet (IP) address is anonymised. <a href="/cookies">Find out more about how we use cookies</a>.
      </p>
      <h4>How to contact us</h4>
      <p>
        You can contact us at any time by writing to us at the address above, or by email or phone at: <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a> or <a href="tel:+441314748000">0131 474 8000</a>.
      </p>
      <h4>Your rights over your information</h4>
      <p>
        By law, you can ask us what information we hold about you, and you can ask us to correct it if it is inaccurate.  
      </p>
      <p>
        You can also ask us to give you a copy of the information and to stop using your information.
      </p>
      <p>
        To submit a request for your data, please contact us by email, post or telephone, please use the contact information provided above. 
      </p>
      <h4>Your right to complain</h4>
      <p>
        If you have a complaint about our use of your information, you can contact the Information Commissioner's Office online at <a href="https://ico.org.uk/concerns">https://ico.org.uk/concerns</a> or by phone on <a href="+443031231113">0303 123 1113</a>.
      </p>
    </div>
  </div>
</div>
