<div class="container-fluid home-banner">
  <div class="banner-search overlay" style="background-image: url('https://cms.scvo.org/wp-content/uploads/2017/11/Teapot-Trust-09.jpg');">
    <div class="content page-content">
      <div class="overlay-content">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <h1 class="header-text">
                <span class="header-text-banner">
                  <span class="normal welcome">Welcome to</span><br />good<span class="normal moves">moves</span>
                </span>
              </h1>
              <p class="header-extra">
                Charity and voluntary sector recruitment
              </p>
            </div>
          </div>
        </div>
      </div>
      <form id="search-view" class="search-form mdc-elevation--z5" action="/search" method="GET">
        <input type="hidden" name="lat" value="" />
        <input type="hidden" name="lng" value="" />
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
              <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon mdc-text-field-tt" data-mdc-auto-init="MDCTextField">
                <span class="far fa-search mdc-text-field__icon" tabindex="0" role="button"></span>
                <input type="text" id="what-jobs" name="keywords" class="mdc-text-field__input">
                <label for="what-jobs" class="mdc-floating-label">
                  Keywords
                </label>
                <div class="mdc-line-ripple"></div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-phone">
              <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
                <span class="far fa-map-marker-alt mdc-text-field__icon"></span>
                <input type="text" id="where-jobs" name="location" class="mdc-text-field__input" placeholder=" " data-location-options='
                {
                  "types": ["(regions)"],
                  "componentRestrictions": {
                    "country": "gb"
                  }
                }' data-location-lat="[name='lat']" data-location-lng="[name='lng']">
                <label for="where-jobs" class="mdc-floating-label">
                  Location
                </label>
                <div class="mdc-line-ripple"></div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
              <div class="mdc-form-field">
                <div class="mdc-select mdc-select--box" data-mdc-auto-init="MDCSelect">
                  <select class="mdc-select__native-control" name="distance" id="distance-jobs">
                    <option value="8046.72" selected>within 5 miles</option>
                    <option value="16093.44">within 10 miles</option>
                    <option value="40233.6">within 25 miles</option>
                    <option value="80467.2">within 50 miles</option>
                    <option value="any">any distance</option>
                  </select>
                  <label class="mdc-floating-label mdc-floating-label--float-above" for="distance-jobs">
                    Distance
                  </label>
                </div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-4-phone">
              <button type="submit" id="search-jobs" class="mdc-button mdc-button--raised mdc-button--large mdc-text-field--box mdc-button--search mdc-ripple-surface mdc-ripple-surface--primary" data-mdc-auto-init="MDCRipple">
                Search
                <span class="far fa-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-4-phone">
              <div id="search-terms" class="mdc-chip-set"></div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-4-phone">
              <div class="extra-options">
                <a href="/browse">Browse</a><span class="noselect"> | </span><a href="/search">Advanced</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  {{#if data.auth}}
    <div class="mdc-layout-grid home-heading">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-typography--headline5 v-margin-full">
            Your shortlist
          </div>
        </div>
      </div>
    </div>
    <div class="home-jobs">
      <div class="mdc-layout-grid equal-height home-shortlist">
        <div class="scroll-button scroll-left">
          <span class="fal fa-fw fa-angle-left scroll-icon"></span>
        </div>
        <div class="scroll-button scroll-right">
          <span class="fal fa-fw fa-angle-right scroll-icon"></span>
        </div>
        <div class="mdc-layout-grid__inner scrolling-grid">
          {{#compare data.supplimentaryResponses.shortlist_open.hits.total ">" 0}}
          {{#each data.supplimentaryResponses.shortlist_open.hits.hits ~}}
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone shortlist-jobs">
            {{> vacancy_mini _source}}
          </div>
          {{/each ~}}
          {{#compare data.supplimentaryResponses.shortlist_closed.hits.total ">" 0}}
          {{#each data.supplimentaryResponses.shortlist_closed.hits.hits ~}}
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone shortlist-jobs">
            {{> vacancy_mini _source}}
          </div>
          {{/each ~}}
          {{/compare}}
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone shortlist-jobs last-card">
            <div class="mdc-card align-centre">
              <a href="/search">Find more jobs for your shortlist</a>
            </div>
          </div>
          {{else}}
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone v-margin-full">
            {{#compare data.supplimentaryResponses.shortlist_closed.hits.total ">" 0}}
            <p>
              There are currently no open jobs in your shortlist. <a href="/shortlist">See closed jobs</a>.
            </p>
            {{else}}
            <p>
              There are currently no jobs in your shortlist, if you shortlist a job it will appear here for easy reference.
            </p>
            {{/compare}}
          </div>
          {{/compare}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#compare data.primaryResponse.hits.total ">" 0}}
  <div class="mdc-layout-grid home-heading">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        {{#if data.auth ~}}
        <div class="mdc-typography--headline5">
          Your latest jobs&ensp;
          <span class="mdc-typography--body1">
            <a href="/searches">Your searches</a>
          </span>
        </div>
        {{else}}
        <div class="mdc-typography--headline5 v-margin-full">
          Latest jobs&ensp;
          <span class="mdc-typography--body1">
            <a href="/search?sort=newest&page=2">Find more</a>
          </span>
        </div>
        {{/if ~}}
      </div>
    </div>
  </div>
  <div class="home-jobs">
    <div class="mdc-layout-grid equal-height home-latest">
      <div class="scroll-button scroll-left">
        <span class="fal fa-fw fa-angle-left scroll-icon"></span>
      </div>
      <div class="scroll-button scroll-right">
        <span class="fal fa-fw fa-angle-right scroll-icon"></span>
      </div>
      <div class="mdc-layout-grid__inner scrolling-grid">
        {{#each data.primaryResponse.hits.hits ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone latest-jobs">
          {{> vacancy_mini _source}}
        </div>
        {{/each ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone latest-jobs last-card">
          <div class="mdc-card align-centre">
            {{#if data.auth ~}}
            <a href="/search?sort=newest">All latest jobs</a>
            {{else}}
            <a href="/search?sort=newest&page=2">Find more jobs</a>
            {{/if ~}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/compare}}

  {{#compare data.supplimentaryResponses.top.hits.total ">" 0}}
  <div class="mdc-layout-grid home-heading">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-typography--headline5">
          Top jobs&ensp;
          <span class="mdc-typography--body1">
            <a href="/search">Find more</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="home-jobs">
    <div class="mdc-layout-grid equal-height home-top">
      <div class="scroll-button scroll-left">
        <span class="fal fa-fw fa-angle-left scroll-icon"></span>
      </div>
      <div class="scroll-button scroll-right">
        <span class="fal fa-fw fa-angle-right scroll-icon"></span>
      </div>
      <div class="mdc-layout-grid__inner scrolling-grid">
        {{#each data.supplimentaryResponses.top.hits.hits ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone top-jobs">
          {{> vacancy_mini _source}}
        </div>
        {{/each ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone top-jobs last-card">
          <div class="mdc-card align-centre">
            <a href="/search">Find more jobs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/compare}}

  {{> currently_recruiting}}

  {{> tfn_latest}}

</div>
