  <form id="register-form" method="POST" class="register-form">
    <div class="mdc-card">
      <div class="mdc-card__info--vacancy">
        <div class="mdc-card__info--vacancy-title mdc-typography--headline4">
          Create profile
        </div>
      </div>
      <hr class="mdc-list-divider" />
      <div class="mdc-card__info x-padding-full mdc-theme--primary-bg mdc-theme--on-primary" id="register-message">
          <span id="form-message"></span>
      </div>
      <div class="mdc-typography--body1" id="form-section-email">
        <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
          <span class="far fa-at mdc-text-field__icon" tabindex="-1"></span>
          <input type="text" id="register-email" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off">
          <label class="mdc-floating-label mdc-floating-label--float-above" for="register-email">
            Email
          </label>
          <div class="mdc-line-ripple"></div>
        </div>

        <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
          <span class="far fa-key mdc-text-field__icon" tabindex="-1"></span>
          <input type="password" id="register-password" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off">
          <label class="mdc-floating-label mdc-floating-label--float-above" for="register-password">
            Password
          </label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>
      <div class="mdc-card__actions" id="form-section-register-buttons">
        <div class="mdc-card__action-buttons mdc-card__actions--full-bleed">
          <button class="mdc-button mdc-card__action mdc-card__action--button" type="submit" id="register-submit">register</button>
        </div>
      </div>
      <div class="card-loader" id="register-loader">
        <div class="card-loader-inner">
          <span class="far fa-2x fa-spinner fa-spin"></span>
        </div>
      </div>
    </div>
  </form>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      var $form = $('#register-form');
      var $message = $('#register-message');
      var $email = $('#register-email');
      var $password = $('#register-password');
      var $register = $('#register-submit');
      var $loader = $('#register-loader');

      $form.on('submit', function(evt) {
        var email = $email.val();
        var password = $password.val();
        $loader.css('display', 'flex');
        evt.preventDefault();
        goodmoves.app.auth().signInWithEmailAndPassword(email, password).then(function(user) {
          if (user) {
            window.location.href = '/';
          } else {
            $message.text('Something went wrong, logged in but no user?').show();
            $loader.css('display', 'none');
          }
        }).catch(function(err) {
          $message.text(err.message).show();
          $loader.css('display', 'none');
        });
      });
    });
  </script>
