<div class="row title">
    <div class="col s12">
        <h1>Thank You!</h1>
        <h2>We will be in touch shortly with further information.</h2>
    </div>
</div>
<div class="row description">
    <div class="col s12">
        <hr />
    </div>
</div>
