<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner title">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-5">
            <h1>Back The Basics</h1>
            <p>
                Basic digital skills can mean different things to different folk.
                From learning new skills to access on-line services to developing
                your staff and driving your company. Our framework for basic digital
                skills is a handy tool to kickstart your thinking on how you might
                begin to put your digital charter pledges into action.
            </p>
            <img src="https://storage.cloud.google.com/digitalparticipation/images/illustrations/Back-The-Basics-RGB-04.png" alt="Back The Basics illustration" class="responsive-img hide-on-med-and-up" />
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
            &nbsp;
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-5">
            <img src="https://storage.cloud.google.com/digitalparticipation/images/illustrations/Back-The-Basics-RGB-04.png" alt="Back The Basics illustration" class="responsive-img" />
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
            &nbsp;
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <hr />
        </div>
    </div>
    <div class="mdc-layout-grid__inner expand skills">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-phone">
            <h1 id="digital_skills">Digital Skills</h1>
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-2">
            &nbsp;
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-desktop">
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <hr class="nomargin" />
        </div>
    </div>
    <div class="mdc-layout-grid__inner expand skills">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-1">
            <h3>
                <span class="number">1</span>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-9-phone">
            <h3>
                Managing Info
            </h3>
        </div>
        <div class="mdc-layout-grid__cell s1 hide-on-med-and-up">
            <h3>
                <a href="skill-up/managing-information">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-phone">
            <p>
                Think about the ways in which you could improve your skills &amp;
                capabilities to find, manage and store digital information.
            </p>
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
            <h3>
                <a href="skill-up/managing-information">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <hr class="nomargin" />
        </div>
    </div>
    <div class="mdc-layout-grid__inner expand skills">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-1">
            <h3>
                <span class="number">2</span>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-9-phone">
            <h3>
                Communicating
            </h3>
        </div>
        <div class="mdc-layout-grid__cell s1 hide-on-med-and-up">
            <h3>
                <a href="skill-up/communicating">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-phone">
            <p>
                Look at improvements to the ways in which you communicate,
                interact, collaborate and connect with others.
            </p>
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
            <h3>
                <a href="skill-up/communicating">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <hr class="nomargin" />
        </div>
    </div>
    <div class="mdc-layout-grid__inner expand skills">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-1">
            <h3>
                <span class="number">3</span>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-9-phone">
            <h3>
                Transacting
            </h3>
        </div>
        <div class="mdc-layout-grid__cell s1 hide-on-med-and-up">
            <h3>
                <a href="skill-up/transacting">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-phone">
            <p>
                How might you better sell &amp; purchase goods, organise
                finances and make use of digital government services.
            </p>
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
            <h3>
                <a href="skill-up/transacting">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <hr class="nomargin" />
        </div>
    </div>
    <div class="mdc-layout-grid__inner expand skills">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-1">
            <h3>
                <span class="number">4</span>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-9-phone">
            <h3>
                Problem Solving
            </h3>
        </div>
        <div class="mdc-layout-grid__cell s1 hide-on-med-and-up">
            <h3>
                <a href="skill-up/problem-solving">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-phone">
            <p>
                Uncover new ways to use digital tools to solve problems and
                find solutions - increasing independence and confidence
            </p>
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
            <h3>
                <a href="skill-up/problem-solving">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <hr class="nomargin" />
        </div>
    </div>
    <div class="mdc-layout-grid__inner expand skills">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-1">
            <h3>
                <span class="number">5</span>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-9-phone">
            <h3>
                Creating
            </h3>
        </div>
        <div class="mdc-layout-grid__cell s1 hide-on-med-and-up">
            <h3>
                <a href="skill-up/creating">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-phone">
            <p>
                Discover new and improved ways to make connections and engage
                with people through the creation of digital content.
            </p>
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
            <h3>
                <a href="skill-up/creating">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <hr class="margin-bottom" />
        </div>
    </div>

    <div class="mdc-layout-grid__inner title">
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-5">
            <img src="https://storage.cloud.google.com/digitalparticipation/images/illustrations/Why-It-Matters-RGB-04.png" alt="Why It Matters? illustration" class="responsive-img" />
        </div>
        <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
            &nbsp;
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-phone">
            <h1>Why It Matters?</h1>
            <p>
                Across Scotland, around 800,000 adults don’t have the basic digital skills they need to use the internet effectively. If this were just a case of missing out on a few distracting websites and celebrity tweets then we might think nothing more of it. But the stakes are so much higher. Amongst other things, the internet helps people keep in touch, learn new things, save money, find work and stay healthy. For some people it’s been a genuine life saver. These things matter to everyone, and they should be for everyone.
            </p>
            <p>
                Research shows that the people offline are more likely to be facing other forms of exclusion and inequality. They may be older, have a disability or low income. Evidence also tells us that developing the motivation and skills are just as important as enabling access to equipment and broadband connections. Supporting more people to go online and develop basic digital skills is crucial to ensure existing inequalities are not increased.
            </p>
            <p>
                Digital is also becoming increasingly seen as a primary route for engagement and activity across government and business. UK, national and local government are investing significantly in enhancing digital infrastructure and making public services ‘digital first’. This not only helps to meet citizens’ expectations of how they should be able to engage with services in the Internet era, but also offers big opportunities to reduce costs while increasing efficiency and effectiveness.
            </p>
            <p>
                So the need for investment in basic digital skills for everyone is clear. We want Scotland to become a world-leading digital nation by 2020 – and we’re asking you to join us in making that happen.
            </p>
        </div>
    </div>
</div>