{{#if data.primaryResponse.hits.hits.[0] ~}}
<title>Get Involved – Search results</title>
<meta property="og:title" content="Get Involved – Search results" data-dynamic="true">
{{else}}
<title>Get Involved – Search results</title>
<meta property="og:title" content="Get Involved – Search results" data-dynamic="true">
{{/if ~}}