<div class="page posts press">
  {{> header_splash headerTextOverride="Press &amp; media" typeOverride="page"}}
  <div class="container-fluid">
    {{> breadcrumbs_posts}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content post-content">
          {{#compare @root.data.supplimentaryResponses.posts.hits.total ">" 0 ~}}
          {{> search_info paging=@root.data.supplimentaryResponses.posts.pagination}}
          <ul class="supplimentary-list">
            {{#each @root.data.supplimentaryResponses.posts.hits.hits ~}}
            {{{_source.rendered.scvo_list}}}
            {{/each ~}}
          </ul>
          {{> pagination paging=@root.data.supplimentaryResponses.posts.pagination}}
          {{else}}
          <p>
            No posts in this category could be loaded.
          </p>
          {{/compare ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar post-sidebar">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
      </div>
    </div>
  </div>
</div>
