<div class="page credit-union">
  {{> header_splash}}
  <div class="container-fluid">
    {{> breadcrumbs}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
          {{#compare @root.data.supplimentaryResponses.posts.hits.total ">" 0 ~}}
          <ul class="supplimentary-list">
            {{#each @root.data.supplimentaryResponses.posts.hits.hits ~}}
            {{{_source.rendered.scvo_list}}}
            {{/each ~}}
          </ul>
          {{> pagination paging=@root.data.supplimentaryResponses.posts.pagination}}
          {{else}}
          <p>
            No posts in this category could be loaded.
          </p>
          {{/compare ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone content sidebar page-sidebar">
          {{> menu_credit_union}}
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer_credit_union}}