{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
<title>SCVO – Posts about {{#each @root.data.primaryResponse.hits.hits.[0]._source.categories_slug}}{{#compare this "===" (lastItem (split @root.request.params.path '_'))}}{{{lookup @root.data.primaryResponse.hits.hits.[0]._source.categories @index}}}{{/compare}}{{/each}}</title>
<meta property="og:title" content="SCVO – Posts about {{#each @root.data.primaryResponse.hits.hits.[0]._source.categories_slug}}{{#compare this "===" (lastItem (split @root.request.params.path '_'))}}{{{lookup @root.data.primaryResponse.hits.hits.[0]._source.categories @index}}}{{/compare}}{{/each}}" data-dynamic="true">
{{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
<meta property="og:image" content="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/scvo-logo-square.png" data-dynamic="true">
<meta property="og:image:width" content="96" data-dynamic="true">
<meta property="og:image:height" content="96" data-dynamic="true">
{{#if rendered.json_ld ~}}
<script type="application/ld+json" data-dynamic="true">
{{{rendered.json_ld}}}
</script>
{{/if ~}}
{{/with ~}}
{{else}}
<title>SCVO – Scottish Council for Voluntary Organisations</title>
<meta property="og:title" content="SCVO – Scottish Council for Voluntary Organisations" data-dynamic="true">
{{/if ~}}