<div class="x-items mdc-theme--primary-bg">
  <a class="x-item" target="_blank" href="https://scvo.org/services/office-space">
    <img class="responsive-img" src="https://storage.googleapis.com/elasticsauce.appspot.com/goodmoves/banners/qmu-mpa.jpg" alt="SCVO - JOIN OUR HUB - Edinburgh, Glasgow, Inverness. Affordable shared office space for third sector organisations">
  </a>
  <a class="mdc-theme--on-primary" href="/advertise-with-us">
    <span class="far fa-fw fa-angle-double-left" aria-hidden="true"></span>
    Book this ad space
  </a>
</div>