<section class="currently-recruiting">
  <div class="mdc-typography--headline5 v-margin-full">
    Currently recruiting &ensp; <span class="mdc-typography--caption"><a href="/organisations">See all</a></span>
  </div>
  <div class="mdc-layout-grid v-margin-full">
    <div class="mdc-layout-grid__inner">
      {{#each data.organisations.currently_recruiting.hits.hits ~}}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
        <a href="/organisation/{{_source.slug}}" title="{{_source.name}}" class="organisation-logo">
          <img src="{{_source.logo_url}}" />
        </a>
      </div>
      {{/each ~}}
    </div>
  </div>
</section>