<form id="login-form" method="POST">
  <h2>Login</h2>
  <div class="login-form-section" id="form-section-message">
    <div class="row">
      <div class="twelve columns" id="form-message"></div>
    </div>
  </div>
  <div class="login-form-section" id="form-section-email">
    <div class="row">
      <div class="six columns">
        <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
          <input type="text" class="mdc-text-field__input mdc-text-field--fullwidth" id="login-email">
          <label class="mdc-floating-label mdc-floating-label--float-above" for="login-email">Email</label>
          <div class="mdc-notched-outline">
            <svg>
              <path class="mdc-notched-outline__path"/>
            </svg>
          </div>
          <div class="mdc-notched-outline__idle"></div>
        </div>
      </div>
      <div class="six columns">
        <label for="login-password">Password</label>
        <input type="password" id="login-password" placeholder="Super$ecr3tP455worD" class="u-full-width">
      </div>
    </div>
  </div>
  <div class="login-form-section" id="form-section-login-buttons">
    <div class="row">
      <div class="eight columns">
      </div>
      <div class="four columns">
        <button class="button-primary u-full-width" type="submit" id="login-submit">Login</button>
      </div>
    </div>
  </div>
</form>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDIUNnyGeZY3sO8gGIf-_2dgO49xKij5zI",
    authDomain: "scvo-net.firebaseapp.com",
    databaseURL: "https://scvo-net.firebaseio.com",
    projectId: "scvo-net",
    storageBucket: "scvo-net.appspot.com",
    messagingSenderId: "782194712584"
  };
  var app = firebase.initializeApp(config);
  document.addEventListener("DOMContentLoaded", function(event) {
    $('#login-form')[0].addEventListener('submit', login);
    function login(evt) {
      console.log('LOGIN!');
      var email = $('#login-email').val();
      var password = $('#login-password').val();
      evt.preventDefault();
      app.auth().signInWithEmailAndPassword(email, password).then(function(user) {
        console.log('Logged in:', user);
        user.getIdToken().then(function(idToken) {
          console.log('Id token', idToken);
          setCookie('gm_token', idToken, 7);
        }).catch(function(err) {
          console.error('Failed to get id token for central user', err);
        })
      }).catch(function(err) {
        console.error('Error logging in:', err);
      });
    }
    function setCookie(name, value, days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/; secure";
    }
  });
</script>
