<div class="footer-image join-our-hub">
  <div class="container-fluid">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <h2>
            Office space
          </h2>
          <p>
            Five locations; in Edinburgh, Glasgow, and Inverness
          </p>
          <a href="/services/office-space" class="mdc-button mdc-button--raised">Join our hub</a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <h2>
            Payroll service
          </h2>
          <p>
            Our experienced team process salaries for over 400 organisations across Scotland
          </p>
          <a href="/services/payroll" class="mdc-button mdc-button--raised">Find out more</a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h2>
            SCVO membership
          </h2>
          <p>
            Membership of SCVO provides great benefits
          </p>
          <a href="/services/membership" class="mdc-button mdc-button--raised">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</div>