<div class="footer-text sponsors">
  <div class="container-fluid">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <hr />
          <h3>
            Media partner
          </h3>
          <p>
            <a href="http://thirdforcenews.org.uk"><img src="http://cms.scvo.org/wp-content/uploads/2018/09/SrccNv5o_400x400.png" width="80" height="80" /></a>
          </p>
          <h3>
            Our sponsors
          </h3>
          <p>
            <a href="/the-gathering-2019/sponsorship"><img src="http://cms.scvo.org/wp-content/uploads/2018/09/G2018-CM-sponsor-buttons.png" /></a>
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
