<div class="splash-image splash-image-page" style="background-image: url('https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/headers/gathering-2019-header.jpg');">
  <div class="splash-overlay splash-overlay-hidden">
    <div class="container-fluid">
      <div class="mdc-layout-grid">
        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/headers/gathering-2019-logo.png" alt="The Gathering" class="header-text">
      </div>
    </div>
  </div>
</div>