<div class="splash-image splash-image-page" style="background-image: url('https://storage.googleapis.com/scvo-cms/wp-content/uploads/2018/01/G2018-HP-BANNER-MAIN-1920x450.jpg');">
  <div class="splash-overlay splash-overlay-hidden">
    <div class="container-fluid">
      <div class="mdc-layout-grid">
        <img src="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2018/01/g2018-logo-WHITE-DETAIL.png" alt="The Gathering" class="header-text">
      </div>
    </div>
  </div>
</div>