{{#if data.primaryResponse.hits.hits.[0]._source.header_background ~}}
{{else}}
{{#if data.supplimentaryResponses.splash.hits.hits.[0]._source.caption ~}}
<div class="container-relative">
  <div class="header-caption">
    {{{data.supplimentaryResponses.splash.hits.hits.[0]._source.caption}}}
  </div>
</div>
{{/if ~}}
{{/if ~}}