{{#if paging.totalResults ~}}
<div class="search-info mdc-elevation--z3">
  <strong>Total results:</strong> {{addCommas paging.totalResults}} |
  <strong>Current page:</strong> {{addCommas paging.currentPage}} of {{addCommas paging.totalPages}}
</div>
{{else}}
{{#ifAny phase @root.request.params.query.region @root.request.params.query.sector @root.request.params.query.location @root.request.params.query.job_number @root.request.params.query.q ~}}
<div class="search-info mdc-elevation--z1">
  No results, please try a different search query
</div>
{{/ifAny ~}}
{{#compare @root.request.params.path "===" "search" ~}}
<h3>Trending topics</h3>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
      <a href="/the-gathering">The Gathering</a>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
      <a href="/jobs/community-jobs-scotland/information-for-employers/become-an-employer">Become a CJS employer</a>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
      <a href="/running-your-organisation/business-planning/writing-business-plan">Writing a business plan</a>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
      <a href="/running-your-organisation/governance/roles-responsibilities">Governance roles &amp; responsibilites</a>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
      <a href="/setting-up-a-charity/write-your-constitution">Write your constitution</a>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
      <a href="/setting-up-a-charity/frequently-asked-questions">Setting up a charity FAQs</a>
    </div>
  </div>
</div>
{{/compare ~}}
{{/if ~}}