{{#if paging.totalResults ~}}
<div class="search-info mdc-elevation--z3">
  <strong>Total results:</strong> {{addCommas paging.totalResults}} |
  <strong>Current page:</strong> {{addCommas paging.currentPage}} of {{addCommas paging.totalPages}}
</div>
{{else}}
{{#ifAny phase @root.request.params.query.region @root.request.params.query.sector @root.request.params.query.location @root.request.params.query.job_number @root.request.params.query.q ~}}
<div class="search-info mdc-elevation--z1">
  No results, please try a different search query
</div>
{{/ifAny ~}}
{{#compare @root.request.params.path "===" "search" ~}}
{{> trending}}
{{/compare ~}}
{{/if ~}}