<div class="cta-content callout-image policy-stats v-margin-full">
  <div class="container-fluid">
    <h2>
      The Scottish third sector
      <!-- <span class="mdc-typography--caption"></span> -->
    </h2>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner v-margin">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <span class="fal fa-fw fa-hands-heart fa-5x"> </span>
          <p>
            <strong>Over 1 million people volunteered in Scotland last year</strong>
          </p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <span class="fal fa-fw fa-bullhorn fa-5x"> </span>
          <p>
            <strong>There are over 250,000 charity trustees across the country</strong>
          </p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <span class="fal fa-fw fa-users fa-5x"> </span>
          <p>
            <strong>Last year, 4/5 Scots used a third sector organisation</strong>
          </p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <span class="fal fa-fw fa-building fa-5x"> </span>
          <p>
            <strong>There are 40,000+ third sector organisations in Scotland</strong>
          </p>
        </div>
      </div>
      <div class="mdc-layout-grid__inner v-margin">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <span class="fal fa-fw fa-hand-holding-heart fa-5x"> </span>
          <p>
            <strong>Two thirds of sector income is earned, not donated</strong>
          </p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <span class="fal fa-fw fa-chart-bar fa-5x"> </span>
          <p>
            <strong>In 2017, the third sector had an annual turnover of £5.8 billion</strong>
          </p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <span class="fal fa-fw fa-chart-line fa-5x"> </span>
          <p>
            <strong>Scotland’s third sector has over 100,000 paid staff</strong>
          </p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <span class="fal fa-fw fa-home-heart fa-5x"> </span>
          <p>
            <strong>78% of charities in Scotland are local</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
