<div class="static-sidebar">
  <h3>About Community Jobs Scotland</h3>
  <p>
    Creating jobs in Scotland's third sector for unemployed vulnerable young people.
  </p>
  <h3>
    Contact
  </h3>
  <p>
    <i class="fas fa-envelope-square"></i> <a href="mailto:communityjobsscotland@scvo.org.uk">communityjobsscotland@scvo.org.uk</a><br />
    <i class="fas fa-phone-square"></i> <a href="tel:+441415595026">0141 559 5026</a><br />
    <i class="fab fa-twitter-square"></i> <a href="https://twitter.com/_cjs_">Twitter</a><br />
    <i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/CommunityJobsScotland/">Facebook</a>
  </p>
</div>