<div class="static-sidebar">
  <h3>Contact us</h3>
  <p>
    For all event enquiries, please contact:<br />
    <i class="fas fa-envelope-square"></i> <a href="mailto:events@scvo.org.uk">events@scvo.org.uk</a>
  </p>
</div>