<form action="/projects-campaigns/terrific-trustees/search" method="GET" [searchroute]="'trustee_search'" data-auto-search="true" autocomplete="off">
  <div class="mdc-textfield mdc-textfield--upgraded">
    <input type="text" class="mdc-textfield__input" name="q" id="trustee-keywords" value="{{@root.request.params.query.q}}" placeholder="Search query">
    <div class="mdc-textfield__bottom-line"></div>
  </div>
  <button class="mdc-button mdc-button--raised" type="submit">
    Search
  </button>
</form>