<div class="container-fluid">
  <div class="search-overlay">
    <section id="search-overlay" class="search-overlay-panel">
      <div id="search-tab-bar" class="mdc-tab-bar" data-mdc-auto-init="MDCTabBar">
        <a class="mdc-tab" href="/">
          <span class="far fa-map-marker-alt fa-fw" title="Location"></span>
          Map
        </a>
        <a class="mdc-tab" href="#" id="detailed-results">
          <span class="far fa-list fa-fw" title="Location"></span>
          List
        </a>
        <span class="mdc-tab-bar__indicator"></span>
      </div>
      <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
        <input type="text" class="mdc-text-field__input mdc-text-field--fullwidth" id="what">
        <label class="mdc-floating-label mdc-floating-label--float-above" for="what">What</label>
        <div class="mdc-notched-outline">
          <svg>
            <path class="mdc-notched-outline__path"/>
          </svg>
        </div>
        <div class="mdc-notched-outline__idle"></div>
      </div>
      <div id="search-terms" class="mdc-chip-set"></div>
      <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
        <input type="text" class="mdc-text-field__input mdc-text-field--fullwidth" id="where" placeholder="">
        <label class="mdc-floating-label mdc-floating-label--float-above" for="where">Where</label>
        <div class="mdc-notched-outline">
          <svg>
            <path class="mdc-notched-outline__path"/>
          </svg>
        </div>
        <div class="mdc-notched-outline__idle"></div>
      </div>
      <div class="mdc-form-field">
        <div class="mdc-select" data-mdc-auto-init="MDCSelect">
          <select class="mdc-select__native-control fullwidth" id="distance">
            <option value="any">Any distance</option>
            <option value="1609.344">1 miles</option>
            <option value="3218.688">2 miles</option>
            <option value="8046.72" selected>5 miles</option>
            <option value="16093.44">10 miles</option>
            <option value="24140.16">15 miles</option>
            <option value="40233.6">25 miles</option>
            <option value="80467.2">50 miles</option>
          </select>
        </div>
      </div>
      <!-- <button type="button" id="detailed-results" class="mdc-button mdc-button--raised">Detailed results</button> -->
    </section>
  </div>
  <div id="search-results">
    test
  </div>
</div>
<section>
  <div id="map-full"></div>
</section>
{{> currently_recruiting}}
