<div class="page">
  {{> header_splash}}
  <div class="container-fluid">
    {{> breadcrumbs}}
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="cta-content callout-image benefit swiper-slide">
        <div class="container-fluid">
          <div class="caption">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/cjs-logo.png" alt="Community Jobs Scotland" />
            <div class="caption-inner">
              <p>
                Over 8,000 young people employed
              </p>
              <p>
                Over 600 partner organisations
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 content page-content">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer_services}}