<div class="page">
  {{> header_splash}}
  <div class="container-fluid">
    {{> breadcrumbs}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 content page-content">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
        {{> related_posts}}
      </div>
    </div>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="cta-content callout-image gathering-1 swiper-slide">
        <div class="container-fluid">
          <div class="caption"></div>
        </div>
      </div>
      <div class="cta-content callout-image gathering-2 swiper-slide">
        <div class="container-fluid">
          <div class="caption"></div>
        </div>
      </div>
      <div class="cta-content callout-image gathering-3 swiper-slide">
        <div class="container-fluid">
          <div class="caption"></div>
        </div>
      </div>
      <div class="cta-content callout-image gathering-4 swiper-slide">
        <div class="container-fluid">
          <div class="caption"></div>
        </div>
      </div>
      <div class="cta-content callout-image gathering-5 swiper-slide">
        <div class="container-fluid">
          <div class="caption"></div>
        </div>
      </div>
      <div class="cta-content callout-image gathering-6 swiper-slide">
        <div class="container-fluid">
          <div class="caption"></div>
        </div>
      </div>
      <div class="cta-content callout-image gathering-7 swiper-slide">
        <div class="container-fluid">
          <div class="caption"></div>
        </div>
      </div>
    </div>
    <!-- <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>
</div>
<script src="/assets/js/scvo/gathering-landing.js"></script>
