<div class="page about">
  {{> header_splash}}
  <div class="container-fluid">
    {{> breadcrumbs}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}

          <h3>Quick guide</h3>
          <p>
            <strong>Note:</strong> This information does not constitute as legal advice and merely serves to provide an indication – visit the <a href="https://www.gov.uk/guidance/status-of-eu-nationals-in-the-uk-what-you-need-to-know">Home Office website</a> for more detailed information.
          </p>
          <form name="settled_status" id="settled_status" action="get">
            <div id="settled_status_q_a">
              <p>
                <strong>Q1.</strong> Do you currently live in the UK?
              </p>
              <div class="mdc-radio"><input id="answer-1" class="mdc-radio__native-control" name="a" value="1" type="radio" onchange="window.showGuide()" />
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
              </div>
              <label id="answer-1-label" for="answer-1">Yes</label>
              <div class="mdc-radio"><input id="answer-2" class="mdc-radio__native-control" name="a" value="2" type="radio" onchange="window.showGuide()" />
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
              </div>
              <label id="answer-2-label" for="answer-2">No</label>
            </div>
            <div id="settled_status_q_b">
              <p>
                <strong>Q2.</strong> Do you intend to arrive in the UK before or after 29 March 2019?
              </p>
              <div class="mdc-radio"><input id="answer-3" class="mdc-radio__native-control" name="b" value="1" type="radio" onchange="window.showGuide()" />
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
              </div>
              <label id="answer-3-label" for="answer-3">Before</label>
              <div class="mdc-radio"><input id="answer-4" class="mdc-radio__native-control" name="b" value="2" type="radio" onchange="window.showGuide()" />
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
              </div>
              <label id="answer-4-label" for="answer-4">After</label>
            </div>
            <div id="settled_status_q_c">
              <p>
                <strong>Q2.</strong> Do you have <a href="https://www.gov.uk/settle-in-the-uk">indefinite leave to remain</a> status?
              </p>
              <div class="mdc-radio"><input id="answer-5" class="mdc-radio__native-control" name="c" value="1" type="radio" onchange="window.showGuide()" />
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
              </div>
              <label id="answer-5-label" for="answer-5">Yes</label>
              <div class="mdc-radio"><input id="answer-6" class="mdc-radio__native-control" name="c" value="2" type="radio" onchange="window.showGuide()" />
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
              </div>
              <label id="answer-6-label" for="answer-6">No</label>
            </div>
            <div id="settled_status_q_d">
              <p>
                <strong>Q3.</strong> Have you lived in the UK for more than five years?
              </p>
              <div class="mdc-radio"><input id="answer-7" class="mdc-radio__native-control" name="d" value="1" type="radio" onchange="window.showGuide()" />
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
              </div>
              <label id="answer-7-label" for="answer-7">Yes</label>
              <div class="mdc-radio"><input id="answer-8" class="mdc-radio__native-control" name="d" value="2" type="radio" onchange="window.showGuide()" />
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
              </div>
              <label id="answer-8-label" for="answer-8">No</label>
            </div>
          </form>
          <div id="settled_status_guide" class="mdc-elevation--z6">
            <div class="guide_text" id="guide_2100">
              <p>
                You will be able to apply to stay in the UK until you have reached the five-year threshold.
              </p>
              <p>
                Once you have been in the UK continually for five years, you will be able to apply to stay indefinitely by getting 'settled status'. That means you will be free to continue living here and have access to public funds and services.
              </p>
              <p>
                Getting this status will prove (for example, to employers or public service providers) that you have permission to continue living and working here in future.
              </p>
              <p>
                The application fee will be no more than the cost charged to British citizens for a UK passport and the online process for application should be in place by late 2018. You can sign up for <a href="https://gov.smartwebportal.co.uk/homeoffice/public/webform.asp?id=67&id2=627DF7">email updates</a> about this.
              </p>
              <p>
                Family members who are living with, or join, you in the UK by 29 March 2019 will also be able to apply for settled status after five years in the UK. Close family members (spouses, civil and unmarried partners, dependent children and grandchildren, and dependent parents and grandparents) will be able to join EU citizens after the UK leaves the EU, as long as the relationship existed on 29 March 2019.
              </p>
            </div>
            <div class="guide_text" id="guide_2200">
              <p>
                If you arrive in the UK during the 'implementation period' (30 March 2019 - 31 December 2020), you will be able to live, work and study in the UK as you would normally. However, you will be required to register with the Home Office if you intend to stay for longer than three months.
              </p>
              <p>
                The exact details of what will be required of EU citizens arriving during this period is uncertain and remains subject to negotiations between the UK and EU. However, it is proposed that EU citizens who do register during this period will be given the right to stay for a period of five years, at which point you and your family could apply for 'settled status'.
              </p>
              <p>
                For EU citizens arriving after 31 December 2020, new immigration rules will be in place. Details of these rules are not yet known.
              </p>
            </div>
            <div class="guide_text" id="guide_1010">
              <p>
                Your <a href="https://www.gov.uk/settle-in-the-uk">'indefinite leave to remain'</a> status is not affected by the UK leaving the EU. However, should you wish to exchange your existing indefinite leave to remain document for the new 'settled status' document, you will be able to do so free of charge.
              </p>
              <p>
                You may wish to keep proof of your 'indefinite leave to remain' status in a safe place - in case this is required.
              </p>
            </div>
            <div class="guide_text" id="guide_1021">
              <p>
                You will be able to apply to stay in the UK indefinitely by getting 'settled status'. That means you will be free to continue living here and have access to public funds and services.
              </p>
              <p>
                Getting this status will prove (for example, to employers or public service providers) that you have permission to continue living and working here in future.
              </p>
              <p>
                The application fee for settled status will be no more than the cost charged to British citizens for a UK passport and the online process for application should be in place by late 2018. You can sign up for <a href="https://gov.smartwebportal.co.uk/homeoffice/public/webform.asp?id=67&id2=627DF7">email updates</a> about this.
              </p>
              <p>
                Family members who are living with, or join, you in the UK by 29 March 2019 will also be able to apply for settled status after five years in the UK. Close family members (spouses, civil and unmarried partners, dependent children and grandchildren, and dependent parents and grandparents) will be able to join you after the UK leaves the EU, as long as the relationship existed on 29 March 2019.
              </p>
            </div>
            <div class="guide_text" id="guide_1022">
              <p>
                You will be able to apply to stay in the UK until you have reached the five-year threshold.
              </p>
              <p>
                Once you have been in the UK continually for five years, you will be able to apply to stay indefinitely by getting 'settled status'. That means you will be free to continue living here and have access to public funds and services.
              </p>
              <p>
                Getting this status will prove (for example, to employers or public service providers) that you have permission to continue living and working here in future.
              </p>
              <p>
                The application fee will be no more than the cost charged to British citizens for a UK passport and the online process for application should be in place by late 2018. You can sign up for <a href="https://gov.smartwebportal.co.uk/homeoffice/public/webform.asp?id=67&id2=627DF7">email updates</a> about this.
              </p>
              <p>
                Family members who are living with, or join, you in the UK by 29 March 2019 will also be able to apply for settled status after five years in the UK. Close family members (spouses, civil and unmarried partners, dependent children and grandchildren, and dependent parents and grandparents) will be able to join you after the UK leaves the EU, as long as the relationship existed on 29 March 2019.
              </p>
            </div>
          </div>
          <p>
            <br />
            <strong>NB.</strong> This information applies to citizens of the "EU27" minus citizens of Ireland (whose right to live and reside in the UK will be unaffected by EU withdrawal). Those states are Austria, Belgium, Bulgaria, Croatia, Cyprus, Czechia, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Italy, Latvia, Lithuania, Luxembourg, Malta, the Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, and Sweden. Discussions regarding the future right of citizens from the EFTA states (Iceland, Liechtenstein, Norway, and Switzerland) are ongoing.
          </p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
          {{> menu_euarevalued}}
        </div>
        {{> related_posts}}
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/scvo/eu-are-settled.js"></script>