<div class="page">
  {{> header_splash_gathering}}
  <div class="container-fluid">
    {{> breadcrumbs}}
    
    GATHERING NAVIGATION

    {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}

    SPONSOR LOGOS HERE
  </div>
</div>