<div class="page funding-landing">
  {{> header_splash}}
  <div class="container-fluid">
    {{> breadcrumbs}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 content page-content">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
        {{#compare @root.data.supplimentaryResponses.recently_updated_funds.hits.total ">" 0 ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 related page-related">
          <h3 class="blogs">Recently updated funds</h3>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              {{#each @root.data.supplimentaryResponses.recently_updated_funds.hits.hits ~}}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet  mdc-layout-grid__cell--span-4-phone">
                {{{_source.rendered.scvo_gist}}}
              </div>
              {{/each ~}}
            </div>
          </div>
          <a href="http://fundingscotland.com" class="mdc-button v-margin-full pull-right">Find more</a>
        </div>
        {{/compare ~}}
        {{#compare @root.data.supplimentaryResponses.related_posts.hits.total ">" 0 ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 related page-related">
          <h3 class="blogs">Related posts</h3>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              {{#with @root.data.supplimentaryResponses.related_posts.hits.hits ~}}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet  mdc-layout-grid__cell--span-4-phone">
                {{{[0]._source.rendered.scvo_gist}}}
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet  mdc-layout-grid__cell--span-4-phone">
                {{{[1]._source.rendered.scvo_gist}}}
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet  mdc-layout-grid__cell--span-4-phone">
                {{{[2]._source.rendered.scvo_gist}}}
              </div>
              {{/with ~}}
            </div>
          </div>
        </div>
        {{/compare ~}}
      </div>
    </div>
  </div>
</div>

{{> footer_services}}
