<div class="page page-full-width">
  {{> header_splash}}
  <div class="container-fluid">
    {{> breadcrumbs}}
    <div class="content page-content">
      {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
    </div>
  </div>
</div>
