<div class="trustee">
  {{> header_splash headerTextOverride="Trustee vacancy" typeOverride="page"}}
  <div class="container-fluid">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/projects-campaigns">Projects &amp; campaigns</a></li>
      <li><a href="/projects-campaigns/terrific-trustees">Terrific trustees</a></li>
      <li><a href="/projects-campaigns/terrific-trustees/search">Trustee vacancy search</a></li>
      <li>{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}} - {{{@root.data.primaryResponse.hits.hits.[0]._source.organisation_name}}}</li>
    </ul>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar trustee-sidebar">
          {{> trustee_search}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content trustee-content">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
      </div>
    </div>
  </div>
</div>
