<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2>Contact us</h2>
      <p><a href="mailto:digital@scvo.org.uk">digital@scvo.org.uk</a></p>
    </div>
  </div>
</div>