<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5 mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Main-Hero-RGB-04.png" alt="Sign up &amp; skill up illustration" class="responsive-img hide-on-med-and-up" />
      <h1>Sign Up &amp; Skill Up for a Digitally Smarter Scotland</h1>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-7 mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Main-Hero-RGB-04.png" alt="Sign up &amp; skill up illustration" class="responsive-img" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner description">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr />
      <h2>
        We are on a mission: to give everyone in Scotland the essential digital
        skills they need to do their jobs, live their lives, and confidently use
        different digital services. To do this, we need your help&hellip;
      </h2>
      <hr />
    </div>
  </div>
  <div class="mdc-layout-grid__inner description">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
      <h1>It’s Simple <br />To Sign Up</h1>
      <p>
        By signing Scotland's Digital Participation Charter your organisation
        can commit to digitally skilling up your workforce, members and
        stakeholders. The charter provides a useful framework for support
        and training to skill up Scotland.
      </p>
      <p>
        <a href="/sign-up" class="hide-on-med-and-up">
          <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Simple-Sign-Up-RGB-04.png" alt="Sign up illustration" class="responsive-img" />
        </a>
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell-6 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
      <a href="/sign-up">
        <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Simple-Sign-Up-RGB-04.png" alt="Sign up illustration" class="responsive-img" />
      </a>
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand cta">
    <div class="mdc-layout-grid__cell cta-left mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
      <h4>
        <a href="/the-charter">
          <span class="text">
            Discover our five charter pledges
          </span>
          <i class="material-icons">arrow_forward</i>
        </a>
      </h4>
      <hr class="nomargin" />
    </div>
    <div class="mdc-layout-grid__cell cta-right mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin hide-on-small-only" />
      <h4>
        <a href="/sign-up/form">
          <span class="text">
            Sign up on-line using our simple form
          </span>
          <i class="material-icons">arrow_forward</i>
        </a>
      </h4>
      <hr class="nomargin" />
    </div>
    <div class="mdc-layout-grid__cell cta-left mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <h4>
        <a href="/skill-up">
          <span class="text">
            Uncover what essential digital skills might mean for your organisation
          </span>
          <i class="material-icons">arrow_forward</i>
        </a>
      </h4>
      <hr class="nomargin" />
    </div>
    <div class="mdc-layout-grid__cell cta-right mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <h4>
        <a href="/resources">
          <span class="text">
            Show your support, and help spread the word
          </span>
          <i class="material-icons">arrow_forward</i>
        </a>
      </h4>
      <hr class="nomargin" />
    </div>
  </div>
</div>