<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <h1>Resources</h1>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img pull-right" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner resources">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr class="margin-bottom" />

      <h3>Need help to get online and develop your own essential digital skills?</h3>
      <h4>
        <a href="/resources/support">
          Find support near you and online
          <i class="material-icons">arrow_forward</i>
        </a>
      </h4>
      <hr />

      <h3>Want to help others develop their essential digital skills?</h3>
      <h4>
        <a href="/resources/help-others">
          Get support to be a digital champion
          <i class="material-icons">arrow_forward</i>
        </a>
      </h4>
      <hr />

      <h3>Want to understand the latest research and evidence on digital participation?</h3>
      <h4>
        <a href="/resources/reports">
          View links to recent reports and publications
          <i class="material-icons">arrow_forward</i>
        </a>
      </h4>
      <hr />

      <h3>Want to promote Scotland's Digital Participation Charter?</h3>
      <h4>
        <a href="/resources/logos">
          Download our brand guidelines and logos
          <i class="material-icons">arrow_forward</i>
        </a>
      </h4>
      <hr />
    </div>
  </div>
</div>