<div class="mdc-layout-grid">
  {{#compare request.params.slug "===" "help-others"}}
  <div class="mdc-layout-grid__inner detail title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1><a href="/resources">Resources</a></h1>
      <h2>Help others get online</h2>
    </div>
  </div>
  <div class="mdc-layout-grid__inner detail">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr class="margin-bottom" />

      <h4><a href="http://letsgetonline.scot/help-someone-else/">Let's Get Online</a></h4>
      <p>Find help and computer courses near you in Scotland</p>

      <h4><a href="https://scvo.org/digital/participation/champions">Digital Champions Training</a></h4>
      <p>Free local training and support programme for third sector organisations which includes access to the <a href="https://www.digitalchampionsnetwork.com/">Digital Champions Network</a>. To register your interest please get in touch with our team by emailing <a href="mailto:onedigital@scvo.org.uk">onedigital@scvo.org.uk</a>.</p>

      <p>If you are not a third sector organisation and you're keen to develop Digital Champions in your organisation, you may wish to apply directly to join the Digital Champions Network with <a href="https://digitalunite.com/">Digital Unite</a>.</p>

      <h4><a href="https://www.microsoft.com/en-gb/digitalliteracy/default.aspx">Microsoft Digital Literacy Curriculum</a></h4>
      <p>Teach and assess the basic concepts and skills needed to use a computer</p>

      <h4><a href="https://www.nspcc.org.uk/preventing-abuse/keeping-children-safe/online-safety/">NSPCC Online Safety</a></h4>
      <p>Find out how to keep your children safe when using the internet</p>

    </div>
  </div>

  {{else}}
  {{#compare request.params.slug "===" "logos"}}
  <div class="mdc-layout-grid__inner detail title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1><a href="/resources">Resources</a></h1>
      <h2>Digital Participation Charter Logos</h2>
    </div>
  </div>
  <div class="mdc-layout-grid__inner detail">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr class="margin-bottom" />

      <p>Are you a Charter Signatory? Great!</p>

      <p>Download the resources below to help you promote your commitment to the Charter amongst your staff and stakeholders.</p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Brand-Guidelines-for-Signatories.pdf" download>Brand guidelines</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-FullColour-RGB.png" download>Charter signatory logo (colour) for use on screens</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-White-RGB.png" download>Charter signatory logo (white) for use on screens</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-FullColour-CMYK.eps" download>Charter signatory logo (colour) for use in print</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-White-CMYK.eps" download>Charter signatory logo (white) for use in print</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-Suite.zip" download>Download full logo suite (zipped file)</a></p>

    </div>
  </div>

  {{else}}
  {{#compare request.params.slug "===" "reports"}}
  <div class="mdc-layout-grid__inner detail title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h1><a href="/resources">Resources</a></h1>
      <h2>Reports and publications</h2>
    </div>
  </div>
  <div class="mdc-layout-grid__inner detail">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr class="margin-bottom" />

      <h3>What works in tackling digital exclusion?</h3>

      <p>
        In August 2017 SCVO published the findings of a review of the 127 local Digital Participation Charter Fund projects which have been supported over the past three years, together with a literature review on digital exclusion carried out by the University of the West of Scotland. These reports give an insight into the current picture of digital exclusion across Scotland, as well as lessons learned on successful interventions. The full documents are available to download below:
      </p>

      <ul>
        <li>
          <a href="https://storage.googleapis.com/digital-participation-charter/tackling-digital-exclusion-in-scotland-a4.pdf" download>Summary briefing paper: what works in tackling digital exclusion</a>
        </li>
        <li>
          <a href="https://storage.googleapis.com/digitalparticipation/reports/Tackling_Digital_Exclusion_Literature_Review.pdf" download>Literature review: rapid review of evidence for basic digital skills</a>
        </li>
        <li>
          <a href="https://storage.googleapis.com/digitalparticipation/reports/Charter_Fund_Review_Report.pdf" download>Charter Fund project review: overview of projects from funding rounds 1-3</a>
        </li>
      </ul>

      <h3>Other key reports</h3>

      <dl>
        <dt>
          <a href="http://peopleknowhow.org/digital-participation-and-disability/">Digital participation and disability (2017)</a>
        </dt>
        <dd>
          Digital participation among adults with disabilities is lower than it is among the general population. These findings from People Know How suggest that there are four main barriers keeping people with disabilities from participating digitally.
        </dd>
      </dl>

      <dl>
        <dt>
          <a href="https://doteveryone.org.uk/wp-content/uploads/2018/04/Doteveryone_PeoplePowerTechDigitalUnderstanding2018.pdf">People, Power and Technology: The 2018 Digital Understanding Report</a>
        </dt>
        <dd>
          This report sets out a model for digital understanding that looks beyond digital skills to what it is people need to be able to understand about the impact of tech on their lives as individuals, consumers, workers and members of society.
        </dd>
      </dl>

      <dl>
        <dt>
          <a href="https://www.cas.org.uk/publications/launch-disconnected-understanding-digital-inclusion-and-improving-access">Disconnected: Understanding Digital Inclusion and Improving Access</a>
        </dt>
        <dd>
          Citizens Advice Scotland's research shows there is a risk that people without sufficient access to the internet, or skills to engage with digital content, will be left out. In some instances, this can be to the detriment of their basic and fundamental rights.
        </dd>
      </dl>

      <dl>
        <dt>
          <a href="https://www.carnegieuktrust.org.uk/publications/digital-savvy-citizens/">Digitally Savvy Citizens</a>
        </dt>
        <dd>
          Digital Savvy Citizens presents new research data which looks at where we find information on breaking news stories and local services; how we use public wifi; and how we manage privacy and security settings on our phones.
        </dd>
      </dl>

      <dl>
        <dt>
          <a href="http://heatmap.thetechpartnership.com/">Digital Exclusion Heatmap</a>
        </dt>
        <dd>
          The Get Digital Heatmap show the likelihood of digital exclusion across the UK at Local Authority level.
        </dd>
      </dl>

      <dl>
        <dt>
          <a href="http://www.lloydsbank.com/banking-with-us/whats-happening/consumer-digital-index.asp">Lloyds Banking Group – Consumer Digital Index (2017)</a>
        </dt>
        <dd>
          Statistics across the UK in relation to each of the five basic digital skills.
        </dd>
      </dl>

      <dl>
        <dt>
          <a href="http://www.cas.org.uk/publications/bridging-digital-divide">Bridging the Digital Divide: Measuring the progress of digital inclusion amongst Scottish CAB clients – Citizens Advice Scotland (2016)</a>
        </dt>
        <dd>
          A third of CAB clients find themselves digitally excluded. The report discusses some of the key challenges and makes a number of recommendations designed to help increase the uptake of the internet and computers.
        </dd>
      </dl>

      <dl>
        <dt>
          <a href="http://www.carnegieuktrust.org.uk/publications/role-digital-exclusion-social-exclusion/">Digital Participation And Social Justice In Scotland – Carnegie UK Trust (2016)</a>
        </dt>
        <dd>
          An analysis of digital exclusion and deprivation in Scotland.
        </dd>
      </dl>

      <dl>
        <dt>
          <a href="http://digital.scvo.org.uk/about/annual-report-2015/">Digital Participation in Action – SCVO (2015)</a>
        </dt>
        <dd>
          A report setting out the scale of the digital participation challenge in Scotland, what SCVO is doing about it and how you can get involved.
        </dd>
      </dl>

      <dl>
        <dt>
          <a href="https://www.goodthingsfoundation.org/research-publications/health-digital-evaluation-widening-digital-participation-programme">Health &amp; Digital – Good Things Foundation (2016)</a>
        </dt>
        <dd>
          An evaluation of a three-year programme exploring the crossover between those who are digitally excluded and those who are at risk of poor health.
        </dd>
      </dl>

      <dl>
        <dt>
          <a href="https://www.ofcom.org.uk/research-and-data/telecoms-research/smartphone-by-default-2016">Smartphone by default' internet users – Ofcom (2016)</a>
        </dt>
        <dd>
          This qualitative research report focuses on those who conduct the vast majority of their online activities through their smartphone - either through choice or due to external factors limiting their access to alternative devices.
        </dd>
      </dl>

      <h3>Other evidence</h3>

      <p><a href="https://bit.ly/2AFUI3a">Social Justice in the Digital Age</a> - The Centre for Social Justice (2017)</p>

      <p><a href="https://www.ofcom.org.uk/research-and-data/multi-sector-research/access-and-inclusion?utm_source=updates&utm_medium=email&utm_campaign=access%2C%20inclusion%20and%20affordability.%20">Access and inclusion report</a> - Ofcom (2017)</p>

      <p><a href="https://www.ofcom.org.uk/research-and-data/cmr/communications-market-reports">Communications Market Reports / Media Literacy / Telecoms Data reports</a> - Ofcom (2017)</p>

      <p><a href="https://projects.doteveryone.org.uk/digitalcommunities/index.html">Go On Local Pilots Report</a> - doteveryone (2017)</p>

      <p><a href="https://www.ofcom.org.uk/__data/assets/pdf_file/0026/80828/2016-adults-media-use-and-attitudes.pdf">Adults' media use and attitudes</a> - Ofcom (2016)</p>

      <p><a href="http://www.ageuk.org.uk/professional-resources-home/policy/active-communities/digital-inclusion/">Digital inclusion</a> - Age UK (2016)</p>

      <p><a href="http://www.deloitte.co.uk/mobileuk/assets/pdf/Deloitte-Mobile-Consumer-2016-There-is-no-place-like-phone.pdf">There’s no place like phone</a> - Deloitte (2016)</p>

      <p><a href="https://ec.europa.eu/digital-single-market/en/download-scoreboard-reports">Digital scoreboard reports</a> - European Commission (2016)</p>

      <p><a href="http://www.parliament.uk/business/committees/committees-a-z/commons-select/science-and-technology-committee/news-parliament-2015/digital-skills-crisis-report-published-16-17/">Digital Skills Report</a> - House of Commons Science and Technology Committee (2016)</p>

      <p><a href="http://www.housing-technology.com/wp-content/uploads/2016/02/housingtechnology_digitalbydefault2016_report.pdf">Digital Inclusion in Housing</a> - Housing Technology (2016)</p>

      <p><a href="https://www.goodthingsfoundation.org/research-publications/hmrc-digital-inclusion-pilot-findings">HMRC &amp; Digital Inclusion</a> - Good Things Foundation (2016)</p>

      <p><a href="https://www.goodthingsfoundation.org/research-publications/literature-review-digital-skills-hardest-reach">Literature Review: Digital Skills for the Hardest to Reach</a> - Good Things Foundation (2016)</p>

      <p><a href="https://www.goodthingsfoundation.org/research-publications/reboot-uk-interim-findings">Reboot UK Findings</a> - Good Things Foundation (2016)</p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/reports/Stories_from_the_Digital_Divide.pdf" download>Stories from the Digital Divide - Quarriers working with Glasgow Centre for Inclusive Living (2016)</a>

        <p><a href="https://www.ons.gov.uk/peoplepopulationandcommunity/householdcharacteristics/homeinternetandsocialmediausage/bulletins/internetaccesshouseholdsandindividuals/2016">Internet access in Great Britain: 2016</a> - Office for National Statistics (2016)</p>

        <p><a href="https://pure.strath.ac.uk/portal/files/45617343/Buchanan_Tuckerman_JD_2016_The_information_behaviours_of_disadvantaged_and_disengaged.pdf">Information Behaviours of Disadvantages Youth</a> - University of Strathclyde (2016)</p>

        <p><a href="http://www.ageuk.org.uk/Documents/EN-GB/For-professionals/Research/Age%20UK%20Digital%20Inclusion%20Evidence%20Review%202013.pdf?dtrk=true">Digital inclusion</a> - Age UK (2013)</p>

      </div>
    </div>

    {{else}}
    {{#compare request.params.slug "===" "support"}}
    <div class="mdc-layout-grid__inner detail title">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1><a href="/resources">Resources</a></h1>
        <h2>Support near you and online</h2>
      </div>
    </div>
    <div class="mdc-layout-grid__inner detail">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <hr class="margin-bottom" />

        <p>The following sites will help you get online and develop your own essential digital skills.</p>

        <h4><a href="http://letsgetonline.scot/">Let's Get Online</a></h4>
        <p>Find help and computer courses near you in Scotland</p>

        <h4><a href="https://www.learnmyway.com/">Learn My Way</a></h4>
        <p>Free courses on using a computer, browsing the web, sending an email and finding work online</p>

        <h4><a href="https://www.digitalunite.com/guides">Digital Unite Guide</a></h4>
        <p>Guides to improve your computer skills and boost your digital confidence</p>

        <h4><a href="https://www.sqaacademy.org.uk/course/view.php?id=651">SQA Digital Learner Guides</a></h4>
        <p>Training videos to help people with common online activities</p>

        <h4><a href="https://www.microsoft.com/en-gb/digitalliteracy/default.aspx">Microsoft Digital Literacy Curriculum</a></h4>
        <p>Teach and assess the basic concepts and skills needed to use a computer</p>

        <h4><a href="http://www.rnib.org.uk/online-today">RNIB Online Today</a></h4>
        <p>Tailored support to for people with sight and hearing problems</p>

        <h4><a href="https://www.abilitynet.org.uk/expert-resources/">AbilityNet</a></h4>
        <p>￼Specialist support to help older people and people with disabilities get more from technology</p>

        <h4><a href="https://www.getsafeonline.org/">Get Safe Online</a></h4>
        <p>Information and advice on staying safe online</p>

        <h4><a href="https://www.nspcc.org.uk/preventing-abuse/keeping-children-safe/online-safety/">NSPCC Online Safety</a></h4>
        <p>Find out how to keep your children safe when using the internet</p>

        <h4><a href="https://digital.wings.uk.barclays/for-everyone/topics-and-modules/">Barclays Digital Wings</a></h4>
        <p>Tutorial articles focusing on key digital areas, including the basics of internet use, staying safe online and social media</p>
      </div>
    </div>

    {{else}}
    <h1>Error 404: Page not found</h1>
    {{/compare}}
    {{/compare}}
    {{/compare}}
    {{/compare}}
  </div>
