<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5 mdc-layout-grid__cell-4-phone">
      <h1>Sign The Charter &amp; Skill Up for Scotland</h1>
      <p>
        Joining up is simple. Just sign up using the form below and take a step towards a digitally smarter Scotland. We'll ask you for some details about your organisation (so you'll need to make sure you're authorised to sign on their behalf), then we'll ask what your commitment is going to be. This is something you'll define for yourself: anything your organisation can do to help build essential digital skills, big or small, is important. We won't pass your contact details on to any third parties. Thank you - we really value your support.
      </p>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Sign-Charter-RGB-04.png" alt="Sign up illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-5 mdc-layout-grid__cell-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Sign-Charter-RGB-04.png" alt="Sign up illustration" class="responsive-img" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell-4-phone">
      <hr />
    </div>
  </div>
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-4 mdc-layout-grid__cell-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Eligibility-RGB-04.png" alt="Eligibility illustration" class="responsive-img" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <h1>Eligibility</h1>
      <p>
        Who can sign the Charter?
      </p>
      <p>
        Any organisation from the public, private or third sectors can sign the Charter. Big or small, Scotland-based or international – as long as your organisation operates in Scotland, you can sign.
      </p>
      <p>
        All we ask is that you make a commitment to digital participation. That could mean a plan to skill up your own workforce, an offer you’re making to the wider community, a commitment to building essential digital skills for your tenants, clients or service users, or whatever fits best for your organisation. We’re happy to work with you to find out what might work best. You can see <a href="/stories">case study examples</a> of what some other organisations have done, or you can <a href="/contact-us">contact us</a> for more information.
      </p>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Eligibility-RGB-04.png" alt="Eligibility illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell-4-phone">
      <hr />
    </div>
  </div>
  <div class="mdc-layout-grid__inner description">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell-4-phone">
      <a href="/sign-up/start" class="mdc-button mdc-button--raised">Okay, let's get started</a>
      <hr />
    </div>
  </div>
</div>
