<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
      <h1>The Essentials</h1>
      <p>
        Essential digital skills can mean different things to different folk.
        From learning new skills to access on-line services to developing
        your staff and driving your company. Our framework for essential digital
        skills is a handy tool to kickstart your thinking on how you might
        begin to put your digital charter pledges into action.
      </p>
      <h4>
        <a href="https://storage.googleapis.com/scvo-cms/scvo-cms/wp-content/uploads/2018/09/EDS-Toolkit.pdf">
          Download our Essential Digital Skills Toolkit
          <i class="material-icons">arrow_forward</i>
        </a>
      </h4>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Back-The-Basics-RGB-04.png" alt="The Essentials illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-2-tablet">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Back-The-Basics-RGB-04.png" alt="The Essentials illustration" class="responsive-img" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h1 id="digital_skills">Digital Skills</h1>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <span class="number">1</span>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-2-phone">
      <h3>
        Foundation Skills
      </h3>
    </div>
    <div class="mdc-layout-grid__cell hide-on-med-and-up mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/foundations">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-4-phone">
      <!-- <p>
      </p> -->
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/foundations">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <span class="number">2</span>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-2-phone">
      <h3>
        Communicating
      </h3>
    </div>
    <div class="mdc-layout-grid__cell hide-on-med-and-up mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/communicating">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-4-phone">
      <p>
        Communicate, collaborate, and share
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/communicating">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <span class="number">3</span>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-2-phone">
      <h3>
        Handling information and content
      </h3>
    </div>
    <div class="mdc-layout-grid__cell hide-on-med-and-up mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/handling-info">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-4-phone">
      <p>
        Find, manage and store digital information and content securely
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/handling-info">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <span class="number">4</span>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-2-phone">
      <h3>
        Transacting
      </h3>
    </div>
    <div class="mdc-layout-grid__cell hide-on-med-and-up mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/transacting">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-4-phone">
      <p>
        Register and apply for services, buy and sell goods and services, and administer and manage transactions online
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/transacting">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <span class="number">5</span>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-2-phone">
      <h3>
        Problem solving
      </h3>
    </div>
    <div class="mdc-layout-grid__cell hide-on-med-and-up mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/problem-solving">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-4-phone">
      <p>
        Find solutions to problems using digital tools and online services
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/problem-solving">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <span class="number">6</span>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-2-phone">
      <h3>
        Being safe and legal online
      </h3>
    </div>
    <div class="mdc-layout-grid__cell hide-on-med-and-up mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/safety">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-4-phone">
      <p>
        Aware of how all digital activity leaves a trace online; identify malicious websites and associated scams; manage passwords well to avoid identity and data theft
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <a href="skill-up/safety">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="margin-bottom" />
    </div>
  </div>

  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-3-tablet">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Why-It-Matters-RGB-04.png" alt="Why It Matters? illustration" class="responsive-img" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h1>Why It Matters?</h1>
      <p>
        Across Scotland, around 800,000 adults don’t have the essential digital skills they need to use the internet effectively. If this were just a case of missing out on a few distracting websites and celebrity tweets then we might think nothing more of it. But the stakes are so much higher. Amongst other things, the internet helps people keep in touch, learn new things, save money, find work and stay healthy. For some people it’s been a genuine life saver. These things matter to everyone, and they should be for everyone.
      </p>
      <p>
        Research shows that the people offline are more likely to be facing other forms of exclusion and inequality. They may be older, have a disability or low income. Evidence also tells us that developing the motivation and skills are just as important as enabling access to equipment and broadband connections. Supporting more people to go online and develop essential digital skills is crucial to ensure existing inequalities are not increased.
      </p>
      <p>
        Digital is also becoming increasingly seen as a primary route for engagement and activity across government and business. UK, national and local government are investing significantly in enhancing digital infrastructure and making public services ‘digital first’. This not only helps to meet citizens’ expectations of how they should be able to engage with services in the Internet era, but also offers big opportunities to reduce costs while increasing efficiency and effectiveness.
      </p>
      <p>
        So the need for investment in essential digital skills for everyone is clear. We want Scotland to become a world-leading digital nation by 2020 – and we’re asking you to join us in making that happen.
      </p>
    </div>
  </div>
</div>
