<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-desktop">
      <h1>Stories</h1>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="margin-top" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
      <h3>
        Department for International Development
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone hide-on-med-and-up">
      <h3>
        <a href="/stories/department-for-international-development-dfid">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-7-tablet">
      <p>
        “Back then, it was clear that digital was becoming essential to increase the department’s capabilities.” <a href="/stories/department-for-international-development-dfid">Read more&hellip;</a>
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet">
      <h3>
        <a href="/stories/department-for-international-development-dfid">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
      <h3>
        Govan Housing Association
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone hide-on-med-and-up">
      <h3>
        <a href="/stories/govan-housing-association">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-7-tablet">
      <p>
        “Committed to increasing people’s quality of life using digital technology as a driver for education, employment, social integration, financial inclusion and general health and wellbeing” <a href="/stories/govan-housing-association">Read more&hellip;</a>
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet">
      <h3>
        <a href="/stories/govan-housing-association">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
      <h3>
        Cre8te Opportunities Limited
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone hide-on-med-and-up">
      <h3>
        <a href="/stories/cre8te-opportunites">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-7-tablet">
      <p>
        “Giving people the skills they are expected to have automatically by the welfare system enables them to meet Jobcentre expectations &amp; help avoid the possibility of sanctions, which are having a major impact on people living in poverty” <a href="/stories/cre8te-opportunites">Read more&hellip;</a>
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet">
      <h3>
        <a href="/stories/cre8te-opportunites">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
      <h3>
        Glasgow Life
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone hide-on-med-and-up">
      <h3>
        <a href="/stories/glasgow-life">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-7-tablet">
      <p>
        “Our frontline staff have the skills and knowledge to weave relevant digital learning elements into the work they are already doing with harder to reach groups” <a href="/stories/glasgow-life">Read more&hellip;</a>
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet">
      <h3>
        <a href="/stories/glasgow-life">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner expand skills">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
      <h3>
        Queens Cross Housing Association
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone hide-on-med-and-up">
      <h3>
        <a href="/stories/queens-cross">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-7-tablet">
      <p>
        “We worked to engage older people with the internet” <a href="/stories/queens-cross">Read more&hellip;</a>
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet">
      <h3>
        <a href="/stories/queens-cross">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
</div>
