<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone grid-info v-margin">
  <div class="social">
    <p>
      <strong>Community Jobs Scotland is supported by</strong>
    </p>
    <a class="noext" href="http://gov.scot"><img class="alignnone size-full wp-image-23699" src="https://cms.scvo.org/wp-content/uploads/2018/01/Scot-Gov-Logo.jpg" alt="Scottish Government" width="300" /></a>
  </div>
</div>