<div class="static-sidebar">
  <h3>SCVO Information Service</h3>
  <p>
    Contact our information officers completely free of charge
  </p>
  <p>
    Freephone helpline: <a href="tel:+448001690022"><strong>0800 169 0022</strong></a><br />
    Email: <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>
  </p>
</div>