{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
<title>SCVO – Staff directory</title>
<meta property="og:title" content="SCVO – Staff directory" data-dynamic="true">
{{else}}
<title>SCVO – Scottish Council for Voluntary Organisations</title>
<meta property="og:title" content="SCVO – Scottish Council for Voluntary Organisations" data-dynamic="true">
{{/if ~}}