@import "./node_modules/material-components-web/material-components-web.scss";
@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url("//fonts.googleapis.com/icon?family=Material+Icons");

@import url('//fonts.googleapis.com/css?family=Roboto:300,400,700|Poppins:700|Open+Sans:400,600');

$unit: 1rem;

// Brand colours

$brand-typography:                  #022347;
$brand-primary:                     #a8b7ff;
$brand-charter:                     #ffa8b8;
$brand-signup:                      #6dede5;
// $brand-other:                       #fce882; // Brand Guidelines - too light
$brand-other:                       #fee972; // Templates-Desktop PDF
$brand-skills:                      #6beda0;

$toolbar-shadow-reverse: 0px -3px 5px -1px rgba(0, 0, 0, 0.2), 0px -5px 8px 0px rgba(0, 0, 0, 0.14), 0px -1px 14px 0px rgba(0, 0, 0, 0.12);

$mdc-theme-footer: #37474F;
$mdc-theme-footer-light: #455A64;
$mdc-theme-footer-dark: #263238;

// Base variables

$base-font-family:                  "Roboto", Helvetica, Arial, sans-serif;
$base-font-size:                    0.96rem;
$base-font-weight:                  300;
$base-line-height:                  1.5;

$heading-font-family:               "Poppins", Helvetica, Arial, sans-serif;
$heading-font-size:                 3rem;
$heading-font-weight:               700;
$heading-font-color:                #000000;

$footer-font-family:                "Open Sans", Helvetica, Arial, sans-serif;
$footer-font-size:                  1rem;
$footer-font-weight:                400;

$brand-border-width:                0.2rem;

:root {
  --mdc-layout-grid-margin-desktop: 0;
  --mdc-layout-grid-gutter-desktop: 0;
  --mdc-layout-grid-margin-tablet: 0;
  --mdc-layout-grid-gutter-tablet: 0;
  --mdc-layout-grid-margin-phone: 0;
  --mdc-layout-grid-gutter-phone: 0;
}

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $brand-typography;
  background-color: $mdc-theme-footer-dark;
}

h1, h2, h3, h4, h5, strong {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

p a {
  color: $brand-typography;
  text-decoration: underline;
  text-decoration-skip: ink;
}
h4 a {
  text-decoration: none;
}
.cookieinfo {
  box-shadow: $toolbar-shadow-reverse;
}

:focus {
  outline: none;
}
.pull-right {
  float: right;
}

.container-fluid {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.centre {
  text-align: center;
}

hr {
  background: transparent;
  border: none;
  border-bottom: $brand-border-width solid $brand-typography;
  margin: 3rem 0;
}

.row,
.nomargin {
  margin: 0;
}
.margin-bottom {
  margin-top: 0;
  margin-bottom: 3rem;
}
.margin-top {
  margin-top: 3rem;
  margin-bottom: 0;
}
.margin-bottom-none {
  margin-bottom: 0 !important;
}

.button-collapse {
  float: right;
}

html {
  --mdc-theme-primary: #{$brand-typography};
  overflow-y: scroll;
  height: 100%;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $brand-typography;
  background-color: $mdc-theme-footer-dark;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
header.mdc-toolbar {
  background-color: transparent;
  margin-bottom: $unit*2;
}
.mdc-temporary-drawer__header-content,
main {
  color: $brand-typography;
  background-color: white;
}
.mdc-temporary-drawer__header-content img.brand-logo-mobile {
  max-width: 100%;
}
.mdc-temporary-drawer__header:before {
  padding-top: 34%;
}
.mdc-list-item {
  direction: ltr;
  padding: 0;
}
main {
  padding-bottom: $unit;
}
a {
  text-decoration-skip: ink;
}
::-moz-selection {
  color: white;
  background: $brand-typography;
}
::selection {
  color: white;
  background: $brand-typography;
}

.container-fluid {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  // overflow: -webkit-paged-x;
  padding: $unit/2 0;
}
.mdc-toolbar {
  box-shadow: none;
  .container-fluid {
    border-bottom: 3px solid $brand-typography;
  }
  .mdc-toolbar__title {
    margin: 0;
    padding: $unit 0 $unit;
    position: relative;
    .brand-logo {
      display: block;
      font-size: 1.5rem;
      letter-spacing: -0.06rem;
      font-weight: $heading-font-weight;
      font-family: $heading-font-family;
      text-decoration: none;
      text-transform: uppercase;
      color: $brand-typography;
      span {
        display: block;
        line-height: 1.5rem;
      }
      .digital, .charter {
        margin-left: 0.5rem;
      }
      .participation::after {
        font-family: "Font Awesome\ 5 Pro";
        font-weight: bold;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        position: absolute;
        bottom: 1.4rem;
        right: 3.4rem;
        font-size: 1.7rem;
        content: "\f245";
      }
      .participation {
        background: white;
        border: $brand-border-width solid $brand-typography;
        border-radius: 0.15rem;
        padding: 0.1rem 0.33rem;
      }
    }
  }
  .mdc-toolbar__icon--menu {
    display: none;
    color: $brand-typography;
  }
  .mdc-toolbar__section--align-start {
    padding: 0;
  }
  .mdc-toolbar__section--align-end {
    padding: 0;
    float: right;
    margin: $unit*2.5 0 0;
  }
  .mdc-toolbar__section--align-end.mdc-toolbar__section--shrink-to-fit {
    margin-top: 0;
  }
  .mdc-tab-bar {
    margin: 0;
    height: auto;
    min-height: auto;
    // .mdc-tab:last-child {
    //     padding-right: 0;
    // }
    .mdc-tab {
      transition: 0.2s;
      margin: 0 0 0 .4rem;
      display: inline-block;
      height: auto;
      min-height: auto;
      line-height: $unit*1.5;
      letter-spacing: normal;
      min-width: 0;
      font-size: 1.4rem;
      border-radius: 0.15rem;
      padding: 0.1rem 0.5rem;
      text-transform: uppercase;
      border: $brand-border-width solid transparent;
      background: transparent;
    }
    .mdc-tab--active,
    .mdc-tab:hover {
      border: $brand-border-width solid $brand-typography;
      background: white;
      opacity: 1;
    }
    .mdc-tab,
    .mdc-tab:hover {
      color: $brand-typography;
    }
    .mdc-tab:not(.mdc-ripple-upgraded):active::after,
    .mdc-tab:not(.mdc-ripple-upgraded):focus::before, .mdc-tab.mdc-ripple-upgraded--background-focused::before,
    .mdc-tab:hover::before {
      opacity: 0;
    }
  }
}

.mdc-list-item--header:focus::before,
.mdc-list-item--header:focus::after,
.mdc-list-item--header:hover::before,
.mdc-list-item--header:hover::after,
.mdc-tab:active::before,
.mdc-tab:focus::before,
.mdc-tab:hover::before,
.mdc-button:not(.mdc-ripple-upgraded):active:after,
.mdc-button:not(.mdc-ripple-upgraded):focus:before,
.mdc-button:not(.mdc-ripple-upgraded):hover:before {
  opacity: 0;
  background-color: transparent;
}

main {
  background: $brand-primary;
}
.home {
  main {
    background: $brand-primary;
    background: -moz-linear-gradient(top, $brand-primary 10%, $brand-charter 90%);
    background: -webkit-linear-gradient(top, $brand-primary 10%, $brand-charter 90%);
    background: linear-gradient(to bottom, $brand-primary 10%, $brand-charter 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-primary', endColorstr='$brand-charter',GradientType=0 );
    .cta {
      .cta-left {
        margin-right: $unit/2;
      }
      .cta-right {
        margin-left: $unit/2;
      }
    }
  }
}
.stories {
  main {
    background: $brand-charter;
  }
}
.the-charter {
  main {
    background: $brand-charter;
    background: -moz-linear-gradient(top, $brand-charter 10%, $brand-other 70%);
    background: -webkit-linear-gradient(top, $brand-charter 10%, $brand-other 70%);
    background: linear-gradient(to bottom, $brand-charter 10%, $brand-other 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-charter', endColorstr='$brand-other',GradientType=0 );
  }
}
// main.signup {
//     background: $brand-signup;
// }
.sign-up {
  main {
    padding-bottom: 1rem;
    background: $brand-signup;
    background: -moz-linear-gradient(top, $brand-signup 10%, $brand-primary 90%);
    background: -webkit-linear-gradient(top, $brand-signup 10%, $brand-primary 90%);
    background: linear-gradient(to bottom, $brand-signup 10%, $brand-primary 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-signup', endColorstr='$brand-primary',GradientType=0 );
  }
}
// main.other {
//     background: $brand-other;
// }
.signatories,
.resources {
  main {
    background: $brand-other;
    background: -moz-linear-gradient(top, $brand-other 10%, $brand-skills 70%);
    background: -webkit-linear-gradient(top, $brand-other 10%, $brand-skills 70%);
    background: linear-gradient(to bottom, $brand-other 10%, $brand-skills 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-other', endColorstr='$brand-skills',GradientType=0 );
  }
}
// main.skills {
//     background: $brand-skills;
// }
.skill-up {
  main {
    background: $brand-skills;
    background: -moz-linear-gradient(top, $brand-skills 10%, $brand-primary 80%);
    background: -webkit-linear-gradient(top, $brand-skills 10%, $brand-primary 80%);
    background: linear-gradient(to bottom, $brand-skills 10%, $brand-primary 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-skills', endColorstr='$brand-primary',GradientType=0 );
  }
}

main {
  padding-bottom: 4rem;
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
    margin: 1rem 0 0;
  }
  img {
    max-width: 100%;
  }
  label {
    font-size: inherit;
    color: inherit;
  }
  ul li {
    list-style-type: disc;
  }
  ol {
    padding-left: 1rem;
    li {
      list-style-type: decimal;
    }
  }

  .sort {
    margin-top: 1.5rem;
  }
  .mdc-form-field.sort {
    margin-top: 1.35rem;
  }
  .mdc-select {
    background-image: none;
    background-color: white !important;
  }
  .mdc-select,
  .mdc-form-field {
    width: 100%;
  }
  .mdc-textfield__input,
  .mdc-select {
    font-size: 1.1rem;
    font-weight: bold;
    color: $brand-typography;
    line-height: 3rem;
    height: 3rem;
    background-color: white;
    padding: 0 $unit/2;
    border: $brand-border-width solid $brand-typography;
    border-radius: 0.15rem;
    max-width: 100%;
    letter-spacing: 0;
  }
  .sector .mdc-select {
    margin-right: $unit/2;
  }
  .mdc-textfield__input:focus,
  .mdc-select:focus {
    background-color: white;
    border-bottom-color: $brand-typography;
  }

  .form-group {
    input[type=text],
    input[type=search],
    .mdc-select,
    select,
    select:focus {
      font-size: 1.2rem;
      font-weight: bold;
      background: white;
      border: $brand-border-width solid $brand-typography;
      box-shadow: none;
      border-radius: 0.15rem;
      padding: 0.2rem 0.5rem;
      outline: none;
      // height: 2rem;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .form-group.sort {
    margin-top: -0.4rem;
  }

  .title {
    h1 {
      font-size: 5.4rem;
      line-height: 6.2rem;
      letter-spacing: -0.1rem;
      margin: 2rem 0 2rem;
      padding-right: 2rem;
    }
    img {
      margin-top: 2rem;
    }
    li {
      list-style-type: disc;
      margin-left: 1.5rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
    th {
      font-size: 1.4rem;
    }
    td {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  .description {
    position: relative;
    margin-bottom: 0;
    // .align-bottom {
    //     position: absolute;
    //     bottom: 0.5rem;
    //     left: 0.75rem;
    // }
    img {
      margin: 0 auto;
      padding: 1.5rem 8rem 0;
      margin-bottom: -6px;
    }
    h2 {
      font-size: 3.1rem;
      line-height: 3.5rem;
      margin: 4rem 0;
    }
    p {
      font-size: 1.4rem;
      font-weight: 400;
    }
    .mdc-button.mdc-button--raised {
      position: relative;
      margin: 3rem auto 6rem;
      padding: 0.8rem 0;
      height: auto;
      display: block;
      text-align: center;
      font-family: $heading-font-family;
      font-weight: $heading-font-weight;
      font-size: 1.6rem;
      line-height: normal;
      border-radius: 0;
      background-color: white;
      color: $brand-typography;
      border: $brand-border-width solid $brand-typography;
      box-shadow: -0.5rem 0.5rem 0 $brand-typography;
      min-width: 26rem;
      max-width: 60%;
    }
    .mdc-button:hover {
      color: $brand-typography;
    }
  }
  .description.commitments .mdc-button {
    margin: 1rem 0;
  }
  .title,
  .detail,
  .expand {
    p {
      font-size: 1.4rem;
      font-weight: 400;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    li,
    dt,
    dd {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
  .resources {
    h4 a {
      color: $brand-typography;
      text-decoration: underline;
      text-decoration-skip: ink;
      // opacity: 0.6;
      .material-icons {
        font-weight: bold;
        font-size: 2.2rem;
        position: absolute;
        margin-left: 0.5rem;
        margin-top: 0.1rem;
      }
    }
  }
  .expand {
    margin-bottom: 0;
    h1 {
      font-size: 5rem;
    }
    h3 {
      padding: 2.5rem 0;
      a {
        display: block;
        color: $brand-typography;
        font-weight: bold;
        float: right;
      }
      .material-icons {
        font-weight: bold;
        font-size: 2.7rem;
        float: right;
      }
      .number {
        display: block;
        text-align: center;
        background: #fff;
        border-radius: 3rem;
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        border: $brand-border-width solid $brand-typography;
        margin-top: -0.333rem;
      }
    }
    h4 {
      margin: 0;
      position: relative;
      a {
        padding: 1rem 0;
        display: block;
        color: $brand-typography;
        font-weight: bold;
        font-size: 1.5rem;
        .text {
          width: 77%;
          display: block;
        }
        .material-icons {
          font-weight: bold;
          position: absolute;
          top: 0.8rem;
          right: 0.05rem;
          font-size: 2.7rem;
        }
      }
    }
    p {
      margin: 0;
      padding: 2.5rem 0;
      a {
        display: inline-block;
        color: $brand-typography;
        font-weight: normal;
      }
    }
  }
  .skills.expand {
    p {
      padding-left: 2rem;
    }
  }
  .pledges h1 {
    margin-top: 10.4rem;
  }
  .detail.title {
    h2 {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
  }
  .detail {
    h3 {
      padding-bottom: 0;
      .number {
        display: inline-block;
        border-color: white;
        background-color: $brand-typography;
      }
    }
    h1 a,
    h4 a {
      color: white !important;
      text-decoration: underline;
      text-decoration-skip: ink;
    }
    .content {
      margin-top: 2rem;
    }
    dl {
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0 0 1rem;
    }
    dt {
      float: left;
      width: 50%;
      padding: 0 2rem 0 0;
      margin: 0;
    }
    dd {
      float: left;
      width: 50%;
      padding: 0;
      margin: 0;
    }
    li {
      list-style-type: none;
    }
    li,
    dt,
    dd,
    p {
      color: white;
      // padding: 1rem 0 0;
      a {
        color: white;
        text-decoration: underline;
        text-decoration-skip: ink;
      }
    }
    .expand {
      h3 {
        padding: 0;
      }
      a {
        color: white;
      }
    }
  }
  .detail .collapsible {
    border: none;
    box-shadow: none;
    width:100%;
    .collapsible-header {
      opacity: 0.5;
      background-color: inherit;
      border: none;
      padding: 1.5rem 0 0.5rem;
      width:100%;
    }
    .collapsible-header.active {
      opacity: 1;
    }
    .collapsible-body {
      color: white;
      padding: 1rem 2rem;
      border: none;
      width:100%;
      ul {
        padding: 0.5rem 0;
        border-top: $brand-border-width solid white;
        border-bottom: $brand-border-width solid white;
        li {
          font-size: 1.4rem;
          list-style-type: disc;
          margin-left: 1.5rem;
        }
      }
    }
  }
  .paging {
    h3 {
      text-align: center;
      a {
        text-decoration: none;
        float: none;
        display: inline-block;
        .number {
          border-color: white;
        }
      }
      a:hover .number,
      a.active .number {
        background-color: $brand-typography;
        color: white;
        border-color: white;
      }
    }
  }
  .pledge h3 {
    margin: 0.75rem 0;
  }
  .pledge p {
    margin: 0.5rem 0;
  }
  .skills h3 {
    margin: 0;
  }
  .signatory-logo-background {
    padding-left: $unit*2;
    p {
      padding: 1rem 1rem 0.25rem;
      background: white;
      text-align: center;
      border: $brand-border-width solid $brand-typography;
    }
    img {
      margin: 0;
    }
  }
  .signatory-detail {
    p {
      margin: 0 0 1rem;
    }
  }
  .digital-charter-signatory {
    margin: 0 auto;
    h4 {
      margin-bottom: 0.5rem;
    }
  }
  .form {
    iframe {
      display: block;
      margin: 0 auto;
    }
  }
}

// .mdc-button {
//     background-color: white !important;
//     border: 2px solid $brand-typography;
//     color: $brand-typography !important;
//     text-transform: none;
//     line-height: 1.75rem;
//     font-size: 1.25rem;
//     text-align: center;
//     display: block;
//     width: 50%;
//     margin: 0 auto;
//     padding: 10px 15px;
//     height: auto;
// }

.mdc-tab,
h1,
h2,
h3,
h4 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $brand-typography;
}
.mdc-top-app-bar__navigation-icon,
.mdc-toolbar__icon,
a {
  color: $brand-typography;
}

p, li, div {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
}
p.quote {
  text-align: center;
  font-size: 1.3rem;
}

.mdc-toolbar__icon {
  float: right;
}

hr {
  background: transparent;
  border: none;
  border-bottom: $brand-border-width solid $brand-typography;
  margin: 3rem 0;
}

.signatories main {
  form {
    margin-bottom: $unit*2;
    .mdc-textfield {
      position: relative;
      margin-right: $unit/2;
      .mdc-textfield__input {
        margin-right: 1rem;
        box-sizing: border-box;
        padding: 0 $unit*2.5 0 $unit/2;
        width: 100%;
      }
      .search-button-large {
        padding: 1px 0 0;
        position: absolute;
        top: 0;
        right: 0;
        .fa-search {
          color: $brand-typography;
        }
      }
    }
  }
  h1 {
    font-size: 5.3rem;
    line-height: 5.5rem;
    letter-spacing: -.1rem;
    margin: 2rem 0 2rem;
    padding-right: 2rem;
    .small {
      font-size: 3.8rem;
      letter-spacing: -.15rem;
    }
  }
  h4 {
    margin: 1.5rem 0 0.25rem;
    font-size: 1.8rem;
  }
  h4.sort {
    text-align: right;
    margin-right: $unit/2;
  }
  .digital-charter-signatory {
    h3 {
      margin: $unit 0;
    }
  }
  .signatory {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 12rem;
    // margin: 0 -0.75rem;
    // padding: $unit;
    // vertical-align: middle;
    a {
      padding: $unit*(3/4);
      max-width: 100%;
      width: 12rem;
      display: block;
      vertical-align: middle;
      position: relative;
      text-align: center;
      overflow: hidden;
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
      .title {
        margin-top: $unit;
        display: block;
      }
    //   color: $brand-typography;
    //   span {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     margin-top: 3rem;
    //     text-align: center;
    //     display: block;
    //     width: 100%;
    //     font-weight: bold;
    //     font-size: 1.1rem;
    //     color: $brand-typography;
    //   }
      img.resize-fit-center {
        max-width: 90%;
        max-height: 90%;
        vertical-align: middle;
      }
    }
  }

  .signatory {
    border: $brand-border-width solid $brand-typography;
    border-right: none;
    border-bottom: none;
  }
  .signatory:nth-child(4n + 1) {
    border-left: none;
    .inner {
      padding-left: 0;
    }
  }
  .signatory:nth-child(4n + 4) {
    border-right: none;
    padding-right: 0;
    .inner {
      margin-right: 0;
    }
  }
  .signatory:nth-child(4n+1):nth-last-child(-n+4),
  .signatory:nth-child(4n+1):nth-last-child(-n+4) ~ .mdc-layout-grid__cell--span-3-desktop {
    border-bottom: $brand-border-width solid $brand-typography;
  }
}

// Pagination ==================================================================

.pagination {
  text-align: center;
  display: block !important;
  padding-top: $unit !important;
  margin-top: 3rem;
  list-style-type: none;
  li a,
  li.active a {
    cursor: pointer;
    color: $brand-typography;
    font-weight: 400;
    text-decoration: none;
  }
  li.active {
    background-color: $brand-primary;
  }
  li.disabled a {
    color: inherit;
    opacity: 0.5;
  }
  li {
    display: inline-block;
    padding: 0 !important;
    height: $unit*2.5;
    width: $unit*2.5;
    border-radius: 50%;
    margin: 0 $unit/5;
    vertical-align: bottom;
    a {
      font-size: 1.3rem;
      line-height: $unit*2.5;
      height: $unit*2.5;
      width: $unit*2.5;
      color: $brand-typography;
      padding: 0;
      margin: 0;
      font-weight: 600;
      display: block;
    }
    a.pagination-arrow {
      color: $brand-typography;
      vertical-align: middle;
    }
  }
  li.disabled a.pagination-arrow {
    cursor: default;
    pointer-events: none;
    color: $brand-typography;
  }
  li:first-child a {
    padding-left: 0;
  }
  li:last-child a {
    padding-right: 0;
  }
  li.current-page {
    background-color: $brand-typography;
    border-radius: 50%;
    a {
      color: white;
    }
  }
  li:hover:not(.disabled),
  li.current-page:hover {
    background-color: $brand-typography;
    a {
      color: white;
      text-decoration: none;
    }
  }
  li.disabled:hover {
    background-color: inherit !important;
  }
}

footer {
  --mdc-layout-grid-margin-desktop: 1rem;
  --mdc-layout-grid-gutter-desktop: 1rem;
  --mdc-layout-grid-margin-tablet: 1rem;
  --mdc-layout-grid-gutter-tablet: 1rem;
  --mdc-layout-grid-margin-phone: 1rem;
  --mdc-layout-grid-gutter-phone: 1rem;
  color: white;
  background-color: $mdc-theme-footer-dark;
  p, li, div {
    font-family: $footer-font-family;
    font-weight: $footer-font-weight;
    font-size: 1.05rem;
  }
  h3, a, strong {
    font-family: $footer-font-family;
    font-weight: 600;
  }
  .container-fluid {
    position: relative;
  }
  .footer-main {
    padding: 0 0 $unit/2;
    border-top: $unit solid $brand-typography;
    background-color: $mdc-theme-footer;
    // background-image: linear-gradient(
    // -120deg,
    // $scvo-background,
    // $scvo-background $unit*2,
    // $brand-signup $unit*2.05,
    // $brand-signup $unit*2.5,
    // $brand-charter $unit*2.55,
    // $brand-charter $unit*3,
    // $brand-skills $unit*3.05,
    // $brand-skills $unit*3.5,
    // $brand-other $unit*3.55,
    // $brand-other $unit*4,
    // white $unit*4.05,
    // white $unit*4.5,
    // $brand-typography $unit*4.55,
    // $brand-typography
    // );
    box-shadow: $toolbar-shadow-reverse;
    // border-top: $unit*(0.6) solid white;
    // background-image: linear-gradient(160deg, $brand-typography, $brand-typography 60%, $scvo-background 110%, $scvo-background);
  }
  h3 {
    font-size: 1.2rem;
    margin: $unit 0;
    padding-bottom: $unit/2;
    border-bottom: $unit/5 solid $mdc-theme-footer-light;
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
    // font-weight: 400;
  }
  a:hover {
    color: white;
    text-decoration: underline;
  }
  .mdc-list .mdc-list-item a:hover {
    text-decoration: underline !important;
  }
  .brand-logo {
    display: block;
    text-align: right;
    img {
      margin-bottom: 0;
    }
  }
  .mdc-layout-grid {
    padding: 0;
    margin-bottom: 0;
    p {
      margin: 0 0 0.8rem;
    }
  }
  .fa-ul {
    margin: 0 0 0 $unit*2;
    li a {
      text-decoration: none;
    }
    li a:hover {
      text-decoration: underline;
    }
  }
  ul {
    margin-bottom: $unit !important;
  }
  .mdc-layout-grid p {
    margin-bottom: 0;
  }
  .mdc-list {
    padding: 0;
    .mdc-list-item {
      height: $unit*1.5;
      a {
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  .footer-copyright {
    background-color: $mdc-theme-footer-dark;
    padding-bottom: $unit/2;
    p {
      font-size: 0.9rem;
      margin: 0.7rem 0 0;
    }
  }
  .logo.scvo {
    position: absolute;
    height: 45px;
    bottom: 0.7rem;
    right: 0;
  }
  .logo.digital-scotland {
    height: 50px;
    position: absolute;
    bottom: 0.7rem;
    right: 170px;
  }
  .menu ul {
    margin-top: 0;
  }
}

.mdc-temporary-drawer {
  display: block;
  .mdc-temporary-drawer__header-content {
    direction: ltr;
    padding: $unit;
  }
  .mdc-temporary-drawer__header:before {
    padding-top: 24%;
  }
  .mdc-list-group {
    direction: ltr;
    .mdc-list {
      .mdc-list-item {
        direction: ltr;
        padding: 0 $unit;
      }
      .mdc-list-item__start-detail {
        display: none;
      }
    }
  }
}

.mdc-temporary-drawer__drawer {
  display: -webkit-box !important;
  -webkit-transition: all .195s ease !important;
  -webkit-transform: translateX(400px) !important;
}
.mdc-temporary-drawer--open {
  .mdc-temporary-drawer__drawer {
    -webkit-transform: none !important;
  }
}

.hide-lg,
.mdc-temporary-drawer__header,
.hide-on-med-and-up {
  display: none;
}


.resources.support,
.resources.help-others,
.resources.reports,
.resources.logos,
.stories.department-for-international-development-dfid,
.stories.govan-housing-association,
.stories.cre8te-opportunites,
.stories.glasgow-life,
.stories.queens-cross,
.skill-up.foundations,
.skill-up.communicating,
.skill-up.handling-info,
.skill-up.transacting,
.skill-up.problem-solving,
.skill-up.safety {
  main {
    background: $brand-typography;
    hr {
      border-bottom-color: white;
    }
    .mdc-top-app-bar__navigation-icon,
    #menu_button,
    h1, h2, h3, h4, p {
      color: white;
    }
    header {
      .brand-logo {
        color: white;
        .participation {
          background-color: $brand-typography;
          border-color: white;
        }
        .participation::after {
          color: white;
          text-shadow: 0.1rem 0 0 $brand-typography, 0 -0.1rem 0 $brand-typography, 0 0.1rem 0 $brand-typography, -0.1rem 0 0 $brand-typography;
        }
      }
      .button-collapse {
        color: white;
      }
      .mdc-tab-bar {
        .mdc-tab {
          color: white;
        }
        .mdc-tab:hover,
        .mdc-tab--active {
          background-color: $brand-typography;
          border-color: white;
          opacity: 1;
        }
      }
    }
  }
  footer .footer-main {
    border-top-color: white !important;
  }
}


@media only screen and (max-width: 1245px) {
  .mdc-tab-bar .mdc-tab {
    font-size: 1.35rem;
  }
  .mdc-tab-bar .mdc-tab--active, .mdc-tab-bar .mdc-tab:hover {
    padding: 0.15rem 0.55rem;
  }
}
@media only screen and (max-width: 1138px) {
  .mdc-tab-bar .mdc-tab {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 1076px) {
  nav {
    height: 7rem;
    margin-top: 0;
    .page-header {
      padding-top: 0.8rem;
    }
  }
  .mdc-tab-bar .mdc-tab {
    font-size: 1.15rem;
  }
  main .title h1 {
    font-size: 4.7rem;
    line-height: 5rem;
  }
}
@media only screen and (max-width: 1014px) {
  .mdc-tab-bar .mdc-tab {
    font-size: 1.05rem;
  }
}
@media only screen and (max-width: 992px) {
  .mdc-temporary-drawer {
    display: block;
  }
  .side-nav {
    display: block;
  }
  .margin-top {
    margin-top: 1.8rem;
  }
  .margin-bottom {
    margin-bottom: 1.8rem;
  }
  hr {
    margin: 2rem 0;
  }
  nav {
    // height: 110px;
    // .page-header {
    //     position: fixed;
    //     display: block;
    //     width: 100%;
    //     z-index: 100;
    // }
    .brand-logo {
      left: 0.75rem;
      transform: none !important;
    }
  }
  main {
    .title {
      h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      p, li, th, td {
        font-size: 1.25rem;
      }
      img {
        margin: 1rem 0 0;
      }
    }
    .description {
      h1 {
        margin: 0;
      }
      h2 {
        font-size: 2.2rem;
        margin: 0;
      }
      p {
        font-size: 1.25rem;
      }
      img {
        padding: 0 1rem 0;
        margin-bottom: -7px;
      }
      .mdc-button {
        margin: 3rem 0;
      }
    }
    .expand {
      h1 {
        font-size: 3rem;
      }
      h3 .number {
        height: 4rem;
        width: 4rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
    .detail .collapsible .collapsible-body ul li {
      font-size: 1.25rem;
    }
    .detail,
    .pledge {
      p {
        font-size: 1.25rem;
      }
    }
    .resources h4 a .material-icons {
      font-size: 1.5rem;
      margin-left: 0.35rem;
    }
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.8rem;
    }
    h4 {
      font-size: 1.5rem;
    }
  }
  footer {
    .footer-copyright a {
      display: inline-block;
    }
    .logo.scvo,
    .logo.digital-scotland {
      position: relative !important;
      bottom: 0;
      right: 0;
    }
  }
}

@media screen and (max-width: 1180px) {
  .mdc-toolbar {
    .mdc-tab-bar {
      display: none;
    }
    .hide-lg {
      display: block;
    }
    .mdc-toolbar__icon--menu {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
    }
    .mdc-toolbar__icon--menu:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .mdc-toolbar {
    .mdc-toolbar__title {
      .brand-logo {
        .brand-logo-mobile {
          display: block;
          max-width: 100%;
        }
        .brand-logo-desktop {
          display: none;
        }
      }
    }
  }
  .mdc-button {
    width: 100%;
  }
  .pagination {
    padding: 0;
  }
}

@media only screen and (max-width: 839px) {
  .margin-top {
    margin-top: 1.5rem;
  }
  .margin-bottom {
    margin-bottom: 1.5rem;
  }
  .header-container {
    margin-bottom: 0;
  }
  hr {
    margin: 1rem 0;
  }
  hr.pledges {
    margin: 4rem 0 0;
  }
  .primary-gradient main .title h1 {
    margin-top: 1rem;
  }
  .signatories main {
    h1 {
      font-size: 2.2rem;
      line-height: 2.2rem;
      margin: 0;
      padding: 0;
      .small {
        font-size: 1.8rem;
      }
    }
    h4 {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
    .mdc-form-field.sort {
      margin: 0;
      .mdc-select {
        margin-top: 0.5rem;
      }
    }
  }
  main {
    .title {
      h1 {
        font-size: 2.2rem;
        line-height: 2.2rem;
        letter-spacing: inherit;
        margin: 0;
      }
      h2 {
        font-size: 1.8rem;
      }
      p, li, th, td {
        font-size: 1.1rem;
        margin-bottom: 0;
      }
    }
    .description {
      h1 {
        font-size: 2.6rem;
      }
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.1rem;
      }
      .mdc-button {
        margin: 0 auto 0.5rem;
        font-size: 1.3rem;
        width: 90%;
      }
      .mdc-button.mdc-button--raised {
        min-width: 0;
        max-width: 86%;
        font-size: 1.2rem;
      }
    }
    .expand {
      h1 {
        font-size: 2.6rem;
        margin-top: 0.5rem;
      }
      h3 {
        padding: 1.5rem 0 0;
        font-size: 1.5rem;
        .number {
          height: 2.9rem;
          width: 2.9rem;
          line-height: 2.75rem;
          margin-top: -0.5rem;
        }
      }
      h4 {
        font-size: 1.2rem;
        a {
          font-size: 1.2rem;
        }
      }
      p {
        padding: 0.5rem 0 1rem;
        font-size: 1.1rem;
      }
    }
    .detail,
    .pledge {
      h3,
      p {
        margin: 0;
      }
      p {
        font-size: 1.1rem;
      }
    }
    .resources {
      h3 {
        font-size: 1.3rem;
        margin-bottom: 0.1rem;
      }
      h4 {
        font-size: 1.1rem;
        margin-top: 0.5rem;
        a .material-icons {
          font-size: 1rem;
          margin-left: 0.2rem;
        }
      }
    }
    .detail .collapsible .collapsible-body {
      padding: 0.5rem 0 0 1.2rem;
      ul li {
        font-size: 1.1rem;
      }
    }
    .form-group {
      input[type=text],
      input[type=search],
      .mdc-select,
      select,
      select:focus {
        font-size: 1rem;
        padding: 0.2rem;
      }
    }
  }
  main .signatories {
    .inner a {
      height: 7rem;
      line-height: 7rem;
    }
    .signatory:nth-child(3n + 1) {
      padding-left: 0;
      padding-right: 0;
      .inner {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .signatory:nth-child(3n + 3) {
      // border-left: none;
      padding-left: 0;
      padding-right: 0;
      .inner {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .signatory:nth-child(2n + 1) {
      border-left: none;
      // margin-right: -0.75rem;
      padding-left: 0;
      padding-right: 0;
      .inner {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .signatory:nth-child(2n + 2) {
      border-left: $brand-border-width solid $brand-typography;
      padding-left: 0;
      padding-right: 0;
      .inner {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .signatory:nth-child(4n+1):nth-last-child(-n+4),
    .signatory:nth-child(4n+1):nth-last-child(-n+4) ~ .mdc-layout-grid__cell--span-3-desktop {
      border-bottom: none;
    }
    .signatory:nth-child(3n+1):nth-last-child(-n+3),
    .signatory:nth-child(3n+1):nth-last-child(-n+3) ~ .mdc-layout-grid__cell--span-3-desktop {
      border-bottom: none;
    }
    .signatory:nth-child(2n+1):nth-last-child(-n+2),
    .signatory:nth-child(2n+1):nth-last-child(-n+2) ~ .mdc-layout-grid__cell--span-3-desktop {
      border-bottom: $brand-border-width solid $brand-typography !important;
    }
  }
  .pagination {
    padding: 0 !important;
    margin: 1rem 0 0;
  }
  .pagination-distance-9,
  .pagination-distance-8,
  .pagination-distance-7,
  .pagination-distance-6,
  .pagination-distance-5 {
    display: none !important;
  }
  .footer .container-fluid {
    .logo.scvo,
    .logo.digital-scotland {
      position: relative;
      margin-top: 1.5rem;
      bottom: auto;
      right: auto;
    }
  }
}

@media screen and (max-width: 479px) {
  .hide-on-med-and-up {
    display: block;
  }
  .hide-on-small-only {
    display: none;
  }
  .pagination-distance-3,
  .pagination-distance-4 {
    display: none !important;
  }
  main {
    .signatory-logo-background {
      padding-left: 0;
    }
    .signatories {
      .signatory:nth-child(2n+1):nth-last-child(-n+2) {
        border-bottom: none !important;
      }
      .signatory:nth-child(2n + 2) {
        border-left: none;
      }
    }
  }
}

::-moz-selection {
  color: white;
  background: $brand-typography;
}
::selection {
  color: white;
  background: $brand-typography;
}
::-webkit-input-placeholder {
  color: #777;
}
::-ms-input-placeholder {
  color: #777;
}
::-moz-placeholder {
  color: #777;
}
