$mdc-theme-primary: #178737;
$mdc-theme-primary-light: #6CC439;
$mdc-theme-primary-dark: #0E5D24;

$mdc-theme-complimentary: #c6dabf;
$mdc-theme-complimentary-light: #ecf2e9;
$mdc-theme-complimentary-dark: #d9e6d4;

$mdc-theme-secondary: #E0E0E0; // Gray 300
$mdc-theme-secondary-light: #F5F5F5; // Gray 100
$mdc-theme-secondary-dark: #212121; // Gray 900

$mdc-theme-footer: #37474F; // Blue Gray 800
$mdc-theme-footer-light: #455A64; // Blue Gray 700
$mdc-theme-footer-dark: #263238; // Blue Gray 900

$mdc-theme-error: #a93f34;

$mdc-theme-tfn: #3b9db1;

$base-font-family:                  "Open Sans", Helvetica, Arial, sans-serif;
$base-font-weight:                  400;

$heading-font-family:               "Montserrat", Helvetica, Arial, sans-serif;
$heading-font-weight:               700;
$heading-medium-font-weight:        600;
$heading-light-font-weight:         500;

$footer-font-family:                "Open Sans", Helvetica, Arial, sans-serif;
$footer-font-weight:                400;

$unit: 1rem;
$header-upper-height: 100px;
$toolbar-shadow-reverse: 0px -3px 5px -1px rgba(0, 0, 0, 0.2), 0px -5px 8px 0px rgba(0, 0, 0, 0.14), 0px -1px 14px 0px rgba(0, 0, 0, 0.12);
$header-lower-height: 38px;

$mobile-breakpoint: 599px;
$mobile-landscape-breakpoint: 959px;
$desktop-landscape-breakpoint: 1280px;

@import "./node_modules/material-components-web/material-components-web.scss";
@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('//fonts.googleapis.com/css?family=Montserrat:500,600,700|Open+Sans:400,500,600');

body {
  background-color: $mdc-theme-footer-dark;
  word-break: break-word;
  -webkit-tap-highlight-color: transparent;
}
.mdc-theme--background {
  background-color: $mdc-theme-secondary-light !important;
}
.mdc-toolbar-fixed-adjust {
  margin: 0;
  padding-top: $header-upper-height+$header-lower-height;
}
.mdc-top-app-bar {
  background-color: white;
  z-index: 5 !important;
}
h1,
h2,
h3,
h4 {
  margin-bottom: $unit/2;
  font-family: $heading-font-family, $base-font-family, Helvetica, Arial, sans-serif;
  font-weight: $heading-font-weight;
  letter-spacing: -0.03rem;
  strong {
    font-weight: $heading-font-weight;
  }
}
.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

header {
  .container-fluid {
    padding: 0;
    .mdc-top-app-bar__section--align-end {
      padding-right: $unit/2 !important;
    }
    .mdc-top-app-bar__title.hide-sm {
      width: 12rem;
      height: 100%;
      a {
        height: 100%;
        width: 100%;
      }
    }
    .mdc-top-app-bar__title {
      padding: 0;
      margin: 0 $unit;
      display: block;
      .brand-text {
        font-weight: $heading-font-weight;
        font-family: $heading-font-family;
        letter-spacing: -0.2rem;
        font-size: 3rem;
        line-height: 4rem;
        .scotland {
          letter-spacing: -0.25rem;
          font-weight: $heading-light-font-weight;
          margin-left: -$unit/3;
        }
      }
      a {
        display: block;
      }
      a:hover {
        text-decoration: none;
      }
      svg {
        margin-left: $unit;
        margin-top: $unit*(3/4);
      }
      .tagline {
        color: white;
        text-transform: lowercase;
        position: absolute;
        bottom: 1px;
        left: 0;
        display: none;
      }
    }
    .mdc-top-app-bar__upper .mdc-top-app-bar__section--align-start {
      background-image: url('https://storage.googleapis.com/scvo-assets/assets/images/fs-legacy-logo.png');
      background-repeat: no-repeat;
      background-position: $unit (-$unit*3.25);
      .mdc-top-app-bar__title .brand-text {
        display: none;
      }
    }
    .mdc-top-app-bar__row.mdc-top-app-bar__upper {
      height: $header-upper-height;
    }
    .mdc-top-app-bar__row.mdc-top-app-bar__lower {
      height: $header-lower-height;
    }
    .mdc-top-app-bar__lower .mdc-top-app-bar__section--align-start {
      background-image: linear-gradient(60deg, $mdc-theme-primary-dark, $mdc-theme-primary-dark 220px, $mdc-theme-primary 221px, $mdc-theme-primary);
    }
    .mdc-top-app-bar__lower .mdc-top-app-bar__section--align-end {
      background-color: $mdc-theme-primary;
    }
    .mdc-tab-bar {
      overflow: hidden;
      text-transform: none;
      height: $header-lower-height;
      margin: 0;
      .mdc-tab {
        background-color: transparent;
        color: $mdc-theme-primary;
        font-size: 1rem;
        min-height: $header-lower-height;
        height: $header-lower-height;
        font-weight: 600;
        padding: 0 $unit/2;
        .mdc-tab--label {
          line-height: $header-lower-height - 4px;
          height: $header-lower-height - 4px;
          display: block;
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;
        }
      }
      .mdc-tab::after {
        display: none;
      }
    }
    #main-tab-bar {
      .mdc-tab:first-child {
        padding-left: $unit;
      }
    }
    #main-tab-bar,
    #user-not-signed-in-tab-bar,
    #main-extra-tab-bar {
      .mdc-tab {
        color: white;
      }
      .mdc-tab:hover .mdc-tab--label {
        border-bottom-color: rgba(255, 255, 255, 0.6);
      }
      .mdc-tab.mdc-tab--active .mdc-tab--label {
        border-bottom-color: rgba(255, 255, 255, 0.9);
      }
    }
    #upper-tab-bar {
      .mdc-tab {
        min-width: auto;
        font-weight: 600;
      }
      .mdc-tab:hover .mdc-tab--label {
        border-bottom-color: $mdc-theme-primary;
      }
      .mdc-tab.mdc-tab--active .mdc-tab--label {
        border-bottom-color: $mdc-theme-primary;
      }
    }
    .mdc-top-app-bar__navigation-icon {
      color: $mdc-theme-primary;
    }
    .mdc-top-app-bar__main,
    .mdc-top-app-bar__user {
      .mdc-menu-anchor {
        padding: 0 $unit/4 0 $unit/2;
        .mdc-button {
          border-radius: 0;
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;
          color: white;
          height: $header-lower-height;
          padding: 0;
          text-transform: none;
          .fa-fw {
            margin-right: $unit/2;
            vertical-align: inherit;
          }
          .fa-fw:last-child {
            padding-left: $unit/4;
            margin-right: 0;
          }
        }
        .mdc-button:hover {
          background-color: transparent;
          border-bottom-color: rgba(255, 255, 255, 0.6);
        }
      }
    }
    .mdc-top-app-bar__section {
      padding: 0;
      .mdc-menu-anchor {
        .user-avatar {
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
      }
      .mdc-top-app-bar__action-item {
        height: $header-lower-height;
        color: $mdc-theme-secondary !important;
      }
      #user-menu {
        top: $header-lower-height !important;
        left: auto !important;
        right: $unit/4 !important;
        border-radius: 0 0 2px 2px;
      }
      .mdc-top-app-bar__action-item::before,
      .mdc-top-app-bar__action-item::after,
      .mdc-top-app-bar__navigation-icon::before,
      .mdc-top-app-bar__navigation-icon::after,
      .mdc-button::before,
      .mdc-button::after,
      .mdc-tab::before,
      .mdc-tab::after {
        background-color: transparent;
      }
      .mdc-top-app-bar__action-item,
      .mdc-top-app-bar__navigation-icon,
      .mdc-button,
      .mdc-tab {
        font-weight: 600;
      }
    }
  }
}

.mdc-tab-bar {
  height: $header-lower-height;
  .mdc-tab {
    text-transform: none;
    color: $mdc-theme-secondary;
    min-width: auto;
    height: $header-lower-height;
    font-size: 1rem;
    padding: 0 $unit/2;
  }
}

p,
li,
.mdc-tab,
.mdc-tab,
footer h3,
.mdc-chip,
.mdc-card,
.mdc-button,
.mdc-select,
.mdc-button,
.mdc-form-field,
.mdc-typography,
.mdc-form-field,
.mdc-text-field,
.mdc-dialog__body,
.mdc-card__subtitle,
.mdc-floating-label,
.mdc-card__subtitle,
.mdc-snackbar__text,
.mdc-textfield__input,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--title,
.mdc-text-field__input,
.mdc-card__title--large,
.mdc-typography--caption,
.mdc-menu .mdc-list-item,
.supplimentary-list-title,
.mdc-typography--headline,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--headline7,
.mdc-card__supporting-text,
.mdc-dialog__header__title,
.mdc-select__native-control,
.mdc-typography--subheading2,
.mdc-list-item__secondary-text,
.mdc-simple-menu .mdc-list-item,
.mdc-temporary-drawer .mdc-list-item,
.mdc-drawer--temporary .mdc-list-item,
.mdc-list {
  font-family: $base-font-family, Helvetica, Arial, sans-serif;
  font-weight: $base-font-weight;
  letter-spacing: 0.01rem;
}
.mdc-card__title,
.mdc-textfield__label,
.mdc-typography--title,
.mdc-typography--headline,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--headline7,
.mdc-drawer__content-heading,
.supplimentary-list-title {
  font-family: $heading-font-family, $base-font-family, Helvetica, Arial, sans-serif;
  font-weight: $heading-font-weight;
  letter-spacing: -0.03rem;
}
.mdc-drawer__content-heading,
.mdc-typography--headline,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--headline7,
.mdc-drawer__content-heading {
  font-weight: $heading-medium-font-weight;
  a {
    font-weight: $heading-medium-font-weight;
  }
}
.mdc-typography--body1 {
  font-size: 1rem;
}
.mdc-typography--headline3 {
  font-size: 2.1rem;
  line-height: 2.3rem;
}
.mdc-typography--headline4 {
  font-size: 1.75rem;
  line-height: 1.85rem;
}
.mdc-typography--headline5 {
  font-size: 1.5rem;
  line-height: 1.6rem;
}
.mdc-typography--headline6 {
  font-size: 1.3rem;
  line-height: 1.4rem;
}
.mdc-card__title,
.mdc-textfield__label,
.mdc-typography--title,
.supplimentary-list-title {
  font-family: $heading-font-family, $base-font-family, Helvetica, Arial, sans-serif;
  font-weight: $heading-font-weight;
}
.mdc-drawer--temporary {
  z-index: 1010;
  .mdc-drawer__content {
    padding-top: 0;
  }
  .mdc-drawer__header::before {
    padding-top: $header-upper-height;
  }
  .mdc-drawer__header-content {
    background-color: $mdc-theme-primary;
    align-items: center;
    justify-content: center;
    padding: $unit 0 0;
  }
}
.mdc-drawer--occasional-ie11 {
  box-sizing: border-box;
  position: relative;
  z-index: 4;
}
.mdc-tab .mdc-tab--label,
.mdc-button {
  transition: 0.1s;
}
.mdc-button--large {
  height: 56px;
  .far {
    font-size: 1.25rem;
  }
}
.drawer-container-permanent {
  display: flex;
}
.mdc-drawer--permanent {
  align-items: flex-start;
  z-index: 1;
  width: 320px;
  margin-right: $unit*1.5;
  margin-bottom: 0;
  padding-bottom: $unit;
  border-right: none;
  background-color: white !important;
}
.mdc-dialog__backdrop {
  z-index: 10;
}
.mdc-dialog--open .mdc-dialog__surface {
  z-index: 11;
}
.mdc-dialog__body {
  padding-bottom: 0;
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
  border-color: $mdc-theme-primary;
  background-color: $mdc-theme-primary;
}

.sign-up-form,
.sign-in-form {
  padding: 0 !important;
  .middle-line-text {
    margin: $unit*2 0 $unit;
    border-bottom: 2px solid #dfdfdf;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    span {
      background-color: $mdc-theme-secondary-light;
      padding: $unit;
      color: #555;
    }
  }
  .mdc-card {
    .mdc-text-field {
      margin: 0;
    }
    .mdc-button {
      position: relative;
      display: block;
      margin-bottom: 0;
      width: 100%;
      color: white;
      width: 100%;
      color: white;
      line-height: 56px;
      height: 56px;
      .fa-2x {
        position: absolute;
        top: .6rem;
        left: .5rem;
      }
    }
  }
  #sign-in-message,
  #sign-up-message,
  #reset-password-message  {
    display: none;
  }
}
.sign-out-form .mdc-card,
#sign-out-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.sign-up-form {
  padding: $unit*1.5 0 !important;
  margin: $unit*2 auto;
  .mdc-card {
    max-width: 500px;
    position: relative;
    // background-color: rgba(255, 255, 255, 0.6);
    .mdc-text-field {
      margin: 0 0 $unit;
    }
    .mdc-button {
      margin-bottom: 0;
      line-height: $unit*3;
      height: $unit*3;
    }
  }
}

.card-loader {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $mdc-theme-secondary-light;
  opacity: 0.8;
  z-index: 2;
  .card-loader-inner {
    color: $mdc-theme-primary-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
.sign-out-form {
  display: flex;
  min-height: 50vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.provider-google.mdc-chip--selected,
.provider-google.mdc-chip--selected:hover,
#continue-with-google {
  background-color: #DB3633 !important;
}
.provider-twitter.mdc-chip--selected,
.provider-twitter.mdc-chip--selected:hover,
#continue-with-twitter {
  background-color: #007DA3 !important;
}
.provider-facebook.mdc-chip--selected,
.provider-facebook.mdc-chip--selected:hover,
#continue-with-facebook {
  background-color: #2C5797 !important;
}

.fundingscotland-page {
  margin: $unit*1.5 0;
  .x-items {
    margin-top: 0;
  }
  .mdc-card {
    padding: $unit;
    .mdc-typography--headline4 {
      margin-top: 0;
    }
  }
}
.fundingscotland-fund,
.fundingscotland-related-funds {
  margin-bottom: $unit*2.5;
}
.fundingscotland-fund-search {
  .head {
    margin-bottom: $unit/2;
    .mdc-button.saved-search,
    .mdc-button.filter-search,
    .mdc-button.save-search,
    .mdc-text-field,
    .mdc-select {
      margin: $unit/2 0 $unit;
    }
    .mdc-button.saved-search {
      color: $mdc-theme-secondary-dark;
      label {
        margin: 0 $unit;
        .far {
          color: $mdc-theme-primary-light;
        }
      }
    }
    .mdc-button.saved-search:hover {
      cursor: default;
    }
    .pagination {
      margin-top: $unit*1.25;
    }
  }
}
.fundingscotland-saved-searches {
  .mdc-list {
    background-color: white;
    .saved-search-email-switch {
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        margin-left: $unit;
      }
    }
  }
}

.x-items {
  text-align: center;
  display: inline-block;
  margin: $unit*1.5 auto 0;
  width: 100%;
  .x-item {
    line-height: 0;
    display: inline-block;
  }
  .x-item-side {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .x-item-side:hover {
    text-decoration: none;
  }
}

.mdc-textfield__label {
  display: block;
}
.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) {
  border-bottom: none !important;
}
.mdc-text-field--textarea .mdc-floating-label {
  background-color: $mdc-theme-secondary-light;
}

a {
  color: $mdc-theme-primary;
  text-decoration: none;
  text-decoration-skip: ink;
}
a:hover {
  text-decoration: underline;
}
.tfn a {
  color: $mdc-theme-tfn;
}

.mdc-chip {
  color: white
}
.mdc-card .mdc-chip-set {
  .mdc-chip {
    margin: 0;
    color: rgba(0, 0, 0, 0.54);
    background-color: white;
    font-weight: 600;
    .mdc-chip__text {
      margin-left: $unit/2;
    }
  }
  .mdc-chip.mdc-chip--selected {
    background-color: $mdc-theme-secondary-light;
    color: $mdc-theme-primary-dark;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

a {
  font-weight: 600;
}

.mdc-button a:hover,
.mdc-button:hover,
.mdc-tab:hover,
.mdc-toolbar a:hover {
  text-decoration: none;
}
.mdc-list-item--header:focus::before,
.mdc-list-item--header:focus::after,
.mdc-list-item--header:hover::before,
.mdc-list-item--header:hover::after,
.mdc-tab:active::before,
.mdc-tab:focus::before,
.mdc-tab:hover::before,
.mdc-button:not(.mdc-ripple-upgraded):active:after,
.mdc-button:not(.mdc-ripple-upgraded):focus:before,
.mdc-button:not(.mdc-ripple-upgraded):hover:before {
  opacity: 0;
  background-color: transparent;
}
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab--active,
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:not(.mdc-tab--active):active .mdc-tab__indicator {
  opacity: 1;
}

.mdc-form-field,
.mdc-button,
.mdc-card__supporting-text,
.mdc-card__subtitle {
  font-size: 1rem;
}
.mdc-card__supporting-text {
  letter-spacing: 0;
}
.mdc-button,
.mdc-tab {
  font-weight: 600;
  text-transform: none;
}
.mdc-button--raised .mdc-list-item__graphic {
  color: white;
}
.mdc-button .mdc-list-item__graphic {
  position: relative;
  left: 0;
  margin-right: $unit/2;
}

.mdc-button--raised {
  background-color: $mdc-theme-primary !important;
  transition: all 1s cubic-bezier(0, 1, 0.3, 1);
}
.mdc-button--raised:hover {
  background-color: $mdc-theme-primary-dark !important;
  transition: all .3s ease-out;
}

.mdc-button--fullwidth {
  width: 100%;
}

#map-full {
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
}
#map-full.shown {
  opacity: 1;
}
#map-full.hidden {
  opacity: 0;
}

.search-info {
  margin: $unit*1.5 0 $unit*(3/4);
  background: white;
  color: $mdc-theme-secondary-dark;
  padding: $unit/3 $unit/2;
  box-sizing: border-box;
}
.fundingscotland-organisation-search .search-info {
  margin-bottom: $unit*1.5;
}

.mdc-card {
  background: transparent;
  .mdc-card__contents {
    padding: 0 $unit $unit/2;
  }
  p {
    margin: 0 0 $unit/2;
  }
  p:last-child {
    margin: 0;
  }
  .mdc-card__actions {
    border-radius: 0 0 2px 2px;
    background-color: $mdc-theme-complimentary-light;
    min-height: auto;
    a {
      color: $mdc-theme-primary-dark;
    }
    .mdc-card__action {
      font-weight: 600;
      margin-right: $unit;
      color: $mdc-theme-primary-dark;
    }
    ul.mdc-card__action {
      cursor: default;
    }
    .mdc-card__action:last-child {
      margin-right: 0;
    }
  }
}
.mdc-card .mdc-card__actions {
  padding: $unit/2;
  .mdc-card__action-buttons {
    margin-left: $unit/2;
  }
}

dl {
  dt, dd {
    float: left;
    margin: 0;
  }
  dt {
    font-weight: 600;
    clear: both;
  }
  dd {
  }
}

.mdc-card.list,
.mdc-card.mini,
.mdc-card.gist,
.mdc-card.search-result {
  border-radius: 2px;
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  margin-bottom: $unit*1.5;
  .fund-details {
    h4 {
      display: none;
    }
  }
  dl{
    dt {
      clear: none;
    }
    dd {
      margin: 0 $unit 0 $unit/2;
    }
  }
  .mdc-card__info--fund-row {
    padding: $unit/2;
  }
  .search-result-article__snippet,
  .search-result-article__notes,
  .mdc-card__info--funder-row {
    flex: 1 0 auto;
  }
  .mdc-card__info--funder-title {
    padding: $unit;
  }
  .mdc-card__media--funder {
    // margin-right: $unit;
    z-index: 3;
  }
  .search-result-article__snippet,
  .search-result-article__notes {
    padding: 0 $unit $unit/2;
    display: flex;
  }
  .search-result-article__notes {
    background-color: $mdc-theme-complimentary-light;
    .mdc-typography--headline7 {
      margin-top: $unit*(3/4);
    }
    .mdc-typography--body2 {
      font-weight: 600;
    }
    h1 {
      font-size: 1.4rem;
      margin: $unit/2 0 $unit/4;
    }
    h2 {
      font-size: 1.2rem;
      margin: $unit/4 0 $unit/5;
    }
  }
  .user-notes {
    display: none;
  }
  .mdc-card__actions {
    background-color: $mdc-theme-complimentary-light;
    .mdc-card__action {
      color: $mdc-theme-primary-dark;
    }
  }
}
.fundingscotland-fund.mdc-card.list,
.fundingscotland-fund.mdc-card.mini,
.fundingscotland-fund.mdc-card.gist,
.fundingscotland-fund.mdc-card.search-result {
  border-top: $unit/3 solid $mdc-theme-complimentary-light;
  .mdc-card__info--fund-row {
    padding-top: $unit/4;
    padding-bottom: 0;
  }
}
.fundingscotland-fund.mdc-card.list .mdc-card__action-notes,
.fundingscotland-fund.mdc-card.gist .mdc-card__action-icons {
  display: none;
}
.fundingscotland-fund.mdc-card.list,
.fundingscotland-fund.mdc-card.gist,
.fundingscotland-fund.mdc-card.mini {
  .mdc-typography--headline5 {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .mdc-card .mdc-card__actions {
    padding: $unit/3 $unit/2;
  }
}

.mdc-card.gist.tfn-post,
.mdc-card.gist.tfn-feature {
  background-color: transparent;
}
.mdc-card.search-result {
  .mdc-card__info--event {
    padding-bottom: $unit/2;
  }
  .mdc-card__info--event-title {
    margin: 0 0 $unit/2;
  }
}
.mdc-card.full,
.mdc-card.list,
.mdc-card.gist,
.mdc-card.mini,
.mdc-card.search-result {
  .mdc-list-divider {
    border: none;
  }
}
.mdc-card.list:last-child,
.mdc-card.mini:last-child,
.mdc-card.gist:last-child,
.mdc-card.search-result:last-child {
  margin-bottom: 0;
}
.mdc-card.list::after,
.mdc-card.mini::after,
.mdc-card.gist::after,
.mdc-card.search-result::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mdc-card.list:hover::after,
.mdc-card.mini:hover::after,
.mdc-card.gist:hover::after,
.mdc-card.search-result:hover::after {
  opacity: 1;
}
.mdc-card.full {
  .panel-heading {
    background: $mdc-theme-error;
    margin: $unit/2 0 $unit;
    color: white;
    padding: $unit/2;
    font-weight: 600;
  }
  .mdc-card__info--funder-title {
    margin: 0 0 $unit/2;
  }
  dl {
    dt {
      min-width: 130px;
      margin-right: $unit;
    }
  }
  .mdc-card__info--fund .detailed-info,
  .funder-type {
    margin: $unit/2 0 $unit;
    small {
      font-size: 0.92rem;
    }
  }
  .mdc-card__info--fund-title a,
  .mdc-card__info--fund-title a:hover {
    color: inherit;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
  .text-field-container.user-notes {
    width: 100%;
    .mdc-text-field--fullwidth {
      border: none;
      border-radius: 0;
      margin: 0;
      .mdc-text-field__input,
      .mdc-text-field__input:focus {
        border: none;
      }
      #user-notes {
        height: 25vh;
      }
    }
    .mdc-text-field--textarea .mdc-floating-label {
      background: white !important;
    }
  }
  #fund-tab-bar {
    width: 100%;
    background-color: $mdc-theme-complimentary-light;
    display: flex;
    border-radius: 2px 2px 0 0;
    .mdc-tab {
      color: $mdc-theme-primary-dark;
      flex: 1;
      line-height: $header-lower-height;
      min-height: $header-lower-height;
    }
    .mdc-tab-bar__indicator {
      background-color: $mdc-theme-primary-dark;
    }
  }
  .panel {
    display: none;
  }
  .panel.panel--active {
    display: block;
  }
  .fund-info-container {
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  }
  .mdc-card--full-content {
    border-top: none;
    h4 {
      margin: 0 0 $unit;
      font-size: 1.5rem;
      font-weight: $heading-medium-font-weight;
    }
    .key-info-extra {
      padding: $unit;
      background-color: $mdc-theme-complimentary-light;
      .mdc-chip {
        margin-bottom: $unit/4;
        padding: $unit/5 $unit/2;
        height: $unit*1.5;
        vertical-align: top;
        font-weight: 600;
        color: $mdc-theme-secondary-dark;
        background-color: $mdc-theme-complimentary-light;
      }
      .mdc-chip:hover {
        text-decoration: none;
        color: $mdc-theme-secondary-light;
        background-color: $mdc-theme-primary-dark;
      }
      a {
        color: $mdc-theme-primary-dark;
      }
    }
    .detailed-info {
      padding: $unit;
      hr {
        height: 0;
        border: none;
        background: transparent;
      }
      h4 {
        margin: $unit*1.25 0 $unit*(3/4);
      }
      h4:first-child {
        margin-top: 0;
      }
      .thumbnail {
        margin-top: $unit;
        margin-right: $unit;
      }
    }
  }
}
.fundingscotland-event .mdc-card.full,
.fundingscotland-organisation .mdc-card.full,
.fundingscotland-fund .mdc-card.full {
  box-shadow: none;
}
.fundingscotland-page .mdc-card.full {
  width: 100%;
  background-color: #fff;
}

.browse-heading {
  h1 {
    background: white;
    height: 200px;
    padding: .25rem 1rem 1rem;
  }
}

.mdc-chip-set {
  padding: 0;
  .v-margin {
    display: block;
    width: 100%;
  }
  .mdc-chip {
    margin: 0;
  }
}
#search-terms.mdc-chip-set {
  float: left;
  padding: 0;
  margin-bottom: 0;
  .mdc-chip {
    margin: 0 $unit/2 $unit/4 0;
  }
}
.mdc-chip {
  background-color: $mdc-theme-secondary;
  color: $mdc-theme-secondary-dark;
  margin: 0;
  font-weight: 600;
  .mdc-chip__icon.mdc-chip__icon--leading {
    color: $mdc-theme-secondary-dark;
    display: inline-block;
  }
  .mdc-chip__icon.mdc-chip__icon--leading-hidden {
    display: none;
  }
  .mdc-chip__text {
    margin-left: $unit/2;
  }
  .mdc-chip__checkmark-path {
    stroke: white !important;
  }
}
.mdc-chip:hover {
  .mdc-chip__icon--leading {
    color: #000;
  }
}
.mdc-card .mdc-chip {
  background-color: $mdc-theme-complimentary-dark;
}
.mdc-card .mdc-chip.mdc-chip--selected,
.mdc-chip.mdc-chip--selected {
  background-color: $mdc-theme-primary;
  color: white;
}
.mdc-card .mdc-chip.mdc-chip--selected:hover,
.mdc-chip.mdc-chip--selected:hover {
  background-color: $mdc-theme-primary-dark;
  color: white;
}

// Grid Cards ==================================================================

.mdc-layout-grid.equal-height .mdc-layout-grid__cell {
  display: flex;
  .mdc-card {
    justify-content: start;
    .mdc-card__supporting-text {
      flex: 1 0 auto;
    }
  }
}

.pagination-mobile,
.fundingscotland-organisation .mdc-card.list .mdc-card__info--fund-funder {
  display: none !important;
}

hr {
  margin: $unit*1.5 0;
  background-color: $mdc-theme-primary-light;
  border: none;
  height: 1px;
}

.page-content {
  padding: $unit 0 $unit;
}
.mdc-drawer__content {
  padding: 0 $unit/2 $unit;
  #search-tab-bar {
    padding: 0 $unit/2;
    box-sizing: border-box;
  }
}
.mdc-drawer__content.mdc-list {
  padding: 0;
}
.mdc-drawer__content-padded {
  padding: $unit;
}
.mdc-drawer__content-heading {
  font-size: 1.2rem;
  display: block;
  margin: 0;
  padding: $unit*1.5 0 0 $unit/2;
  font-weight: $heading-medium-font-weight;
  .mdc-icon-toggle {
    margin-top: -$unit*(3/4);
  }
  .far.pull-right {
    line-height: $unit*1.7;
  }
  .mdc-typography--caption {
    margin-left: $unit;
  }
}
a.mdc-drawer__content-heading {
  color: rgba(0, 0, 0, 0.87);
}
a.mdc-drawer__content-heading:hover {
  text-decoration: none;
}
.mdc-drawer__content-heading:focus {
  outline: none;
}

.drawer-container {
  display:flex;
  flex-direction: row;

  aside {
    z-index: 1;
  }
}

@media (min-width: $mobile-breakpoint + 1) {
}

.mdc-card {
  .mdc-card__actions {
    .mdc-card__action--shortlist {
      background: transparent;
      border: none;
      padding: 0;
      .fa-stack {
        width: $header-lower-height;
        height: $header-lower-height;
        line-height: $header-lower-height;
        .fa-circle {
          font-size: $header-lower-height;
          color: white;
        }
        .fa-heart {
          font-size: 25px;
          line-height: $header-lower-height;
        }
      }
    }
    .mdc-card__action--shortlist .fa-heart {
      color: $mdc-theme-primary-dark;
    }
    .mdc-card__action--shortlist:hover .fa-heart {
      font-weight: 900;
    }
  }
}
.mdc-card.fund-shortlisted {
  .mdc-card__actions {
    .mdc-card__action--shortlist .fa-heart {
      font-weight: 900;
    }
    .mdc-card__action--shortlist:hover .fa-heart {
      font-weight: 400;
      color: $mdc-theme-primary-dark;
    }
  }
}

.mdc-form-field,
.mdc-select,
.mdc-text-field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* Typeahead */
.twitter-typeahead {
  width: 100%;
  .tt-menu {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-radius: 0 0 2px 2px;
    h3 {
      font-size: 0.8rem;
      opacity: 0.6666;
      font-weight: 400;
      margin: 0 !important;
      padding: $unit/2 $unit 0;
    }
    .tt-suggestion {
      padding: $unit/2 $unit;
    }
    .tt-suggestion:hover,
    .tt-cursor {
      background-color: $mdc-theme-complimentary-light;
      cursor: pointer;
    }
  }
}

#search-terms {
  .mdc-chip,
  .mdc-chip:hover {
    .mdc-chip__icon,
    .mdc-chip__text {
      color: white;
    }
  }
  .mdc-chip .mdc-chip__text {
    font-weight: 600;
  }
  .mdc-chip:hover {
    .mdc-chip__icon {
      font-weight: 700;
    }
  }
}

.container-content,
#search-tab-bar,
#home-tab-bar {
  .mdc-tab {
    color: $mdc-theme-secondary-dark;
  }
  .mdc-tab-bar__indicator {
    background-color: $mdc-theme-secondary-dark;
  }
}

.container-content {
  width: 100%;
  padding-left: $unit;
  padding-right: $unit;
  // margin-left: $unit;
  // margin-right: $unit;
  position: relative;
  max-width: 1200px;
  align-items: flex-end;
  box-sizing: border-box;
  .mdc-tab-bar {
    width: 100%;
  }
  .container-fluid {
    position: relative;
  }
}
.container-content.fundingscotland-page {
  margin: $unit*1.5 auto 0;
  padding-bottom: $unit*1.5;
  .x-items {
    margin-top: 0;
  }
  .mdc-card.full {
    width: 100%;
    background-color: #fff;
  }
  .mdc-card {
    padding: $unit;
    .mdc-typography--headline4 {
      margin-top: 0;
    }
  }
  h1,
  h2 {
    margin-top: 0;
  }
}

.map-content {
  h3 {
    margin: 0;
  }
}

.container-content,
#search-tab-bar,
#home-tab-bar {
  .mdc-tab {
    color: $mdc-theme-secondary-dark;
  }
  .mdc-tab-bar__indicator {
    background-color: $mdc-theme-secondary-dark;
  }
}

/*=====End Maps=====*/
/*=====Top Bar=====*/
// #top-bar {
//   z-index: 100;
// }
.top-bar-stuck {
  position: fixed;
  top: 0;
}

/*=====End Top Bar=====*/

html {
  overflow-y: scroll;
  height: 100%;
  font-size: 1.02rem;
  line-height: 1.45;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
::-moz-selection {
  color: white;
  background: $mdc-theme-primary-dark;
}
::selection {
  color: white;
  background: $mdc-theme-primary-dark;
}
.container-fluid {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.cookieinfo {
  box-shadow: $toolbar-shadow-reverse;
}

.mdc-card {
  padding: 0;
  .mdc-card__info--funder-row,
  .mdc-card__info--fund-row {
    display: flex;
    flex-shrink: 1;
  }
  .mdc-card__info--fund-row {
    padding: $unit/2;
  }
  .mdc-card__info--funder,
  .mdc-card__info--fund {
    width: 100%;
    flex-direction: column;
    padding: 0 $unit/2;
    .mdc-card__info--fund-title {
      margin: $unit/2 0 $unit*(3/4);
    }
    .fa-ul {
      li {
        padding: 0;
        margin-bottom: $unit/2;
      }
    }
    .fa-ul.last {
      li:last-child {
        margin-bottom: 0;
      }
    }
    .mdc-card__info--fund-title a {
      .fund-status {
        margin-left: 0;
        margin-right: $unit/5;
        display: inline-block;
        padding: 0.22222rem $unit/2;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: $unit;
        color: white;
        position: relative;
        top: -2px;
        left: 0;
        font-size: 1rem;
        height: 1.5rem;
        box-sizing: border-box;
        font-weight: 600;
        background-color: #8c1932;
      }
      .fund-status.fund-open {
        background-color: #328c19;
      }
      .hover-underline {
        margin-right: $unit/2;
      }
    }
    .mdc-card__info--fund-title a:hover {
      text-decoration: none;
      .hover-underline {
        text-decoration: underline;
      }
    }
    .mdc-layout-grid {
      padding: 0;
      width: 100%;
    }
    .fa-fw {
      margin-right: $unit/4;
    }
    .mdc-card__info--fund-funder {
      padding: $unit/2 0;
    }
  }
  .mdc-card__info--funder {
    padding: 0;
  }
  .mdc-card__info--event {
    padding: $unit;
  }
  .mdc-card__media--funder {
    max-width: 120px;
    height: auto;
    display: flex;
    align-items: top;
    margin: $unit/2 0 0 $unit;
    padding: 0;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
.mdc-card.list {
  .mdc-card__media--funder {
    display: none;
  }
}
.mdc-card.full {
  background-color: transparent;
  margin-top: $unit;
  .mdc-card__info--fund-row {
    padding: 0 0 $unit;
    .mdc-card__info--fund {
      padding: 0;
    }
    .mdc-card__media {
      margin: 0;
    }
    .fa-li .fa-fw {
      color: $mdc-theme-secondary-dark;
    }
  }
  .mdc-card__info--fund-row,
  .mdc-card__info--funder-row {
    .mdc-card__media--funder {
      align-items: flex-start;
      mix-blend-mode: multiply;
      max-width: 200px;
      margin-top: $unit/2;
    }
    .mdc-card__media--square::before {
      margin-top: 0;
    }
  }
}
.fundingscotland-organisation {
  .mdc-card.full {
    background-color: transparent;
  }
}

.mdc-typography--headline4,
.mdc-typography--headline5 {
  margin-bottom: $unit;
}
.search-form {
  .mdc-typography--headline5 {
    margin-top: $unit*1.5;
    margin-left: $unit;
  }
  .mdc-typography--headline7 {
    margin: 0;
    padding: 11px;
  }
  .mdc-layout-grid__inner {
    grid-gap: $unit/2;
  }
  .mdc-text-field {
    z-index: 1;
    overflow: visible;
  }
  .mdc-text-field--box::before,
  .mdc-text-field--box::after {
    background-color: transparent;
    width: 100%;
  }
  .header.mdc-text-field--box:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }
  // .mdc-floating-label {
  //   transform: translateY(-50%) scale(0.75);
  // }
}

/* End Search results card */

// Pagination ==================================================================

.pagination {
  text-align: center;
  display: block !important;
  padding: $unit 0 $unit*2;
  li {
    display: inline-block;
    padding: 0 !important;
    height: $unit*2.5;
    width: $unit*2.5;
    border-radius: 50%;
    margin: 0 $unit/5;
    vertical-align: bottom;
    a {
      font-size: 1.2rem;
      line-height: $unit*2.5;
      height: $unit*2.5;
      width: $unit*2.5;
      color: $mdc-theme-secondary-dark;
      padding: 0;
      margin: 0;
      font-weight: 600;
      display: block;
    }
    a.pagination-arrow {
      color: $mdc-theme-secondary-dark;
      vertical-align: middle;
    }
  }
  li.disabled a.pagination-arrow {
    cursor: default;
    pointer-events: none;
    color: $mdc-theme-secondary-dark;
    opacity: 0.5;
  }
  li:first-child a {
    padding-left: 0;
  }
  li:last-child a {
    padding-right: 0;
  }
  li.current-page {
    background-color: $mdc-theme-complimentary-dark;
    border-radius: 50%;
  }
  li:hover,
  li.current-page:hover {
    background-color: $mdc-theme-primary-dark;
    a {
      color: $mdc-theme-secondary-light;
      text-decoration: none;
    }
  }
  li.disabled:hover {
    background-color: inherit !important;
  }
}

.head .pagination {
  padding: 0;
  margin-top: $unit/4;
  .pagination-distance-4,
  .pagination-distance-5,
  .pagination-distance-6,
  .pagination-distance-7,
  .pagination-distance-8,
  .pagination-distance-9 {
    display: none;
  }
}

// Lists =======================================================================

.fa-ul {
  margin: 0 0 0 $unit*1.55;
  li {
    margin-bottom: $unit/2;
  }
  li:last-child {
    margin-bottom: 0;
  }
}
.mdc-layout-grid {
  padding: 0;
}

footer,
.browse main {
  .mdc-list {
    .mdc-list-item {
      padding: 0;
      .mdc-list-item__text {
        color: $mdc-theme-primary;
      }
    }
    .mdc-list-item {
      .mdc-list-item__meta {
        text-decoration: none;
        white-space: nowrap;
      }
    }
    .mdc-list-item:hover {
      text-decoration: none;
      .mdc-list-item__text {
        text-decoration: underline;
      }
    }
    .mdc-list-item:hover::before,
    .mdc-list-item:hover::after,
    .mdc-list-item:focus::before,
    .mdc-list-item:focus::after {
      opacity: 0 !important;
    }
    .mdc-layout-grid {
      width: 100%;
    }
    .mdc-list-item__graphic {
      margin-right: $unit;
    }
  }
}
.mdc-tab-bar .mdc-list-item__graphic {
  margin: 0;
}

.home-banner {
  .banner-search {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 23vh;
    .page-content {
      min-height: 23vh;
      .search-form {
        position: relative;
        background-color: rgba(255, 255, 255, 0.75);
        width: 100%;
        padding: 0 $unit $unit/2;
        box-sizing: border-box;
      }
    }
  }
  .banner-search.overlay {
    background-image: url(https://storage.googleapis.com/scvo-assets/assets/images/fs-legacy-banner-back.png);
    background-size: cover;
    background-position: center center;
    .content {
      // background-image: linear-gradient(60deg, rgba(0, 121, 106, 0.89), rgba(0, 121, 106, 0.91) 47%, transparent 47.08%, transparent);
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 23vh;
      background-color: transparent;
      // padding: 0 0 $unit*2;
      .mdc-card__actions {
        margin: 0;
        padding: 0;
        .mdc-button {
          line-height: $unit*2;
          margin-right: $unit/2;
          padding: 0 $unit/2;
          background: transparent !important;
          border: 0.125rem solid white !important;
          color: white !important;
        }
        .mdc-button:hover {
          background: white !important;
          color: $mdc-theme-primary-dark !important;
          border-color: $mdc-theme-primary-dark !important;
        }
        .mdc-menu-anchor {
          display: inline-block;
          .mdc-button {
            padding-right: $unit/5;
          }
        }
      }
      .mdc-menu {
        z-index: 500;
      }
      .mdc-button--search {
        border-radius: 2px;
        width: 100%;
        .fa-search {
          position: absolute;
          right: $unit*(2/3);
        }
      }
      .search-form {
        min-width: 48%;
        max-width: 1080px;
        margin: 0 auto;
        border-radius: 2px;
        .extra-options {
          margin: $unit/2 0;
          text-align: center;
          font-size: 0.88rem;
          color: #777;
          a {
            font-weight: 400;
            color: #555;
          }
        }
      }
      .overlay-content {
        padding: $unit*2.5 $unit $unit*2 3%;
        max-width: 40%;
        .header-extra,
        .header-text {
          font-weight: 600;
          color: white;
          font-size: 1.5rem;
          padding: $unit/2 0;
          margin: 0;
        }
        .header-text {
          padding: 0 0 $unit*1.5;
          font-size: 4.8rem;
          line-height: 4rem;
          letter-spacing: -0.2rem;
          font-weight: $heading-font-weight;
          .normal {
            letter-spacing: -0.4rem;
            font-weight: $heading-light-font-weight;
          }
          .normal.brand {
            font-weight: 700;
            font-variant: all-small-caps;
            letter-spacing: -0.1rem;
          }
        }
      }
    }
  }
}
.results-banner {
  .banner-search,
  .banner-search.page-content,
  .banner-search.overlay .content {
    min-height: 14vh;
  }
}

.mdc-list-item {
  height: $header-lower-height;
  .mdc-list-item__meta {
    padding-left: $unit*(3/4);
  }
}
.browse {
  .browse-title {
    margin: $unit/2 0 $unit/2;
  }
  .mdc-list-item {
    height: auto;
  }
}

.home-funds {
  background-color: $mdc-theme-secondary-light;
  padding: 0 $unit 0 !important;
}
// .currently-recruiting,
// .home-funds {
//   box-shadow: $toolbar-shadow-reverse;
// }
.home .tfn-latest {
  background-color: $mdc-theme-secondary-light;
  .mdc-typography--headline5 {
    margin-top: 0;
  }
}
.tfn-latest {
  padding: 0 $unit*1.5 0 !important;
  .mdc-card {
    box-shadow: none;
  }
  .mdc-card:hover::after {
    opacity: 0;
  }
  .gist {
    .mdc-typography--headline {
      font-weight: $heading-medium-font-weight;
      font-size: 1.1rem;
      margin: 0;
    }
    .mdc-card__subtitle {
      font-weight: $heading-medium-font-weight;
      margin: $unit/2 0;
      color: $mdc-theme-secondary-dark;
    }
    .thumbnail img {
      border-radius: 50%;
      width: 84px;
      height: 84px;
      object-fit: cover;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
  }
}
.currently-recruiting {
  padding: $unit/4 $unit*1.5 $unit/3 !important;
  background-color: $mdc-theme-secondary;
  .funder-logo:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .funder-logo {
    border-radius: 5px;
    position: relative;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      mix-blend-mode: multiply;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }
  }
}

.post-info {
  font-size: 0.9rem;
  color: $mdc-theme-secondary-dark;
  .post-info-item {
    display: inline-block;
    margin-right: $unit/2;
    margin-bottom: $unit/2;
  }
  .post-info-item.post-info-categories {
    margin-bottom: 0;
  }
  .post-info-item:last-child {
    margin-right: 0;
  }
}

// Footer ======================================================================

footer.mdc-layout__footer {
  border-top: $unit solid $mdc-theme-primary;
  background-color: $mdc-theme-footer;
  box-shadow: $toolbar-shadow-reverse;
  position: relative;
  // z-index: 4;
  p, li, div {
    font-family: $footer-font-family;
    font-weight: $footer-font-weight;
    font-size: 1rem;
  }
  h3, a, strong {
    font-family: $footer-font-family;
    font-weight: 600;
  }
  .footer-main,
  .footer-copyright {
    padding: 0 $unit;
  }
  .footer-main {
    margin-bottom: $unit;
  }
  h3 {
    color: white;
    font-size: 1.2rem;
    border-bottom: $unit/5 solid $mdc-theme-footer-light;
    margin: $unit 0;
    padding: $unit/2 0 $unit/2;
  }
  .about a,
  a {
    color: white;
  }
  .about a:hover,
  a:hover {
    color: white;
  }
  .mdc-list {
    .mdc-list-item {
      padding: 0;
      a {
        font-weight: 600;
        font-size: 1rem;
      }
      a:hover {
        text-decoration: underline !important;
      }
    }
    .mdc-list-item:hover::before,
    .mdc-list-item:hover::after {
      opacity: 0;
    }
  }
  .brand-logo {
    display: block;
    text-align: right;
    img {
      margin-bottom: 0;
      width: 125px;
    }
  }
  .mdc-layout-grid {
    padding: 0;
    margin-bottom: 0;
    p {
      margin: 0 0 0.8rem;
      color: white;
    }
  }
  .fa-ul,
  .mdc-list,
  .mdc-list-item {
    font-size: inherit;
    letter-spacing: 0;
  }
  .fa-ul {
    margin: 0 0 0 $unit*1.5;
    li {
      margin-bottom: 0;
      height: $unit*1.5;
      a {
        text-decoration: none;
      }
    }
    li a:hover {
      text-decoration: underline;
    }
    .fa-li {
      .fas, .fal, .far, .fab {
        color: white;
      }
    }
  }
  .contact {
    .fa-ul {
      margin-bottom: $unit !important;
    }
  }
  .mdc-layout-grid p {
    margin-bottom: 0;
  }
  .mdc-list {
    padding: 0;
    .mdc-list-item {
      height: $unit*1.5;
      a {
        text-decoration: none;
      }
    }
  }
  .footer-copyright {
    background-color: $mdc-theme-footer-dark;
    padding: $unit $unit $unit*0.7;
    margin: 0;
    line-height: 1.2;
    p {
      font-size: 0.9rem;
      margin: 0;
    }
  }
}

/*=====Tab Bar=====*/

.mdc-tab-bar__left {
  margin-left: 0;
}

.mdc-tab-bar__right {
  margin-right: 0;
}

.mdc-tab-bar__compact {
  height: 2em;
  .mdc-tab {
    padding:0px;
  }
}

/*=====Utility classes=====*/

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-centre { text-align: center; }
.text-justify { text-align: justify; }
.pull-right { float: right; }

.align-centre {
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.v-padding {
  padding-top: $unit/2;
  padding-bottom: $unit/2;
}
.v-padding-full {
  padding-top: $unit;
  padding-bottom: $unit;
}
.h-padding {
  padding-left: $unit/2;
  padding-right: $unit/2;
}
.h-padding-full {
  padding-left: $unit;
  padding-right: $unit;
}
.x-padding {
  padding: $unit/2;
}
.x-padding-full {
  padding: $unit;
}
.t-padding { padding-top: $unit/2; }
.b-padding { padding-bottom: $unit/2; }
.l-padding { padding-left: $unit/2; }
.r-padding { padding-right: $unit/2; }
.t-padding-full { padding-top: $unit; }
.b-padding-full { padding-bottom: $unit; }
.l-padding-full { padding-left: $unit; }
.r-padding-full { padding-right: $unit; }
.v-margin {
  margin-top: $unit/2;
  margin-bottom: $unit/2;
}
.v-margin-full {
  margin-top: $unit;
  margin-bottom: $unit;
}
.v-margin-full-bottom {
  margin-bottom: $unit;
}
.h-margin {
  margin-left: $unit/2;
  margin-right: $unit/2;
}
.h-margin-full {
  margin-left: $unit;
  margin-right: $unit;
}
.t-margin { margin-top: $unit/2; }
.b-margin { margin-bottom: $unit/2; }
.l-margin { margin-left: $unit/2; }
.r-margin { margin-right: $unit/2; }
.t-margin-full { margin-top: $unit; }
.b-margin-full { margin-bottom: $unit; }
.l-margin-full { margin-left: $unit; }
.r-margin-full { margin-right: $unit; }

.cursor-pointer { cursor: pointer; }
.cursor-arrow { cursor: default; }

.mdc-select--box {
  margin-top: 16px;
}

.mdc-select__native-control {
  -webkit-appearance: none;
}
.mdc-select__native-control,
.mdc-tab-bar--fullwidth {
  width: 100% !important;
}
.mdc-tab-bar--left {
  margin: 0;
}

form.inline-form {
  display: inline-block;
}

#app-snackbar {
  z-index: 1000;
  background-color: $mdc-theme-primary-dark;
  .mdc-snackbar__text {
    padding: 0;
  }
  .mdc-snackbar__action-wrapper {
    display: none;
  }
}

.faded-overflow {
  overflow: hidden;
  position: relative;
  &:before {
    display: block;
    margin-top: -$unit*1.5;
    height: $unit*1.5;
    width: 100%;
    content: "";
    position: absolute;
    top: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }
}
.search-result-article__notes .faded-overflow {
  &:before {
    background: linear-gradient(rgba(236, 242, 233, 0), rgba(236, 242, 233, 1));
  }
}

.after-textfield-action {
  float: right;
  margin-top: -10px;
  font-size: 0.8rem;
  color: $mdc-theme-primary-dark;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: $mobile-breakpoint) {
  .mdc-toolbar-fixed-adjust {
    padding-top: $header-upper-height;
  }
  .hide-sm {
    display: none;
  }
}

@media screen and (max-width: $mobile-landscape-breakpoint + 1) {
  .home-banner {
    .banner-search.overlay {
      .content {
        background-image: none;
        background-color: rgba(66, 132, 42, 0.89);
      }
    }
  }
  .container-content {
    margin: 0;
    padding: 0 $unit/2 $unit !important;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1100px) {
  .fundingscotland-fund-search .head {
    .mdc-layout-grid__cell.action {
      grid-column-end: span 6;
    }
    .mdc-layout-grid__cell.pagination-desktop {
      display: none;
    }
    .mdc-layout-grid__cell.pagination-mobile {
      display: block !important;
      .pagination {
        margin-top: -$unit;
      }
    }
  }
}
@media screen and (max-width: 839px) {
  #detailed-results-container .head .pagination {
    display: none !important;
  }
  .fundingscotland-fund-search .head {
    .mdc-layout-grid__cell.action {
      grid-column-end: span 4;
    }
  }
}
@media screen and (max-width: 479px) {
  .fundingscotland-fund-search .head {
    .mdc-layout-grid__cell.action {
      grid-column-end: span 2;
    }
  }
}

@media screen and (min-width: $mobile-breakpoint + 1) and (max-width: $mobile-landscape-breakpoint) {
  .hide-md {
    display: none;
  }
  .mdc-top-app-bar {
    height: $header-upper-height;
  }
  .mdc-toolbar-fixed-adjust {
    padding-top: $header-upper-height;
  }
}

@media screen and (min-width: $mobile-landscape-breakpoint + 1) {
  .hide-lg {
    display: none;
  }
  .mdc-drawer--occasional {
    align-items: flex-start;
    z-index: 1;
    width: 320px;
    min-height: 655px;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: $unit;
    border-right: none;
    background-color: white !important;
    color: rgba(0, 0, 0, 0.87);
    border-left: 0;
    left: 0;
    right: initial;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    position: static !important;
    height: auto !important;
    pointer-events: all;
    .mdc-drawer__drawer {
      transform: none;
      width: 320px;
      pointer-events: all;
    }
  }
  .fund_search_advanced {
    .mdc-drawer--occasional,
    .mdc-drawer--occasional .mdc-drawer__drawer {
      width: 960px;
    }
    .mdc-drawer--temporary .mdc-drawer__drawer {
      max-width: 960px;
    }
  }
}

@media screen and (min-width: $desktop-landscape-breakpoint + 1) {
  .currently-recruiting {
    .mdc-layout-grid__cell--span-2, .mdc-layout-grid__cell--span-2-desktop {
      grid-column-end: span 1;
    }
  }
}

/*=====End Utility Classes=====*/
/*=====Colour Classes=====*/


/*=====End Colour Classes=====*/
