@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('//fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600');

$unit: 1rem;
$nav-height: 38px;

$colours: (
primary: #58a934,
primary-overlay-start: rgba(88,169,52,0.89),
primary-overlay-end: rgba(88,169,52,0.91),
primary-light: #58a934,
primary-dark: #58a934,
secondary: #FF8F00,
secondary-light: #FFA000,
secondary-dark: #FF6F00,
footer: #529423,
footer-light: #d6e9c6,
footer-dark: #1d560d
);

a,
#share-menu-button,
.mdc-simple-menu .mdc-list-item,
.social .fa-fw,
.mdc-theme--primary {
  color: map-get($colours, 'primary');
}
blockquote {
  border-left-color: map-get($colours, 'primary') !important;
}
.mdc-button,
.mdc-button--raised:not(:disabled) {
  color: white;
  border-color: map-get($colours, 'primary');
  background-color: map-get($colours, 'primary');
}
.mdc-button:hover,
.mdc-button--raised.mdc-button--active:not(:disabled),
.mdc-button--raised:not(:disabled):hover {
  color: white;
  border-color: map-get($colours, 'primary-dark');
  background-color: map-get($colours, 'primary-dark');
}
.mdc-button:hover {
  background-color: map-get($colours, 'primary-dark') !important;
}
.mdc-theme--primary-bg {
  background-color: map-get($colours, 'primary') !important;
}
body {
  background-color: map-get($colours, 'footer-dark');
}
footer h3 {
  border-color: map-get($colours, 'primary-light');
}
.mdc-theme--primary-light {
  color: map-get($colours, 'primary-light');
}
a:hover,
#share-menu-button:hover,
.mdc-theme--primary-dark {
  color: map-get($colours, 'primary-dark');
}
.mdc-theme--secondary {
  color: map-get($colours, 'secondary');
}
.mdc-theme--secondary-light {
  color: map-get($colours, 'secondary-light');
}
.mdc-theme--secondary-dark {
  color: map-get($colours, 'secondary-dark');
}
.mdc-theme--background,
.mdc-theme--site-bg {
  background-color: map-get($colours, 'footer-dark');
}
.container-content {
  background-color: #fff;
}
.mdc-simple-menu .mdc-list-item:after,
.mdc-simple-menu .mdc-list-item:before,
.mdc-theme--primary-overlay-start-bg {
  background-color: map-get($colours, 'primary-overlay-start');
}
.splash-image .header-caption {
  background-color: rgba(0,0,0,0.7);
}
.mdc-theme--primary-light-bg {
  background-color: map-get($colours, 'primary-light') !important;
}
.mdc-theme--primary-dark-bg.toolbar-nav {
  background-color: rgb(0,0,0);
  background-image: linear-gradient(90deg,#000,#000 30%,rgba(0,0,0,.9) 100%,rgba(0,0,0,.9));
  background-image: -webkit-linear-gradient(90deg,#000,#000 30%,rgba(0,0,0,.9) 100%,rgba(0,0,0,.9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=0);
}
.pagination li:hover,
.pagination li.current-page:hover,
.mdc-theme--primary-dark-bg {
  background-color: map-get($colours, 'primary-dark') !important;
}
.mdc-theme--secondary-bg {
  background-color: map-get($colours, 'secondary');
}
.mdc-theme--secondary-light-bg {
  background-color: map-get($colours, 'secondary-light');
}
.mdc-theme--secondary-dark-bg {
  background-color: map-get($colours, 'secondary-dark');
}

/* Typeahead */
.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-width: $unit/8;
  border-color: #000000;
  border-style: solid;
}

.tt-menu h3 {
  margin: 0 !important;
  padding: 5px 15px;
}

.tt-menu .tt-suggestion {
  padding: 5px 15px;
}

.tt-cursor {
  background-color: map-get($colours, 'primary');
  color: #ffffff;
}

/* Maps */
#map-full {
  height: 400px;
  max-height: 66.666vh;
  width: 100%;
}

html {
  overflow-y: scroll;
  height: 100%;
  font-size: 1.02rem;
  line-height: 1.45;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.container-fluid {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: $unit/2;
}
:focus {
  outline: none;
}
input:focus::-webkit-input-placeholder {
  color:transparent;
}
input:focus:-moz-placeholder {
  color:transparent;
}
input:focus::-moz-placeholder {
  color:transparent;
}
input:focus:-ms-input-placeholder {
  color:transparent;
}
.brand-logo,
.mdc-tab,
#menu_button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.brand-logo {
  // margin-left: -$unit/2;
  img {
    max-height: $unit*3.5;
  }
}

img.responsive,
img.responsive-img {
  max-width: 100%;
}

.mdc-tab,
.mdc-button,
.mdc-form-field,
.mdc-typography,
.mdc-card__subtitle,
.mdc-textfield__input,
.mdc-typography--title,
.mdc-card__title--large,
.mdc-typography--caption,
.mdc-typography--headline,
.supplimentary-list-title,
.mdc-card__supporting-text,
.mdc-typography--subheading2,
.mdc-simple-menu .mdc-list-item,
.mdc-temporary-drawer .mdc-list-item,
.mdc-list {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.mdc-temporary-drawer .mdc-list-item {
  font-weight: 600;
}
.mdc-card__title,
.mdc-textfield__label,
.mdc-typography--title,
.mdc-typography--headline,
.supplimentary-list-title {
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.mdc-typography {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  font-weight: 600;
  text-decoration: none;
  text-decoration-skip: ink;
}
a:hover {
  text-decoration: underline;
}
iframe {
  border: none;
}
figure {
  margin: $unit 0;
}
.mdc-select,
.mdc-textfield__input,
.mdc-textfield__input:focus,
.mdc-textfield__input:hover {
  color: #333;
  border-width: $unit/8;
  border-style: solid;
  border-color: #333;
  padding: 0 $unit/2;
  margin: 0;
  width: 100%;
  line-height: $nav-height - 3px;
  height: $nav-height - 3px;
  border-radius: 2px !important;
  box-sizing: border-box;
}
.mdc-textfield__input,
.mdc-textfield__input:focus,
.mdc-textfield__input:hover {
  background: transparent;
}
.mdc-button a:hover,
.mdc-button:hover,
.mdc-toolbar a:hover {
  text-decoration: none;
}
.mdc-button:not(.mdc-ripple-upgraded):active:after,
.mdc-button:not(.mdc-ripple-upgraded):focus:before,
.mdc-button:not(.mdc-ripple-upgraded):hover:before {
  opacity: 0.1;
}
.pull-right {
  float: right;
}

.cta-content.callout-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
}

.search-page {
  .page-content {
    h2 {
      margin-top: 0;
    }
  }
}
section.search {
  margin-bottom: $unit*2;
}
.home section.search {
  margin-bottom: $unit;
  h3 {
    margin-top: $unit;
  }
}
.search {
  // h3 {
  //     margin: $unit*2 0 0;
  // }
  .main_search {
    position: relative;
  }
  .search_form {
    position: relative;
    margin-bottom: $unit;
    .mdc-text-field {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 2px solid #333;
      border-radius: 3px;
      width: 100%;
      height: $unit*3;
      line-height: $unit*3;
      margin: 0;
      padding: 0 $unit*2.75 0 $unit*0.75;
      font-size: 1.1rem;
    }
    .search-button-large {
      padding: 0.75rem;
      position: absolute;
      top: 0;
      right: 0;
      .fa-search {
        font-size: $unit*1.5;
        color: #333;
        font-size: 1.5rem;
      }
    }
  }
}
.mdc-card.search .search_form .search-button-large,
.mdc-card-search .search_form .search-button-large {
  padding: 0.3rem;
}

.gist {
  padding-top: $unit;
  .mdc-card__subtitle {
    margin-top: $unit/4;
  }
  img.photo-wee {
    height: 64px;
    width: 64px;
  }
  h3.mdc-card__title {
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 0;
  }
  a.thumbnail:after {
    content: "" !important;
    display: none !important;
    margin: 0;
  }
  .thumbnail {
    margin-top: $unit/2;
    display: block;
    img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
      object-fit: cover;
    }
  }
}

.c-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 360px;
  background-color: rgba(0, 0, 0, 0.05);
  .mdc-card {
    background-color: #fff;
  }
}

.mdc-form-field {
  font-size: 1rem;
}
.mdc-form-field > label {
  line-height: 38px;
}
.mdc-select {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  background-position-x: 97%;
}
.mdc-select:focus {
  border-bottom-color: inherit;
}
.mdc-select,
.mdc-textfield {
  width: 100%;
  margin: 0 0 $unit/2;
}
.mdc-form-field>label {
  padding: 0;
}
.sidebar {
  .mdc-form-field {
    display: block;
  }
}
.mdc-textfield__label {
  display: block;
  margin-bottom: $unit/2;
}
.filter {
  margin-top: $unit !important;
  h3 {
    margin: 0;
  }
  .mdc-form-field {
    width: 100%;
  }
}

.sidebar {
  .mdc-form-field,
  .mdc-select,
  .mdc-button {
    width: 100%;
  }
}
.v-align-img {
  height: 22vh;
  overflow: hidden;
  margin-top: 1px;
  margin-bottom: 1rem;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.mdc-toolbar.mdc-toolbar--fixed {
  padding-top: 0;
}
.mdc-toolbar {
  #upper-tab-bar,
  .mdc-toolbar__icon,
  .mdc-toolbar__row,
  .mdc-form-field,
  .mdc-toolbar__section {
    height: $unit*6.5;
    padding: 0;
  }
  .mdc-toolbar__section.toolbar-menu,
  .mdc-toolbar__row.toolbar-nav {
    height: $nav-height;
  }
  .toolbar-nav {
    min-height: $nav-height;
  }
  .mdc-toolbar__row {
    min-height: $nav-height;
    .container-fluid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      .mdc-toolbar__title {
        padding: 0;
        margin-left: 0;
        overflow: visible;
        margin-top: -5px;
        .brand-logo {
          margin-left: $unit/2;
        }
      }
      .mdc-toolbar__title,
      .mdc-toolbar__subtitle {
        position: absolute;
      }
      .mdc-toolbar__subtitle {
        left: $unit/2;
        bottom: $unit*.7;
        font-size: .91rem;
      }
      .mdc-textfield {
        margin: 0;
        max-height: $nav-height;
        height: auto;
        .mdc-textfield__input,
        .mdc-textfield__input:focus,
        .mdc-textfield__input:hover {
          font-size: 16px;
          color: rgba(255,255,255,.87);
          border-width: $unit/8;
          border-style: solid;
          border-color: rgba(255,255,255,.75);
          padding: 0  $unit*2 0 $unit/2;
          margin: 0;
          line-height: $nav-height - 3px;
          height: $nav-height - 3px;
          background: transparent;
          border-radius: 2px !important;
          box-sizing: border-box;
        }
        ::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.6);
        }
        ::-moz-placeholder {
          color: rgba(255, 255, 255, 0.6);
        }
        :-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.6);
        }
        :-moz-placeholder {
          color: rgba(255, 255, 255, 0.6);
        }
      }
      .mdc-toolbar__icon {
        height: $unit*2;
        z-index: 100;
      }
      .mdc-toolbar__icon:focus {
        outline: none;
      }
      .mdc-toolbar__icon--menu {
        display: none;
      }
      .search_form {
        position: relative;
        .mdc-toolbar__search {
          background-color: transparent;
          position: absolute;
          padding: 0.4rem;
          right: 0;
          bottom: $unit*2;
        }
      }
      .mdc-tab-bar {
        overflow: hidden;
        text-transform: none;
        height: $nav-height;
        margin: 0;
        .mdc-tab {
          background-color: transparent;
          color: white !important;
          font-size: 1rem;
          min-height: $nav-height;
          height: $nav-height;
          font-weight: 600;
          padding: 0 $unit*(3/4);
          .mdc-tab--label {
            line-height: $nav-height - 4px;
            height: $nav-height - 4px;
            display: block;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
          }
        }
        .mdc-tab:first-child {
          padding-left: 0;
        }
        .mdc-tab::after {
          display: none;
        }
      }
      .mdc-tab.mdc-tab--active {
        opacity: 1;
      }
      #main-tab-bar {
        .mdc-tab:hover .mdc-tab--label {
          border-bottom-color: rgba(255,255,255,0.6);
        }
        .mdc-tab.mdc-tab--active .mdc-tab--label {
          border-bottom-color: rgba(255,255,255,0.9);
        }
      }
      #upper-tab-bar {
        // margin-top: $unit*1.75;
        margin-right: $unit;
        .mdc-tab {
          min-width: auto;
          font-weight: 600;
        }
        .mdc-tab:hover .mdc-tab--label {
          border-bottom-color: rgba(255,255,255,0.6);
        }
        .mdc-tab.mdc-tab--active .mdc-tab--label {
          border-bottom-color: rgba(255,255,255,0.9);
        }
      }
    }
    a.mdc-toolbar__icon:hover {
      color: white !important;
    }
    .mdc-toolbar__icon--menu {
      background: transparent;
      color: white;
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      cursor: pointer;
      visibility: hidden;
      width: 0;
      .fa-bars {
        font-size: 1.7rem;
      }
    }
    .mdc-toolbar__icon--menu:focus {
      outline: none;
    }
    .mdc-toolbar__icon:first-of-type {
      padding-left: 0;
    }
    .mdc-toolbar__icon:last-of-type {
      padding-right: 0;
    }
    .mdc-toolbar__section.toolbar-search {
      vertical-align: middle;
      .mdc-textfield input {
        max-width: 15rem;
      }
      .fa-search {
        font-size: 1.3rem;
      }
    }
    .mdc-toolbar__section.toolbar-menu {
      .mdc-tab {
        min-width: auto;
      }
    }
  }
}
.mdc-toolbar-fixed-adjust {
  padding: 145px 0 0;
  margin: 0;
}
.mdc-temporary-drawer {
  display: none;
  .mdc-temporary-drawer__header,
  .mdc-temporary-drawer__header-content {
    height: 58px;
  }
  .mdc-temporary-drawer__header-content {
    direction: ltr;
    padding: 0 $unit*0.7;
    -webkit-box-align: center;
    align-items: center;
  }
  // .mdc-temporary-drawer__header:before {
  //     padding-top: 24%;
  // }
  .mdc-list-group {
    direction: ltr;
    .mdc-list {
      .mdc-list-item {
        direction: ltr;
        padding: 0 $unit;
      }
      .mdc-list-item__start-detail {
        display: none;
      }
    }
  }
}

.mdc-temporary-drawer__drawer {
  display: -webkit-box !important;
  -webkit-transition: all .195s ease !important;
  -webkit-transform: translateX(400px) !important;
}
.mdc-temporary-drawer--open {
  .mdc-temporary-drawer__drawer {
    -webkit-transform: none !important;
  }
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

// Grid Cards ==================================================================

.mdc-layout-grid.equal-height .mdc-layout-grid__cell {
  display: flex;
  .mdc-card {
    justify-content: start;
    .mdc-card__supporting-text {
      flex: 1 0 auto;
    }
  }
}

// Pagination ==================================================================

.pagination {
  text-align: center;
  display: block !important;
  padding-top: $unit !important;
  padding-bottom: $unit*2 !important;
  li {
    padding: 0 !important;
    height: $unit*2;
    width: $unit*2;
    border-radius: 50%;
    margin: 0 $unit/5;
    vertical-align: bottom;
    a {
      font-size: 1.2rem;
      line-height: $unit*2;
      height: $unit*2;
      width: $unit*2;
      color: #000;
      padding: 0;
      margin: 0;
      font-weight: 600;
      display: block;
    }
    a.pagination-arrow {
      color: #000;
      vertical-align: middle;
    }
  }
  li.disabled a.pagination-arrow {
    cursor: default;
    color: #999;
  }
  li:first-child a {
    padding-left: 0;
  }
  li:last-child a {
    padding-right: 0;
  }
  li.current-page {
    border-radius: 50%;
    a {
      color: white;
    }
  }
  li:hover,
  li.current-page:hover {
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.action-buttons-right {
  flex-direction: row-reverse;
  border-top: 1px solid rgba(0,0,0,.2);
}

// .mdc-temporary-drawer,
.hidden {
  display: none !important;
}

.mdc-form-field,
.mdc-button,
.mdc-card__supporting-text,
.mdc-card__subtitle {
  font-size: 1rem;
}
.mdc-card__supporting-text {
  letter-spacing: 0;
}
.mdc-button,
.mdc-card__subtitle {
  font-weight: 600;
}
.mdc-button {
  line-height: 1.96rem;
  outline: none;
}
.mdc-button.mdc-button--raised.pull-right {
  margin-top: $unit/2;
}
.mdc-card__media a:hover {
  text-decoration: none;
}
.mdc-card__title--large {
  font-size: 1.2rem;
  letter-spacing: normal;
  line-height: 1.7rem;
  margin: 0;
  padding: 0 0 $unit/2;
  font-weight: 600 !important;
}
h1.mdc-typography--title {
  font-size: 2rem;
  margin-bottom: $unit*1.5;
}
.linked-cards {
  .mdc-card__primary {
    padding: 0;
    a {
      padding: $unit;
      box-sizing: border-box;
    }
  }
  .mdc-card__media {
    padding: 0;
    a {
      display: block;
    }
  }
}
.mdc-card__primary {
  .mdc-card__title {
    padding-bottom: 0;
  }
  .mdc-card__title--large {
    padding-top: 0;
  }
}
.grid-info {
  .mdc-card__primary {
    h1 {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      a {
        display: block;
        color: white;
        width: 100%;
        height: 100%;
        .hidden {
          display: none;
        }
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
  .mdc-card__media,
  .mdc-card__media a {
    height: 128px;
  }
  .mdc-card__media {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: $unit;
  }
}
.mdc-card__actions {
  padding: $unit/2 $unit $unit;
  .mdc-card__action {
    font-weight: 800;
  }
  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0 $unit/2 $unit/2;
    li .mdc-card__action {
      line-height: 1.96rem;
      width: 100%;
      margin-bottom: $unit/2;
      display: block;
    }
    li:last-child .mdc-card__action {
      margin-bottom: 0;
    }
  }
}
.supplimentary-list .list,
.supplimentary-list .gist {
  .mdc-card__actions {
    padding-bottom: $unit/2 !important;
  }
}
.photo-wee,
.mdc-card__media-item {
  border-radius: 50%;
}
.photo-full {
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin: 0 auto $unit;
  display: block;
}
.mdc-card__primary {
  padding: $unit;
}
.mdc-card__primary:last-child {
  padding-bottom: 1rem;
}
.mdc-card-search {
  margin: 0 0 $unit;
  .mdc-card__primary {
    padding-top: $unit/2;
    padding-bottom: $unit;
  }
}

.mdc-card__supporting-text {
  padding: 0 $unit $unit/2;
  h4 {
    margin-top: 0;
  }
}
.mdc-card__supporting-text:last-child {
  padding-bottom: $unit;
}

.search-page {
  margin: 0 auto;
  .mdc-layout-grid {
    margin: $unit auto;
  }
  h3 {
    margin-top: 0;
  }
  form .sidebar h3 {
    margin-top: $unit;
  }
}

.search-info {
  // border: 0.125rem solid #ddd;
  margin-bottom: $unit;
  background: #fafafa;
  color: #555;
  padding: $unit/3 $unit/2;
  box-sizing: border-box;
}

.search-result {
  margin-bottom: $unit;
}

.mdc-layout-grid {
  margin: 0;
  padding: 0;
  .mdc-card {
    width: 100%;
  }
}

.inline-list {
  display: inline;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  li:not(:last-child) {
    margin-right: 5px;
  }
}

.inline-dl {
  margin: 0;
  dt, dd {
    float: left;
  }
  dt {
    clear: both;
    width: 30%;
  }
  dd {
    margin: 0;
    width: 70%;
  }
}
.inline-dl.span-2 {
  clear: both;
  dt {
    width: 40%;
  }
  dd {
    width: 60%;
  }
}
.container-content {
  ul {
    padding-left: 0;
    li {
      list-style: none;
      padding-left: $unit*1.4;
    }
    li:before {
      color: black;
      content: "\25CF";
      font-size: 1rem;
      margin-left: -$unit*1.4;
      padding-right: 0.95rem;
      position: relative;
      top: 0em;
    }
  }
  ul.fa-ul {
    li {
      padding-left: 0;
    }
    li::before {
      content: " ";
      padding: 0;
      margin: 0;
    }
  }
  .mdc-button {
    // background: white;
    border-width: $unit/8;
    border-style: solid;
    // margin-top: $unit;
    text-transform: none;
    // background: transparent;
  }
  .mdc-card__actions ul,
  ul.supplimentary-list,
  ul.inline-list {
    li {
      padding-left: 0;
    }
    li::before {
      content: "";
      padding: 0;
      margin: 0;
      font-size: unset;
    }
  }
}
.mdc-card__actions ul {
  padding: 0;
}

.menu-sidebar {
  margin-top: $unit;
  margin-bottom: $unit*2;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  .mdc-button {
    box-shadow: none !important;
    -webkit-box-shadow: none;
    padding: 0 $unit;
    line-height: 2.23rem;
    border: none;
    text-align: left;
    margin-bottom: 0;
    border-radius: 0;
  }
  .menu-level-2 {
    padding-left: $unit*1.5;
  }
  .menu-level-3 {
    padding-left: $unit*2;
  }
  .menu-level-4 {
    padding-left: $unit*2.5;
  }
  .menu-level-5 {
    padding-left: $unit*3;
  }
  .mdc-button:first-child {
    border-radius: 2px 2px 0 0;
  }
  .mdc-button:last-child {
    border-radius: 0 0 2px 2px;
  }
  .mdc-button:not(.mdc-ripple-upgraded):active:after,
  .mdc-button:not(.mdc-ripple-upgraded):focus:before,
  .mdc-button:not(.mdc-ripple-upgraded):hover:before {
    opacity: 0;
  }
}

.mdc-simple-menu {
  .fa-fw {
    margin-right: $unit/2;
  }
  .mdc-list-item {
    font-weight: 600;
  }
  .mdc-list-item:after,
  .mdc-list-item:before {
    margin-left: 0;
  }
  .mdc-list-item:not(.mdc-ripple-upgraded):active:after,
  .mdc-list-item:not(.mdc-ripple-upgraded):focus:before,
  .mdc-list-item:not(.mdc-ripple-upgraded):hover:before {
    opacity: 0.1;
  }
}

hr {
  margin: $unit 0;
  height: 1px;
  background-color: white;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

ul.breadcrumbs {
  margin: 0 0 $unit/2;
  padding: $unit/2 0 $unit;
  // height: $nav-height;
  // line-height: $nav-height;
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-size: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: rgba(0,0,0,0.75);
    font-weight: 600;
  }
  li:before {
    content: "\203A" !important;
    font-weight: 800;
    width: auto;
    padding: 0;
    margin: 0 $unit/2;
    display: inline-block;
    color: rgba(0,0,0,.6) !important;
  }
  li.pull-right:before,
  li:first-child:before {
    content: "" !important;
    font-weight: 800;
    margin: 0 !important;
    width: 0 !important;
  }
  li.pull-right a::after {
    content: "";
    margin: 0;
  }
  // li:not(:last-child) {
  //     margin-right: $unit/4;
  // }
}
.spacer {
  margin: 0 0 $unit*1.5;
}
blockquote {
  border-left: 0.2rem solid white;
  margin: 0 0 0.75rem;
  padding: 0 0.75rem;
  font-size: 125%;
}
blockquote p {
  display: inline;
}

ul.supplimentary-list {
  margin: 0;
  padding: 0;
  li.supplimentary-list-item {
    list-style:none;
    margin: 0;
    padding: 0;
    .supplimentary-list-title {
      font-size: 1.1rem;
      line-height: 1.4rem;
      margin-bottom: 0;
      display: block;
    }
    .supplimentary-list-text {
      line-height: 1.4;
      letter-spacing: normal;
    }
  }
  li.supplimentary-list-item:not(:last-child){
    margin-bottom: $unit;
  }
}
.mdc-card__primary+.mdc-card__supporting-text {
  margin-top: 0;
}
.sidebar .author-about,
.content .supplimentary-list {
  margin-top: $unit/2;
  margin-bottom: $unit;
}

h1,
h2,
h3,
h4 {
  margin-bottom: $unit/2;
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  strong {
    font-weight: 700;
  }
}
p,
.mdc-card__supporting-text,
li {
  line-height: 1.5;
}
p {
  margin: 0 0 $unit;
}
p:last-child {
  margin-bottom: 0;
}
.full {
  img {
    max-width: 100%;
    height: auto;
  }
}
.full {
  margin: $unit 0;
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0 !important;
  }
  .alignleft {
    float: left;
    margin-right: $unit;
  }
  .alignright {
    float: right;
    margin-left: $unit;
  }
  .aligncenter {
    display: block;
    margin: 0 auto;
  }
}
.sidebar {
  .blogs {
    margin-top: $unit;
  }
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0 !important;
  }
}

.currently-recruiting {
  background-color: #f0f0f0;
}

.fa-2x {
  font-size: 2rem;
}
.fa-3x {
  font-size: 3rem;
}
.fa-4x {
  font-size: 4rem;
}
.fa-5x {
  font-size: 5rem;
}

.inline-icon {
  vertical-align: middle;
}

.v-margin {
  margin-top: $unit/2;
  margin-bottom: $unit/2;
}
.v-margin-full {
  margin-top: $unit;
  margin-bottom: $unit;
}

.h-margin {
  margin-left: $unit/2;
  margin-bottom: $unit/2;
}

.t-margin { margin-top: $unit/2; }
.b-margin { margin-bottom: $unit/2; }
.l-margin { margin-left: $unit/2; }
.r-margin { margin-right: $unit/2; }

p.results-highlights em {
  font-weight: bolder;
  font-style: normal;
}

.horizontal-list-details {
  display: flex;
  padding: 0 0 0;
  margin-top: 8px;
  margin-bottom: $unit/2;

  li {
    min-width: 15%;
    height: auto;
    align-self: baseline;
  }

  li:not(:last-child){
    margin-right: 5px;
  }
}

footer {
  border-top: .6rem solid map-get($colours, 'footer-light');
  background-color: map-get($colours, 'footer');
  background-image: linear-gradient(290deg,map-get($colours, 'footer'),map-get($colours, 'footer-dark') 95%,map-get($colours, 'footer-dark'));
  background-image: -webkit-linear-gradient(290deg,map-get($colours, 'footer'),map-get($colours, 'footer-dark') 95%,map-get($colours, 'footer-dark'));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="map-get($colours, 'footer')",endColorstr="map-get($colours, 'footer-dark')",GradientType=0);
  .footer-main {
    padding: 0;
    margin-bottom: 0;
  }
  h3 {
    color: white;
    font-size: 1.3rem;
    border-bottom: .2rem solid map-get($colours, 'footer-light');
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem 0 .5rem;
    font-weight: 600;
  }
  .about a,
  a {
    color: white;
    text-decoration: underline;
  }
  .about a:hover,
  a:hover {
    color: white;
  }
  .mdc-list .mdc-list-item {
    a {
      font-size: 1rem;
    }
    a:hover {
      text-decoration: underline !important;
    }
  }
  .brand-logo {
    display: block;
    text-align: right;
    img {
      margin-bottom: 0;
      width: 125px;
    }
  }
  .mdc-layout-grid {
    padding: 0;
    margin-bottom: 0;
    p {
      margin: 0 0 0.8rem;
      color: white;
    }
  }
  .fa-ul,
  .mdc-list,
  .mdc-list-item {
    font-size: inherit;
    letter-spacing: 0;
  }
  .fa-ul {
    margin: 0 0 0 1.5rem;
    li a {
      text-decoration: none;
    }
    li a:hover {
      text-decoration: underline;
    }
    .fa-li {
      .fas, .fal, .far, .fab {
        color: white;
      }
    }
  }
  .contact {
    .fa-ul {
      margin-bottom: $unit !important;
    }
  }
  .mdc-layout-grid p {
    margin-bottom: 0;
  }
  .mdc-list {
    padding: 0;
    .mdc-list-item {
      height: 1.5rem;
      a {
        text-decoration: none;
      }
    }
  }
  .footer-copyright {
    background: map-get($colours, 'footer-dark');
    padding-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 0.9rem;
    p {
      margin: 0;
    }
  }
}

@media screen and (max-width: 1340px) {
  .home {
    .splash-image.hello .container-fluid .mdc-layout-grid h1.header-text {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .splash-image p.header-extra {
      font-size: 1.4rem;
      padding-bottom: $unit/2;
    }
  }
}

@media screen and (max-width: 1140px) {
  .home {
    .splash-image.hello .container-fluid {
      .mdc-layout-grid {
        width: 60%;
        h1.header-text {
          font-size: 3.8rem;
          line-height: 3.4rem;
        }
        p.header-extra {
          font-size: 1.3rem;
          padding: $unit/2 0;
        }
      }
    }
  }
  .mdc-toolbar.mdc-toolbar--fixed {
    padding-top: 0;
  }
  .mdc-toolbar-fixed-adjust {
    padding-top: 130px;
  }
  .mdc-toolbar .mdc-toolbar__row .container-fluid .mdc-tab-bar .mdc-tab {
    padding: 0 $unit/2;
  }
}

@media screen and (max-width: 991px) {
  .mdc-temporary-drawer {
    display: block;
  }
  .mdc-toolbar {
    #upper-tab-bar,
    .upper-menu,
    .mdc-toolbar__row.toolbar-nav {
      display: none;
    }
    .mdc-toolbar__row .container-fluid {
      .mdc-toolbar__icon--menu {
        visibility: visible;
        width: auto;
        display: block;
      }
      .search_form {
        margin-right: $unit;
        .mdc-toolbar__search {
          bottom: 0;
        }
      }
    }
  }
  .mdc-toolbar.mdc-toolbar--fixed {
    padding-top: 0;
  }
  .mdc-toolbar .mdc-toolbar__row .container-fluid .mdc-toolbar__icon {
    height: 58px;
  }
  .mdc-toolbar #upper-tab-bar,
  .mdc-toolbar .mdc-toolbar__icon,
  .mdc-toolbar .mdc-toolbar__row,
  .mdc-toolbar .mdc-form-field,
  .mdc-toolbar .mdc-toolbar__section {
    max-height: 58px;
  }
  .mdc-temporary-drawer__header-content,
  .brand-logo {
    margin-left: 0;
    img {
      max-height: $unit*2.5;
    }
  }
  .mdc-toolbar-fixed-adjust {
    padding-top: 58px;
  }
  .pagination-distance-9,
  .pagination-distance-8,
  .pagination-distance-7,
  .pagination-distance-6 {
    display: none !important;
  }
}

@media screen and (max-width: 839px) {
  html {
    font-size: 0.92rem;
    line-height: 1.25;
  }
  .home .splash-image.hello .container-fluid .mdc-layout-grid p.header-extra {
    font-size: 1.2rem;
    margin-bottom: $unit/2;
  }
  .home .featured-content .featured-background-image.charity-awards .mdc-card {
    margin-top: 0;
    img.header-text {
      margin: 0 auto;
      display: block;
      text-align: center;
    }
    h2 {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  .breadcrumbs {
    font-size: 85%;
  }
  .pagination-distance-5 {
    display: none !important;
  }
  .home .search {
    h3 {
      margin: $unit 0;
    }
    .home_search_form {
      margin-right: 0;
    }
  }
  .splash-image {
    .container-fluid {
      .mdc-layout-grid {
        width: 66%;
        img.header-text {
          max-height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .events .related .photo-wee {
    max-width: 110px;
  }
}

@media screen and (max-width: 479px) {
  .home .featured-content {
    .featured-background-image img.header-text {
      margin-right: 0;
    }
    .featured-info-summary {
      margin-top: 0;
    }
  }
  footer {
    .footer-main {
      margin: $unit 0;
      h3 {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .pagination-distance-4 {
    display: none !important;
  }
  .splash-image {
    .container-fluid {
      .mdc-layout-grid {
        width: 100%;
        h1.header-text {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
    }
  }
  .home .splash-image.hello .splash-overlay .container-fluid {
    min-height: 30vh;
    h1.header-text {
      font-size: 2rem;
      line-height: 2.2rem;
    }
    .mdc-layout-grid {
      width: 100%;
      margin: $unit*(2/3) 0;
      h1.header-text {
        font-size: 3rem;
        line-height: 3.3rem;
      }
      p.header-extra {
        font-size: 0.97rem;
        // margin-bottom: 0;
      }
    }
  }
  .mdc-card {
    .mdc-card__title--large {
      font-size: 1rem;
    }
  }
  footer .brand-logo {
    text-align: center;
  }
}

@media screen and (max-width: 395px) {
  .mdc-toolbar__title {
    width: 38px;
    overflow: hidden;
  }
  .pagination-distance-3 {
    display: none !important;
  }
}

@media print {
  .mdc-toolbar-fixed-adjust {
    padding: 0;
  }
  .print-button,
  .sidebar,
  .related,
  .pagination,
  .footer-image,
  .breadcrumbs,
  .header-caption,
  .mdc-toolbar.mdc-toolbar--fixed,
  #share-menu-button,
  header,
  footer {
    display: none;
  }
  .content {
    grid-column-end: span 12;
  }
  .splash-image .container-fluid .mdc-layout-grid {
    width: 100%;
    margin: 0;
  }
  .splash-image h1.header-text {
    color: black;
    font-size: 2rem;
  }
  .splash-image .splash-overlay .container-fluid {
    min-height: auto;
  }
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-centre { text-align: center; }
.text-justify { text-align: justify; }

