// $mdc-theme-primary: #58a934;
$mdc-theme-primary: #3c7524;
$mdc-theme-primary-light: #d1edc4;
$mdc-theme-primary-dark: #1e3b12;

$mdc-theme-secondary: #424242;
$mdc-theme-secondary-light: lighten($mdc-theme-secondary, 10%);
$mdc-theme-secondary-dark: darken($mdc-theme-secondary, 10%);

$mdc-theme-background: #fff;

$unit: 1rem;
$toolbar-height: 64px;
$nav-height: 38px;

$mobile-breakpoint: 599px;
$mobile-landscape-breakpoint: 959px;

@import "./node_modules/material-components-web/material-components-web.scss";
@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('//fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600');

body {
  background-color: $mdc-theme-primary-dark;
}
.mdc-toolbar-fixed-adjust {
  margin: 0;
  padding-top: $toolbar-height;
}
header {
  .container-fluid {
    padding: 0;
    .mdc-top-app-bar__title {
      padding: 0;
      a {
        display: block;
      }
      a:hover {
        text-decoration: none;
      }
      svg {
        position: absolute;
        top: 4px;
        left: 0;
      }
      .tagline {
        color: white;
        text-transform: lowercase;
        position: absolute;
        bottom: 1px;
        left: 0;
      }
    }
    .mdc-top-app-bar__section {
      padding: 0;
    }
    .mdc-tab-bar {
      height: $toolbar-height;
      .mdc-tab {
        text-transform: none;
        color: white;
        min-width: auto;
        font-size: 1rem;
      }
    }
    .mdc-tab::before, .mdc-tab::after {
      background-color: white;
    }
    .mdc-menu-anchor {
      .mdc-button {
        color: white;
        padding-right: 0;
        text-transform: none;
        .fa-fw {
          margin-right: $unit/2;
        }
        .fa-fw:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

li,
p,
.mdc-tab,
.mdc-card,
.mdc-button,
.mdc-form-field,
.mdc-typography,
.mdc-card__subtitle,
.mdc-textfield__input,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--title,
.mdc-text-field__input,
.mdc-card__title--large,
.mdc-typography--caption,
.mdc-typography--headline,
.supplimentary-list-title,
.mdc-card__supporting-text,
.mdc-typography--subheading2,
.mdc-simple-menu .mdc-list-item,
.mdc-temporary-drawer .mdc-list-item,
.mdc-list {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.mdc-card__title,
.mdc-textfield__label,
.mdc-typography--title,
.mdc-typography--headline,
.supplimentary-list-title {
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

a {
  color: $mdc-theme-primary;
  font-weight: 600;
  text-decoration: none;
  text-decoration-skip: ink;
}
a:hover {
  text-decoration: underline;
}

.mdc-chip {
  color: white
}

.mdc-button a:hover,
.mdc-button:hover,
.mdc-tab:hover,
.mdc-toolbar a:hover {
  text-decoration: none;
}
.mdc-button:not(.mdc-ripple-upgraded):active:after,
.mdc-button:not(.mdc-ripple-upgraded):focus:before,
.mdc-button:not(.mdc-ripple-upgraded):hover:before {
  opacity: 0.1;
}

.mdc-form-field,
.mdc-button,
.mdc-card__supporting-text,
.mdc-card__subtitle {
  font-size: 1rem;
}
.mdc-card__supporting-text {
  letter-spacing: 0;
}
.mdc-button,
.mdc-tab,
.mdc-card__subtitle {
  font-weight: 600;
}

.search-info {
  margin-bottom: $unit;
  background: #fafafa;
  color: #555;
  padding: $unit/3 $unit/2;
  box-sizing: border-box;
}

.mdc-card {
  p {
    margin: 0 0 $unit/2;
  }
  p:last-child {
    margin: 0;
  }
  .mdc-card__actions {
    .mdc-card__action {
      font-weight: 600;
      margin-right: $unit;
    }
    .mdc-card__action:last-child {
      margin-right: 0;
    }
  }
}

.mdc-form-field,
.mdc-select,
.mdc-text-field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* Typeahead */
.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-width: $unit/8;
  border-color: #000000;
  border-style: solid;
}

.tt-menu h3 {
  margin: 0 !important;
  padding: 5px 15px;
}

.tt-menu .tt-suggestion {
  padding: 5px 15px;
}

.tt-cursor {
  background-color: $mdc-theme-primary;
  color: #ffffff;
}

/* Maps */
#map-full {
  height: 400px;
  max-height: 66.666vh;
  width: 100%;
}

.search-overlay {
  position: absolute;
  width: 100%;
  z-index: 1;
  input, select {
    border-bottom-style: none!important;
  }
  .mdc-notched-outline, .mdc-notched-outline__idle {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .mdc-floating-label {
    z-index: 1;
    color: #444444;
  }
  .mdc-layout-grid {
    padding: 0;
  }
}

.search-overlay-terms {
  margin-top: 15px;
  input, select {
    font-size: 1rem;
  }
}

/*=====End Maps=====*/
/*=====Top Bar=====*/
#top-bar {
  z-index: 100;
}
.top-bar-stuck {
  position: fixed;
  top: 0;
}
.mdc-drawer {
  z-index: 150;
}
/*=====End Top Bar=====*/

html {
  overflow-y: scroll;
  height: 100%;
  font-size: 1.02rem;
  line-height: 1.45;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.container-fluid {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: $unit/2;
}

/* Search results card */
.search-result-card__info-row {
    display: flex;
    border-top-left-radius: inherit;
}

.search-result-card__media--organisation {
    width: 110px;
    border-top-left-radius: inherit;
}

.search-result-card__info {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}

.search-result-article__snippet {
  margin: 8px;
}
/* End Search results card */

// Pagination ==================================================================

.pagination {
  text-align: center;
  display: block !important;
  padding-top: $unit !important;
  padding-bottom: $unit*2 !important;
  li {
    padding: 0 !important;
    height: $unit*2;
    width: $unit*2;
    border-radius: 50%;
    margin: 0 $unit/5;
    vertical-align: bottom;
    a {
      font-size: 1.2rem;
      line-height: $unit*2;
      height: $unit*2;
      width: $unit*2;
      color: #000;
      padding: 0;
      margin: 0;
      font-weight: 600;
      display: block;
    }
    a.pagination-arrow {
      color: #000;
      vertical-align: middle;
    }
  }
  li.disabled a.pagination-arrow {
    cursor: default;
    color: #999;
  }
  li:first-child a {
    padding-left: 0;
  }
  li:last-child a {
    padding-right: 0;
  }
  li.current-page {
    border-radius: 50%;
    a {
      color: white;
    }
  }
  li:hover,
  li.current-page:hover {
    a {
      color: white;
      text-decoration: none;
    }
  }
}

footer {
  border-top: .6rem solid $mdc-theme-primary-light;
  //map-get($colours, 'footer-light');
  background-color: $mdc-theme-primary;
  background-image: linear-gradient(290deg, $mdc-theme-primary, $mdc-theme-primary-dark 95%, $mdc-theme-primary-dark);
  background-image: -webkit-linear-gradient(290deg, $mdc-theme-primary, $mdc-theme-primary-dark 95%, $mdc-theme-primary-dark);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$mdc-theme-primary",endColorstr="$mdc-theme-primary-dark",GradientType=0);
  .footer-main {
    padding: 0;
    margin-bottom: 0;
  }
  h3 {
    color: white;
    font-size: 1.3rem;
    border-bottom: .2rem solid $mdc-theme-primary-light;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem 0 .5rem;
    font-weight: 600;
  }
  .about a,
  a {
    color: white;
    text-decoration: underline;
  }
  .about a:hover,
  a:hover {
    color: white;
  }
  .mdc-list .mdc-list-item {
    a {
      font-size: 1rem;
    }
    a:hover {
      text-decoration: underline !important;
    }
  }
  .brand-logo {
    display: block;
    text-align: right;
    img {
      margin-bottom: 0;
      width: 125px;
    }
  }
  .mdc-layout-grid {
    padding: 0;
    margin-bottom: 0;
    p {
      margin: 0 0 0.8rem;
      color: white;
    }
  }
  .fa-ul,
  .mdc-list,
  .mdc-list-item {
    font-size: inherit;
    letter-spacing: 0;
  }
  .fa-ul {
    margin: 0 0 0 1.5rem;
    li a {
      text-decoration: none;
    }
    li a:hover {
      text-decoration: underline;
    }
    .fa-li {
      .fas, .fal, .far, .fab {
        color: white;
      }
    }
  }
  .contact {
    .fa-ul {
      margin-bottom: $unit !important;
    }
  }
  .mdc-layout-grid p {
    margin-bottom: 0;
  }
  .mdc-list {
    padding: 0;
    .mdc-list-item {
      height: 1.5rem;
      a {
        text-decoration: none;
      }
    }
  }
  .footer-copyright {
    background-color: $mdc-theme-primary-dark;
    padding-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 0.9rem;
    p {
      margin: 0;
    }
  }
}

/*=====Tab Bar=====*/

.mdc-tab-bar__left {
  margin-left: 0;
}

.mdc-tab-bar__right {
  margin-right: 0;
}

.mdc-tab-bar__compact {
  height: 2em;
  .mdc-tab {
    padding:0px;
  }
}

/*=====Utility classes=====*/

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-centre { text-align: center; }
.text-justify { text-align: justify; }

.v-margin {
  margin-top: $unit/2;
  margin-bottom: $unit/2;
}
.v-margin-full {
  margin-top: $unit;
  margin-bottom: $unit;
}

.h-margin {
  margin-left: $unit/2;
  margin-bottom: $unit/2;
}

.t-margin { margin-top: $unit/2; }
.b-margin { margin-bottom: $unit/2; }
.l-margin { margin-left: $unit/2; }
.r-margin { margin-right: $unit/2; }

@media (max-width: $mobile-breakpoint) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: $mobile-breakpoint + 1) and (max-width: $mobile-landscape-breakpoint) {
  .hide-md {
    display: none;
  }
}

@media (min-width: $mobile-landscape-breakpoint + 1) {
  .hide-lg {
    display: none;
  }
}

/*=====End Utility Classes=====*/
/*=====Colour Classes=====*/


/*=====End Colour Classes=====*/
