// $mdc-theme-primary: #58a934;
$mdc-theme-primary: #3c7524;
$mdc-theme-primary-light: #d1edc4;
$mdc-theme-primary-dark: #1e3b12;
$mdc-theme-old: #58a934;

$mdc-theme-secondary: #424242;
$mdc-theme-secondary-light: lighten($mdc-theme-secondary, 10%);
$mdc-theme-secondary-dark: darken($mdc-theme-secondary, 10%);

$mdc-theme-background: white;

$unit: 1rem;
$toolbar-height: 64px;
$toolbar-item-height: 48px;
$nav-height: 38px;

$mobile-breakpoint: 599px;
$mobile-landscape-breakpoint: 959px;

@import "./node_modules/material-components-web/material-components-web.scss";
@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('//fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,500,600');

body {
  background-color: $mdc-theme-primary-dark;
}
.mdc-toolbar-fixed-adjust {
  margin: 0;
  padding-top: $toolbar-height;
}
header {
  background-image: linear-gradient(60deg, $mdc-theme-primary-dark, $mdc-theme-primary-dark 3%, $mdc-theme-primary 3.08%, $mdc-theme-primary 50%, white 50.08%, white);
  .container-fluid {
    padding: 0;
    .mdc-top-app-bar__section--align-start {
      background-image: linear-gradient(60deg, $mdc-theme-primary, $mdc-theme-primary 320px, $mdc-theme-old 321px, $mdc-theme-old);
      min-width: 321px;
    }
    .mdc-top-app-bar__section--align-end {
      background-image: linear-gradient(60deg, $mdc-theme-old, $mdc-theme-old 63px, white 64px, white);
    }
    .mdc-top-app-bar__title {
      padding: 0;
      a {
        display: block;
      }
      a:hover {
        text-decoration: none;
      }
      img.brand-logo {
        height: 60px;
        position: absolute;
        clip: rect(0px,60px,60px,0px);
        top: 0px;
      }
      svg {
        //position: absolute;
        //top: 4px;
        //left: 0;
        margin-left: 70px;
        margin-top: 0.75rem;
      }
      .tagline {
        color: white;
        text-transform: lowercase;
        position: absolute;
        bottom: 1px;
        left: 0;
        display: none;
      }
    }
    .mdc-top-app-bar__section {
      padding: 0;
      .mdc-top-app-bar__action-item {
        height: $toolbar-item-height;
        color: $mdc-theme-secondary !important;
      }
      .mdc-menu-anchor {
        .mdc-button {
          color: $mdc-theme-secondary;
          height: $toolbar-item-height;
          padding-right: $unit/4;
          text-transform: none;
          .fa-fw {
            margin-right: $unit/2;
          }
          .fa-fw:last-child {
            margin-right: 0;
          }
        }
      }
      .mdc-top-app-bar__action-item::before,
      .mdc-top-app-bar__action-item::after,
      .mdc-top-app-bar__navigation-icon::before,
      .mdc-top-app-bar__navigation-icon::after,
      .mdc-button::before,
      .mdc-button::after,
      .mdc-tab::before,
      .mdc-tab::after {
        background-color: transparent;
      }
      .mdc-top-app-bar__action-item,
      .mdc-top-app-bar__navigation-icon,
      .mdc-button,
      .mdc-tab {
        font-weight: 500;
      }
      .mdc-top-app-bar__action-item:hover,
      .mdc-top-app-bar__navigation-icon:hover,
      .mdc-button:hover,
      .mdc-tab:hover {
        color: #000;
      }
    }
  }
}

.mdc-tab-bar {
  height: $toolbar-item-height;
  .mdc-tab {
    text-transform: none;
    color: $mdc-theme-secondary;
    min-width: auto;
    height: $toolbar-item-height;
    font-size: 1rem;
    padding: 0 $unit/2;
  }
}

li,
p,
footer h3,
.mdc-tab,
.mdc-card,
.mdc-button,
.mdc-form-field,
.mdc-typography,
.mdc-card__subtitle,
.mdc-textfield__input,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--title,
.mdc-text-field__input,
.mdc-card__title--large,
.mdc-typography--caption,
.mdc-menu .mdc-list-item,
.mdc-typography--headline,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--headline7,
.supplimentary-list-title,
.mdc-card__supporting-text,
.mdc-typography--subheading2,
.mdc-simple-menu .mdc-list-item,
.mdc-temporary-drawer .mdc-list-item,
.mdc-list {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.mdc-typography--body1 {
  font-size: 1rem;
}
.mdc-typography--headline3 {
  font-size: 2.4rem;
  line-height: 2.65rem;
}
.mdc-typography--headline4 {
  font-size: 1.9rem;
  line-height: 2.1rem;
}
.mdc-typography--headline5 {
  font-size: 1.75rem;
  line-height: 1.9rem;
}
.mdc-card__title,
.mdc-textfield__label,
.mdc-typography--title,
.supplimentary-list-title {
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.mdc-drawer--temporary .mdc-drawer__header::before {
  padding-top: $toolbar-height;
}
.mdc-drawer--temporary .mdc-drawer__header-content {
  align-items: center;
}
.mdc-drawer--permanent {
  align-items: flex-start;
  width: 100%;
  border-right: none;
}
.container-content {
  align-items: flex-end;
}
.container-content-home {
  .container-fluid {
    .mdc-layout-grid__cell {
      position: relative;
    }
  }
}

.mdc-textfield__label {
  display: block;
}

a {
  color: $mdc-theme-primary;
  text-decoration: none;
  text-decoration-skip: ink;
}
a:hover {
  text-decoration: underline;
}

.mdc-chip {
  color: white
}

a {
  font-weight: 600;
}

.mdc-button a:hover,
.mdc-button:hover,
.mdc-tab:hover,
.mdc-toolbar a:hover {
  text-decoration: none;
}
.mdc-tab:active::before,
.mdc-tab:focus::before,
.mdc-tab:hover::before,
.mdc-button:not(.mdc-ripple-upgraded):active:after,
.mdc-button:not(.mdc-ripple-upgraded):focus:before,
.mdc-button:not(.mdc-ripple-upgraded):hover:before {
  opacity: 0;
  background-color: transparent;
}
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab--active,
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:not(.mdc-tab--active):active .mdc-tab__indicator {
  opacity: 1;
}

.mdc-form-field,
.mdc-button,
.mdc-card__supporting-text,
.mdc-card__subtitle {
  font-size: 1rem;
}
.mdc-card__supporting-text {
  letter-spacing: 0;
}
.mdc-button,
.mdc-tab,
.mdc-card__subtitle {
  font-weight: 600;
  text-transform: none;
}
.mdc-button--raised .mdc-list-item__graphic {
  color: white;
}

.mdc-button--raised {
  background-size: 100% 1400%;
  background-position: 0 0;
  background-image: linear-gradient(60deg, $mdc-theme-primary-dark 50%, $mdc-theme-primary 50.08%);
  transition: all 1s cubic-bezier(0, 1, 0.3, 1);
}
.mdc-button--raised:hover {
  background-position: 0 100%;
  transition: all .3s ease-out;
}

.mdc-button--fullwidth {
  width: 100%;
}

.search-info {
  margin: $unit*1.5 0 $unit;
  background: #fafafa;
  color: #555;
  padding: $unit/3 $unit/2;
  box-sizing: border-box;
}

.mdc-card {
  p {
    margin: 0 0 $unit/2;
  }
  p:last-child {
    margin: 0;
  }
  .mdc-card__actions {
    min-height: auto;
    .mdc-card__action {
      font-weight: 600;
      margin-right: $unit;
    }
    .mdc-card__action:last-child {
      margin-right: 0;
    }
  }
}
.mdc-card .mdc-card__actions {
  padding: $unit/2;
  .mdc-card__action-buttons {
    margin-left: $unit/2;
  }
}

.mdc-card.list,
.mdc-card.gist,
.mdc-card.search-result {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: $unit;
  .search-result-article__snippet {
    padding: $unit;
    background-color: $mdc-theme-primary-light;
  }
  .mdc-card__actions {
    background-color: $mdc-theme-primary;
    .mdc-card__action {
      color: white;
    }
  }
}
.mdc-card.full,
.mdc-card.list,
.mdc-card.gist,
.mdc-card.search-result {
  .mdc-list-divider {
    border: none;
  }
}
.mdc-card.list:last-child,
.mdc-card.gist:last-child,
.mdc-card.search-result:last-child {
  margin-bottom: 0;
}
.mdc-card.list::after,
.mdc-card.gist::after,
.mdc-card.search-result::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mdc-card.list:hover::after,
.mdc-card.gist:hover::after,
.mdc-card.search-result:hover::after {
  opacity: 1;
}
.mdc-card.full {
  box-shadow: none;
  .mdc-card__info--organisation-title {
    margin: 0;
  }
  .detailed-info,
  .organisation-type {
    margin: 0 0 $unit;
    small {
      font-size: 0.92rem;
    }
  }
  .mdc-card__info--vacancy-title a,
  .mdc-card__info--vacancy-title a:hover {
    color: inherit;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
  #vacancy-tab-bar {
    width: 100%;
    background-color: $mdc-theme-primary;
    .mdc-tab {
      color: white;
    }
    .mdc-tab:hover {
      background-color: $mdc-theme-primary-dark;
    }
    .mdc-tab-bar__indicator {
      background-color: $mdc-theme-primary-light;
    }
  }
  .vacancy-info-container {
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  }
  .mdc-card--full-content {
    border-top: none;
    .key-info-extra {
      padding: $unit;
      background-color: $mdc-theme-primary-light;
    }
    .detailed-info {
      padding: $unit;
      hr {
        height: 0;
        border: none;
        background: transparent;
      }
      h4 {
        margin: $unit 0 $unit/2;
        font-size: 1.2rem;
      }
      h4:first-child {
        margin-top: 0;
      }
    }
  }
}
.mdc-card.list {
  .mdc-card__info--vacancy-organisation {
    display: none;
  }
}

hr {
  margin: $unit*1.5 0;
  background-color: $mdc-theme-primary-light;
  border: none;
  height: 1px;
}

.page-content {
  padding: $unit 0 $unit*2;
}
.mdc-drawer__content {
  padding-bottom: $unit*2;
}

.drawer-container {
  display:flex;
  flex-direction: row;

  aside {
    z-index: 1;
  }
  .container-fluid {
    display: inline-flex;
  }
}

.mdc-drawer__content-padded {
  padding: $unit;
}

.mdc-drawer__content-heading {
  margin: 0;
  padding: $unit;
}

@media (min-width: $mobile-breakpoint + 1) {
}

.mdc-card {
  .mdc-card__actions {
    .mdc-card__action--shortlist {
      background: transparent;
      border: none;
      padding: 0;
      .fa-stack {
        width: $nav-height;
        height: $nav-height;
        .fa-circle {
          font-size: $nav-height;
        }
        .fa-star {
          font-size: 25px;
          line-height: $nav-height;
        }
      }
    }
    .mdc-card__action--shortlist .fa-star {
      color: $mdc-theme-primary;
    }
    .mdc-card__action--shortlist:hover .fa-star {
      font-weight: 900;
      color: $mdc-theme-primary-dark;
    }
  }
}
.mdc-card.vacancy-shortlisted {
  .mdc-card__actions {
    .mdc-card__action--shortlist .fa-star {
      font-weight: 900;
    }
    .mdc-card__action--shortlist:hover .fa-star {
      font-weight: 400;
      color: $mdc-theme-primary-dark;
    }
  }
}

.mdc-form-field,
.mdc-select,
.mdc-text-field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* Typeahead */
.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-width: $unit/8;
  border-color: #000000;
  border-style: solid;
}

.tt-menu h3 {
  margin: 0 !important;
  padding: 5px 15px;
}

.tt-menu .tt-suggestion {
  padding: 5px 15px;
}

.tt-cursor {
  background-color: $mdc-theme-primary;
  color: white;
}

/* Maps */
#map-full {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
}

.goodmoves-job-search {
  position: relative;
  .search-bar-cell {
    background-color: #fff;
  }
}

.map-content {
  h3 {
    margin: 0;
  }
}

.container-content {
  background-color: #fdfdfd;
  .container-fluid {
    position: relative;
  }
  .mdc-tab-bar {
    width: 100%;
    .mdc-tab {
      color: white;
    }
    .mdc-tab-bar__indicator {
      background-color: white;
    }
  }
  .search-overlay {
    padding: 0;
    z-index: 10;
    position: absolute;
    background-color: $mdc-theme-primary;
    .search-overlay-panel {
      padding: $unit;
      input, select {
        border-bottom-style: none!important;
      }
      .mdc-notched-outline,
      .mdc-notched-outline__idle {
        background-color: rgba(255, 255, 255, 0.6);
      }
      .mdc-floating-label {
        z-index: 1;
        color: #444444;
      }
    }
    .search-overlay-terms {
      input, select {
        font-size: 1rem;
      }
    }
  }
}

/*=====End Maps=====*/
/*=====Top Bar=====*/
#top-bar {
  z-index: 100;
}
.top-bar-stuck {
  position: fixed;
  top: 0;
}
.mdc-drawer {
  z-index: 150;
}
/*=====End Top Bar=====*/

html {
  overflow-y: scroll;
  height: 100%;
  font-size: 1.02rem;
  line-height: 1.45;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.container-fluid {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.mdc-card__info--vacancy-row {
  padding: $unit/2;
  display: flex;
  border-top-left-radius: inherit;
  .mdc-card__info--vacancy {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: $unit/4 $unit/2 $unit/2;
    .mdc-card__info--vacancy-title a {
      .top-job {
        margin-left: 0;
        margin-right: .2rem;
        display: inline-block;
        padding: .22222222rem .5rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        background-color: $mdc-theme-secondary !important;
        border-radius: 1rem;
        position: relative;
        top: -2px;
        left: 0;
        font-size: 1rem;
        height: 1.5rem;
        box-sizing: border-box;
        color: white;
      }
    }
    .mdc-card__info--vacancy-title a:hover {
      text-decoration: none;
      .hover-underline {
        text-decoration: underline;
      }
    }
    .mdc-layout-grid {
      padding: 0;
      width: 100%;
    }
    .fa-fw {
      margin-right: $unit/4;
    }
    .mdc-card__info--vacancy-organisation {
      padding: $unit/2 0;
    }
  }
  .mdc-card__media--organisation {
    max-width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    margin: $unit/2;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
.mdc-card.full {
  margin-top: $unit/2;
  .mdc-card__info--vacancy-row {
    padding: 0 0 $unit;
    .mdc-card__info--vacancy {
      padding: 0;
    }
    .mdc-card__media {
      margin: 0;
    }
  }
}

.mdc-typography--headline4,
.mdc-typography--headline5 {
  margin-bottom: $unit;
}
.gm-style .gm-style-iw {
  font-size: 0.9rem;
}

/* End Search results card */

// Pagination ==================================================================

.pagination {
  text-align: center;
  display: block !important;
  padding: $unit 0 $unit*2;
  li {
    display: inline-block;
    padding: 0 !important;
    height: $unit*2;
    width: $unit*2;
    border-radius: 50%;
    margin: 0 $unit/5;
    vertical-align: bottom;
    a {
      font-size: 1.2rem;
      line-height: $unit*2;
      height: $unit*2;
      width: $unit*2;
      color: #000;
      padding: 0;
      margin: 0;
      font-weight: 600;
      display: block;
    }
    a.pagination-arrow {
      color: #000;
      vertical-align: middle;
    }
  }
  li.disabled a.pagination-arrow {
    cursor: default;
    color: #999;
  }
  li:first-child a {
    padding-left: 0;
  }
  li:last-child a {
    padding-right: 0;
  }
  li.current-page {
    background-color: $mdc-theme-primary;
    border-radius: 50%;
    a {
      color: white;
    }
  }
  li:hover,
  li.current-page:hover {
    background-color: $mdc-theme-primary-dark;
    a {
      color: white;
      text-decoration: none;
    }
  }
}


.head .pagination {
  padding: 0;
  margin-top: $unit/4;
  .pagination-distance-4,
  .pagination-distance-5,
  .pagination-distance-6,
  .pagination-distance-7,
  .pagination-distance-8,
  .pagination-distance-9 {
    display: none;
  }
}

// Lists =======================================================================

.fa-ul {
  margin: 0 0 0 $unit*1.55;
  li {
    margin-bottom: $unit/2;
  }
  li:last-child {
    margin-bottom: 0;
  }
}
.mdc-layout-grid {
  padding: 0;
}

.mdc-list-item__graphic {
  margin-right: $unit;
}

// Footer ======================================================================

footer {
  position: relative;
  border-top: .6rem solid $mdc-theme-primary-light;
  background-color: $mdc-theme-primary;
  background-image: linear-gradient(
  60deg,
  rgb(60, 117, 36),
  rgb(60, 117, 36) 96%,
  rgb(30, 59, 18) 96.08%,
  rgb(30, 59, 18)
  );
  .footer-main {
    padding: 0;
    margin-bottom: $unit/2;
  }
  h3 {
    color: white;
    font-size: 1.2rem;
    border-bottom: $unit/5 solid $mdc-theme-primary-light;
    margin-top: 0;
    margin-bottom: $unit;
    padding: $unit/(3/4) 0 $unit/2;
    font-weight: 600;
  }
  .about a,
  a {
    color: white;
  }
  .about a:hover,
  a:hover {
    color: white;
  }
  .mdc-list {
    .mdc-list-item {
      padding: 0;
      a {
        font-size: 1rem;
      }
      a:hover {
        text-decoration: underline !important;
      }
    }
    .mdc-list-item:hover::before,
    .mdc-list-item:hover::after {
      opacity: 0;
    }
  }
  .brand-logo {
    display: block;
    text-align: right;
    img {
      margin-bottom: 0;
      width: 125px;
    }
  }
  .mdc-layout-grid {
    padding: 0;
    margin-bottom: 0;
    p {
      margin: 0 0 0.8rem;
      color: white;
    }
  }
  .fa-ul,
  .mdc-list,
  .mdc-list-item {
    font-size: inherit;
    letter-spacing: 0;
  }
  .fa-ul {
    margin: 0 0 0 $unit*1.5;
    li {
      margin-bottom: 0;
      height: $unit*1.5;
      a {
        text-decoration: none;
      }
    }
    li a:hover {
      text-decoration: underline;
    }
    .fa-li {
      .fas, .fal, .far, .fab {
        color: white;
      }
    }
  }
  .contact {
    .fa-ul {
      margin-bottom: $unit !important;
    }
  }
  .mdc-layout-grid p {
    margin-bottom: 0;
  }
  .mdc-list {
    padding: 0;
    .mdc-list-item {
      height: $unit*1.5;
      a {
        text-decoration: none;
      }
    }
  }
  .footer-copyright {
    background-color: $mdc-theme-primary-dark;
    padding: $unit 0 $unit*0.7;
    margin: 0;
    line-height: 1.2;
    font-size: 0.9rem;
    p {
      margin: 0;
    }
  }
}

// Sidebar
.mdc-drawer__content,
#sidebar-permanent {
  .mdc-tab-bar {
    background-color: $mdc-theme-primary;
    width: 100%;
    .mdc-tab {
      color: white;
    }
    .mdc-tab-bar__indicator {
      background-color: white;
    }
  }
}

/*=====Tab Bar=====*/

.mdc-tab-bar__left {
  margin-left: 0;
}

.mdc-tab-bar__right {
  margin-right: 0;
}

.mdc-tab-bar__compact {
  height: 2em;
  .mdc-tab {
    padding:0px;
  }
}

/*=====Utility classes=====*/

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-centre { text-align: center; }
.text-justify { text-align: justify; }
.pull-right { float: right; }

.v-padding {
  padding-top: $unit/2;
  padding-bottom: $unit/2;
}
.v-padding-full {
  padding-top: $unit;
  padding-bottom: $unit;
}

.h-padding {
  padding-left: $unit/2;
  padding-right: $unit/2;
}

.t-padding { padding-top: $unit/2; }
.b-padding { padding-bottom: $unit/2; }
.l-padding { padding-left: $unit/2; }
.r-padding { padding-right: $unit/2; }

.v-margin {
  margin-top: $unit/2;
  margin-bottom: $unit/2;
}
.v-margin-full {
  margin-top: $unit;
  margin-bottom: $unit;
}

.h-margin {
  margin-left: $unit/2;
  margin-right: $unit/2;
}

.t-margin { margin-top: $unit/2; }
.b-margin { margin-bottom: $unit/2; }
.l-margin { margin-left: $unit/2; }
.r-margin { margin-right: $unit/2; }

.fullwidth {
  width: 100% !important;
}

@media (max-width: $mobile-breakpoint) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: $mobile-breakpoint + 1) and (max-width: $mobile-landscape-breakpoint) {
  .hide-md {
    display: none;
  }
}

@media (min-width: $mobile-landscape-breakpoint + 1) {
  .hide-lg {
    display: none;
  }
}

/*=====End Utility Classes=====*/
/*=====Colour Classes=====*/


/*=====End Colour Classes=====*/
