@import "./node_modules/material-components-web/material-components-web.scss";
@import url("//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url('//fonts.googleapis.com/css?family=Rubik:400,500,700|Open+Sans:400,600');

$unit: 1rem;
$brand-border-width: 2px;

$mdc-theme-primary: #5C96DD;
$mdc-theme-secondary: #2C2C2B;

$mdc-theme-footer: #37474F;
$mdc-theme-footer-light: #455A64;
$mdc-theme-footer-dark: #263238;

$toolbar-shadow-reverse: 0px -3px 5px -1px rgba(0, 0, 0, 0.2), 0px -5px 8px 0px rgba(0, 0, 0, 0.14), 0px -1px 14px 0px rgba(0, 0, 0, 0.12);

$base-font-family:                  "Rubik", Helvetica, Arial, sans-serif;
$base-font-weight:                  400;

$heading-font-family:               "Rubik", Helvetica, Arial, sans-serif;
$heading-font-weight:               700;

$footer-font-family:                "Open Sans", Helvetica, Arial, sans-serif;
$footer-font-weight:                400;

:root {
  --mdc-layout-grid-margin-desktop: 0;
  --mdc-layout-grid-gutter-desktop: 0;
  --mdc-layout-grid-margin-tablet: 0;
  --mdc-layout-grid-gutter-tablet: 0;
  --mdc-layout-grid-margin-phone: 0;
  --mdc-layout-grid-gutter-phone: 0;
}

html {
  --mdc-theme-primary: $mdc-theme-secondary;
}

html {
  overflow-y: scroll;
  height: 100%;
  font-size: 1.1rem;
  line-height: 1.45;
}
body {
  background: $mdc-theme-footer-dark;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
}
.mdc-drawer__header-content,
header.mdc-toolbar,
main {
  color: $mdc-theme-secondary;
  background-color: white;
}
.mdc-drawer__header-content img.brand-logo-mobile {
  max-width: 100%;
}
.mdc-drawer--temporary .mdc-drawer__header::before {
  padding-top: 0;
}
.mdc-drawer--temporary .mdc-drawer__header {
  padding: $unit;
  img {
    max-width: 100%;
  }
}

.mdc-list-item {
  direction: ltr;
  padding: 0;
}
.cookieinfo {
  box-shadow: $toolbar-shadow-reverse;
}

.mdc-tab,
.mdc-button,
.mdc-form-field,
.mdc-typography,
.mdc-card__subtitle,
.mdc-textfield__input,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--title,
.mdc-card__title--large,
.mdc-typography--caption,
.mdc-typography--headline,
.supplimentary-list-title,
.mdc-card__supporting-text,
.mdc-typography--subheading2,
.mdc-simple-menu .mdc-list-item,
.mdc-temporary-drawer .mdc-list-item,
.mdc-list {
  font-family: $base-font-family, Helvetica, Arial, sans-serif;
  font-weight: $base-font-weight;
}
.mdc-temporary-drawer .mdc-list-item {
  font-weight: 600;
}
.mdc-card__title,
.mdc-textfield__label,
.mdc-typography--title,
.mdc-typography--headline,
.supplimentary-list-title {
  font-family: $heading-font-family, $base-font-family, Helvetica, Arial, sans-serif;
  font-weight: $heading-font-weight;
}
.mdc-typography {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  font-weight: 600;
  text-decoration: none;
  text-decoration-skip: ink;
}
a:hover {
  text-decoration: underline;
}

.mdc-temporary-drawer {
  display: none;
  .mdc-temporary-drawer__header-content {
    direction: ltr;
    padding: $unit;
  }
  .mdc-temporary-drawer__header:before {
    padding-top: 24%;
  }
  .mdc-list-group {
    direction: ltr;
    .mdc-list {
      .mdc-list-item {
        direction: ltr;
        padding: 0 $unit;
      }
      .mdc-list-item__start-detail {
        display: none;
      }
    }
  }
}

.mdc-temporary-drawer__drawer {
  display: -webkit-box !important;
  -webkit-transition: all .195s ease !important;
  -webkit-transform: translateX(400px) !important;
}
.mdc-temporary-drawer--open {
  .mdc-temporary-drawer__drawer {
    -webkit-transform: none !important;
  }
}

.mdc-temporary-drawer__header,
.hide-on-med-and-up {
  display: none;
}

main {
  padding-bottom: $unit;
  background-color: #ECEFF1;
}
a {
  text-decoration-skip: ink;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}
// iframe {
//   border: none;
//   background-image: url('/assets/images/spinner2.gif');
//   background-repeat: no-repeat;
//   background-position: center center;
// }

::-moz-selection {
  color: white;
  background: $mdc-theme-secondary;
}
::selection {
  color: white;
  background: $mdc-theme-secondary;
}

.container-fluid {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  // overflow: -webkit-paged-x;
  padding: $unit 0;
}
.mdc-toolbar {
  background: white;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  .container-fluid {
    padding-bottom: 0;
    // border-bottom: 3px solid $mdc-theme-secondary;
  }
  .mdc-toolbar__title {
    margin: 0;
    padding: $unit 0;
    .brand-logo {
      img {
        // min-height: 100px;
        // max-width: 400px;
      }
      .brand-logo-mobile {
        display: none;
      }
      .brand-logo-desktop {
        max-width: 70%;
      }
    }
  }
  .mdc-toolbar__section--align-end {
    display: block;
    padding: 0;
  }
  .mdc-tab-bar {
    margin: 0;
    height: auto;
    padding-top: $unit;
    .mdc-tab:first-child {
      padding-left: 0;
    }
    .mdc-tab {
      transition: 0.2s;
      min-width: 0;
      font-size: 1.1rem;
      padding: 0 $unit*.7;
      text-transform: none;
      .mdc-tab--label {
        text-transform: uppercase;
        display: block;
        border-bottom: 3px solid white;
      }
    }
    .mdc-tab--active,
    .mdc-tab:hover {
      opacity: 1;
      text-decoration: none;
    }
    .mdc-tab--active .mdc-tab--label,
    .mdc-tab:hover .mdc-tab--label {
      border-bottom-color: $mdc-theme-secondary;
    }
    .mdc-tab,
    .mdc-tab:hover {
      color: $mdc-theme-secondary;
    }
  }
}

.hide-lg {
  display: none !important;
}

.mdc-list-item--header:focus::before,
.mdc-list-item--header:focus::after,
.mdc-list-item--header:hover::before,
.mdc-list-item--header:hover::after,
.mdc-tab:active::before,
.mdc-tab:focus::before,
.mdc-tab:hover::before,
.mdc-tab:not(.mdc-ripple-upgraded):active::after,
.mdc-button:not(.mdc-ripple-upgraded):active:after,
.mdc-button:not(.mdc-ripple-upgraded):focus:before,
.mdc-button:not(.mdc-ripple-upgraded):hover:before {
  opacity: 0;
  background-color: transparent;
}

.mdc-button {
  background-color: white !important;
  border: $brand-border-width solid $mdc-theme-secondary;
  color: $mdc-theme-secondary !important;
  text-transform: none;
  line-height: 1.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 10px 15px;
  height: auto;
}
.mdc-button:hover {
  text-decoration: none;
}

.mdc-tab,
p,
h1,
h2,
h3,
h4,
li,
div {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $mdc-theme-secondary;
}
.mdc-toolbar__icon,
a {
  color: $mdc-theme-secondary;
}
em {
  font-family: $heading-font-family;
  font-style: italic;
  font-weight: 500;
}
p, li, div {
  font-weight: 400;
}
p.quote {
  text-align: center;
  font-size: 1.3rem;
}

.mdc-toolbar__icon {
  float: right;
}

.signatories main {
  padding-bottom: 4rem;
  // h1 {
  //     font-size: 4rem;
  //     line-height: 4.5rem;
  // }
  // h3 {
  //     font-size: 2.5rem;
  // }
  h4 {
    font-size: 1.3rem;
    margin: 1rem 0 0;
  }
  img {
    max-width: 100%;
  }
  label {
    font-size: inherit;
    color: inherit;
  }
  ul li {
    list-style-type: disc;
  }
  ol {
    padding-left: 1rem;
    li {
      list-style-type: decimal;
    }
  }

  form {
    margin-bottom: $unit*2;
    .mdc-textfield {
      position: relative;
      margin-right: $unit/2;
      .mdc-textfield__input {
        margin-right: 1rem;
        box-sizing: border-box;
        padding: 0 $unit*2.5 0 $unit/2;
        width: 100%;
      }
      .search-button-large {
        padding: 1px 0 0;
        position: absolute;
        top: $unit/2;
        right: $unit/2;
        .fa-search {
          color: $mdc-theme-secondary;
        }
      }
    }
  }
  // h1 {
  //     font-size: 5.3rem;
  //     line-height: 5.5rem;
  //     letter-spacing: -.1rem;
  //     margin: 2rem 0 2rem;
  //     padding-right: 2rem;
  //     .small {
  //         font-size: 3.8rem;
  //         letter-spacing: -.15rem;
  //     }
  // }
  // h4 {
  //     margin: 0.5rem 0 0.25rem;
  //     font-size: 1.8rem;
  // }
  h4.sort {
    text-align: right;
    margin-right: $unit/2;
  }
  .mdc-textfield__input {
    margin-bottom: 1rem;
  }
  // .mdc-select {
  //     background-image: none;
  // }
  .mdc-form-field {
    width: 100%;
    // .mdc-select {
    //   background-image: none;
    // }
  }
  .mdc-textfield__input,
  .mdc-select {
    font-size: 1.1rem;
    font-weight: bold;
    color: $mdc-theme-secondary;
    line-height: 2rem;
    height: 3rem;
    background-color: white;
    padding: 0 $unit/2;
    border: $brand-border-width solid $mdc-theme-secondary;
    border-radius: 0.15rem;
    width: 100%;
    letter-spacing: 0;
    box-sizing: border-box;
  }
  .mdc-select {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    background-position-x: 97%;
  }
  .mdc-select:focus {
    border-bottom-color: inherit;
  }
  .mdc-select,
  .mdc-textfield {
    width: 100%;
    margin: 0 0 $unit/2;
  }
  .humanrightsdeclaration-signatory {
    h3 {
      margin: $unit 0;
    }
  }
  .signatory-logo-background {
    padding-left: $unit*2;
    p {
      padding: 1rem 1rem 0.25rem;
      background: transparent;
      text-align: center;
      border: 0px solid $mdc-theme-secondary;
    }
    img {
      margin: 0;
      mix-blend-mode: multiply;
    }
  }
  .signatory-detail {
    p {
      margin: 0 0 1rem;
    }
  }
  .signatory {
    background: transparent;
    // margin: 0 -0.75rem;
    padding: $unit;
    vertical-align: middle;
    a {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      width: 12rem;
      height: 12rem;
      line-height: 12rem;
      display: block;
      padding: 0;
      vertical-align: middle;
      position: relative;
      text-align: center;
      overflow: hidden;
      font-size: 1rem;
      font-weight: bold;
      color: $mdc-theme-secondary;
      margin: 0 auto;
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 3rem;
        text-align: center;
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 1.1rem;
        color: $mdc-theme-secondary;
      }
      img.resize-fit-center {
        max-width: 90%;
        max-height: 90%;
        vertical-align: middle;
        mix-blend-mode: multiply;
      }
    }
  }

  .signatory {
    border: 0px solid $mdc-theme-secondary;
    border-right: none;
    border-bottom: none;
  }
  .signatory:nth-child(4n + 1) {
    border-left: none;
    .inner {
      padding-left: 0;
    }
  }
  .signatory:nth-child(4n + 4) {
    border-right: none;
    padding-right: 0;
    .inner {
      margin-right: 0;
    }
  }
  .signatory:nth-child(4n+1):nth-last-child(-n+4),
  .signatory:nth-child(4n+1):nth-last-child(-n+4) ~ .mdc-layout-grid__cell--span-3 {
    border-bottom: 0px solid $mdc-theme-secondary;
  }
}

// Pagination ==================================================================

.pagination {
  text-align: center;
  display: block !important;
  padding-top: $unit !important;
  margin-top: 3rem;
  list-style-type: none;
  li a,
  li.active a {
    cursor: pointer;
    color: $mdc-theme-secondary;
    font-weight: 400;
    text-decoration: none;
  }
  li.active {
    background-color: $mdc-theme-secondary;
  }
  li.disabled a {
    color: inherit;
    opacity: 0.5;
  }
  li {
    display: inline-block;
    padding: 0 !important;
    height: $unit*2.5;
    width: $unit*2.5;
    border-radius: 50%;
    margin: 0 $unit/5;
    vertical-align: bottom;
    a {
      font-size: 1.3rem;
      line-height: $unit*2.5;
      height: $unit*2.5;
      width: $unit*2.5;
      color: $mdc-theme-secondary;
      padding: 0;
      margin: 0;
      font-weight: 600;
      display: block;
    }
    a.pagination-arrow {
      color: $mdc-theme-secondary;
      vertical-align: middle;
    }
  }
  li.disabled a.pagination-arrow {
    cursor: default;
    pointer-events: none;
    color: $mdc-theme-secondary;
  }
  li:first-child a {
    padding-left: 0;
  }
  li:last-child a {
    padding-right: 0;
  }
  li.current-page {
    background-color: $mdc-theme-secondary;
    border-radius: 50%;
    a {
      color: white;
    }
  }
  li:hover:not(.disabled),
  li.current-page:hover {
    background-color: $mdc-theme-secondary;
    a {
      color: white;
      text-decoration: none;
    }
  }
  li.disabled:hover {
    background-color: inherit !important;
  }
}

footer {
  --mdc-layout-grid-margin-desktop: 1rem;
  --mdc-layout-grid-gutter-desktop: 1rem;
  --mdc-layout-grid-margin-tablet: 1rem;
  --mdc-layout-grid-gutter-tablet: 1rem;
  --mdc-layout-grid-margin-phone: 1rem;
  --mdc-layout-grid-gutter-phone: 1rem;
  color: white;
  background-color: $mdc-theme-footer;
  p, li, div {
    font-family: $footer-font-family;
    font-weight: $footer-font-weight;
    font-size: 0.9rem;
  }
  h3, a, strong {
    font-family: $footer-font-family;
    font-weight: 600;
  }
  .brand-logo {
    margin-right: $unit;
    img {
      max-width: 180px;
    }
  }
  h3 {
    font-size: 1.2rem;
  }
  strong {
    font-weight: 600;
  }
  p {
    color: white;
    a {
      color: white;
      text-decoration: none;
      font-weight: 600;
      // text-decoration: underline;
    }
    a:hover {
      text-decoration: underline;
      color: white;
    }
  }
  .footer-copyright {
    background-color: $mdc-theme-footer-dark;
    p {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }
  .container-fluid {
    position: relative;
  }
  .footer-main {
    padding-bottom: $unit/2;
    border-top: $unit solid $mdc-theme-primary;
    // background-image: linear-gradient(
    // -120deg,
    // #1A1A19,
    // #1A1A19 $unit*2,
    // #5C96DD $unit*2.05,
    // #5C96DD $unit*2.5,
    // white $unit*2.55,
    // white $unit*3,
    // $mdc-theme-secondary $unit*3.05,
    // $mdc-theme-secondary
    // );
    box-shadow: $toolbar-shadow-reverse;
    // border-top: $unit/2 solid #5C96DD;
    // background-image: linear-gradient(120deg, $mdc-theme-secondary, $mdc-theme-secondary 50%, #1A1A19 95%, #1A1A19);
    // padding: $unit 0 $unit*2;
  }
  h3 {
    font-weight: 600;
    margin: $unit/2 0 $unit;
    padding-bottom: $unit/2;
    border-bottom: $unit/5 solid $mdc-theme-footer-light;
    color: white;
  }
  .mdc-list .mdc-list-item a {
    color: white;
    font-weight: 600;
  }
  .mdc-list .mdc-list-item a:hover {
    text-decoration: underline !important;
  }
  .brand-logo {
    margin-top: 1.5rem;
    display: inline-block;
    // text-align: right;
    img {
      margin-bottom: 0;
    }
  }
  .mdc-layout-grid {
    padding: 0;
    margin-bottom: 0;
    p {
      margin: 0 0 0.8rem;
    }
  }
  p,
  .fa-ul li,
  .mdc-list-item {
    color: white;
    // font-size: 1rem;
  }
  .fa-ul {
    margin: 0 0 0 $unit*2;
    li a {
      text-decoration: none;
    }
    li a:hover {
      text-decoration: underline;
    }
  }
  ul {
    margin-bottom: $unit !important;
  }
  .mdc-layout-grid p {
    margin-bottom: 0;
  }
  .mdc-list {
    padding: 0;
    .mdc-list-item {
      height: $unit*1.5;
      a {
        text-decoration: none;
      }
    }
  }
  .logo.scvo {
    position: absolute;
    height: 45px;
    bottom: 1.2rem;
    right: 0;
  }
  .menu ul {
    margin-top: 0;
  }
}

@media screen and (max-width: 840px) {
  footer .logo.scvo {
    margin: 0 auto;
    display: block;
    position: relative;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 800px) {
  .mdc-toolbar__section.hide-lg {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
  }
  .mdc-toolbar {
    .mdc-toolbar__title {
      .brand-logo {
        .brand-logo-mobile {
          display: block;
          max-width: 100%;
        }
        .brand-logo-desktop {
          display: none;
        }
      }
    }
    .mdc-tab-bar {
      display: none;
    }
    .mdc-toolbar__icon--menu {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
    }
    .mdc-toolbar__icon--menu:focus {
      outline: none;
    }
  }
  .mdc-button {
    width: 100%;
  }
  .pagination {
    padding: 0 !important;
    margin: 1rem 0 0;
  }
  .pagination-distance-9,
  .pagination-distance-8,
  .pagination-distance-7,
  .pagination-distance-6,
  .pagination-distance-5 {
    display: none !important;
  }
}

@media screen and (max-width: 479px) {
  main .signatory-logo-background {
    padding-left: 0;
  }
  footer .logo.scvo {
    position: relative;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 450px) {
  .pagination-distance-3,
  .pagination-distance-4 {
    display: none !important;
  }
}
