<div class="cjs-vacancy-search">
  {{> header_splash headerTextOverride="CJS vacancies" typeOverride="page"}}
  <div class="container-fluid page-content">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a></li>
      <li>Vacancies</li>
    </ul>
    <div class="mdc-layout-grid full">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone content page-content">
          <p>
            Community Jobs Scotland (CJS) creates work opportunities for young unemployed people within third sector organisations throughout Scotland.
          </p>
          <p>
            CJS is targeted at more vulnerable young people and in particular, is focused on groups of young people who are more disadvantaged in the labour market.
          </p>
          {{#if @root.data.auth ~}}
          {{else}}
          <p>
            If you work for SDS or JCP please <a href="/jobs/community-jobs-scotland/vacancies/sign-in">sign in</a>.
          </p>
          {{/if ~}}
          <p>
            Start your search using the following links.
          </p>

          <h2>Are you aged between</h2>

          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h3><a href="/jobs/community-jobs-scotland/vacancies/p19v">16–29 year olds</a></h3>
                <p>
                  The following vacancies are only open to vulnerable unemployed 16 to 29 year olds, including <strong>carers, early service leavers (armed forces), care experienced, disabled, young people with convictions</strong> and <strong>young people on an Activity Agreement</strong> who are not on the Work Programme, Work Choice, Specialist Employment Support, Work First Scotland, Work Able Scotland or Fair Start Scotland.
                </p>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h3><a href="/jobs/community-jobs-scotland/vacancies/p52">16–29 year olds with a disability</a></h3>
                <p>
                  The following vacancies are only open to unemployed 16 to 29 year olds who have a disability and or long term health condition and <strong>who are not</strong> on the Work Programme, Community Work Placement, Work Choice, Specialist Employment Support, Work First Scotland, Work Able Scotland or Fair Start Scotland.
                </p>
              </div>
            </div>
          </div>
        </div>
        {{> footer_cjs}}
      </div>
    </div>
  </div>
</div>
