<div class="container-content">
  {{#compare @root.data.primaryResponse.hits.total ">" 0}}

  <div class="content-primary">
    {{#each @root.data.primaryResponse.hits.hits ~}}
      {{> opportunity_full _source}}
    {{/each ~}}
  </div>

  <div class="content-related">
    <div class="mdc-typography--headline5 v-margin-full">
      Similar opportunities
    </div>
    <div class="mdc-layout-grid equal-height">
      <div class="mdc-layout-grid__inner">
        {{#each @root.data.opportunitySupplimentary.related.hits.hits ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          {{> opportunity_list _source hitContext="related-job" parentDocument=_source.Id}}
        </div>
        {{/each ~}}
      </div>
    </div>
  </div>

  {{else}}
  <p>
    We could not find the opportunity you were looking for. It may have been removed or expired.
  </p>
  {{/compare}}
</div>
