{{#if data.primaryResponse.hits.hits.[0] ~}}
<title>Search results – Volunteer Scotland</title>
<meta property="og:title" content="Search results – Volunteer Scotland" data-dynamic="true">
{{else}}
<title>Search results – Volunteer Scotland</title>
<meta property="og:title" content="Search results – Volunteer Scotland" data-dynamic="true">
{{/if ~}}