@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:900);

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


// Base variables ==============================================================

$logo-font-family: "Lato", "Arial", sans-serif;
$base-font-family: "Open Sans", "Helvetica", sans-serif;


// Layout ======================================================================

header .container-fluid,
main .container-fluid,
footer .container-fluid {
    max-width: 1280px;
    width: 96%;
    margin: 0 auto;
}


// General =====================================================================

html {
    overflow-y: scroll;
}
body {
    padding: 0;
    margin: 0;
    font-family: $base-font-family;
    font-size: 1rem;
    min-height: 100%;
    background-color: #263238;
}
.mat-button,
.mat-card-title,
.mat-card-subtitle,
.mat-button-wrapper,
.mat-card-content {
    font-size: 1rem !important;
    font-family: $base-font-family;
}
.mat-card-actions .mat-button,
.mat-button-ripple {
    outline: none;
}
.mat-button,
.mat-button-focus-overlay,
md-button {
    background-color: transparent;
}
button {
    cursor: pointer;
}
body, p, li, a {
    font-weight: 400;
}
strong {
    font-weight: 600;
}
.mat-card-title,
.mat-card-title a {
    font-weight: 600 !important;
}
header,
main {
    background-color: #ECEFF1;
}
main .container-fluid {
    // background-color: #f5f5f5;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family;
    font-weight: 700;
}
h1 {
    font-size: 2.7rem;
    font-weight: 600;
    margin: 0 0 0.5em;
}
h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0.35em 0;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.25em 0;
}
h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.2em 0;
}
h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
}
h6 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0 0 1rem;
}
.white-text {
    color: white;
    a {
        color: white !important;
    }
}
.center {
    text-align: center;
}
a:not([href]):not([tabindex]) {
    text-decoration: underline;
}
a:not([href]):not([tabindex]):hover {
    text-decoration: underline;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display:block
}

.form-group {
    select {
        width: 100%;
    }
}

main.projects-campaigns h1 {
    padding-top: 1rem;
}
main.projects-campaigns {
    padding-bottom: 0;
}
main {
    padding: 0 0 0.5rem;
    a:link {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-skip: ink;
        text-decoration-style: solid;
    }
    a[href^="http://"]::after,
    a[href^="https://"]::after {
        font-family: 'FontAwesome';
        content: "\f08e";
        margin: 0 0.2rem;
        text-decoration: none;
        display: inline-block;
    }
    a[href^="http://forms.scvo"]::after,
    a[href^="https://forms.scvo"]::after,
    a[href^="http://email.scvo"]::after,
    a[href^="https://email.scvo"]::after {
        content: "";
        margin: 0;
    }
    .card a:link, a.btn:link {
        text-decoration: none;
    }
    ul:not(.browser-default) {
        padding: 0 0 0 1.5rem;
        li {
            list-style-type: disc;
        }
    }
    app-admin {
        ul:not(.browser-default) {
            padding: 0;
            li {
                list-style-type: none;
            }
        }
    }
    ul.select-dropdown {
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    dd {
        margin: 0;
    }
}

@media screen and (max-width: 992px) {
    body {
        font-size: 0.95rem;
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.9rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    h5 {
        font-size: 1rem;
    }
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating),
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: inherit;
}
.card-panel {
    border-radius: 0;
}

.btn, .btn:hover,
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: none;
}
h1.parent_title a {
    text-transform: capitalize;
}


// Navbar ======================================================================

// .mat-menu-panel {
//     margin-top: 64px;
// }
.cdk-overlay-pane {
    top: 128px !important;
}

header {
    transition: background-color 0.75s ease, height 0.2s ease-in-out;
    padding-bottom: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 128px;
    overflow: hidden;
}
header.nav-up {
    height: 64px;
}

main {
    padding-top: 128px;
}

.mat-toolbar-row {
    height: auto !important;
    max-height: 64px;
}
.mat-toolbar {
    background-color: transparent !important;
    box-shadow: none;
    font-size: 1rem !important;
    padding: 0 !important;
    .material-icons {
        // line-height: inherit;
        height: 1.75rem;
        width: 1rem;
        vertical-align: middle;
        display: inline-block;
    }
    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        position: relative;
        transition: all 0.5s ease;
        li {
            list-style-type: none;
            display: inline-block;
            a {
                color: white;
                min-height: 64px;
                line-height: 64px;
                padding: 0 1rem;
                display: block;
                text-decoration: none;
                font-family: $base-font-family !important;
                font-size: 0.92rem !important;
                min-width: inherit;
            }
            a:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
            ul#dropdown-menu-main-1 {
                min-width: 237.5px;
            }
            ul {
                width: auto !important;
                background-color: rgba(0, 0, 0, 0.2);
                display: inherit !important;
                position: absolute;
                top: 64px; /* the height of the main nav */
                z-index: 1;
                max-height: 0;
                height: 0;
                overflow: hidden;
                opacity: 0;
                transform: translateY(-.5em);
                transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
                li {
                    min-width: 170px;
                    float: none;
                    display: list-item;
                    position: relative;
                    padding: 0;
                }
                ul li {
                    position: relative;
                    top: -60px;
                    left: 170px;
                }
            }
        }
        li:hover > ul {
            z-index: 100;
            opacity: 1;
            display: block;
            height: auto;
            max-height: 1000px;
            transform: translateY(0%);
            transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
        }
    }
    .list-inline.right {
        text-align: right;
    }
    .menu-top {
        height: 64px;
    }
}
.mat-toolbar .brand {
    background-color: transparent;
}
.mat-toolbar .nav {
    background-color: rgba(0, 0, 0, 0.2);
}
.mat-toolbar .admin .nav {
    background-color: rgba(0, 0, 0, 0.8);
    li a {
        color: white !important;
    }
}
header.scroll {
    transition: all 0.3s ease;
    box-shadow: #333 0 -5px 2em;
    //     .navbar {
    //         nav {
    //             height: 32px;
    //             line-height: 32px;
    //             // transition: all 0.1s ease;
    //         }
    //         .brand-logo {
    //             font-size: 1.4em;
    //             // transition: all 0.1s ease;
    //             img {
    //                 width: 30px;
    //             }
    //         }
    //     }
}

.slim-loading-bar-progress {
    position: absolute;
    transition: all 0.2s ease;
}

header, header .navbar .dropdown-content, main .btn,
header.about, header.about .navbar .dropdown-content, main.about .btn {
    background-color: #009e99;
}
main a,
main.about a {
    color: #009e99 !important;
}

header.running-a-charity, header.running-a-charity .navbar .dropdown-content, main.running-a-charity .btn,
header.setting-up-a-charity, header.setting-up-a-charity .navbar .dropdown-content, main.setting-up-a-charity .btn,
header.running-your-organisation, header.running-your-organisation .navbar .dropdown-content, main.running-your-organisation .btn {
    background-color: #B71C1C;
}
main.running-a-charity a,
main.setting-up-a-charity a,
main.running-your-organisation a {
    color: #B71C1C !important;
}

header.jobs, header.jobs .navbar .dropdown-content, main.jobs .btn {
    background-color: #2e7d32;
}
main.jobs a {
    color: #2e7d32 !important;
}

header.join-scvo, header.join-scvo .navbar .dropdown-content, main.join-scvo .btn,
header.services, header.services .navbar .dropdown-content, main.services .btn {
    background-color: #880e4f;
}
main.join-scvo a,
main.services a,
main.services button {
    color: #880e4f !important;
}
main.services a.mat-button:hover,
main.services button:hover {
    text-decoration: none;
}

header.events.the-gathering, header.events.the-gathering .navbar .dropdown-content, main.events.the-gathering .btn {
    background-color: #4527a0;
}
main.events.the-gathering a {
    color: #4527a0 !important;
}

header.events, header.events .navbar .dropdown-content, main.events .btn {
    background-color: #009e99;
}
main.events a {
    color: #009e99 !important;
}

header.projects-campaigns, header.projects-campaigns .navbar .dropdown-content, main.projects-campaigns .btn {
    background-color: #00838f;
}
main.projects-campaigns a {
    color: #00838f;
}

header.library, header.library .navbar .dropdown-content, main.library .btn {
    background-color: #0D47A1;
}
main.library a {
    color: #0D47A1 !important;
}

header.press-media, header.press-media .navbar .dropdown-content, main.press-media .btn,
header.tags, header.tags .navbar .dropdown-content, main.tags .btn,
header.policy-research, header.policy-research .navbar .dropdown-content, main.policy-research .btn {
    background-color: #e64a19;
}
main.press-media a,
main.tags a,
main.policy-research a,
main.policy-research button {
    color: #e64a19 !important;
}

main.policy-research share-button a,
main.policy-research share-button button,
a.btn,
button,
main a.btn {
    color: #fff !important;
}

.row .col.navbar-nav {
    padding: 0;
    a {
        // not sure why this is needed - problem stacking two navbars
        display: inline-block;
    }
    .dropdown-content a {
        display: block;
    }
    ul {
        position: relative;
    }
    // a.active {
    //     background-color: rgba(0, 0, 0, 0.1);
    // }
    // li.active:first-of-type {
    //     background-color: inherit;
    // }
}
.navbar {
    padding: 0;
    // .navbar-search {
    //     padding-right: 0;
    //     .input-field input[type=search] {
    //         height: 64px !important;
    //         margin-bottom: 0;
    //         background-color: rgba(255, 255, 255, 0.1);
    //     }
    //     .input-field input[type=search]:hover {
    //         background-color: rgba(255, 255, 255, 0.2);
    //     }
    //     // .input-field input[type=search].ng-dirty,
    //     .input-field input[type=search]:focus {
    //         color: #000;
    //         background-color: rgba(255, 255, 255, 0.9);
    //     }
    // }
    .mat-input-container {
        width: 25%;
        .mat-input-wrapper {
            padding: 0;
            margin: 0;
            min-height: 64px;
            line-height: 64px;
            .mat-input-element {
                padding: 0 1rem;
                font-family: $base-font-family;
                background-color: rgba(255, 255, 255, 0.6);
            }
            .mat-input-placeholder {
                padding: 1rem 1rem 0;
                margin: 0;
                font-family: $base-font-family;
                // color: white;
            }
            .mat-input-underline {
                margin-top: -1px;
                border-color: transparent;
                .mat-input-ripple {
                    background-color: white;
                    top: -2px;
                }
            }
        }
    }

    .dropdown-content {
        max-height: 1000px;
        li {
            background-color: rgba(0, 0, 0, 0.2);
            a {
                color: white;
                font-size: 1rem;
            }
        }
        // li:first-child a {
        //     line-height: 36px;
        // }
        li:hover, li.active, li.selected {
            background-color: rgba(0, 0, 0, 0.2);
            color: inherit;
        }
    }
    li a.active {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .navbar-brand li.active a {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .dropdown-content li > a, .dropdown-content li > span {
        // padding: 14px 15px;
    }
    .collapsible-header {
        font-weight: bold;
        .material-icons {
            line-height: 48px;
        }
    }

    .side-nav {
        z-index: 999;
        a.active {
            background-color: rgba(0, 0, 0, 0.05);
        }
        .userView {
            background-color: #333;
        }
    }
    .side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
        background-color: #777;
    }
}
#sidenav-overlay {
    z-index: 99;
}
.brand-logo {
    font-family: $logo-font-family;
    font-weight: 900;
    color: #fff;
    padding-left: 3px;
    margin-top: 3px;
    position: relative;
    font-size: 2.1rem;
    text-decoration: none;
    img {
        width: 42px;
        height: auto;
        vertical-align: -8px;
        margin-right: 0;
    }
    .version {
        position: absolute;
        top: 4px;
        right: -18px;
        line-height: 1em;
        font-family: $base-font-family;
        font-size: 0.9rem;
        font-variant: small-caps;
        -webkit-transform: rotate(66deg);
        -moz-transform: rotate(66deg);
        -ms-transform: rotate(66deg);
        -o-transform: rotate(66deg);
    }
}
.brand-logo:hover,
.brand-logo:focus {
    color: #fff;
    text-decoration: none;
}
.brand-logo.hide-on-med-and-down {
    top: 0;
    left: 0;
}

// temporary fix for Materialize bug with Mac Chrome -
// https://github.com/Dogfalo/materialize/issues/3161
// .nav-wrapper, .nav-wrapper form, .nav-wrapper form .input-field { height: 100%; }

// Breadcrumb ==================================================================

.container-breadcrumb.row {
    margin-bottom: 0;
}
.home .container-breadcrumb,
.admin .container-breadcrumb,
.projects-campaigns .container-breadcrumb {
    display: none;
}
.breadcrumb {
    padding: 1rem 0 !important;
    margin: 0;
    li:first-child {
        // display: none !important;
    }
    li {
        font-size: 0.9rem;
        font-weight: 600;
        display: inline-block;
        a {
            cursor: pointer;
            font-weight: 600;
            text-decoration: underline;
            text-decoration-skip: ink;
        }
    }
    li::after {
        content: '/';
        padding: 0 0.25rem;
        color: #555;
    }
}
.about-us .breadcrumb li {
    display: inline-block !important;
}
// .library .breadcrumb .breadcrumb-item.active {
//     display: none;
// }
// .events .breadcrumb,
// .training .breadcrumb {
//     display: none;
// }
// .breadcrumb li:after {
//     content: "/" !important;
//     padding: 0 10px 0 5px !important;
//     color: #999999 !important;
// }
.breadcrumb > li:last-child::after,
.breadcrumb > li:before {
    content: " " !important;
    padding: 0 !important;
}
.breadcrumb li.active {
    // display: none !important;
    color: #555;
}
.admin .breadcrumb {
    display: none;
}

.share-container {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    .share-count {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: 2px solid black;
        h3 {
            display: flex;
            flex-direction: column-reverse;
            font-size: 2.5rem;
            margin: 0;
        }
        b {
            font-size: .7rem;
        }
    }
}
.sb-style .sb-count {
    font-family: $base-font-family !important;
}

// Admin =======================================================================

.collection {
    .collection-item {
        display: block;
    }
}

// Content =====================================================================

.services-list {
    // md-grid-tile {
    //     h3 {
    //         text-align: center;
    //         a {
    //             display: block;
    //         }
    //     }
    // }
    .row .col-sm-12 {
        padding-bottom: 2rem;
        .mat-card {
            height: 100%;
        }
    }
}

.event-result,
.document-result {
    background: white;
    margin: 1rem 0;
    padding: 0.66rem 0;
}
.event-detail,
.event-result,
.document-detail,
.document-result {
    dl {
        margin: 0;
        clear: both;
    }
    dt.inline, dd.inline {
        float: left;
    }
    dt.inline {
        clear: both;
    }
    dd.inline {
        margin-left: 0.33rem;
    }
}
.event-result {
    p {
        margin: 0;
    }
    .date-detail {
        font-weight: bold;
        .weekday {
            text-transform: uppercase;
            font-size: 1.4rem;
        }
        .date {
            font-size: 1.1rem;
        }
    }
    h3.cost {
        float: right;
        width: 3.5rem;
        height: 3.5rem;
        padding: 1rem 0 0;
        margin: 0;
        text-align: center;
    }
    h3.cost.paid {
        color: #fff;
        background: #009e99;
    }
    h3.cost.free {
        color: #000;
        background: #ccc;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 1.3rem 0 0;
    }
}

main ul.pagination:not(.browser-default) li {
    list-style-type: none;
}

nav.pagination {
    width: 100%;
    text-align: center;
    ul.pagination {
        margin: 1rem auto;
        padding: 0;
        li a,
        li.active a {
            cursor: pointer;
            font-weight: 400;
        }
        li a,
        li.active a,
        li a:hover {
            text-decoration: none;
        }
        li.page-item.active .page-link {
            background-color: #888;
            border-color: #888;
            color: white !important;
        }
        // li.active {
        //     background-color: red;
        // }
        li.disabled a {
            color: inherit;
            opacity: 0.5;
        }
    }
}

// Footer ======================================================================

footer {
    padding-top: 3rem;
    small {
        font-size: 90%;
    }
    .row {
        margin-bottom: 0;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
        }
    }
    ul.right li {
        text-align: right;
    }
}
footer,
footer a,
footer a:hover,
footer a:focus {
    color: white;
}
footer a:hover {
    text-decoration: underline;
    text-decoration-skip: ink;
}
