@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:900);

// Base variables ==============================================================

$logo-font-family: "Lato", "Arial", sans-serif;
$base-font-family: "Open Sans", "Helvetica", sans-serif;


// Layout ======================================================================

header .container-fluid,
main .container-fluid,
footer .container-fluid {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}


// General =====================================================================

html {
    overflow-y: scroll;
}
body {
    padding: 0;
    font-family: $base-font-family;
    min-height: 100%;
    background-color: #263238;
}
body, p, li, a {
    font-weight: 400;
}
strong {
    font-weight: 600;
}
header,
main {
    background-color: #ECEFF1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family;
    font-weight: 700;
}
h1 {
    font-size: 2.7rem;
    font-weight: 600;
    margin: 0.5em 0;
}
h2 {
    font-size: 2.0rem;
    font-weight: 600;
    margin: 0.35em 0;
}
h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.25em 0;
}
h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.2em 0;
}
h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
}
h6 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}
main {
    // padding: 128px 0 0.5rem;
    padding: 0 0 0.5rem;
    a:link {
        text-decoration: underline;
    }
    .card a:link, a.btn:link {
        text-decoration: none;
    }
    ul {
        padding: 0 0 0 1.5rem;
        li {
            list-style-type: disc;
        }
    }
    dd {
        margin: 0;
    }
}
@media screen and (max-width: 992px) {
    body {
        font-size: 0.95rem;
    }
    h1 {
        font-size: 1.9rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.4rem;
    }
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating),
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: inherit;
}
.card-panel {
    border-radius: 0;
}

.spinner-wrapper {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    .preloader-wrapper {
        margin-left: -32px;
        margin-top: -32px;
    }
    p {
        margin-left: -29px;
    }
}
.btn, .btn:hover,
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: none;
}
h1.parent_title a {
    text-transform: capitalize;
}

// Navbar ======================================================================

header {
    transition: all 0.5s ease;
    // position: fixed;
    // z-index: 100;
    // width: 100%;
    padding-bottom: 0;
    nav {
        box-shadow: none;
        .material-icons {
            line-height: inherit;
            display: inline-block;
        }
        ul a {
            display: inline-block;
        }
        ul a:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    nav.brand {
        background-color: transparent;
    }
    nav.navigation {
        background-color: rgba(0,0,0,0.1);
    }
}
header.scroll {
    transition: all 0.3s ease;
    box-shadow: #333 0 -5px 2em;
    //     .navbar {
    //         nav {
    //             height: 32px;
    //             line-height: 32px;
    //             // transition: all 0.1s ease;
    //         }
    //         .brand-logo {
    //             font-size: 1.4em;
    //             // transition: all 0.1s ease;
    //             img {
    //                 width: 30px;
    //             }
    //         }
    //     }
}

.slim-loading-bar-progress {
    position: absolute;
    transition: all 0.2s ease;
}

header, header .navbar .dropdown-content, main .btn,
header.about-us, header.about-us .navbar .dropdown-content, main.about-us .btn {
    background-color: #009e99;
}
main a,
main.about-us a {
    color: #009e99;
}

header.running-your-organisation, header.running-your-organisation .navbar .dropdown-content, main.running-your-organisation .btn {
    background-color: #303f9f;
}
main.running-your-organisation a {
    color: #303f9f;
}

header.employability, header.employability .navbar .dropdown-content, main.employability .btn {
    background-color: #2e7d32;
}
main.employability a {
    color: #2e7d32;
}

header.join-scvo, header.join-scvo .navbar .dropdown-content, main.join-scvo .btn,
header.events.the-gathering, header.events.the-gathering .navbar .dropdown-content, main.events.the-gathering .btn,
header.services, header.services .navbar .dropdown-content, main.services .btn {
    background-color: #6a1b9a;
}
main.join-scvo a,
main.events.the-gathering a,
main.services a {
    color: #6a1b9a;
}

header.events, header.events .navbar .dropdown-content, main.events .btn {
    background-color: #263238;
}
main.events a {
    color: #263238;
}

header.training, header.training .navbar .dropdown-content, main.training .btn {
    background-color: #00838f;
}
main.training a {
    color: #00838f;
}

header.media-centre, header.media-centre .navbar .dropdown-content, main.media-centre .btn,
header.policy, header.policy .navbar .dropdown-content, main.policy .btn {
    background-color: #ef6c00;
}
main.media-centre a,
main.policy a {
    color: #ef6c00;
}

a.btn {
    color: #fff !important;
}

.row .col.navbar-nav {
    padding: 0;
    a {
        // not sure why this is needed - problem stacking two navbars
        display: inline-block;
    }
    .dropdown-content a {
        display: block;
    }
    ul {
        position: relative;
    }
    // a.active {
    //     background-color: rgba(0, 0, 0, 0.1);
    // }
    // li.active:first-of-type {
    //     background-color: inherit;
    // }
}
.navbar {
    .navbar-search {
        padding-right: 0;
        .input-field input[type=search] {
            height: 64px !important;
            margin-bottom: 0;
            background-color: rgba(255, 255, 255, 0.1);
        }
        .input-field input[type=search]:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
        // .input-field input[type=search].ng-dirty,
        .input-field input[type=search]:focus {
            color: #000;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
    .brand-logo {
        font-family: $logo-font-family;
        font-weight: 900;
        padding-left: 3px;
        margin-top: 3px;
        position: absolute;
        img {
            width: 42px;
            height: auto;
            vertical-align: -8px;
            margin-right: 0;
        }
        .version {
            position: absolute;
            top: 12px;
            right: -20px;
            line-height: 1em;
            font-family: $base-font-family;
            font-size: 0.9rem;
            font-variant: small-caps;
            -webkit-transform: rotate(60deg);
            -moz-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
            -o-transform: rotate(60deg);
        }
    }
    .brand-logo.hide-on-med-and-down {
        top: 0;
        left: 0;
    }

    .dropdown-content {
        max-height: 1000px;
        li {
            background-color: rgba(0, 0, 0, 0.1);
            a {
                color: white;
                font-size: 1rem;
            }
        }
        // li:first-child a {
        //     line-height: 36px;
        // }
        li:hover, li.active, li.selected {
            background-color: rgba(0, 0, 0, 0.2);
            color: inherit;
        }
    }
    li a.active {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .navbar-brand li.active a {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .dropdown-content li > a, .dropdown-content li > span {
        padding: 14px 15px;
    }
    .collapsible-header {
        font-weight: bold;
        .material-icons {
            line-height: 48px;
        }
    }

    .side-nav {
        z-index: 999;
        a.active {
            background-color: rgba(0, 0, 0, 0.05);
        }
        .userView {
            background-color: #333;
        }
    }
    .side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
        background-color: #777;
    }
}
#sidenav-overlay {
    z-index: 99;
}

// temporary fix for Materialize bug with Mac Chrome -
// https://github.com/Dogfalo/materialize/issues/3161
.nav-wrapper, .nav-wrapper form, .nav-wrapper form .input-field { height: 100%; }


// Breadcrumb ==================================================================

.breadcrumb {
    padding: 0 !important;
    li:first-child {
        display: none !important;
    }
    li a {
        cursor: pointer;
        text-decoration: underline;
        font-size: 1rem;
    }
}
.about-us .breadcrumb li {
    display: inline-block !important;
}
.events .breadcrumb,
.training .breadcrumb,
.services .breadcrumb {
    display: none;
}
// .breadcrumb li:after {
//     content: "/" !important;
//     padding: 0 10px 0 5px !important;
//     color: #999999 !important;
// }
.breadcrumb > li + li:last-child:after,
.breadcrumb > li + li:before {
    content: " " !important;
    padding: 0 !important;
}
.breadcrumb li.active {
    display: none !important;
}


// Content =====================================================================

.media-centre .drupal.page.title {
    display: none;
}

home {
    h4 {
        margin-top: 0;
    }

    @media screen and (max-width: 992px) {
        h1.center {
            font-size: 1.7em;
            margin: 1rem 0 0;
        }
    }
}

policy {
    h4 {
        margin-top: 0.5em;
    }

    h4.promo-caption {
        margin-top: 0;
    }
}

.office-space {
    .content img {
        width: 100%;
    }
}

.event-search {
    .select-dropdown {
        border: 1px solid #ccc;
    }
}
.event-results {
    .day {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .date {
        font-size: 16px;
        font-weight: bold;
    }
    .title {
        margin-top: 0.1em;
        margin-bottom: 0.3em;
    }
    .description {

    }
    .cost {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
}

// Footer ======================================================================

footer {
    padding-top: 15px;
    small {
        font-size: 90%;
    }
}
footer,
footer a {
    color: rgba(255, 255, 255, 0.84);
}
footer a {
    text-decoration: underline;
}


// Misc. =======================================================================

// a, :focus {
//     outline: 0;
// }
// ul {
//     padding-left: 0;
//     list-style-type: none;
// }
// blockquote {
//     font-size: inherit;
//     margin: 0 0 10px;
//     padding-top: 0;
//     padding-bottom: 0;
// }
// .loading {
//     margin: 10em 0;
// }
// .header,
// .content {
//     background-color: #ECEFF1;
// }
// .content {
//     padding-bottom: 15px;
// }
// .panel-success .panel-heading {
//     color: white;
// }
// .progress {
//     position: relative;
//     margin-bottom: 0;
//     height: 1.5em;
//     span {
//         position: absolute;
//         display: block;
//         width: 100%;
//         color: white;
//         padding: 1px 5px;
//         text-align: left;
//     }
// }
//
// // Navigation ==================================================================
//
// .navbar {
//     margin-bottom: 0;
//     background-color: transparent;
//     .navbar-brand img {
//         width: 50%;
//         min-width: 108px;
//         margin-top: 5px;
//     }
//     .navbar-form {
//         padding: 0;
//         margin-bottom: 0;
//         margin-top: 15px;
//         border: none;
//         box-shadow: none;
//         .btn {
//             padding: 8px 10px;
//         }
//         .input-group .input-group-btn {
//             width: 1%;
//         }
//         .glyphicon-search, .glyphicon-search a {
//             color: #d2d2d2;
//         }
//         .btn:active:not(.btn-link):not(.btn-flat):not(.btn-fab),
//         .btn:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
//             box-shadow: none;
//         }
//         .btn.withoutripple .ripple-wrapper {
//             display: none;
//         }
//         .form-control {
//             background-image: linear-gradient(#fff, #fff), linear-gradient(#d2d2d2, #d2d2d2)
//         }
//     }
//     .navbar-collapse {
//         padding: 0;
//     }
//     .navbar-nav > li > a {
//         padding-top: 15px;
//         padding-bottom: 15px;
//     }
//     .dropdown-menu li > a:hover,
//     .dropdown-menu li > a:focus {
//         color: #666 !important;
//     }
//     .form-control:focus, .form-control.focus {
//         background-image: linear-gradient(#fff, #fff), linear-gradient(#d2d2d2, #d2d2d2);
//     }
// }
//
// // Page specific ===============================================================
//
// .home {
//     .panel {
//         margin-top: 15px;
//         .panel-body {
//             padding: 0;
//             img {
//                 width: 100%;
//             }
//             p {
//                 margin: 15px;
//             }
//         }
//     }
//     .navbar {
//         background-color: #00796B;
//     }
// }
//
// .policy {
//     .navbar {
//         background-color: #EF6C00;
//     }
// }
// .jobs {
//     .navbar {
//         background-color: #558B2F;
//     }
// }
// .help {
//     .navbar {
//         background-color: #0277BD;
//     }
// }
// .support {
//     .navbar {
//         background-color: #283593;
//     }
// }
// .about {
//     .navbar {
//         background-color: #AD1457;
//     }
// }
// .cjs {
//     .navbar {
//         background-color: #a6b830;
//     }
// }
//
// // Page specific - Search ======================================================
//
// .search .page-title h1 {
//     display: none;
// }
//
// // Page specific - The Gathering ===============================================
//
// .gathering {
//     .navbar {
//         background-color: #212121;
//     }
//     .btn-primary:not(.btn-link):not(.btn-flat),
//     .page-title {
//         background: #864cb2;
//         .container-fluid {
//             background: url('http://gatherscotland.org.uk/wp-content/themes/ward/img/gathering2016-logo-with-dates.png') no-repeat 15px;
//             height: 100px;
//             h1 {
//                 display: none;
//             }
//         }
//     }
// }
//
// // Page specific - Scottish Charity Awards =====================================
//
// .scottish-charity-awards {
//     .navbar {
//         background-color: #000;
//     }
//     .page-title {
//         background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11168891_10152920500092654_3904128374930610556_n.jpg?oh=ba57c8af3cd869716d6f1fccf66b3975&oe=5767EAB9') bottom;
//         background-size: cover;
//         height: 250px;
//         h1 {
//             color: white;
//             margin-top: 160px;
//             font-size: 4em;
//         }
//     }
//     .panel {
//         .panel-body {
//             img {
//                 width: auto;
//             }
//             h3 {
//                 padding-left: 15px;
//             }
//         }
//     }
// }
//
// // Page specific - Digital Participation =======================================
//
// .digital_participation.home {
//     .page-title {
//         text-align: center;
//         padding-top: 30px;
//         background-color: #b9e0f1;
//         background-position: center center;
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-image: url('http://digital.scvo.org.uk/images/splash.jpg');
//         background-size: cover;
//         height: 400px;
//         .container-fluid {
//             background-color: rgba(255, 255, 255, 0.8);
//             margin-bottom: 15px;
//             padding: 50px 0;
//         }
//         h1 {
//             font-weight: bold;
//             color: #345476;
//             text-shadow: 0px 1px 1px white;
//             margin-bottom: 20px;
//             font-size: 63px;
//             font-weight: 700;
//             letter-spacing: -0.03em;
//         }
//         p {
//             font-size: 1.4em;
//         }
//     }
// }
// .digital_participation {
//     .navbar {
//         background-color: #009E99;
//     }
//     .page-navigation {
//         background-color: #222;
//         .container-fluid {
//             padding: 0;
//         }
//         .nav {
//             li > a {
//                 color: #9d9d9d;
//             }
//             li > a:hover,
//             li > a:focus,
//             li > a:active {
//                 color: #fff;
//                 background-color: inherit;
//             }
//         }
//     }
// }
//
//
// // Media queries - responsive ==================================================
//
// @media screen and (max-width: 767px) {
//     .navbar {
//         .navbar-brand {
//             padding-left: 0;
//             margin-left: -15px;
//         }
//         .navbar-form {
//             margin-top: 0;
//         }
//         .navbar-header {
//             padding: 0;
//             .navbar-toggle {
//                 margin-right: 0;
//             }
//         }
//         .navbar-collapse,
//         .navbar-form {
//             border-color: transparent;
//             box-shadow: none;
//         }
//         .navbar-nav {
//             margin: 0;
//             li > a {
//                 padding: 5px 3px;
//             }
//         }
//         .navbar-form {
//             .form-control {
//                 margin-left: 4px;
//             }
//         }
//     }
// }
