@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

// Base variables ==============================================================

$base-font-family: "Open Sans", "Helvetica", sans-serif;


// Layout ======================================================================

header .container-fluid,
main .container-fluid,
footer .container-fluid {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}


// General =====================================================================

html {
    overflow-y: scroll;
}
body {
    padding: 0;
    font-family: $base-font-family;
    min-height: 100%;
    background-color: #263238;
}
body, p, li, a {
    font-weight: 400;
}
strong {
    font-weight: 600;
}
header,
main {
    background-color: #ECEFF1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family;
    font-weight: 700;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}
main {
    padding: 0.5rem 0;
    a:link {
        text-decoration: underline;
    }
    .card a:link, a.btn:link {
        text-decoration: none;
    }
}
.spinner-wrapper {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    .preloader-wrapper {
        margin-left: -32px;
        margin-top: -32px;
    }
    p {
        margin-left: -29px;
    }
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: none;
}


// Navbar ======================================================================

header {
    padding-bottom: 0;
    nav {
        box-shadow: none;
        .material-icons {
            line-height: inherit;
            display: inline-block;
        }
        ul a:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    nav.brand {
        background-color: transparent;
    }
    nav.navigation {
        background-color: rgba(0,0,0,0.1);
    }
}
header, header .navbar .dropdown-content {
    background-color: #009e99;
}
header.running-your-organisation, header.running-your-organisation .navbar .dropdown-content {
    background-color: #303f9f;
}
header.employability, header.employability .navbar .dropdown-content {
    background-color: #2e7d32;
}
header.products-and-services, header.products-and-services .navbar .dropdown-content {
    background-color: #c62828;
}
header.events-and-training, header.events-and-training .navbar .dropdown-content {
    background-color: #00838f;
}
header.policy-hub, header.policy-hub .navbar .dropdown-content {
    background-color: #ef6c00;
}

.row .col.navbar-nav {
    padding: 0;
    a {
        // not sure why this is needed - problem stacking two navbars
        display: block;
    }
    // a.active {
    //     background-color: rgba(0, 0, 0, 0.1);
    // }
    // li.active:first-of-type {
    //     background-color: inherit;
    // }
}
.navbar {
    .navbar-search {
        padding-right: 0;
        .input-field input[type=search] {
            margin-bottom: 0;
            background-color: rgba(255, 255, 255, 0.1);
        }
        .input-field input[type=search]:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
        // .input-field input[type=search].ng-dirty,
        .input-field input[type=search]:focus {
            color: #000;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
    .brand-logo {
        padding-left: 3px;
        img {
            width: 42px;
            height: auto;
            vertical-align: -7px;
            margin-right: 5px;
        }
    }

    .dropdown-content {
        max-height: 1000px;
        li {
            background-color: rgba(0, 0, 0, 0.1);
            a {
                color: white;
                font-size: 1rem;
            }
        }
        li:first-child a {
            line-height: 36px;
        }
        li:hover, li.active, li.selected {
            // background-color: inherit;
            color: inherit;
        }
    }
    .dropdown-content li > a, .dropdown-content li > span {
        padding: 14px 15px;
    }

    .side-nav {
        a.active {
            background-color: rgba(0, 0, 0, 0.05);
        }
        .userView {
            background-color: #333;
        }
    }
    .side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
        background-color: #777;
    }
}

// temporary fix for Materialize bug with Mac Chrome -
// https://github.com/Dogfalo/materialize/issues/3161
.nav-wrapper, .nav-wrapper form, .nav-wrapper form .input-field { height: 100%; }

// Content =====================================================================

home {
    h4 {
        margin-top: 0;
    }

    @media screen and (max-width: 992px) {
        h3.center {
            font-size: 1.7em;
        }
    }
}

policy {
    h4 {
        margin-top: 0.5em;
    }

    h4.promo-caption {
        margin-top: 0;
    }
}

.event-search {
    .select-dropdown {
        border: 1px solid #ccc;
    }
}
.event-results {
    .day {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .date {
        font-size: 16px;
        font-weight: bold;
    }
    .title {
        margin-top: 0.1em;
        margin-bottom: 0.3em;
    }
    .description {

    }
    .cost {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
}

// Footer ======================================================================

footer {
    padding-top: 15px;
    small {
        font-size: 90%;
    }
}
footer,
footer a {
    color: rgba(255, 255, 255, 0.84);
}
footer a {
    text-decoration: underline;
}


// Misc. =======================================================================

// a, :focus {
//     outline: 0;
// }
// ul {
//     padding-left: 0;
//     list-style-type: none;
// }
// blockquote {
//     font-size: inherit;
//     margin: 0 0 10px;
//     padding-top: 0;
//     padding-bottom: 0;
// }
// .loading {
//     margin: 10em 0;
// }
// .header,
// .content {
//     background-color: #ECEFF1;
// }
// .content {
//     padding-bottom: 15px;
// }
// .panel-success .panel-heading {
//     color: white;
// }
// .progress {
//     position: relative;
//     margin-bottom: 0;
//     height: 1.5em;
//     span {
//         position: absolute;
//         display: block;
//         width: 100%;
//         color: white;
//         padding: 1px 5px;
//         text-align: left;
//     }
// }
//
// // Navigation ==================================================================
//
// .navbar {
//     margin-bottom: 0;
//     background-color: transparent;
//     .navbar-brand img {
//         width: 50%;
//         min-width: 108px;
//         margin-top: 5px;
//     }
//     .navbar-form {
//         padding: 0;
//         margin-bottom: 0;
//         margin-top: 15px;
//         border: none;
//         box-shadow: none;
//         .btn {
//             padding: 8px 10px;
//         }
//         .input-group .input-group-btn {
//             width: 1%;
//         }
//         .glyphicon-search, .glyphicon-search a {
//             color: #d2d2d2;
//         }
//         .btn:active:not(.btn-link):not(.btn-flat):not(.btn-fab),
//         .btn:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
//             box-shadow: none;
//         }
//         .btn.withoutripple .ripple-wrapper {
//             display: none;
//         }
//         .form-control {
//             background-image: linear-gradient(#fff, #fff), linear-gradient(#d2d2d2, #d2d2d2)
//         }
//     }
//     .navbar-collapse {
//         padding: 0;
//     }
//     .navbar-nav > li > a {
//         padding-top: 15px;
//         padding-bottom: 15px;
//     }
//     .dropdown-menu li > a:hover,
//     .dropdown-menu li > a:focus {
//         color: #666 !important;
//     }
//     .form-control:focus, .form-control.focus {
//         background-image: linear-gradient(#fff, #fff), linear-gradient(#d2d2d2, #d2d2d2);
//     }
// }
//
// // Page specific ===============================================================
//
// .home {
//     .panel {
//         margin-top: 15px;
//         .panel-body {
//             padding: 0;
//             img {
//                 width: 100%;
//             }
//             p {
//                 margin: 15px;
//             }
//         }
//     }
//     .navbar {
//         background-color: #00796B;
//     }
// }
//
// .policy {
//     .navbar {
//         background-color: #EF6C00;
//     }
// }
// .jobs {
//     .navbar {
//         background-color: #558B2F;
//     }
// }
// .help {
//     .navbar {
//         background-color: #0277BD;
//     }
// }
// .support {
//     .navbar {
//         background-color: #283593;
//     }
// }
// .about {
//     .navbar {
//         background-color: #AD1457;
//     }
// }
// .cjs {
//     .navbar {
//         background-color: #a6b830;
//     }
// }
//
// // Page specific - Search ======================================================
//
// .search .page-title h1 {
//     display: none;
// }
//
// // Page specific - The Gathering ===============================================
//
// .gathering {
//     .navbar {
//         background-color: #212121;
//     }
//     .btn-primary:not(.btn-link):not(.btn-flat),
//     .page-title {
//         background: #864cb2;
//         .container-fluid {
//             background: url('http://gatherscotland.org.uk/wp-content/themes/ward/img/gathering2016-logo-with-dates.png') no-repeat 15px;
//             height: 100px;
//             h1 {
//                 display: none;
//             }
//         }
//     }
// }
//
// // Page specific - Scottish Charity Awards =====================================
//
// .scottish-charity-awards {
//     .navbar {
//         background-color: #000;
//     }
//     .page-title {
//         background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11168891_10152920500092654_3904128374930610556_n.jpg?oh=ba57c8af3cd869716d6f1fccf66b3975&oe=5767EAB9') bottom;
//         background-size: cover;
//         height: 250px;
//         h1 {
//             color: white;
//             margin-top: 160px;
//             font-size: 4em;
//         }
//     }
//     .panel {
//         .panel-body {
//             img {
//                 width: auto;
//             }
//             h3 {
//                 padding-left: 15px;
//             }
//         }
//     }
// }
//
// // Page specific - Digital Participation =======================================
//
// .digital_participation.home {
//     .page-title {
//         text-align: center;
//         padding-top: 30px;
//         background-color: #b9e0f1;
//         background-position: center center;
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-image: url('http://digital.scvo.org.uk/images/splash.jpg');
//         background-size: cover;
//         height: 400px;
//         .container-fluid {
//             background-color: rgba(255, 255, 255, 0.8);
//             margin-bottom: 15px;
//             padding: 50px 0;
//         }
//         h1 {
//             font-weight: bold;
//             color: #345476;
//             text-shadow: 0px 1px 1px white;
//             margin-bottom: 20px;
//             font-size: 63px;
//             font-weight: 700;
//             letter-spacing: -0.03em;
//         }
//         p {
//             font-size: 1.4em;
//         }
//     }
// }
// .digital_participation {
//     .navbar {
//         background-color: #009E99;
//     }
//     .page-navigation {
//         background-color: #222;
//         .container-fluid {
//             padding: 0;
//         }
//         .nav {
//             li > a {
//                 color: #9d9d9d;
//             }
//             li > a:hover,
//             li > a:focus,
//             li > a:active {
//                 color: #fff;
//                 background-color: inherit;
//             }
//         }
//     }
// }
//
//
// // Media queries - responsive ==================================================
//
// @media screen and (max-width: 767px) {
//     .navbar {
//         .navbar-brand {
//             padding-left: 0;
//             margin-left: -15px;
//         }
//         .navbar-form {
//             margin-top: 0;
//         }
//         .navbar-header {
//             padding: 0;
//             .navbar-toggle {
//                 margin-right: 0;
//             }
//         }
//         .navbar-collapse,
//         .navbar-form {
//             border-color: transparent;
//             box-shadow: none;
//         }
//         .navbar-nav {
//             margin: 0;
//             li > a {
//                 padding: 5px 3px;
//             }
//         }
//         .navbar-form {
//             .form-control {
//                 margin-left: 4px;
//             }
//         }
//     }
// }
