<div class="event">
    {{> header_splash_event}}
    <div class="container-fluid page-content">
        {{#> handle_404}}
        {{#with data.primaryResponse.hits.hits.[0]._source ~}}
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a></li>
            <li><a href="/jobs/community-jobs-scotland/training-opportunities">Training opportunities</a></li>
            <li>{{{title}}}</li>
        </ul>

        {{{rendered.scvo_full}}}

        {{{rendered.scvo_speakers}}}

        {{/with ~}}

        <div class="mdc-layout-grid related">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    {{#compare data.supplimentaryResponses.related_events.hits.total ">" 0 ~}}
                    <h2 class="author">Similar events</h2>
                    <ul class="supplimentary-list">
                        {{#each data.supplimentaryResponses.related_events.hits.hits ~}}
                        {{{_source.rendered.scvo_list}}}
                        {{/each ~}}
                    </ul>
                    {{/compare ~}}
                </div>
            </div>
        </div>
        {{/handle_404 ~}}
    </div>
</div>
