<div class="cjs-job-search">
    <div class="splash-image splash-image-{{primaryResponse.hits.hits.[0]._type}}" style="{{> header_splash_image}}">
        <div class="splash-overlay{{#if primaryResponse.hits.hits.[0]._source.hide_overlay}} splash-overlay-hidden{{/if}}">
            <div class="container-fluid">
                <div class="mdc-layout-grid">
                    {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                    <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                    {{else}}
                    <h1 class="header-text">
                        <span class="header-text-banner">
                            CJS vacancies
                        </span>
                    </h1>
                    {{/if}}
                </div>
                {{> header_caption}}
            </div>
        </div>
    </div>
    <div class="container-fluid page-content">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a></li>
            <li>Vacancies</li>
        </ul>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone content page-content">
                <h2>Are you aged between</h2>

                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                            <h3><a href="/jobs/community-jobs-scotland/vacancies/p19v">16–29 year olds</a></h3>
                            <p>
                                The following vacancies are only open to vulnerable unemployed 16 to 29 year olds, including carers, early service leavers (armed forces), care experienced, disabled and young people with convictions who are not on the Work Programme, Work Choice, Specialist Employment Support, Work First Scotland or Work Able Scotland.
                            </p>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                            <h3><a href="/jobs/community-jobs-scotland/vacancies/aag">16–19 years old on an Activity Agreement</a></h3>
                            <p>
                                The following vacancies are only open to unemployed 16 to 19 year olds who are currently participating on an Activity Agreement.
                            </p>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                            <h3><a href="/jobs/community-jobs-scotland/vacancies/p52">16–29 year olds with a disability</a></h3>
                            <p>
                                The following vacancies are only open to unemployed 16 to 29 year olds who have a disability and or long term health condition and who are not on the Work Programme, Community Work Placement, Work Choice or Specialist Employment Support
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>