<button class="btn pull-right" (click)="showNewPage()">New page</button>
<h2 class="margin-bottom">Page editor</h2>

<div class="collection">
    <a *ngFor="let item of pages" [routerLink]="['/admin/page-editor', item]" class="collection-item">{{ item | replace:'/_/':'g':'/' }}</a>
</div>

<div class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalNewActions">
    <div class="modal-content">
        <h3>New page</h3>
        <div class="card-panel red white-text" *ngIf="newPageError">
            <div class="card-contents">{{ newPageError }}</div>
        </div>
        <p>please enter a path for your new page</p>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="/path" id="menu-path" type="text" class="validate" [(ngModel)]="newPage">
                <label for="menu-path">Path</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a role="button" class="modal-action btn" (click)="createPage()">Create page <i class="fa fa-fw fa-floppy">save</i></a>
        <a role="button" class="modal-action modal-close btn-flat">Cancel</a>
    </div>
</div>
