<section class="featured-content">
    <div class="container-fluid">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h1 style="text-align:center;">TBC</h1>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <!-- { {#each primaryResponse.hits.hits}}
        { { {_source.rendered.featured}}}
        { {/each}} -->
    </div>
</section>

<section class="latest-content">
    <div class="container-fluid">
        <div class="latest-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell">
                    <h2>
                        Latest SCVO blog posts
                        <a href="/blogs">Read more</a>
                    </h2>
                    {{#each supplimentaryResponses.blogs_latest.hits.hits}}
                    {{{_source.rendered.gist}}}
                    {{/each}}
                </div>
                <div class="mdc-layout-grid__cell">
                    <h2>
                        Top third sector jobs
                        <a href="https://goodmoves.com">See more on <strong>good</strong>moves</a>
                    </h2>
                    {{#each supplimentaryResponses.goodmoves_latest.hits.hits}}
                    {{{_source.rendered.gist}}}
                    {{/each}}
                </div>
                <div class="mdc-layout-grid__cell">
                    <h2>
                        Latest TFN news
                        <a href="http://thirdforcenews.org.uk">Read more</a>
                    </h2>
                    {{#each supplimentaryResponses.tfn_latest.hits.hits}}
                    {{{_source.rendered.gist}}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
