<section class="v-padding">
    <div class="container-fluid">
        {{#each primaryResponse.hits.hits}}
        {{{_source.rendered.featured}}}
        {{/each}}
    </div>
</section>

<section class="v-padding">
    <div class="container-fluid">
        <div class="latest-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell">
                    <h2>Latest blog posts</h2>
                    {{#each supplimentaryResponse.blogs_latest.hits.hits}}
                    {{{_source.rendered.gist}}}
                    {{/each}}
                </div>
                <div class="mdc-layout-grid__cell">
                    <h2>Top <a href="http://goodmoves.com"><strong>good</strong>moves</a> jobs</h2>
                    {{#each supplimentaryResponse.goodmoves_latest.hits.hits}}
                    {{{_source.rendered.gist}}}
                    {{/each}}
                </div>
                <div class="mdc-layout-grid__cell">
                    <h2>Latest <a href="http://thirdforcenews.org.uk">TFN</a> news</h2>
                    {{#each supplimentaryResponse.tfn_latest.hits.hits}}
                    {{{_source.rendered.gist}}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
