<div class="splash-image {{> header_splash}}">
    <div class="container-fluid">
        <div class="mdc-layout-grid">
            <h1 class="header-text">
                <span class="header-text-banner">
                    Hello,<br />
                    we're SCVO
                </span>
            </h1>
            <p class="header-extra">
                Championing Scotland's vibrant charities,<br />
                voluntary organisations &amp; Social Enterprises
            </p>
            <p>
                <a href="/about" class="mdc-button mdc-button--raised">Read more</a>
            </p>
        </div>
    </div>
</div>

<section class="featured-content">
    <div class="container-fluid">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h1 style="text-align:center;">[ this is a new website in development ]</h1>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <!-- { {#each primaryResponse.hits.hits}}
        { { {_source.rendered.featured}}}
        { {/each}} -->
    </div>
</section>

<section class="cta-content splash-image">
    <div class="container-fluid">
        <div class="cta-grid mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-desktop">
                    <h2>
                        Find information on...
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-4-desktop">
                    <h3>
                        <a href="/setting-up-a-charity">
                            <span class="fa fa-3x fa-file-text" aria-hidden="true"></span>
                            <span class="underline">Setting up an organisation</span>
                        </a>
                    </h3>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-4-desktop">
                    <h3>
                        <a href="/funding">
                            <span class="fa fa-3x fa-money" aria-hidden="true"></span>
                            <span class="underline">Funding for my project</span>
                        </a>
                    </h3>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-4-desktop">
                    <h3>
                        <a href="/jobs">
                            <span class="fa fa-3x fa-address-card" aria-hidden="true"></span>
                            <span class="underline">Jobs in the sector</span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="latest-content">
    <div class="container-fluid">
        <div class="latest-grid mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-4-desktop">
                    <h2>
                        Latest SCVO blog posts
                    </h2>
                    {{#each supplimentaryResponses.blogs_latest.hits.hits}}
                    {{{_source.rendered.gist}}}
                    {{/each}}
                    <h2>
                        <a href="/blogs">Read more</a>
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-4-desktop">
                    <h2>
                        Latest TFN news
                    </h2>
                    {{#each supplimentaryResponses.tfn_latest.hits.hits}}
                    {{{_source.rendered.gist}}}
                    {{/each}}
                    <h2>
                        <a href="http://thirdforcenews.org.uk">Read more</a>
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-4-desktop">
                    <h2>
                        Top third sector jobs
                    </h2>
                    {{#each supplimentaryResponses.goodmoves_latest.hits.hits}}
                    {{{_source.rendered.gist}}}
                    {{/each}}
                    <h2>
                        <a href="https://goodmoves.com">See more on <strong>good</strong>moves</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
