<div class="container-fluid">
    <div class="v-margin">
        <div class="mdc-card ">
            <section class="mdc-card__primary">
                <h2 class="mdc-card__title mdc-card__title--large">Search SCVO</h2>
                <input type="text" class="mdc-textfield__input searchRoute" placeholder="Search" 
                    [searchroute]='"main-search"' [paramstemplate]='"{ \"queryParams\": { \"q\": %q } }"'>
            </section>
        </div>
    </div>

    {{#each primaryResponse.hits.hits}}
        <div class="v-margin">
            {{#if _source.rendered.search_result_scvo}}
                {{{_source.rendered.search_result_scvo}}}
            {{else}}
                {{#if _source.rendered.search_result}}
                    {{{_source.rendered.search_result}}}
                {{/if}}
            {{/if}}
        </div>
    {{/each}}

    <div class="v-margin">
        <ul class="pagination">
            {{#if paging.prevPage}}
                <li>
                    <a href="">Previous</a>
                </li>
            {{/if}}
            
            {{#each paging.pageRange}}
                <li class="{{#compare paging.currentPage "===" this}}current-page{{/compare}}">
                    <a href="">{{this}}</a>
                </li>
            {{/each}}

            {{#if paging.nextPage}}
                <li>
                    <a href="">Next</a>
                </li>
            {{/if}}
        </ul>
    </div>
</div>
