<div class="members">
    <div class="splash-image {{> header_splash}}">
        <div class="container-fluid">
            <div class="mdc-layout-grid">
                {{#if primaryResponse.hits.hits.[0]._source.header_text}}
                <img src="{{primaryResponse.hits.hits.[0]._source.header_text}}" alt="{{primaryResponse.hits.hits.[0]._source.title}}" class="header-text" />
                {{else}}
                <h1 class="header-text">
                    <span class="header-text-banner">
                        SCVO member organisations
                    </span>
                </h1>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="breadcrumbs">
            <li><a href="/">SCVO</a></li>
            <li><a href="/about">About SCVO</a></li>
        </ul>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9 content page-content">
                        <p>[Search filters TBC]</p>

                        {{#with primaryResponse.hits.hits.[0]._source}}
                        {{{rendered.list}}}
                        {{/with}}
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 sidebar page-sidebar">
                        {{> menu_about}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
