<div class="page about">
    {{> header_splash}}
    <div class="container-fluid">
        {{> breadcrumbs}}
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
                    {{{data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}

                    <h2>Quick guide</h2>
                    <form name="settled_status" id="settled_status" action="">
                        <h3>
                            <strong>Q1.</strong> When did you arrive in the UK?
                        </h3>
                        <p>
                            <div class="mdc-radio"><input id="answer-1" class="mdc-radio__native-control" name="a" value="1" type="radio" onchange="window.displayGuide()" />
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle"></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label id="answer-1-label" for="answer-1">On or before 29 March 2019</label>
                            <div class="mdc-radio"><input id="answer-2" class="mdc-radio__native-control" name="a" value="2" type="radio" onchange="window.displayGuide()" />
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle"></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label id="answer-2-label" for="answer-2">After 29 March 2019</label>
                        </p>
                        <h3>
                            <strong>Q2.</strong> How long have you (continually and lawfully) lived in the UK?
                        </h3>
                        <p>
                            <div class="mdc-radio"><input id="answer-3" class="mdc-radio__native-control" name="b" value="3" type="radio" onchange="window.displayGuide()" />
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle"></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label id="answer-3-label" for="answer-3">Five years or more</label>
                            <div class="mdc-radio"><input id="answer-4" class="mdc-radio__native-control" name="b" value="4" type="radio" onchange="window.displayGuide()" />
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle"></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label id="answer-4-label" for="answer-4">Less than five years</label>
                        </p>
                        <h3>
                            <strong>Q3.</strong> Do you have <a href="https://www.gov.uk/settle-in-the-uk">indefinite leave to remain</a> status?
                        </h3>
                        <p>
                            <div class="mdc-radio"><input id="answer-5" class="mdc-radio__native-control" name="c" value="5" type="radio" onchange="window.displayGuide()" />
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle"></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label id="answer-5-label" for="answer-5">Yes</label>
                            <div class="mdc-radio"><input id="answer-6" class="mdc-radio__native-control" name="c" value="6" type="radio" onchange="window.displayGuide()" />
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle"></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label id="answer-6-label" for="answer-6">No</label>
                        </p>
                    </form>
                    <div id="settled_status_guide">
                        <div class="guide_text" id="guide_135">
                            <p>
                                Your <a href="https://www.gov.uk/settle-in-the-uk">'indefinite leave to remain'</a> status is not affected by the UK leaving the EU. However, should you wish to exchange your existing indefinite leave to remain document for the new 'settled status' document, you will be able to do so free of charge.
                            </p>
                        </div>
                        <div class="guide_text" id="guide_136">
                            <p>
                                You will be able to apply to stay indefinitely by getting 'settled status'. That means they will be free to live here, have access to public funds and services.
                            </p>
                            <p>
                                Getting this status will prove (for example, to employers or public service providers) that you have permission to continue living and working here in future.
                            </p>
                            <p>
                                The application fee will be no more than the cost charged to British citizens for a UK passport and the online process for application should be in place by late 2018. <a href="https://gov.smartwebportal.co.uk/homeoffice/public/webform.asp?id=67&id2=627DF7">Sign up for email updates</a> for more details.
                            </p>
                            <p>
                                Family members who are living with, or join, you in the UK by 29 March 2019 will also be able to apply for settled status after 5 years in the UK. Close family members (spouses, civil and unmarried partners, dependent children and grandchildren, and dependent parents and grandparents) will be able to join EU citizens after the UK leaves the EU, as long as the relationship existed on 29 March 2019.
                            </p>
                        </div>
                        <div class="guide_text" id="guide_145">
                            <p>
                                Your <a href="https://www.gov.uk/settle-in-the-uk">'indefinite leave to remain'</a> status is not affected by the UK leaving the EU. However, should you wish to exchange your existing indefinite leave to remain document for the new 'settled status' document, you will be able to do so free of charge.
                            </p>
                        </div>
                        <div class="guide_text" id="guide_146">
                            <p>
                                You will be able to apply to stay until they have reached the 5-year threshold.
                            </p>
                            <p>
                                Once you have been in the UK for five years (continually and lawfully), you will be able to apply to stay indefinitely by getting 'settled status'. That means they will be free to live here, have access to public funds and services.
                            </p>
                            <p>
                                Getting this status will prove (for example, to employers or public service providers) that you have permission to continue living and working here in future.
                            </p>
                            <p>
                                The application fee will be no more than the cost charged to British citizens for a UK passport and the online process for application should be in place by late 2018. Sign up for email updates for more details.
                            </p>
                            <p>
                                Family members who are living with, or join, you in the UK by 29 March 2019 will also be able to apply for settled status after 5 years in the UK. Close family members (spouses, civil and unmarried partners, dependent children and grandchildren, and dependent parents and grandparents) will be able to join EU citizens after the UK leaves the EU, as long as the relationship existed on 29 March 2019.
                            </p>
                        </div>
                        <div class="guide_text" id="guide_235">
                            <p>
                                Your <a href="https://www.gov.uk/settle-in-the-uk">'indefinite leave to remain'</a> status is not affected by the UK leaving the EU. However, should you wish to exchange your existing indefinite leave to remain document for the new 'settled status' document, you will be able to do so free of charge.
                            </p>
                        </div>
                        <div class="guide_text" id="guide_236">
                            <p>
                                EU citizens and their family members who arrive in the UK during the implementation period (between 29 March 2019 and 29 March 2021) will be able to live, work and study here as they do now, but will need to register with the Home Office if they intend to stay here longer than 3 months.
                            </p>
                        </div>
                        <div class="guide_text" id="guide_245">
                            <p>
                                Your <a href="https://www.gov.uk/settle-in-the-uk">'indefinite leave to remain'</a> status is not affected by the UK leaving the EU. However, should you wish to exchange your existing indefinite leave to remain document for the new 'settled status' document, you will be able to do so free of charge.
                            </p>
                        </div>
                        <div class="guide_text" id="guide_246">
                            <p>
                                EU citizens and their family members who arrive in the UK during the implementation period (between 29 March 2019 and 29 March 2021) will be able to live, work and study here as they do now, but will need to register with the Home Office if they intend to stay here longer than 3 months.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
                    {{> menu_eu_are_valued}}
                </div>
                {{> related_posts}}
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/scvo/eu-are-settled.js"></script>