<div class="page page-full-width">
    {{> header_splash}}
    <div class="container-fluid">
        {{#> handle_404 ~}}
        {{> breadcrumbs}}
        <div class="content page-content">
            {{{data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
        {{/handle_404 ~}}
    </div>
</div>
