<h1>Contact</h1>

<ul class="fa-ul">
  <li>
    <span class="fa-li"><span class="fas fa-envelope"></span></span>
    <a href="mailto:contact@scotlandforeurope.scot">contact@scotlandforeurope.scot</a>
  </li>
  <li>
    <span class="fa-li"><span class="fab fa-twitter"></span></span>
    <a href="https://twitter.com/EuropeScot">@EuropeScot</a>
  </li>
</ul>
