<h3>
  Scotland for Europe is a Scottish civil society campaign to stay in the EU.
</h3>

<p>
  This campaign is designed to show that the majority support in Scotland for ‘remain’ has not gone away.
</p>

<p>
  Scotland for Europe is and shall remain a grass-roots, networked campaign.
</p>

<p>
  <a href="/the-declaration" class="mdc-button mdc-button--raised">Read the declaration</a>
</p>