<form id="sign-out-form" method="POST" class="sign-in-form sign-out-form">
  <div class="mdc-card mdc-elevation--z0">
    <div class="card-loader" id="sign-out-loader">
      <div class="card-loader-inner">
        <span class="far fa-2x fa-circle-notch fa-spin"></span>
      </div>
    </div>
  </div>
</form>