{{#if @root.data.auth ~}}
<div class="container-content fundingscotland-organisation">
  {{#compare data.primaryResponse.hits.total ">" 0}}
  {{#with data.primaryResponse.hits.hits.[0]._source as |funder| ~}}

  {{> funder_full funder}}

  {{#compare ../data.supplimentaryResponses.funds.hits.total ">" 0 ~}}
  <hr />
  <div class="mdc-typography--headline4">
    Current funds
  </div>
  {{#each ../data.supplimentaryResponses.funds.hits.hits ~}}
  {{> fund_list _source}}
  {{/each ~}}
  {{else}}
  <hr />
  <div class="mdc-typography--headline4">
    No current funds
  </div>
  {{/compare ~}}

  {{/with ~}}
  {{else}}
  <p>
    <strong>Error:</strong> the requested funder could not be found.
  </p>
  {{/compare}}
</div>
{{else}}
{{> account_redirect_home}}
{{/if ~}}