{{#if @root.data.auth ~}}
<div id="detailed-results-container" class="container-content fundingscotland-organisation-search">
  {{> funder_search_results this}}
</div>
{{else}}
 {{> account_not_signed_in}}
{{/if ~}}