.layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type { 
    padding-right: 0; 
} 

.container-fluid { 
    max-width: 1280px; 
    width: 100%; 
    margin: 0 auto;
} 

.page-content { 
    padding-left: 15px; 
    padding-right: 15px; 
}
