<div class="mdc-typography demo-body" style="">
    <div class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <button class="demo-menu material-icons mdc-toolbar__icon--menu">menu</button>
                <span class="mdc-toolbar__title catalog-title">{{title}}</span>
            </section>
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <div class="mdc-form-field mdc-form-field--align-end">
                    <div class="mdc-textfield">
                        <input type="text" class="mdc-textfield__input" placeholder="Search" id="search">
                    </div>
                </div>
            </section>
        </div>
    </div>

    <aside class="mdc-temporary-drawer" style="">
        <nav class="mdc-temporary-drawer__drawer">
            <header class="mdc-temporary-drawer__header">
                <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
                    {{title}} 
                </div>
            </header>
            <nav class="mdc-temporary-drawer__content mdc-list-group">
                <div id="icon-with-text-demo" class="mdc-list">
                    <a class="mdc-list-item" href="/" data-mdc-tabindex-handled="true" tabindex="-1">
                        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
                    </a>
                    <a class="mdc-list-item" href="/search" data-mdc-tabindex-handled="true" tabindex="-1">
                        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">work</i>Vacancies
                    </a>
                    <a class="mdc-list-item" href="/organisations" data-mdc-tabindex-handled="true" tabindex="-1">
                        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">business</i>Organisations
                    </a>
                </div>
            </nav>
        </nav>
    </aside>

    <main class="mdc-toolbar-fixed-adjust">
        <div class="page-content" id="page-content"></div>
    </main>
</div>
