<div class="container-content content-event">
  {{#compare data.primaryResponse.hits.total ">" 0 ~}}
  {{#with data.primaryResponse.hits.hits.[0]._source as |event| ~}}

  {{> event_full event}}

  {{/with ~}}
  {{else}}
  <p>
    <strong>Error:</strong> the requested event could not be found.
  </p>
  {{/compare ~}}
</div>