{{#if data.primaryResponse.hits.hits.[0] ~}}
<title>Training search results – Goodmoves</title>
<meta property="og:title" content="Training search results – Goodmoves" data-dynamic="true">
{{else}}
<title>Training search results – Goodmoves</title>
<meta property="og:title" content="Training search results – Goodmoves" data-dynamic="true">
{{/if ~}}