<div class="grant-cyber">
  {{> header_splash}}
  <div class="container-fluid">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/digital">Digital</a></li>
      <li><a href="/digital/evolution">Evolution</a></li>
      <li><a href="/digital/evolution/cyber-resilience">Cyber Resilience and Cyber Essentials Grants</a></li>
      <li><a href="/digital/evolution/cyber-resilience/projects">Projects</a></li>
      <li>{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}</li>
    </ul>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 content grant-content">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
      </div>
    </div>
  </div>
</div>
