<div class="grant-charter">
  {{> header_splash}}
  <div class="container-fluid">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/running-your-organisation">Running your organisation</a></li>
      <li><a href="/running-your-organisation/funding">Funding</a></li>
      <li><a href="/running-your-organisation/funding/carers-act-transformation-support-fund">Carers Act Transformation Support (CATS) Fund </a></li>
      <li><a href="/running-your-organisation/funding/carers-act-transformation-support-fund/projects">Projects</a></li>
      <li>{{{data.primaryResponse.hits.hits.[0]._source.title}}}</li>
    </ul>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 content grant-content">
          {{{data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
      </div>
    </div>
  </div>
</div>
