  <form id="register-form" method="POST" class="register-form">
    <div class="mdc-card">
      <div class="mdc-card__info--vacancy">
        <div class="mdc-card__info--vacancy-title mdc-typography--headline4 x-padding">
          Register
        </div>
      </div>
      <div class="mdc-card__info x-padding-full mdc-theme--primary-bg mdc-theme--on-primary" id="register-message">
          <span id="form-message"></span>
      </div>
      <div class="mdc-card__info x-padding-full">
        <div class="mdc-typography--body1" id="form-section-email">
          <div class="middle-line-text">
            <span>Continue with</span>
          </div>
          <div class="button-row">
            <button class="mdc-button mdc-button--raised mdc-button--large mdc-ripple-surface mdc-ripple-surface--primary" id="continue-with-google" type="button">
              <span class="fa fa-google"></span> Google
            </button>
            <button class="mdc-button mdc-button--raised mdc-button--large mdc-ripple-surface mdc-ripple-surface--primary" id="continue-with-twitter" type="button">
              <span class="fa fa-twitter"></span> Twitter
            </button>
            <button class="mdc-button mdc-button--raised mdc-button--large mdc-ripple-surface mdc-ripple-surface--primary" id="continue-with-facebook" type="button">
              <span class="fa fa-facebook"></span> Facebook
            </button>
          </div>

          <div class="middle-line-text">
            <span>Or register with an email address</span>
          </div>
          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-at mdc-text-field__icon" tabindex="-1"></span>
            <input type="text" id="register-email" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off">
            <label class="mdc-floating-label mdc-floating-label--float-above" for="register-email">
              Email
            </label>
            <div class="mdc-line-ripple"></div>
          </div>
          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-at mdc-text-field__icon" tabindex="-1"></span>
            <input type="text" id="register-email-confirm" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off">
            <label class="mdc-floating-label mdc-floating-label--float-above" for="register-email-confirm">
              Confirm Email
            </label>
            <div class="mdc-line-ripple"></div>
          </div>

          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-key mdc-text-field__icon" tabindex="-1"></span>
            <input type="password" id="register-password" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off">
            <label class="mdc-floating-label mdc-floating-label--float-above" for="register-password">
              Password
            </label>
            <div class="mdc-line-ripple"></div>
          </div>
          <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
            <span class="far fa-key mdc-text-field__icon" tabindex="-1"></span>
            <input type="password" id="register-password-confirm" class="mdc-text-field__input mdc-text-field--fullwidth" data-lpignore="true" autocomplete="off">
            <label class="mdc-floating-label mdc-floating-label--float-above" for="register-password-confirm">
              Confirm Password
            </label>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
      </div>
      <div class="mdc-card__actions" id="form-section-register-buttons">
        <div class="mdc-card__action-buttons">
          <button class="mdc-button mdc-card__action mdc-card__action--button" type="submit" id="register-submit">
            Register
          </button>
        </div>
      </div>
      <div class="card-loader" id="register-loader">
        <div class="card-loader-inner">
          <span class="far fa-2x fa-circle-notch fa-spin"></span>
        </div>
      </div>
    </div>
  </form>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      var $form = $('#register-form');
      var $message = $('#register-message');
      var $emailForm = $('#email-password-form');
      var $email = $('#register-email');
      var $emailConfirm = $('#register-email-confirm');
      var $password = $('#register-password');
      var $passwordConfirm = $('#register-password-confirm');
      var $register = $('#register-submit');
      var $loader = $('#register-loader');
      var $google = $('#continue-with-google');
      var $twitter = $('#continue-with-twitter');
      var $facebook = $('#continue-with-facebook');
      
      $form.on('submit', function(evt) {
        $loader.css('display', 'flex');
        evt.preventDefault();

        var email = $email.val();
        var emailConfirm = $emailConfirm.val();
        var password = $password.val();
        var passwordConfirm = $passwordConfirm.val();

        if (email !== emailConfirm) {
          $message.text('The two email addresses entered do not match').show();
          return;
        }

        if (password !== passwordConfirm) {
          $message.text('The two passwords entered do not match').show();
          return;
        }

        goodmoves.app.auth().createUserWithEmailAndPassword(email, password).then(function(user) {
          if (user) {
            console.log('Registered user:', user);
            user.user.getIdTokenResult().then(function(idTokenResult) {
              console.log('ID Token Result', idTokenResult);
              goodmoves.setCookie('gm_token', idTokenResult.token, 7);
              window.location.href = '/';
            });
          } else {
            $message.text('Something went wrong, registerd but no user?').show();
            $loader.css('display', 'none');
          }
        }).catch(function(err) {
          $message.text(err.message).show();
          $loader.css('display', 'none');
        });
      });

      $google.on('click', function(evt) {
        var provider = new firebase.auth.GoogleAuthProvider();
        provider.addScope('email');
        goodmoves.app.auth().signInWithPopup(provider).then(function(result) {
          if (result) {
            console.log('Registered user:', result);
            result.user.getIdTokenResult().then(function(idTokenResult) {
              console.log('ID Token Result', idTokenResult);
              goodmoves.setCookie('gm_token', idTokenResult.token, 7);
              window.location.href = '/';
            });
          } else {
            $message.text('Something went wrong, registerd but no user?').show();
            $loader.css('display', 'none');
          }
        }).catch(function(err) {
          console.error('GOOGLE ERROR:', err);
          $message.text(err.message).show();
          $loader.css('display', 'none');
        });
      });
    });
  </script>
