{{> vacancy_search_form this instance_id="perm"}}

<div id="detailed-results-container" class="container-content goodmoves-saved-searches">
  <h1 class="mdc-typography--headline3 v-margin-full">
    Settings
  </h1>

  <h2 class="mdc-typography--headline4 v-margin">
    Email alerts
  </h2>
  <p class="mdc-typography--body1">
    You have 1 saved search for your email alerts.
  </p>

  <form action="/update-email-preferences" method="POST" class="v-margin-full">
    <h3 class="mdc-typography--headline5 v-margin">
      Select day
    </h3>
    {{#each (split "monday,tuesday,wednesday,thursday,friday,saturday,sunday" ",")}}
      <div class="mdc-switch">
        <input type="checkbox" id="email-switch-{{this}}" class="mdc-switch__native-control" role="switch"
          {{~#if (contains @root.data.email_days this)~}}checked="checked"{{/if}} name="{{this}}" onchange="$('#email-preferences-submit').prop('disabled', false);">
        <div class="mdc-switch__background">
          <div class="mdc-switch__knob"></div>
        </div>
      </div>
      <label for="email-switch-{{this}}">
        {{capitalize this}}
      </label>
    {{/each}}
    <button class="mdc-button mdc-button--raised mdc-ripple-surface mdc-ripple-surface--primary" type="submit" id="email-preferences-submit" data-mdc-auto-init="MDCRipple" disabled>Update preferences</button>
  </form>

  <hr />

  <h2 class="mdc-typography--headline4 v-margin">
    Password
  </h2>
  <p class="mdc-typography--body1">
    TBC
  </p>

  <hr />

  <h2 class="mdc-typography--headline4 v-margin">
    Account
  </h2>
  <p class="mdc-typography--body1">
    <button class="mdc-button mdc-button--raised" data-dialog-target="#delete-user-dialog">
      <span class="far fa-trash mdc-list-item__graphic" aria-hidden="true"></span>
      Delete my account
    </button>
  </p>
</div>

<aside id="delete-user-dialog"
  class="mdc-dialog"
  role="alertdialog"
  aria-labelledby="delete-user-dialog-label"
  aria-describedby="delete-user-dialog-description"
  data-mdc-auto-init="MDCDialog">
  <div action="/delete-user" method="GET" class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 id="delete-user-dialog-label" class="mdc-dialog__header__title">
        Are you sure you want to delete your account?
      </h2>
    </header>
    <section id="delete-user-dialog-description" class="mdc-dialog__body">
      <p>
        Deleting your account will:
      </p>
      <ul>
        <li>Remove all email subscriptions</li>
        <li>Remove all saved searches</li>
        <li>Remove all shortlisted vacancies</li>
        <li>Remove all all notes</li>
        <li>Remove your account from the Goodmoves system</li>
      </ul>
    </section>
    <footer class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">No</button>
      <a href="/delete-user" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Yes</a>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>
