<div id="detailed-results-container" class="container-content container-map">
  <div id="map-full" data-map-name="fullMap" data-map-clustered-options='{
    "query" : {{jsStringify @root.request.params.query}}, "queryUrl" : "map_data"}'>
  </div>
</div>
