<div id="map-full" class="hidden"></div>

{{> vacancy_search_form this instance_id="perm"}}

<div id="detailed-results-container" class="container-content goodmoves-vacancy-search">
  {{> vacancy_search_results this}}
</div>

<script>
  var searchQuery = {{{stringify data.search_data.detailed_results.request.query}}};
</script>
