<div class="container-fluid">
    <div class="row">
        <div class="col s12 page-content">
            <div class="markdown-content" dynamic-component [componentTemplate]="content" [componentContext]="{ appService: appService }" [componentModules]="modules"></div>
        </div>
    </div>
    <md-grid-list cols="3" rowHeight="100px">
        <md-grid-tile>
            <h2 id="-credit-union-services-credit-union-">
                <a title="" ng-reflect-router-link="/services/credit-union" href="/services/credit-union">Credit union</a>
            </h2>
        </md-grid-tile>
        <md-grid-tile>
            <h2 id="-digital-participation-http-digital-scvo-org-uk-">
                <a href="http://digital.scvo.org.uk" title="">Digital participation</a>
            </h2>
        </md-grid-tile>
    </md-grid-list>
</div>
