// $mdcPrimary: #AD1457;
// $mdcPrimaryFade: rgba(173,20,87,0.89);
// $mdcPrimaryLight: #C2185B;
// $mdcPrimaryDark: #880E4F;
// $mdcSecondary: #FF8F00;
// $mdcSecondaryLight: #FFA000;
// $mdcSecondaryDark: #FF6F00;
// $mdcThemeBackground: #ffffff;
// $mdcFooterPrimary: #371448;
// $mdcFooterPrimaryHighlight: #B3185B;
// $mdcFooterPrimaryLight: #592864;
// $mdcFooterPrimaryDark: #251032;
// $mdcSiteBackground: #290b4d;
// $mdcLayoutGridMarginDesktop: 0;
// $mdcLayoutGridMarginTablet: 0;

$colours: (
    default: (
        primary: #AD1457,
        primary-fade: rgba(173,20,87,0.89),
        primary-light: #C2185B,
        primary-dark: #880E4F,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    charity: (
        primary: #4527A0,
        primary-fade: rgba(69,39,160,0.89),
        primary-light: #512DA8,
        primary-dark: #311B92,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    jobs: (
        primary: #2e7d32,
        primary-fade: rgba(46,125,50,0.89),
        primary-light: #512da8,
        primary-dark: #1b5e20,
        secondary: #ff8f00,
        secondary-light: #ffa000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    goodmoves: (
        primary: #58a934,
        primary-fade: #58a934,
        primary-light: #58a934,
        primary-dark: #58a934,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    funding: (
        primary: #00838F,
        primary-fade: rgba(0,131,143,0.89),
        primary-light: #008D9B,
        primary-dark: #006064,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    projects: (
        primary: #AD1457,
        primary-fade: rgba(173,20,87,0.89),
        primary-light: #C2185B,
        primary-dark: #880E4F,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    posts: (
        primary: #D84315,
        primary-fade: rgba(216,67,21,0.89),
        primary-light: #E64A19,
        primary-dark: #BF360C,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    goodhq: (
        primary: #4033E9,
        primary-fade: #4033E9,
        primary-light: #4033E9,
        primary-dark: #160AAD,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    digital-charter: (
        primary: #022347,
        primary-fade: #022347,
        primary-light: #022347,
        primary-dark: #022347,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    tfn: (
        primary: #3b9db1,
        primary-fade: #3b9db1,
        primary-light: #3b9db1,
        primary-dark: #3b9db1,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    funding-scotland: (
        primary: #6FB744,
        primary-fade: #6FB744,
        primary-light: #6FB744,
        primary-dark: #6FB744,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    credit-union: (
        primary: #1976D2,
        primary-fade: rgba(21,101,192,0.89),
        primary-light: #1976D2,
        primary-dark: #145ea8,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    digital: (
        primary: #1976d2,
        primary-fade: rgba(13,71,161,0.89),
        primary-light: #1976D2,
        primary-dark: #0D47A1,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    ),
    home: (
        primary: #1565C0,
        primary-fade: rgba(21,101,192,0.89),
        primary-light: #1976D2,
        primary-dark: #0D47A1,
        secondary: #FF8F00,
        secondary-light: #FFA000,
        secondary-dark: #FF6F00,
        background: #ffffff,
        footer-primary: #371448,
        footer-primary-highlight: #B3185B,
        footer-primary-light: #592864,
        footer-primary-dark: #251032,
        site-background: #290b4d
    )
);

@mixin theme-colours($themeName: 'default') {
    @if map-has-key($colours,$themeName) {
        $themeName: 'default';
    }

    $theme: map-get($colours,$themeName);

    .mdc-theme--primary { color: map-get($theme,'primary'); }
    .mdc-theme--primary-fade { color: map-get($theme,'primary-fade'); }
    .mdc-theme--primary-light { color: map-get($theme,'primary-light'); }
    .mdc-theme--primary-dark { color: map-get($theme,'primary-dark'); }
    .mdc-theme--secondary { color: map-get($theme,'secondary'); }
    .mdc-theme--secondary-light { color: map-get($theme,'secondary-light'); }
    .mdc-theme--secondary-dark { color: map-get($theme,'secondary-dark'); }
    .mdc-theme--background { background-color: map-get($theme,'background'); }
    .mdc-theme--site-bg { background-color: map-get($theme,'site-background'); }
    .mdc-theme--primary-bg { background-color: map-get($theme,'primary'); }
    .mdc-theme--primary-fade-bg { background-color: map-get($theme,'primary-fade'); }
    .mdc-theme--primary-light-bg { background-color: map-get($theme,'primary-light'); }
    .mdc-theme--primary-dark-bg { background-color: map-get($theme,'primary-dark'); }
    .mdc-theme--secondary-bg { background-color: map-get($theme,'secondary'); }
    .mdc-theme--secondary-light-bg { background-color: map-get($theme,'secondary-light'); }
    .mdc-theme--secondary-dark-bg { background-color: map-get($theme,'secondary-dark'); }
    .mdc-theme--text-primary-on-primary { }
    .mdc-theme--text-primary-on-primary-light { }
    .mdc-theme--text-primary-on-primary-dark { }
    .mdc-theme--text-secondary-on-primary { }
    .mdc-theme--text-secondary-on-primary-light { }
    .mdc-theme--text-secondary-on-primary-dark { }
    .mdc-theme--text-hint-on-primary { }
    .mdc-theme--text-hint-on-primary-light { }
    .mdc-theme--text-hint-on-primary-dark { }
    .mdc-theme--text-disabled-on-primary { }
    .mdc-theme--text-disabled-on-primary-light { }
    .mdc-theme--text-disabled-on-primary-dark { }
    .mdc-theme--text-icon-on-primary { }
    .mdc-theme--text-icon-on-primary-light { }
    .mdc-theme--text-icon-on-primary-dark { }
}

@include theme-colours('default');

.running-a-charity,
.setting-up-a-charity,
.running-your-organisation {
    @include theme-colours('charity');
}
.search-result.cjs-job,
.employability,
.employment,
.jobs {
    @include theme-colours('jobs');
}
.goodmoves,
.search-result.goodmoves-job,
.services.goodmoves {
    @include theme-colours('goodmoves');
}
.funding {
    @include theme-colours('funding');
}
.project,
.campaign,
.open-government,
.projects-campaigns {
    @include theme-colours('projects');
}
.digital .callout-image,
.post,
.blogs,
.press-media,
.policy-research {
    @include theme-colours('posts');
}
.goodhq,
.search-result.goodhq-organisation {
    @include theme-colours('goodhq');
}
.search-result.digital-charter-signatory {
    @include theme-colours('digital-charter');
}
.tfn,
.post-related-tfn,
.gist.tfn-post,
.search-result.tfn-post {
    @include theme-colours('tfn');
}
.funding-scotland,
.search-result.funding-scotland-fund,
.services.funding-scotland {
    @include theme-colours('funding-scotland');
}
.credit-union {
    @include theme-colours('credit-union');
}

.digital {
    @include theme-colours('digital');
}

.services,
.breadcrumbs,
.page-content,
.page-sidebar,
.post-content,
.post-sidebar,
.library-content,
.library-sidebar,
.home .cta-content,
.home .latest-content,
.home .gist.scvo-cms-post,
.home .gist.goodmoves-job,
.home .gist.tfn-post {
    @include theme-colours('home');
}
