.sb-search {
    position: relative;
    min-width: 300px;
    height: 45px;
}

.sb-search-input {
    border: none;
    outline: none;
    background: white;
    width: 100%;
    height: 45px;
    margin: 0;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: dimgrey;
    box-shadow: #eaeaea 1px 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding:0 5px;
}

.sb-search-input::-webkit-input-placeholder {
    color: #eaeaea;
}

.sb-search-input:-moz-placeholder {
    color: #eaeaea;
}

.sb-search-input::-moz-placeholder {
    color: #eaeaea;
}

.sb-search-input:-ms-input-placeholder {
    color: #efefef;
}

ul.sb-results-dropdown-menu {
    margin: 0;
    padding: 0;
}

ul.sb-results-dropdown-menu > li {
    position: relative;
    border-bottom: 1px solid rgba(239, 239, 239, 0.25);
    height: 60px;
    padding: 15px;
    list-style: none;
    background: white;
}

ul.sb-results-dropdown-menu > li span {
    line-height:30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #525252;
    font-size:14px;
    padding-left:5px;
    cursor:pointer;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    display: block;
}

ul.sb-results-dropdown-menu > li:nth-child(odd) {
    background: #f7f7f7;
}
ul.sb-results-dropdown-menu > li:last-child {
    border-bottom: 0;
}

.sb-seachresults {
    position: absolute;
    top: 46px;
    z-index: 5;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.18);
}
.sb-seachresults.hidden{
    visibility: 0;
}

.sb-message{
    position: absolute;
    top: 46px;
    background: #f7f7f7;
    height: 20px;
    width:100%;
    box-shadow: #eaeaea 1px 1px;
}

.sb-message span {
    color: dimgrey;
    text-align: right;
    line-height: 10px;
    padding: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
