@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);

$spacing-unit: 1rem;
$nav-height: 2.5rem;

:root{
    --mdc-theme-primary: #00838F; // Cyan 800
    --mdc-theme-primary-fade: rgba(0, 131, 143, 0.89);
    --mdc-theme-primary-light: #008D9B; // Cyan 750
    --mdc-theme-primary-dark: #006064; // Cyan 900
    --mdc-theme-secondary: #FF8F00; // Amber 800
    --mdc-theme-secondary-light: #FFA000; // Amber 700
    --mdc-theme-secondary-dark: #FF6F00; // Amber 900
    --mdc-theme-background: #ECEFF1; // Blue Grey 50
    --mdc-footer-primary: #4A148C; // Purple 900
    --mdc-footer-primary-light: #D81B60; // Pink 600
    --mdc-footer-primary-dark: #290b4d;
    --mdc-site-background: #290b4d; // was #263238 Blue Grey 900
    --mdc-layout-grid-margin-desktop: 0;
    --mdc-layout-grid-margin-tablet: 0;
}
.running-a-charity,
.setting-up-a-charity,
.running-your-organisation {
    --mdc-theme-primary: #4527A0; // Deep Purple 800
    --mdc-theme-primary-fade: rgba(69, 39, 160, 0.89);
    --mdc-theme-primary-light: #512DA8; // Deep Purple 700
    --mdc-theme-primary-dark: #311B92; // Deep Purple 900
}
.search-result.cjs-job,
.employability,
.employment,
.jobs {
    --mdc-theme-primary: #2E7D32; // Green 800
    --mdc-theme-primary-fade: rgba(46, 125, 50, 0.89);
    --mdc-theme-primary-light: #388E3C; // Green 700
    --mdc-theme-primary-dark: #1B5E20; // Green 900
}
.goodmoves,
.search-result.goodmoves-job,
.services.goodmoves {
    --mdc-theme-primary: #58a934;
    --mdc-theme-primary-fade: #58a934;
    --mdc-theme-primary-light: #58a934;
    --mdc-theme-primary-dark: #58a934;
}
.project,
.campaigns,
.open-government,
.projects-campaigns {
    --mdc-theme-primary: #AD1457; // Pink 800
    --mdc-theme-primary-fade: rgba(173, 20, 87, 0.89);
    --mdc-theme-primary-light: #C2185B; // Pink 700
    --mdc-theme-primary-dark: #880E4F; // Pink 900
}
.search-result.scvo-document,
.search-result.scvo-cms-post,
.list.scvo-cms-post,
.press-media,
.blogs,
.post,
.policy-research {
    --mdc-theme-primary: #D84315; // Deep Orange 800
    --mdc-theme-primary-fade: rgba(216, 67, 21, 0.89);
    --mdc-theme-primary-light: #E64A19; // Deep Orange 700
    --mdc-theme-primary-dark: #BF360C; // Deep Orange 900
}
.goodhq,
.search-result.goodhq-organisation {
    --mdc-theme-primary: #4033E9;
    --mdc-theme-primary-fade: #4033E9;
    --mdc-theme-primary-light: #4033E9;
    --mdc-theme-primary-dark: #160AAD;
}
.search-result.digital-charter-signatory {
    --mdc-theme-primary: #022347;
    --mdc-theme-primary-fade: #022347;
    --mdc-theme-primary-light: #022347;
    --mdc-theme-primary-dark: #022347;
}
.tfn,
.gist.tfn-post,
.search-result.tfn-post {
    --mdc-theme-primary: #3b9db1;
    --mdc-theme-primary-fade: #3b9db1;
    --mdc-theme-primary-light: #3b9db1;
    --mdc-theme-primary-dark: #3b9db1;
}
.funding-scotland,
.search-result.funding-scotland-fund,
.services.funding-scotland {
    --mdc-theme-primary: #6FB744;
    --mdc-theme-primary-fade: #6FB744;
    --mdc-theme-primary-light: #6FB744;
    --mdc-theme-primary-dark: #6FB744;
}
.page-content,
.home .cta-content,
.home .latest-content,
.home .gist.tfn-post,
.services {
    --mdc-theme-primary: #1565C0; // Blue 800
    --mdc-theme-primary-fade: rgba(21, 101, 192, 0.89);
    --mdc-theme-primary-light: #1976D2; // Blue 700
    --mdc-theme-primary-dark: #0D47A1; // Blue 900
}
.credit-union {
    --mdc-theme-primary: #1976D2;
    --mdc-theme-primary-fade: rgba(21, 101, 192, 0.89);
    --mdc-theme-primary-light: #1976D2;
    --mdc-theme-primary-dark: #145ea8;
}
.digital {
    --mdc-theme-primary: #1976d2;
    --mdc-theme-primary-fade: rgba(13, 71, 161, 0.89);
    --mdc-theme-primary-light: #1976D2;
    --mdc-theme-primary-dark: #0D47A1;
}

html {
    overflow-y: scroll;
    height: 100%;
    font-size: 0.96rem;
    line-height: 1.45;
}
body {
    background-color: var(--mdc-site-background, #263238);
    min-height: 100%;
    padding: 0;
    margin: 0;
}
main {
    background-color: white;
}
.container-fluid {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    overflow: auto;
    overflow: -webkit-paged-x;
    padding: $spacing-unit/2;
}

.brand-logo {
    margin-left: -$spacing-unit/2;
    img {
        max-height: $spacing-unit*3.5;
    }
}

.mdc-tab,
.mdc-button,
.mdc-typography,
.mdc-card__subtitle,
.mdc-textfield__input,
.mdc-typography--title,
.mdc-card__title--large,
.mdc-typography--headline,
.mdc-card__supporting-text,
.mdc-typography--subheading2,
.mdc-list {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.mdc-typography {
    background-color: var(--mdc-site-background, #263238);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    font-weight: 600;
    color: var(--mdc-theme-primary-dark, #006064);
    text-decoration: none;
    text-decoration-skip: ink;
}
a:hover {
    text-decoration: underline;
    color: var(--mdc-theme-primary, #00838F);
}
.mdc-card__actions a:hover,
.mdc-button a:hover,
.mdc-button:hover,
.mdc-toolbar a:hover {
    text-decoration: none;
}

.home {
    .featured-content {
        .featured.mdc-card {
            height: 20rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            .mdc-card__primary, .mdc-card__actions {
                background-image: linear-gradient(90deg, var(--mdc-theme-primary-dark) 0%, var(--mdc-theme-primary) 33%, var(--mdc-theme-primary-fade) 100%);
                color: white;
            }
            .mdc-button:not(:disabled) {
                color: white;
            }
        }
    }
    .cta-content.splash-image {
        background-image: linear-gradient(var(--mdc-theme-primary-fade),var(--mdc-theme-primary-fade)),url('https://storage.googleapis.com/scvo-cms/wp-content/uploads/2017/10/Drake-Music-03.jpg');
        height: auto;
        padding: $spacing-unit 0 $spacing-unit*3.25;
        h2, h3, a, .fa {
            color: white;
        }
        h2 {
            font-size: 1.8rem;
        }
        .mdc-layout-grid__cell--span-4-desktop {
            text-align: center;
            h3 {
                margin: 0;
                .fa {
                    border: $spacing-unit/5 solid white;
                    border-radius: 50%;
                    padding: $spacing-unit*1.75;
                    margin-bottom: $spacing-unit;
                }
                a:hover {
                    text-decoration: none;
                    .underline {
                        text-decoration: underline;
                    }
                }
                a .underline {
                    display: block;
                    padding-top: $spacing-unit/2;
                }
            }
        }
    }
    .latest-content {
        background-color: var(--mdc-theme-background);
        padding: $spacing-unit/2 0 $spacing-unit*2;
        h2 {
            font-size: 1.8rem;
            color: var(--mdc-theme-primary) !important;
            a {
                font-size: 1.1rem;
                display: block;
            }
        }
        .gist {
            margin-top: $spacing-unit*1.5;
            .mdc-card__subtitle {
                margin-top: $spacing-unit/4;
            }
            img.photo-wee {
                height: 64px;
                width: 64px;
            }
        }
    }
}
.gist {
    h3.mdc-card__title {
        font-size: 1.2rem;
        line-height: 1.4;
    }
    a.thumbnail:after {
        content: "" !important;
        display: none !important;
        margin: 0;
    }
    .thumbnail {
        margin-top: $spacing-unit/2;
        display: block;
        img {
            border-radius: 50%;
            width: 64px;
            height: 64px;
            object-fit: cover;
        }
    }
    .post-info-item {
        line-height: 1.8;
    }
}
.home .latest-content .gist,
.post-related .gist {
    box-shadow: none;
    .post-info-closing-date,
    .post-info-published {
        font-weight: 400;
    }
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 360px;
    background-color: rgba(0, 0, 0, 0.05);
    .mdc-card {
        background-color: #fff;
    }
}

.mdc-form-field {
    font-size: 1rem;
}
.mdc-select,
.mdc-textfield {
    width: 100%;
    margin: 0 0 $spacing-unit/2;
}

.sidebar {
    .mdc-form-field,
    .mdc-select,
    .mdc-button {
        width: 100%;
    }
}
.related-posts {
    .mdc-button {
        margin: $spacing-unit 0;
    }
}
.v-align-img {
    height: 22vh;
    overflow: hidden;
    margin-top: 1px;
    margin-bottom: 1rem;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
.scvo-staff.list {
    .name_full {
        font-weight: 600;
        color: var(--mdc-theme-primary);
    }
    .fa {
        font-size: 1.4rem;
    }
}

.mdc-toolbar.mdc-toolbar--fixed {
    padding-top: $spacing-unit;
}
.mdc-toolbar {
    background-color: var(--mdc-theme-primary-light);
    // -webkit-transition: background-color 100ms linear;
    // -moz-transition: background-color 100ms linear;
    // -o-transition: background-color 100ms linear;
    // -ms-transition: background-color 100ms linear;
    // transition: background-color 100ms linear;
    // -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    // animation-direction: alternate;
    // -webkit-animation-iteration-count: 2; /* Chrome, Safari, Opera */
    // animation-iteration-count: 2;
    #upper-tab-bar,
    .mdc-toolbar__icon,
    .mdc-toolbar__row,
    .mdc-form-field,
    .mdc-toolbar__section {
        height: $spacing-unit*6;
        padding: 0;
    }
    .mdc-toolbar__section.toolbar-menu,
    .mdc-toolbar__row.toolbar-nav {
        height: $nav-height;
    }
    .toolbar-nav {
        background-color: var(--mdc-theme-primary-dark);
        min-height: $nav-height;
    }
    .mdc-toolbar__row {
        min-height: $nav-height;
        .container-fluid {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            .mdc-toolbar__title {
                padding: $spacing-unit/4 0 0;
                margin-left: 0;
            }
            .mdc-textfield {
                margin: 0;
                max-height: $spacing-unit*2.2;
                height: auto;
                .mdc-textfield__input,
                .mdc-textfield__input:focus,
                .mdc-textfield__input:hover {
                    color: rgba(255,255,255,.87);
                    border: $spacing-unit/10 solid rgba(255,255,255,.75);
                    padding: 0 $spacing-unit/2;
                    line-height: $spacing-unit*2;
                    background: transparent;
                }
                ::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }
                ::-moz-placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }
                :-ms-input-placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }
                :-moz-placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
            .mdc-toolbar__icon {
                height: $spacing-unit*2;
                z-index: 100;
            }
            .mdc-toolbar__icon:focus {
                outline: none;
            }
            .mdc-toolbar__search {
                position: absolute;
                right: $spacing-unit/2;
                bottom: $spacing-unit*2;
            }
            .mdc-tab-bar {
                overflow: hidden;
                text-transform: none;
                height: $nav-height;
                margin: 0;
                .mdc-tab {
                    color: rgba(255, 255, 255, 0.95);
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 0 $spacing-unit;
                }
                .mdc-tab:first-child {
                    padding-left: 0;
                }
                .mdc-tab::after {
                    display: none;
                }
            }
            #upper-tab-bar {
                margin-right: $spacing-unit;
                .mdc-tab {
                    min-width: auto;
                    font-weight: 600;
                }
            }
        }
        a.mdc-toolbar__icon:hover {
            color: white !important;
        }
        .mdc-toolbar__icon--menu {
            background: transparent;
            color: white;
            border: none;
            box-shadow: none;
            cursor: pointer;
            visibility: hidden;
            width: 0;
            .fa-bars {
                font-size: 1.7rem;
            }
        }
        .mdc-toolbar__icon--menu:focus {
            outline: none;
        }
        .mdc-toolbar__icon:first-of-type {
            padding-left: 0;
        }
        .mdc-toolbar__icon:last-of-type {
            padding-right: 0;
        }
        .mdc-toolbar__section.toolbar-search {
            vertical-align: middle;
            .fa-search {
                font-size: 1.3rem;
            }
        }
        .mdc-toolbar__section.toolbar-menu {
            .mdc-tab {
                min-width: auto;
            }
        }
    }
}
.mdc-toolbar-fixed-adjust {
    padding: $spacing-unit*9.5 0 $spacing-unit*2;
    margin: 0;
}
.setting-up-a-charity .mdc-toolbar-fixed-adjust,
.home .mdc-toolbar-fixed-adjust {
    padding-bottom: 0;
}
.mdc-temporary-drawer {
    .mdc-temporary-drawer__header-content {
        padding: $spacing-unit;
    }
    .mdc-temporary-drawer__header:before {
        padding-top: 24%;
    }
    .mdc-list {
        .mdc-list-item {
            padding: 0 $spacing-unit;
        }
        .mdc-list-item__start-detail {
            display: none;
        }
    }
}

// Pagination ==================================================================

.pagination {
    text-align: center;
    display: block !important;
    padding-top: $spacing-unit !important;
    li {
        height: $spacing-unit*2;
        width: $spacing-unit*2;
        border-radius: 50%;
        margin: 0 $spacing-unit/5;
        vertical-align: bottom;
        a {
            font-size: 1.2rem;
            line-height: $spacing-unit*2;
            height: $spacing-unit*2;
            width: $spacing-unit*2;
            color: #000;
            padding: 0;
            margin: 0;
            font-weight: 600;
            display: block;
        }
        a.pagination-arrow {
            color: #000;
            vertical-align: middle;
        }
    }
    li.disabled a.pagination-arrow {
        cursor: default;
        color: #999;
    }
    li:first-child a {
        padding-left: 0;
    }
    li:last-child a {
        padding-right: 0;
    }
    li.current-page {
        background-color: var(--mdc-theme-primary-dark);
        border-radius: 50%;
        a {
            color: white;
        }
    }
    li:hover,
    li.current-page:hover {
        background-color: var(--mdc-theme-primary);
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.action-buttons-right {
    flex-direction: row-reverse;
    border-top: 1px solid #dddddd;
}

.setting-up-a-charity .footer-image {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(var(--mdc-theme-primary-fade), var(--mdc-theme-primary-fade)),url('https://storage.googleapis.com/scvo-cms/wp-content/uploads/2017/10/Drake-Music-06.jpg');
    text-align: center;
    color: white;
    padding: $spacing-unit 0 $spacing-unit*2.5;
    h3 {
        font-weight: 800;
        padding-bottom: $spacing-unit;
    }
    .mdc-button {
        color: white;
        border: 2px solid white;
        margin-top: $spacing-unit;
        text-transform: none;
        background: transparent;
    }
}
.splash-image {
    position: relative;
    background-size: cover;
    height: 25vh;
    min-height: $spacing-unit*9;
    background-position: center center;
    // padding-bottom: $spacing-unit;
    .container-fluid {
        position: relative;
        height: 100%;
        padding: 0;
        .mdc-layout-grid {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 44%;
        }
    }
    img.header-text {
        max-width: 100%;
        height: auto;
        max-height: 18vh;
    }
    h1.header-text {
        margin: 0;
        color: #fff;
        font-weight: 800;
        font-size: 3rem;
        line-height: $spacing-unit*3;
        letter-spacing: -0.08rem;
        margin-bottom: $spacing-unit/2;
        .mdc-typography--caption {
            font-size: 1.2rem;
        }
        .photo-wee {
            max-height: 45px;
            max-width: 45px;
            vertical-align: bottom;
        }
    }
}
.splash-image-scvo-event h1.header-text,
.splash-image-scvo-cms-post h1.header-text,
.splash-image-scvo-document-general h1.header-text,
.splash-image-scvo-document-evidence h1.header-text {
    font-size: 2rem;
    line-height: 2rem;
    // padding-left: 0.75rem;
    // .header-text-banner {
    //     display: inline;
    //     background: rgba(0,0,0,0.3);
    //     padding: 0 0 0.3rem 0;
    //     box-shadow: 0.75rem 0 0 rgba(0,0,0,0.3), -0.75rem 0 0 rgba(0,0,0,0.3);
    // }
}
.credit-union .splash-image {
    min-height: $spacing-unit*11;
    img.header-text {
        max-height: $spacing-unit*6;
    }
}
.digital.participation.projects .page-info,
.blogs .page-sidebar .page-info,
.press-media .sidebar h3.blogs {
    display: none;
}

.digital.about {
    .page-info {
        display: none;
    }
    .scvo-staff-photo-wee {
        height: 64px;
        width: 64px;
    }
}

.scvo-event {
    .mdc-layout-grid__inner {
        margin-bottom: $spacing-unit/2;
    }
}

.mdc-form-field,
.mdc-button,
.mdc-card__supporting-text,
.mdc-card__subtitle {
    font-size: 1rem;
}
.mdc-button,
.mdc-card__subtitle {
    font-weight: 600;
}
.mdc-card__title--large {
    font-size: 1.2rem;
    letter-spacing: normal;
    line-height: 1.7rem;
    margin: 0;
    padding: 0 0 $spacing-unit/2;
    font-weight: 600 !important;
}
h1.mdc-typography--title {
    font-size: 2rem;
    margin-bottom: $spacing-unit*1.5;
}
.mdc-card__primary .mdc-card__title--large {
    padding-top: 0;
}
.support.support-sector {
    .mdc-card__media {
        h1 {
            display: none;
        }
    }
    .mdc-card__media {
        height: 64px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: var(--mdc-theme-primary);
        a {
            color: var(--mdc-theme-primary-dark);
        }
    }
    .goodmoves .mdc-card__media {
        background-color: #58a934;
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/goodmoves.png');
    }
    .funding-scotland .mdc-card__media {
        background-color: #8AC645;
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/funding-scotland.png');
    }
    .goodhq .mdc-card__media {
        background-color: #4033E9;
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/goodhq.png');
    }
    .tfn .mdc-card__media {
        background-color: #3b9db1;
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/tfn.png');
    }
    .credit-union .mdc-card__media {
        background-color: #1976D2;
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/credit-union.png');
    }
    .mdc-card__supporting-text {
        padding-top: $spacing-unit;
    }
}
.support.support-organisation {
    .mdc-card__media {
        height: 128px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
.projects {
    .mdc-card__media {
        height: 128px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--mdc-theme-primary);
        a {
            color: var(--mdc-theme-primary-dark);
        }
    }
    .digital .mdc-card__media {
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/digital.png');
    }
    .open-government .mdc-card__media {
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/open-government.png');
    }
    .cjs .mdc-card__media {
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/cjs.png');
    }
}
.campaigns {
    .mdc-card__media {
        height: 128px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--mdc-theme-primary);
        a {
            color: var(--mdc-theme-primary-dark);
        }
    }
    .europe-and-the-third-sector .mdc-card__media {
        background-image: url('https://storage.googleapis.com/scvo-cms/wp-content/uploads/2017/10/europe-and-the-third-sector-bg-1400x400.jpg');
    }
    .eu-are-valued .mdc-card__media {
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/eu-are-valued.png');
    }
    .building-healthier-happier-communities .mdc-card__media {
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/building-healthier-happier-communities.png');
    }
    .datawareness .mdc-card__media {
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/datawareness.png');
    }
    .right-approach .mdc-card__media {
        background-image: url('https://storage.googleapis.com/scvo-cms/wp-content/uploads/2017/06/right-approach-strapline-hires-1024x337.jpg');
    }
    .scottish-charity-awards .mdc-card__media {
        background-image: url('https://storage.cloud.google.com/scvo-cms/scvo-cms-content/images/banners/scottish-charity-awards.png');
    }
    .welfare-reform .mdc-card__media {
        background-image: url('https://storage.googleapis.com/scvo-cms/wp-content/uploads/2017/10/welfare-reform-bg-1400x400.jpg');
    }
}
.mdc-card__actions {
    .mdc-card__action {
        font-weight: 800;
        font-size: 0.9rem;
    }
    ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0 $spacing-unit/2 $spacing-unit/2;
        li .mdc-card__action {
            width: 100%;
            margin-bottom: $spacing-unit/2;
        }
        li:last-child .mdc-card__action {
            margin-bottom: 0;
        }
    }
}
.post-info-categories {
    ul {
        padding: 0;
    }
}
.photo-wee,
.mdc-card__media-item {
    border-radius: 50%;
}
.photo-full {
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 0 auto $spacing-unit;
    display: block;
}
.mdc-card__primary {
    padding: $spacing-unit;
}
.mdc-card__supporting-text {
    padding: 0 $spacing-unit $spacing-unit/2;
}
.scvo-cms-post .mdc-card__actions {
    padding: $spacing-unit/2 $spacing-unit;
    .post-info {
        padding: 0;
    }
}

.mdc-layout-grid {
    padding: 0;
}

.menu-sidebar {
    margin-top: $spacing-unit;
    .mdc-button {
        margin-bottom: $spacing-unit/2;
    }
}

.scvo-document.full {
    ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
    }
}

.inline-list {
    display: inline;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    li:not(:last-child) {
        margin-right: 5px;
    }
}

.inline-dl {
    margin: 0;
    dt, dd {
        float: left;
    }
    dt {
        font-weight: bold;
        clear: both;
        width: 30%;
    }
    dd {
        width: 70%;
        margin: 0;
    }
}

.container-content {
    ul {
        padding-left: 0;
        li {
            list-style: none;
        }
        li::before {
            color: var(--mdc-theme-primary);
            content: "\25A0";
            font-size: 1rem;
            padding-right: 0.75rem;
            position: relative;
            top: 0em;
        }
    }
    .mdc-card__actions ul,
    ul.supplimentary-list,
    ul.inline-list {
        li::before {
            content: "";
            padding: 0;
            margin: 0;
            font-size: unset;
        }
    }
}
.mdc-card__actions ul {
    padding: 0;
}

hr {
    margin: $spacing-unit 0;
    height: 1px;
    background-color: white;
    border: none;
    border-bottom: 1px solid var(--mdc-theme-primary-fade);
}

ul.breadcrumbs {
    margin: 0 0 $spacing-unit/2;
    padding: 0 0 $spacing-unit/2;
    height: $nav-height;
    line-height: $nav-height;
    list-style: none;
    border-bottom: 1px solid var(--mdc-theme-primary-fade);
    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        // color: white;
        // a,
        // a:hover {
        //     color: white;
        // }
    }
    li:before {
        content: "\203A";
        font-weight: 800;
        margin-right: $spacing-unit/4;
        width: $spacing-unit/2;
        display: inline-block;
        padding: 0;
        // color: white;
    }
    li.pull-right:before,
    li:first-child:before {
        content: "" !important;
        font-weight: 800;
        margin: 0 !important;
        width: 0 !important;
    }
    li.pull-right a::after {
        content: "";
        margin: 0;
    }
    li:not(:last-child) {
        margin-right: $spacing-unit/4;
    }
}
.spacer {
    margin: 0 0 $spacing-unit*1.5;
}
.bank-accounts.comparison {
    .mdc-layout-grid__cell--span-3-desktop {
        a:after {
            content: "" !important;
            margin: 0;
            display: none;
        }
    }
}

.post-info {
    font-size: 0.9rem;
    color: #333;
    .post-info-item {
        display: inline;
        margin-right: 0.5rem;
    }
    .post-info-item:last-child {
        margin-right: 0;
    }
    .post-info-author {
        a:hover {
            text-decoration: none;
        }
        a:hover .underline {
            text-decoration: underline;
        }
        img {
            width: 1.6rem;
            border-radius: 50%;
            margin-right: $spacing-unit/2;
            vertical-align: text-bottom;
            float: left;
            margin-top: -0.15rem;
        }
    }
    .post-info-share,
    .post-info-categories {
        .fa {
            color: var(--mdc-theme-primary-dark);
        }
        .inline-list {
            li {
                display: inline-block;
                font-size: 90%;
                margin: 0 0 0.25rem 0.1rem;
                a {
                    background: var(--mdc-theme-primary-dark);
                    padding: 0.05rem 0.4rem 0.1rem;
                    border-radius: $spacing-unit;
                    color: #fff;
                }
                a:hover {
                    background: var(--mdc-theme-primary);
                    text-decoration: none;
                }
            }
        }
    }
}

blockquote {
    border-left: 0.2rem solid var(--mdc-theme-primary-dark);
    margin: 0 0 0.75rem;
    padding: 0 0.75rem;
    font-size: 125%;
}
blockquote p {
    display: inline;
    strong {
        color: var(--mdc-theme-primary-dark);
    }
}

ul.supplimentary-list {
    margin: 0;
    padding: 0;
    li.supplimentary-list-item {
        list-style:none;
        margin: 0;
        padding: 0;
        .supplimentary-list-title {
            font-size: 1.1rem;
            line-height: 1.4rem;
            margin-bottom: 0;
            display: block;
        }
        .supplimentary-list-text {
            letter-spacing: normal;
        }
        .post-info {
            display: block;
            margin-bottom: $spacing-unit*(3/4);
        }
    }
    li.supplimentary-list-item:not(:last-child){
        margin-bottom: $spacing-unit;
    }
}
.mdc-card__primary+.mdc-card__supporting-text {
    margin-top: 0;
}
.sidebar .list {
    .post-info-author {
        display: none;
    }
}
.sidebar .author_about,
.content .supplimentary-list {
    margin-top: $spacing-unit/2;
}

h1,
h2,
h3,
h4 {
    margin-bottom: $spacing-unit/4;
    font-weight: 600;
}
p {
    margin: 0 0 $spacing-unit/2;
}
p:last-child {
    margin-bottom: 0;
}
.full {
    margin: $spacing-unit 0;
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child {
        margin-top: 0 !important;
    }
    img {
        max-width: 100%;
    }
    .post-info {
        margin: $spacing-unit/2 0 $spacing-unit*1.5;
        border-bottom: 1px solid var(--mdc-theme-primary-fade);
        padding: 0 0 $spacing-unit;
    }
    .page-info {
        font-size: 0.9rem;
        color: #777;
        .page-info-updated {
            margin: $spacing-unit*1.5 0 $spacing-unit/2;
            border-top: 1px solid #aaa;
            padding: $spacing-unit 0 0;
            font-size: 95%;
        }
    }
}
.post-content .full {
    margin-top: $spacing-unit/2;
}
.sidebar {
    .blogs {
        margin-top: $spacing-unit;
    }
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child {
        margin-top: 0 !important;
    }
}

.post {
    h1.post-title {
        margin: $spacing-unit/2 0 $spacing-unit;
    }
}
.page-sidebar h3:first-child ,
.post-sidebar h3:first-child {
    margin: $spacing-unit 0 $spacing-unit/4 !important;
}

.page-content,
.post-content {
    a[href^="http://"]::after,
    a[href^="https://"]::after {
        font-family: 'FontAwesome';
        content: "\f08e";
        top: 0.12rem;
        margin-left: 0.3rem;
        text-decoration: none;
        display: inline-block;
        position: relative;
        vertical-align: bottom;
        font-weight: 400;
    }
    a[href^="https://members.scvocreditunion"]::after {
        content: " ";
    }
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
    font-size: 1.33333333rem;
    line-height: 0.75rem;
    vertical-align: -15%;
}
.fa-2x {
    font-size: 2rem;
}
.fa-3x {
    font-size: 3rem;
}
.fa-4x {
    font-size: 4rem;
}
.fa-5x {
    font-size: 5rem;
}

.inline-icon {
    vertical-align: middle;
}

.v-margin {
    margin-top: $spacing-unit/2;
    margin-bottom: $spacing-unit/2;
}

.h-margin {
    margin-left: $spacing-unit/2;
    margin-bottom: $spacing-unit/2;
}

.t-margin { margin-top: $spacing-unit/2; }
.b-margin { margin-bottom: $spacing-unit/2; }
.l-margin { margin-left: $spacing-unit/2; }
.r-margin { margin-right: $spacing-unit/2; }

.horizontal-list-details {
    display: flex;
    padding: 0 0 0;
    margin-top: 8px;
    margin-bottom: $spacing-unit/2;

    li {
        min-width: 15%;
        height: auto;
        align-self: baseline;
    }

    li:not(:last-child){
        margin-right: 5px;
    }
}

footer {
    color: white;
    background-color: var(--mdc-footer-primary);
    border-top: 0.6rem solid var(--mdc-footer-primary-light);
    .footer-main {
        padding: $spacing-unit*2.5 0 $spacing-unit*2;
    }
    a {
        color: white;
        text-decoration: underline;
    }
    a:hover {
        color: white;
    }
    .mdc-list .mdc-list-item a:hover {
        text-decoration: underline !important;
    }
    .brand-logo {
        img {
            margin-bottom: $spacing-unit;
        }
    }
    .mdc-layout-grid {
        padding: 0;
        margin-bottom: 0;
        p {
            margin: 0 0 0.8rem;
        }
    }
    .mdc-list {
        padding: 0;
        .mdc-list-item {
            height: 1.5rem;
            a {
                text-decoration: none;
            }
        }
    }
    .footer-copyright {
        background-color: var(--mdc-footer-primary-dark);
        font-size: 0.85rem;
        .row {
            position: relative;
        }
        .logo {
            position: absolute;
            bottom: 8px;
            right: 0.75rem;
        }
        p.copyright {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 1140px) {
    .mdc-toolbar.mdc-toolbar--fixed {
        padding-top: 0;
    }
    .mdc-toolbar-fixed-adjust {
        padding-top: $spacing-unit*8.5;
    }
}

@media screen and (max-width: 991px) {
    .mdc-toolbar {
        .container-fluid .mdc-toolbar__icon--menu {
            visibility: visible;
            width: auto;
        }
        #upper-tab-bar,
        .mdc-toolbar__row.toolbar-nav {
            display: none;
        }
        .mdc-toolbar__row .container-fluid .mdc-toolbar__search {
            bottom: 0;
        }
    }
    .latest-content {
        .mdc-layout-grid {
            width: 100%;
        }
    }
    .mdc-toolbar.mdc-toolbar--fixed {
        padding-top: 0;
    }
    .mdc-toolbar .mdc-toolbar__row .container-fluid .mdc-toolbar__icon {
        height: $spacing-unit*4;
    }
    .mdc-toolbar #upper-tab-bar,
    .mdc-toolbar .mdc-toolbar__icon,
    .mdc-toolbar .mdc-toolbar__row,
    .mdc-toolbar .mdc-form-field,
    .mdc-toolbar .mdc-toolbar__section {
        max-height: $spacing-unit*4;
    }
    .mdc-temporary-drawer__header-content,
    .brand-logo {
        margin-left: 0;
        img {
            max-height: $spacing-unit*2.5;
        }
    }
    .mdc-toolbar-fixed-adjust {
        padding-top: $spacing-unit*4;
    }
    .pagination-distance-9,
    .pagination-distance-8,
    .pagination-distance-7,
    .pagination-distance-6 {
        display: none !important;
    }
}

@media screen and (max-width: 839px) {
    html {
        font-size: 0.92rem;
        line-height: 1.25;
    }
    .breadcrumbs {
        font-size: 85%;
    }
    .pagination-distance-5 {
        display: none !important;
    }
}

@media screen and (max-width: 450px) {
    .pagination-distance-4 {
        display: none !important;
    }
}

@media screen and (max-width: 376px) {
    .mdc-toolbar__title {
        width: 38px;
        overflow: hidden;
    }
    .pagination-distance-3 {
        display: none !important;
    }
}
