<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{route.metaData.title}}</title>
    <!--{section:head}-->
</head>
<body>
    <div class="container-fluid">
        <!--{section:body}-->
    </div>
    <!--{section:foot}-->
</body>
</html>
