<div class="funding-updates">
  {{> header_splash headerTextOverride="Funding updates" typeOverride="page"}}
  <div class="container-fluid page-content">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/funding">Funding</a></li>
      <li>Updates</li>
    </ul>

    <div class="v-margin-full">
      <h3>Welcome to our new SCVO Members Bulletin funding search, courtesy of <a href="http://fundingscotland.com">Funding Scotland</a>.</h3>
      <p>
        Simply enter your date range below and click 'Generate URL' to find the latest funding opportunities available.
      </p>
    </div>

    <div class="mdc-layout-grid v-margin">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          <label>
            <strong>Date from: </strong>
            <input type="date" id="link-gen-from">
          </label>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          <label>
            <strong>Date to: </strong>
            <input type="date" id="link-gen-to">
          </label>
        </div>
      </div>
    </div>
    <p id="link-gen-text">
      <strong>Unique link for this date range:</strong>
      <span id="link-gen-link"></span>
    </p>
  </div>
</div>
<script src="/assets/js/scvo/funding-updates-link-gen.js"></script>
