<div class="event">
  {{> header_splash_event}}
  <div class="container-fluid page-content">
    {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/policy-research">Policy &amp; research</a></li>
      <li><a href="/policy-research/events">Events</a></li>
      <li>{{{title}}}</li>
    </ul>
    {{{rendered.scvo_full}}}
    {{{rendered.scvo_speakers}}}
    {{/with ~}}
    {{> related_events}}
  </div>
</div>
