<div class="map-content">
  <h3>{{title}}</h3>
  {{#if organisation.name}}
  <div>
    <strong>{{organisation.name}}</strong>
  </div>
  {{/if}}
  <div>
    {{#if closing_date}}
    <span class="far fa-calendar-alt fw" title="Closing date"></span>
    {{{momentFormat (moment closing_date "x") "Do MMMM YYYY"}}}
    {{/if}}
    <span class="far fa-money-bill-alt fa-fw" title="Salary"></span>
    {{> salary}}
  </div>
  <div class="text-right">
    <a href="/vacancy/{{slug}}" class="mdc-card__action">Find out more</a>
  </div>
</div>
