<div class="map-content">
  <h3>{{title}}</h3>
  <div>
    <strong>{{organisation.name}}</strong>
  </div>
  <div>
    <span class="far fa-calendar-alt fw" title="Closing date"></span>
    {{{momentFormat (moment closing_date "x") "Do MMMM YYYY"}}}
    <span class="far fa-money-bill-alt fa-fw" title="Salary"></span>
    {{>salary}}
  </div>
  <div class="text-right">
    <a href="#">View details</a>
  </div>
</div>
