{{#compare vacancy_status "!==" "vacancy-open" ~}}
<div class="panel-heading red white-text {{vacancy_status}}">
  <i class="fal fa-info-circle fa-fw"></i>
  {{#compare vacancy_status "vacancy-closed" ~}}
  This vacancy has now closed
  {{/compare ~}}
  {{#compare vacancy_status "vacancy-inactive" ~}}
  This vacancy is no longer active
  {{/compare ~}}
  {{#compare vacancy_status "vacancy-not-published" ~}}
  This vacancy has not yet been published
  {{/compare ~}}
  {{#compare vacancy_status "vacancy-no-longer-listed" ~}}
  This vacancy is no longer listed
  {{/compare ~}}
</div>
{{/compare ~}}