<div class="mdc-tab-bar {{extraClasses}}" {{#if id}}id="{{id}}"{{/if}} role="tablist" data-tab-bar='{
      "defaultTabIdentifier": {{{stringify (default defaultTabIdentifier null)}}}
    }'>
  <div class="mdc-tab-scroller">
    <div class="mdc-tab-scroller__scroll-area">
      <div class="mdc-tab-scroller__scroll-content">
        {{> @partial-block}}
      </div>
    </div>
  </div>
</div>
