<!--
  TODO: The stringifying of partial rendering component won't let us
  use @root.request... Instead we might want to render the results in
  a hidden DIV and pull the HTML from there. This might double up as a
  backup in case the map fails to render. The results will still be
  there on the page and we can just display the hidden div instead
-->

{{> vacancy_search_form this instance_id="perm"}}

<div id="detailed-results-container" class="container-content container-map">
  <div id="map-full" data-map-name="fullMap" data-map-options='{}'></div>
</div>
{{#each data.search_data.map_results.hits.hits}}
  {{#if _source.geo_vacancy_coords}}
    {{#each (arrayify _source.geo_vacancy_coords)}}
      <marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lon}}" data-title="{{../_source.title}}">
        {{>vacancy_map ../_source}}
      </marker>
    {{/each}}
  {{/if}}
{{/each}}
