<div id="detailed-results-container" class="container-content container-map">
  <div id="map-full" data-map-name="fullMap" data-map-options='{}'></div>
</div>
{{#each data.search_data.map_results.hits.hits}}
  {{#if _source.geo_vacancy_coords}}
    {{#each (arrayify _source.geo_vacancy_coords)}}
      <marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lon}}" data-title="{{../_source.title}}">
        {{>vacancy_map ../_source}}
      </marker>
    {{/each}}
  {{/if}}
{{/each}}
