<div id="detailed-results-container" class="container-content goodmoves-notes">
  <h1 class="mdc-typography--headline3 v-margin-full">
    Notes
  </h1>

  {{#compare @root.data.notes_vacancies.open.hits.total "===" 0}}
  {{#compare @root.data.notes_vacancies.closed.hits.total "===" 0}}
  <p class="mdc-typography--body1">
    You haven't yet written notes on any jobs. To write a note, navigate to the full details of a job then enter the&ensp;<strong><span class="far fa-edit mdc-chip__icon mdc-chip__icon--leading" aria-hidden="true"></span>Notes</strong>&ensp;tab, type some text then click the&ensp;<strong><span class="far fa-save mdc-chip__icon mdc-chip__icon--leading" aria-hidden="true"></span>Save notes</strong>&ensp;button.
  </p>
  {{else}}
  <p class="mdc-typography--body1">
    You don't have notes on any open jobs.
  </p>
  {{/compare}}
  {{/compare}}

  {{#compare @root.data.notes_vacancies.open.hits.total ">" 0}}
  {{#each @root.data.notes_vacancies.open.hits.hits ~}}
  {{> vacancy_search_result _source}}
  {{/each ~}}
  <div class="foot">
    {{> pagination paging=@root.data.notes_vacancies.open.pagination}}
  </div>
  {{/compare}}

  {{#compare @root.data.notes_vacancies.closed.hits.total ">" 0}}
  <h2 class="mdc-typography--headline5 v-margin-full">
    Closed jobs
  </h2>
  {{#each @root.data.notes_vacancies.closed.hits.hits ~}}
  {{> vacancy_search_result _source}}
  {{/each ~}}
  <div class="foot">
    {{> pagination paging=@root.data.notes_vacancies.closed.pagination}}
  </div>
  {{/compare}}
</div>