{{#if data.primaryResponse.hits.hits.[0] ~}}
<title>Goodmoves – Search results</title>
<meta property="og:title" content="Goodmoves – Search results" data-dynamic="true">
{{else}}
<title>Goodmoves – Search results</title>
<meta property="og:title" content="Goodmoves – Search results" data-dynamic="true">
{{/if ~}}