{{#if data.primaryResponse.hits.hits.[0] ~}}
{{#with data.primaryResponse.hits.hits.[0]._source ~}}
<title>Job search results – Goodmoves</title>
{{/with ~}}
{{else}}
<title>Job search results – Goodmoves</title>
{{/if ~}}
<description>{{{description}}}</description>
<link>https://goodmoves.com{{{replace (replace request.params.uri.path "&rss" "") "?rss" ""}}}</link>