{{> vacancy_search_form this instance_id="perm"}}

<div id="detailed-results-container" class="container-content goodmoves-shortlist">
  <h1 class="mdc-typography--headline3 v-margin-full">
    Shortlist
  </h1>

  {{#each data.search_data.detailed_results.hits.hits ~}}
  {{> vacancy_search_result _source}}
  {{/each ~}}

  <div class="foot">
    {{> pagination paging=data.search_data.detailed_results.pagination}}
  </div>
</div>
