<div class="x-items">
  <a class="x-item mdc-theme--secondary-bg mdc-elevation--z1" target="_blank" href="https://www.qmu.ac.uk/study-here/postgraduate-study/2018-postgraduate-courses/master-of-public-administration-mpa/">
    <img class="responsive-img" src="https://storage.googleapis.com/elasticsauce.appspot.com/goodmoves/banners/qmu-mpa.jpg" alt="" height="90">
  </a>
  <!-- <a class="x-item-side mdc-theme--on-secondary" href="/advertise">
    <span class="far fa-fw fa-angle-double-left" aria-hidden="true"></span>
    Book this ad space
  </a> -->
</div>
