{{#compare @root.data.supplimentaryResponses.currently_recruiting.hits.total ">" 0 ~}}
<section class="currently-recruiting mdc-elevation--z3">
  <div class="mdc-typography--headline5 home-heading v-margin-full">
    Currently recruiting&ensp;
    <span class="mdc-typography--body1">
      <a href="/organisations">See all</a>
    </span>
  </div>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      {{#each @root.data.supplimentaryResponses.currently_recruiting.hits.hits ~}}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone">
        <a href="/organisation/{{_source.slug}}" class="content-secondary-logo">
          <img src="{{_source.logo_url}}" alt="{{_source.title}}" />
        </a>
      </div>
      {{/each ~}}
    </div>
  </div>
</section>
{{/compare ~}}