<aside id="shortlist-dialog" class="mdc-dialog" role="alertdialog" aria-labelledby="shortlist-dialog-label" aria-describedby="shortlist-dialog-description" data-mdc-auto-init="MDCDialog">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 id="shortlist-dialog-label" class="mdc-dialog__header__title">
        Shortlist
      </h2>
    </header>
    <section id="shortlist-dialog-description" class="mdc-dialog__body">
      If you have an account on Goodmoves you can shortlist jobs you are interested in.
    </section>
    <footer class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
      <a href="/sign-in" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Sign in</a>
      <a href="/sign-up" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Sign up</a>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>