<div class="mdc-drawer__content">
  <h2 class="mdc-drawer__content-heading hide-sm mdc-drawer--occasional-ie11">Search SCVO training</h2>
  <form action="/training" method="GET">
    <div class="h-padding">
      <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon mdc-drawer--occasional-ie11" data-mdc-auto-init="MDCTextField">
        <span class="far fa-search mdc-text-field__icon" tabindex="0" role="button"></span>
        <input type="text" id="{{instance_id}}-keywords" name="keywords" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.request.params.query.keywords}}">
        <label class="mdc-floating-label mdc-floating-label--float-above" for="keywords">
          Keywords
        </label>
        <div class="mdc-line-ripple"></div>
      </div>
    </div>
    <div class="h-margin v-margin mdc-drawer--occasional-ie11">
      <button class="mdc-button mdc-button--raised mdc-button--fullwidth" type="submit" id="{{instance_id}}-search-submit">
        <span class="far fa-search fa-fw mdc-list-item__graphic" aria-hidden="true"></span>
        Search
      </button>
    </div>
  </form>
</div>
