<h1 class="header-text">
  {{#if link ~}}<a href="/" title="Goodmoves">{{/if ~}}
  <span class="header-text-banner">
    {{#if welcome ~}}<span class="normal welcome">Welcome to</span><br />{{/if ~}}
    good<span class="normal moves">moves</span>
  </span>
  {{#if link ~}}</a>{{/if ~}}
</h1>