<div class="mdc-layout-grid tfn tfn-latest">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-typography--headline5 v-margin-full">
        Related articles on <a href="http://thirdforcenews.org.uk?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic">Third Force News</a>
      </div>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          {{#each data.posts.tfn_related.hits.hits ~}}
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            {{{_source.rendered.scvo_gist}}}
          </div>
          {{/each ~}}
        </div>
      </div>
      <p class="mdc-typography--body1">
        <a href="http://thirdforcenews.org.uk/tfn-news?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic">Read all the latest news from TFN</a>&emsp;<a href="http://thirdforcenews.org.uk/signup?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic">Subscribe to TFN</a>
      </p>
    </div>
  </div>
</div>