{{> banner_ads}}

{{> search_info paging=data.search_data.detailed_results.pagination}}

<div class="mdc-layout-grid head">
  <div class="mdc-layout-grid__inner">
    <form class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" action="/save-search{{{@root.request.url.search}}}" method="POST">
      <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-trailing-icon" data-mdc-auto-init="MDCTextField">
        <input type="text" id="saved-search-name" name="name" class="mdc-text-field__input">
        <label for="saved-search-name" class="mdc-floating-label mdc-floating-label--float-above">Save search</label>
        <button class="mdc-icon-button mdc-text-field__icon" tabindex="0" role="role">
          <span class="far fa-save" aria-hidden="true"></span>
        </button>
        <div class="mdc-line-ripple"></div>
      </div>
    </form>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      {{> pagination paging=data.search_data.detailed_results.pagination}}
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-select mdc-select--box pull-right" data-mdc-auto-init="MDCSelect">
        <select class="mdc-select__native-control" id="sort" name="sort">
          <option value="undefined">Relevance</option>
          <option value="distance-asc">Distance</option>
          <option value="closing_date-asc">Closing soon</option>
          <option value="start_at-desc">Newest</option>
          <option value="start_at-asc">Oldest</option>
          <option value="salary_min-desc">Salary - high to low</option>
          <option value="salary_min-asc">Salary - low to high</option>
        </select>
        <label class="mdc-floating-label mdc-floating-label--float-above" for="sort">
          Sort
        </label>
      </div>
    </div>
  </div>
</div>

{{#each data.search_data.detailed_results.hits.hits ~}}
{{> vacancy_search_result _source}}
{{/each ~}}

<div class="foot">
  {{> pagination paging=data.search_data.detailed_results.pagination}}
</div>
