<div class="container-fluid">
    <div class="row page-content">
        <div class="col-sm-12">
            <h1 class="header">Briefings and consultation responses</h1>
        </div>
    </div>
    <div class="row page-content">
        <div class="col-sm-12 col-md-6">
            <md-card class="example-card">
                <md-card-header>
                    <div md-card-avatar class="example-header-image">
                        <span class="fa fa-2x fa-info-circle"></span>
                    </div>
                    <md-card-title>
                        <a [routerLink]="['/policy-research/briefings-consultation-responses/brexit-and-scottish-independence-third-sector-perspective']">
                            Brexit and Scottish independence: a third sector perspective
                        </a>
                    </md-card-title>
                    <md-card-subtitle>
                        7 April 2017
                    </md-card-subtitle>
                </md-card-header>
                <img md-card-image src="http://lorempixel.com/600/110/nature/8">
                <md-card-content>
                    <p>
                        SCVO regards Scottish devolution as a work in progress. As Scotland enters another period of constitutional change, there is an opportunity to explore which powers are needed to tackle the challenges the country faces.
                    </p>
                    <p>
                        Substantial powers devolved from Westminster ought to allow current and future Scottish Governments to address poverty and inequality and strengthen communities more effectively. With substantial powers set to be repatriated from the EU, there is scope for debate about where these powers should rest.
                    </p>
                    <p>
                        SCVO and its members believe that the European Union has broadly been good for Scotland and Scotland’s third sector. We support measures to ensure that many of the protections we currently enjoy are not jeopardised.
                    </p>
                    <p>
                        In the event of a so called ‘hard Brexit’, SCVO supports a differentiated deal for Scotland within Europe. We look forward to exploring the options available to secure the links we view as most crucial.
                    </p>
                </md-card-content>
                <md-card-actions>
                    <button md-button [routerLink]="['/policy-research/briefings-consultation-responses/brexit-and-scottish-independence-third-sector-perspective']">
                        Read full article
                    </button>
                </md-card-actions>
            </md-card>
        </div>
        <div class="col-sm-12 col-md-6">
            <md-card class="example-card">
                <md-card-header>
                    <div md-card-avatar class="example-header-image">
                        <span class="fa fa-2x fa-info-circle"></span>
                    </div>
                    <md-card-title>
                        <a [routerLink]="['/policy-research/briefings-consultation-responses/briefing-to-scottish-parliament-in-relation-to-budget-debate-on-2-february-2017']">
                            Briefing to Scottish Parliament in relation to budget debate on 2 February 2017
                        </a>
                    </md-card-title>
                    <md-card-subtitle>
                        1 February 2017
                    </md-card-subtitle>
                </md-card-header>
                <img md-card-image src="http://lorempixel.com/600/110/nature/10">
                <md-card-content>
                    <p>
                        The importance of our communities – particularly those whose voices are least heard – must be remembered during this budget debate.
                    </p>
                    <p>
                        Budget allocations should be made on the basis of the policy outcomes that need to be achieved, rather than focussing on GDP. Equalities audits should be carried out to assess the impacts of policy options, before they are confirmed.
                    </p>
                    <p>
                        The full range of powers – including tax raising powers – should be used to ensure that Scotland’s people and environment are best-served.
                    </p>
                    <p>
                        The budget should be increasingly done openly and in partnership with the people affected. Participatory budgeting is a good example of this and should be increasingly applied across all public authorities.
                    </p>
                    <p>
                        The third sector continues to support many individuals across Scotland, and we hope that its work continues to be recognised.
                    </p>
                </md-card-content>
                <md-card-actions>
                    <button md-button [routerLink]="['/policy-research/briefings-consultation-responses/briefing-to-scottish-parliament-in-relation-to-budget-debate-on-2-february-2017']">
                        Read full article
                    </button>
                </md-card-actions>
            </md-card>
        </div>
        <div class="col-sm-12 col-md-6">
            <md-card class="example-card">
                <md-card-header>
                    <div md-card-avatar class="example-header-image">
                        <span class="fa fa-2x fa-info-circle"></span>
                    </div>
                    <md-card-title>
                        <a [routerLink]="['/policy-research/briefings-consultation-responses/right-approach-campaign-july-december-2016']">
                            Right Approach Campaign: July – December 2016
                        </a>
                    </md-card-title>
                    <md-card-subtitle>
                        28 February 2017
                    </md-card-subtitle>
                </md-card-header>
                <img md-card-image src="http://lorempixel.com/600/110/nature/11">
                <md-card-content>
                    <p>
                        In 2016 the Scottish Council for Voluntary Organisations (SCVO) produced the Right Approach campaign to promote and encourage human rights-based approaches in the Scottish third sector. The following report sets out the developing context of the campaign for the second half of the year. This includes external human rights developments, alongside an overview of the place of human rights within the third sector, details of the campaign’s content, followed by an evaluation and appendix of feedback on the campaign from SCVO members.
                    </p>
                </md-card-content>
                <md-card-actions>
                    <button md-button [routerLink]="['/policy-research/briefings-consultation-responses/right-approach-campaign-july-december-2016']">
                        Read full article
                    </button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
