<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-9 page-content">
            <h1>
                Brexit and Scottish independence: a third sector perspective
            </h1>
            <h2>Our position</h2>
            <p>
                SCVO has always advocated the position that devolution remains a work in progress and that there is always a discussion to be had about where power should ideally rest. As Scotland enters another period of constitutional contemplation, we believe the ensuing debate offers an opportunity to explore what powers Scotland requires to tackle the challenges we face and to assess what kind of country we wish to become.
            </p>
            <p>
                Whilst piecemeal devolution will offer a substandard response – as outlined in our response to the Smith Commission – we do believe that substantial powers devolved from Westminster would allow current and future Scottish Governments’ to more adequately address poverty, inequality, and strengthen communities. With substantial powers set to be repatriated from the EU, there is now scope for further debate about where these powers should rest.
            </p>
            <p>
                SCVO and our members believe that the European Union has broadly been good for Scotland and Scotland’s third sector and support measures to ensure that many of the protections we currently enjoy are not jeopardised. In the event of a so called ‘hard Brexit’, SCVO supported a differentiated deal for Scotland within Europe and we now look forward to exploring the options available to secure the links and enjoyments we view as most crucial.
            </p>
            <h2>Where are we now?</h2>
            <p>
                The letter triggering Article 50 – and formally beginning the UK’s withdrawal from the European Union – was signed by the prime minister on 28 March and delivered to European Council President, Donald Tusk, on the 29 March to – coinciding with the Prime Minister’s statement to the House of Commons.
            </p>
            <p>
                Passed on Wednesday 05 April, a European Parliament resolution has stated that a future trade cannot be concluded until the UK has withdrawn from the EU. Furthermore, a transition arrangement to cushion the UK’s exit after 2019 can last no longer than three years.
            </p>
            <p>
                It also reports that a withdrawal agreement, covering financial liabilities, citizens’ rights and the border with Ireland, will need to be accepted by a qualified majority of 72% of the EU’s remaining 27 member states, representing 65% of the population. The agreement would then need to be approved by the European parliament, voting by a simple majority.
            </p>
            <p>
                In the Scottish Parliament, SNP and Green MSPs combined forces to win a Scottish Parliament vote 69-59, formally backing First Minister Nicola Sturgeon’s call for a second independence referendum.
            </p>
            <h2>Introduction</h2>
            <p>
                As SCVO wrestled with the potential ramifications of the vote to leave the EU, we undertook to work closely with our members – as well as both the UK and Scottish Governments – in an attempt to ensure the voice of Scotland’s voluntary sector was heard as negotiations proceeded.
            </p>
            <p>
                This work – which remains ongoing – has proven crucial in understanding the challenges the third sector faces, whilst also offering rare glimmers of clarity and understanding.
            </p>
            <p>
                On 20 December 2016, the Scottish Government published its compromise paper: <em>Scotland’s Place in Europe</em>. This paper was welcomed by SCVO and a number of Scotland’s third sector organisations. Commenting at the time, SCVO Deputy Chief Executive, Lucy McTernan said:
            </p>
            <p>
                <em>“We believe it is crucial to safeguard the – often intangible – people element that membership of the EU has delivered. We welcome the Scottish Government’s efforts to ensure Scotland remains an outward looking and integrated European nation as a way of creating a fairer and more prosperous Scotland.”</em>
            </p>
            <p>
                Whilst initially welcoming the publication of the paper, we understand that the UK Government has deemed the suggestions contained therein to be incompatible with their forward planning.
            </p>
            <p>
                In the intervening period, SCVO conducted a major ‘State of the Sector’ survey, which aimed to gauge the mood, concerns and hopes of the third sector in Scotland. In view of the ongoing debate surrounding Scotland’s place in Europe, SCVO included additional survey questions to find out more about the view of Scotland’s third sector on the EU debate. Some of the key finding from this survey were:
            </p>
            <ul>
                <li>86% felt leaving the EU would negatively impact the Scottish economy</li>
                <li>81% felt leaving the EU would negatively impact poverty &amp; social exclusion</li>
                <li>80% felt leaving the EU would negatively impact human rights &amp; equality</li>
                <li>6% felt leaving the EU would bring positive opportunities</li>
                <li>68% felt EU policy priorities had been good for the voluntary sector in Scotland</li>
                <li>39% of Scottish charities are/have been part of a European collaboration</li>
            </ul>
            <p>
                As a membership organisation, we are acutely aware that the same differences of opinion that foster debate around Scotland’s future constitutional arrangements also exist within Scotland’s third sector. With this in mind, we are not currently in a position to offer a rounded view as to what our members think and feel, with regards to the decision to pursue a second Scottish independence referendum.
            </p>
            <p>
                Having said that, in the interim, we can clarify our position on a number of relevant matters and offer an evidence based understanding of the key hopes, fears and requirements of Scotland’s third sector at large.
            </p>
            <h2>The Economy</h2>
            <h3>Overall strength</h3>
            <p>
                In our State of the Sector survey, 86% of respondents felt that leaving the EU would have a negative impact on the Scottish Economy. The strength of the economy is of crucial importance to Scotland’s third sector organisations – having, as it does, such a bearing on levels of public spending, disposable income/charitable giving and, subsequently, funding for many third sector organisations.
            </p>
            <p>
                A dramatic fall in the value of the Pound Sterling has seen the cost of imports jump – with this being passed on to consumers of everything from food to fuel and clothing. This squeeze on household budgets will, as is always the case, most severely impact those in the bottom percentile of household incomes – compounding a decade of wage stagnation and increases in the cost of living.
            </p>
            <p>
                Following the UK Government’s decision to cease increasing benefit payments in line with inflation, the effect of rising inflation will be doubly hard on those surviving on already meagre benefits. It is therefore inevitable that many people in Scotland will come to rely heavily on third sector organisations for support. This represents a ‘perfect storm’ situation, whereby demand for the services the sector provides will spike at a time when the sector is desperately trying to shore itself up, secure funding and survive the impact of Brexit.
            </p>
            <p>
                In terms of Brexit, there is clearly great uncertainty about our economic future. As such, the impact on the economy of future constitutional decisions will undoubtedly remain a key focus for Scotland’s third sector organisations.
            </p>
            <h3>Fairer economy</h3>
            <p>
                The type of economy we will see as a result of either Brexit or independence will also be of crucial importance. The overtures from the UK Government are far from encouraging in this regard – with threats that the UK could become a low tax, low regulation economy in the event of a breakdown in negotiations with the EU.
            </p>
            <p>
                Speaking in the Financial Times (in 2012), the now Secretary of State for International Trade, Liam Fox MP said:
            </p>
            <p>
                <em>“To restore Britain’s competitiveness we must begin by deregulating the labour market. Political objections must be overridden. It is too difficult to hire and fire and too expensive to take on new employees. It is intellectually unsustainable to believe that workplace rights should remain untouchable while output and employment are clearly cyclical.</em>
            </p>
            <p>
                <em>“The Left must be given an unequivocal moral challenge: it is utterly unacceptable to condemn a generation of our young to unemployment by maintaining all the rights and privileges of those currently in work. That would be the unavoidable outcome of failing to hold our own in a highly competitive global marketplace.”</em>
            </p>
            <p>
                Protecting and enhancing hard won workers’ rights and equalities advancements will remain a key priority for Scotland’s third sector organisations. The kind of trade deals Scotland becomes subject to – whether as part of the UK (out with the single market), or as an independent country – could have a substantial impact on the rights and protections people in Scotland currently enjoy. If these are eroded, this would be of great concern to our members.
            </p>
            <h2>People</h2>
            <h3>Freedom of movement</h3>
            <p>
                Protecting free movement of people was highlighted as a key concern for many charities. It was pointed out that, following the implementation of the Scotland Act 2016, public spending will be based more heavily on the performance of the Scottish economy and the demographic make-up of the country. It was the view of many that Scotland needs to address its demographic imbalance and that immigration would play a key role in this.
            </p>
            <p>
                This view was backed by a report produced by the International Longevity Centre, which pointed out that EU nationals in the UK had an employment rate above 80% (significantly higher than the UK average) and that over 60% of EEA migrants living in the UK are aged between 14 and 44.
            </p>
            <p>
                The report concludes that, as a much greater proportion of EEA migrants living are of working age, and as people of working age spend more, have greater involvement in the national labour force, and pay more in tax receipts than they receive in public service spending, a mass exodus of EU migrants would result in a decline in economic growth, and potentially lower living standards.
            </p>
            <p>
                Some charities have pointed out that the services they provide – particularly in the care sector – rely on immigrant workers. In the region of 4% of Scotland’s health and social care workforce comprises non-UK EU citizens. Representing approximately 12,000 personnel, such a loss would have a significant negative impact on already overstretched health and social care services.
            </p>
            <p>
                It is, therefore, of huge concern to learn that, in England, the number of EU nationals registering as nurses has dropped by 92% since the EU referendum in June. At the same time, a compilation of Freedom of Information requests (from 80 of the 136 NHS acute trusts in England) has shown that 2,700 EU nurses left the health service in 2016, compared to 1,600 EU nurses in 2014 – a 68% increase.
            </p>
            <p>
                With specific demographic challenges, SCVO and our members believe securing freedom of movement is of significant importance. In the event that immigration to the UK is significantly curtailed, we would continue to support a differentiated deal to allow Scotland to pursue this option. In previous papers we have suggested using the new Scottish tax code (with the ‘S’ prefix) to ensure immigrants are only working in Scotland. Such an approach may help salve political concerns that EU immigrants would use Scotland as a stepping stone to move to England.
            </p>
            <h3>Human rights</h3>
            <p>
                In SCVO’s recent State of the Sector survey, 80% of respondents felt that leaving the EU would have a negative impact on Human Rights &amp; Equality.
            </p>
            <p>
                Individually, many disabled people fear for the fate of the European Convention on Human Rights and the rights and legal protections afforded to people with disabilities through membership of the EU. These protections include:
            </p>
            <ul>
                <li>EU rules on procurement by public bodies</li>
                <li>the air passengers regulation, which provides assistance for disabled passengers travelling in the EU – and similar rules for travel by train, ship, bus and coach</li>
                <li>the EU directive on web accessibility for public sector websites, which was agreed but has not yet become law</li>
                <li>the EU directive on equal treatment in employment and occupation from the year 2000, which bans disability discrimination in employment</li>
                <li>the planned European Accessibility Act, which will set <em>“common accessibility requirements for certain key products and services”.</em></li>
            </ul>
            <p>
                The Prime Minister has made clear that the UK will no longer fall under the jurisdiction of the European Court of Justice and has previously called for the UK to withdraw from the ECHR. With no clear indication as to what may be contained within the vaunted <em>‘British Bill of Rights’</em>, wholesale withdrawal from EU institutions – and the protections and oversight they afford – is of obvious concern to our members.
            </p>
            <p>
                In terms of human rights, we find ourselves strongly in agreement with the principles of the First Minister’s Standing Council on Europe which seeks to ensure there is no regression in current human rights protections; that Scotland should not be left behind future EU and ECHR progressive developments and that Scotland should remain an international leader in developing and encouraging good human rights practices.
            </p>
            <p>
                Were Scotland to remain in the UK, but find itself out with the EU/ECHR, we would encourage measures to ensure this could still be realised. We understand that some of our members would wish to open a debate about whether human rights protections should be fully devolved to Scotland and the Scottish judiciary strengthened. However, this is by no means the collective view of Scotland’s third sector.
            </p>
            <h2>Collaboration</h2>
            <p>
                Our state of the sector survey found that 39% of Scottish charities are, or have previously been, part of European networks, projects, collaborations or learning exchanges. Charities across Europe benefit from collaboration and shared resources in a number of ways:
            </p>
            <h3>Research</h3>
            <p>
                British Heart Foundation, for example, pointed to the £63 million worth of research they carry out in Scotland and warned that withdrawal from the EU may see an exodus of Principal Investigators (PIs) – individuals who leverage funding, administer grants and lead research projects. It was pointed out that within six months of Switzerland’s referendum rejecting freedom of movement, the number of PIs dropped from 21 to 2.
            </p>
            <p>
                Alzheimer’s Scotland fears medical advances could be jeopardised, after a poll of 70 top dementia researchers found 60% feared losing access to EU research funding. The same survey also found that nearly half of those questioned said they knew of opportunities for European partnerships being withdrawn since the EU referendum result, while 76% said they knew of someone leaving the UK or considering leaving the country as a result of Brexit. 51% said the vote had led to increased problems recruiting researchers or students from other European countries.
            </p>
            <p>
                The European Medicines Agency (EMA) which provides early access to medicines – particularly those that target an unmet medical need – is currently based in the UK, but is likely to relocate post-Brexit. If the UK were to withdraw from the EMA many would lose out on quick access to new medicines.
            </p>
            <h3>Cross border networks and learning</h3>
            <p>
                In areas such as poverty and inequality, refugees, the rise of racism and climate change, Scottish voluntary organisations have learned and gained much from European civil society. By the same token, European neighbours greatly admire unique Scottish approaches to the big issues our nations’ face – particularly in terms of tackling youth unemployment and establishing sustainable employability and recruitment programmes.
            </p>
            <p>
                SCVO is currently the president of The European Network of National Civil Society Associations (ENNA) which was founded in Belgium in 2011, following a series of successful transnational projects led by its founding members. This young network brings together national associations, platforms, umbrella, and civil society support structures spread across 18 European countries that are members of the EU or EEA.
            </p>
            <p>
                ENNA’s mission is to support our members to develop their activities and better support their own grassroots members by influencing favourably the environment in which they work. However, continued involvement in this network is in jeopardy due to funding concerns and continued membership of the EU or EEA.
            </p>
            <p>
                Many Scottish Third Sector organisations are involved in joint bids for funding alongside organisations from across Europe. However, it has become apparent that there is an unwillingness to engage with UK-based partners in case the bid is rejected on the basis that the UK will have left the EU at some point during the funding programme. In this sense, the impact of the referendum is already being felt by some organisations.
            </p>
            <h3>The environment</h3>
            <p>
                It is widely accepted that massive international challenges, such as tackling climate change, resolving the refugee crisis, fighting terrorism and providing effective international aid cannot be addressed through the unilateral actions of nation states. For many decades, the EU has provided a means by which collective action can be taken.
            </p>
            <p>
                Environmental organisations, for example, are concerned the UK will fail to ratify the&nbsp;Paris Climate Agreement (although the Prime Minister stated at the Conservative conference that it would be). They also have real concerns about withdrawal from the auspices of strict EU level environmental legislation – which covers wildlife, farming, green energy, recycling and waste and sewage disposal.
            </p>
            <p>
                The issue of air pollution has also been raised, given that 50,000 people in the UK die prematurely every year as a result of air pollution. It is understood that the UK Department for the Environment and Rural Affairs has consistently pushed for a weakening of EU air pollution limits and a delay to their introduction. Furthermore, it has fallen on the European Commission to issue warnings to the UK over its failures to meet air pollution targets.
            </p>
            <p>
                With the ‘Greener UK’&nbsp;coalition – comprised of 13 advocacy groups – arguing that the UK is already failing in its duty to protect the environment, many of our members have concerns that the loss of oversight from European institutions, and the potential weakening of environmental legislation, will see the UK’s efforts to tackle climate change and improve the environment slide further.
            </p>
            <p>
                Many third sector organisations will take be paying close attention to how closely aligned to leading environmental standards the UK remains. As with human rights, we would expect that Scotland should suffer no regression, be able to mirror EU advancements, and take a role in shaping future positive developments.
            </p>
            <p>
                In our response to the Smith Commission, SCVO called for the full devolution of energy to the Scottish Parliament. We maintain this position as a means of meeting climate change targets – as well as tackling fuel poverty and promoting community energy/benefit.
            </p>
            <h2>Conclusion</h2>
            <p>
                Scotland’s Third Sector organisations understand the importance of the EU to the overall strength of our economy and how this will ultimately impact upon voluntary organisation and the vulnerable groups our members assist. Whilst it is expected that Brexit will pose significant challenges (as outlined above), the forthcoming constitutional restructuring –augmented by a potential second independence referendum – does afford an opportunity to revaluate the current powers of the Scottish Parliament and to engage in a meaningful discussion about the kind of country we wish to become.
            </p>
            <p>
                Whilst we support the Scottish Government’s ambition to achieve a bespoke deal for Scotland, we have always believed that contingency planning must be made for a scenario whereby this is unachievable. By the same token, if an independence referendum is called, we must be prepared for either outcome.
            </p>
            <p>
                In view of this, we believe it is important to discuss further devolution of powers where it makes sense to do so – for example around welfare, immigration and energy. However, we do accept that the impact of Brexit will be far broader than this and that many of the benefits we face losing as a result of a retreat from Europe cannot adequately be compensated by enhanced devolution.
            </p>
            <p>
                This quandary will undoubtedly shape the thinking of many third sector organisations in the years ahead and SCVO will continue to play an active role in providing evidence and clarity to encourage and guide discussion in the months and years ahead.
            </p>
            <h2>Contact</h2>
            <p>
                Craig Wilson
                <br />
                Parliamentary Public Affairs Officer
                <br />
                SCVO
                <br />
                Mansfield Traquair Centre,
                <br />
                15 Mansfield Place, Edinburgh EH3 6BB

            </p>
            <p>
                Email: craig.wilson@scvo.org.uk
                <br />
                Tel: 0131 474 8031
            </p>
            <h3><strong>About SCVO</strong></h3>
            <p>
                The Scottish Council for Voluntary Organisations (SCVO) is the national body representing the third sector. There are over 45,000 voluntary organisations in Scotland involving around 138,000 paid staff and approximately 1.3 million volunteers. The sector manages an income of £4.9 billion.
                <br />
                SCVO works in partnership with the third sector in Scotland to advance our shared values and interests. We have over 1,600 members who range from individuals and grassroots groups, to Scotland-wide organisations and intermediary bodies.
            </p>
            <p>
                As the only inclusive representative umbrella organisation for the sector SCVO:
            </p>
            <ul>
                <li>has the largest Scotland-wide membership from the sector – our 1,600 members include charities, community groups, social enterprises and voluntary organisations of all shapes and sizes</li>
            </ul>
            <ul>
                <li>our governance and membership structures are democratic and accountable – with an elected board and policy committee from the sector, we are managed by the sector, for the sector</li>
            </ul>
            <ul>
                <li>brings together organisations and networks connecting across the whole of Scotland</li>
            </ul>
            <ul>
                <li>SCVO works to support people to take voluntary action to help themselves and others, and to bring about social change.</li>
            </ul>
            <p>
                Further details about SCVO can be found at <a href="http://www.scvo.org.uk">www.scvo.org.uk</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-3 page-sidebar">

        </div>
    </div>
</div>
