<div class="container-fluid">
    <div class="row page-content">
        <div class="col-sm-12">
            <h1 class="header">Research</h1>
        </div>
    </div>
    <div class="row page-content">
        <div class="col-sm-12 col-md-6">
            <md-card class="research-card">
                <md-card-header>
                    <div md-card-avatar class="briefing-header-image">
                        <span class="fa fa-2x fa-info-circle"></span>
                    </div>
                    <md-card-title>
                        <a [routerLink]="['/policy-research/research/local-funding-survey']">
                            Local funding survey
                        </a>
                    </md-card-title>
                    <md-card-subtitle>
                        25th Apr, 2017
                    </md-card-subtitle>
                </md-card-header>
                <!-- <img md-card-image src="http://lorempixel.com/600/110/nature/8"> -->
                <md-card-content>
                    <p>
                        Spring 2017
                    </p>
                    <p>
                        In this report, we demonstrate the many difficulties and intricacies of local funding for much of the third sector. Most of the funding issues faced by the sector arise whatever type of funding the organisation is seeking: grant funding, a service level agreement, or a contract. Similarly, these issues arise for organisations regardless of whether they are working with local authorities, health boards, or other local or regional public funders.
                    </p>
                </md-card-content>
                <md-card-actions>
                    <button md-button [routerLink]="['/policy-research/research/local-funding-survey']">
                        Read research
                    </button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
