{{#with primaryResponse.hits.hits.[0]._source}}
<ul class="breadcrumbs breadcrumbs-length-{{breadcrumb.length}}">
    <li><a href="/">Home</a></li>
    {{#each breadcrumb}}
    <li><a href="{{replace url 'https://cms.scvo.org' ''}}">{{{striptags title}}}</a></li>
    {{/each}}
    <li>{{{striptags title}}}</li>
</ul>
{{/with}}