{{#with primaryResponse.hits.hits.[0]._source}}
{{#compare breadcrumb.length ">" 0}}
<ul class="breadcrumbs">
    <li><a href="/">SCVO</a></li>
    {{#each breadcrumb}}
    <li>
        <a href="{{replace url 'https://cms.scvo.org' ''}}">{{{striptags title}}}</a>
    </li>
    {{/each}}
</ul>
{{/compare}}
{{/with}}