{{#with primaryResponse.hits.hits.[0]._source}}
<ul class="breadcrumbs breadcrumbs-length-{{breadcrumb.length}}">
    <li><a href="/">SCVO</a></li>
    {{#each breadcrumb}}
    <li>
        <a href="{{replace url 'https://cms.scvo.org' ''}}">{{{striptags title}}}</a>
    </li>
    {{/each}}
</ul>
{{/with}}