{{#if primaryResponse.hits.hits.[0]}}
    {{> @partial-block }}
{{else}}
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 content page-content">
                <h2>Page not found</h2>
                <p>Some witty text about how we must have misplaced it or the user was just way off in what they typed</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                <img src="/assets/images/404.png" class="responsive">
            </div>
        </div>
    </div>

    <hr />

    {{#ifAll supplimentaryResponses.not_found  (compare supplimentaryResponses.not_found.hits.total ">" 0)}}
        <h3>Did you mean</h3>
        {{#each supplimentaryResponses.not_found.hits.hits}}
            <!-- TITLE: {{{title}}} - SCORE: {{_score}}</h4> -->
            {{>highlight_result}}
        {{/each}}
    {{else}}
        <p>We couldn't even find anything in our index that looks relevant</p> 
    {{/ifAll}}
{{/if}}
