<nav class="menu-sidebar" id="digital-evolution-menu">
    {{#each context.menus.digital-evolution}}
    <a class="mdc-button mdc-button--raised" href="{{path}}">{{{label}}}</a>
    {{#each this.children}}
    <a class="mdc-button mdc-button--raised" href="{{path}}">{{{label}}}</a>
    {{/each}}
    {{/each}}
</nav>