<nav id="credit-union-menu">
    {{#each context.menus.credit_union}}
    <a class="mdc-button" href="{{path}}">{{{label}}}</a>
    {{#each this.children}}
    <a class="mdc-button" href="{{path}}">{{{label}}}</a>
    {{/each}}
    {{/each}}
</nav>
