<nav class="menu-sidebar" id="funding-guide-menu">
    {{#each context.menus.funding-guide}}
    <a class="mdc-button mdc-button--raised" href="{{path}}">{{{label}}}</a>
    {{#each this.children}}
    <a class="mdc-button mdc-button--raised" href="{{path}}">{{{label}}}</a>
    {{/each}}
    {{/each}}
</nav>