<nav id="about-menu">
    {{#each context.menus.about}}
    <a class="mdc-button" href="{{path}}">{{{label}}}</a>
    {{#each this.children}}
    <a class="mdc-button" href="{{path}}">{{{label}}}</a>
    {{/each}}
    {{/each}}
</nav>
