<nav class="menu-sidebar" id="financial-responsibilities-menu">
    {{#each context.menus.financial-responsibilities}}
    <a class="mdc-button mdc-button--raised{{#if match}} mdc-button--active{{/if}}" href="{{path}}">{{{label}}}</a>
    {{#each this.children}}
    <a class="mdc-button mdc-button--raised{{#if match}} mdc-button--active{{/if}}" href="{{path}}">{{{label}}}</a>
    {{/each}}
    {{/each}}
</nav>