<nav class="menu-sidebar" id="digital-innovation-menu">
    {{#each context.menus.digital-innovation}}
    <a class="mdc-button mdc-button--raised" href="{{path}}">{{{label}}}</a>
    {{#each this.children}}
    <a class="mdc-button mdc-button--raised" href="{{path}}">{{{label}}}</a>
    {{/each}}
    {{/each}}
</nav>