<nav class="menu-sidebar" id="running-your-organisation-menu">
    {{#each context.menus.running-your-organisation}}
    <a class="mdc-button mdc-button--raised{{#if match}} mdc-button--active{{/if}}" href="{{path}}">{{{label}}}</a>
    {{#each this.children}}
    <a class="mdc-button mdc-button--raised{{#if match}} mdc-button--active{{/if}}" href="{{path}}">{{{label}}}</a>
    {{/each}}
    {{/each}}
</nav>