{{#if @root.data.auth ~}}
{{> account_sign_out_loader}}
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    window.setTimeout(function() {
      window.location.href = '/';
    }, 100);
  });
</script>
{{else}}
<form id="reset-password-form" method="POST" class="reset-password-form">
  <div class="mdc-card mdc-elevation--z0">
    <div class="mdc-card__info--content-primary">
      <div class="mdc-card__info--content-primary-title mdc-typography--headline4 x-padding">
        Reset password
      </div>
      <div class="mdc-card__info--content-primary-title mdc-typography--body2 x-padding">
        Enter your email address to be sent a password reset link
      </div>
    </div>
    <div class="mdc-card__info x-padding-full mdc-theme--primary-bg mdc-theme--on-primary" id="reset-password-message">
      <span id="form-message"></span>
    </div>
    <div class="mdc-card__info x-padding-full">
      <div class="mdc-typography--body1" id="form-section-email">
        <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
          <span class="far fa-at mdc-text-field__icon" tabindex="-1"></span>
          <input type="email" id="reset-password-email" class="mdc-text-field__input mdc-text-field--fullwidth" />
          <label class="mdc-floating-label" for="sign-in-email">
            Email
          </label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>
      <div id="form-section-sign-in-buttons">
        <button class="mdc-button mdc-button--raised" type="submit" id="reset-password-submit">
          Send reset link
        </button>
      </div>
      <div class="card-loader" id="reset-password-loader">
        <div class="card-loader-inner">
          <span class="far fa-2x fa-circle-notch fa-spin"></span>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  var $form = $('#reset-password-form');
  var $message = $('#reset-password-message');
  var $email = $('#reset-password-email');
  var $login = $('#reset-password-submit');
  var $loader = $('#reset-password-loader');

  $form.on('submit', function(evt) {
    var email = $email.val();
    $loader.css('display', 'flex');
    evt.preventDefault();
    volunteerscotland.app.auth().sendPasswordResetEmail(email).then(function(user) {
      $message.text('If there is an account associated with this email address, instructions on resetting your password have been sent there.').show();
      $loader.css('display', 'none');
    }).catch(function(err) {
      $message.text(err.message).show();
      $loader.css('display', 'none');
    });
  });
});
</script>
{{/if ~}}
