<li *ngFor="let menuItem of menuItems | keys">
    <a [routerLink]="[menuItem.value.name]" data-beloworigin="true" data-constrainwidth="false" data-hover="true" materialize="dropdown" [attr.data-activates]="'dropdown-menu-'+[menuName]+'-'+[menuItem.key]">
        {{menuItem.value.label | translate}}
        <span *ngIf="menuItem.value.submenu" class="material-icons arrow_drop_down right">arrow_drop_down</span>
    </a>
    <ul class="dropdown-content" id="dropdown-menu-{{menuName}}-{{menuItem.key}}" *ngIf="menuItem.value.submenu">
        <li *ngFor="let subMenuItem of menuItem.value.submenu">
            <a [routerLink]="[menuItem.value.name+'/'+subMenuItem.path]" [innerHTML]="menuItem.value.label+'_'+subMenuItem.path | translate"></a>
        </li>
    </ul>
</li>
