<h1>Sign up</h1>

<p>
  Supporting the Declaration is simple. Just sign up using the form below to give your public support to equality and human rights protections.  We'll ask you for some details about your organisation (so you'll need to make sure you're authorised to sign on their behalf), then we'll ask you to give your public support to the Scotland Declaration on Human Rights text and email your logo.  We won't pass your contact details on to any third parties.
</p>

<p>
  Any organisation from the public, private or third sectors can sign their support for the Declaration. Big or small, old or new – as long as your organisation works in Scotland, you can sign. Even if your organisation does not usually talk about human rights or equality, please take this opportunity to add your support to the Scotland Declaration on Human Rights.
</p>

<p>
  Thank you – your support for equality and human rights is valued.
</p>

<iframe src="https://www.surveygizmo.eu/s3/90058214/humanrightsdeclaration" frameborder="0" width="100%" height="500" style="overflow:hidden"></iframe>
