<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>goodmoves</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link type="text/css" rel="stylesheet" href="https://storage.googleapis.com/scvo-net.appspot.com/goodmoves-material-colours.css">
    <style type="text/css">
        {{{this.css}}}
    </style>
</head>
<body>
    <scvo-site>
        <div class="mdc-typography demo-body" style="">
            <div class="mdc-toolbar mdc-toolbar--fixed">
                <div class="mdc-toolbar__row">
                    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                        <button class="demo-menu material-icons mdc-toolbar__icon--menu">menu</button>
                        <span class="mdc-toolbar__title catalog-title">{{title}}</span>
                    </section>
                    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
                        <div class="mdc-form-field mdc-form-field--align-end">
                            <div class="mdc-textfield">
                                <input type="text" class="mdc-textfield__input" placeholder="Search" id="search">
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <aside class="mdc-temporary-drawer" style="">
                <nav class="mdc-temporary-drawer__drawer">
                    <header class="mdc-temporary-drawer__header">
                        <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
                            {{title}}
                        </div>
                    </header>
                    <nav class="mdc-temporary-drawer__content mdc-list-group">
                        <div id="icon-with-text-demo" class="mdc-list">
                            <a class="mdc-list-item" href="/" data-mdc-tabindex-handled="true" tabindex="-1">
                                <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
                            </a>
                            <a class="mdc-list-item" href="/search" data-mdc-tabindex-handled="true" tabindex="-1">
                                <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">work</i>Vacancies
                            </a>
                            <a class="mdc-list-item" href="/organisations" data-mdc-tabindex-handled="true" tabindex="-1">
                                <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">business</i>Organisations
                            </a>
                        </div>
                    </nav>
                </nav>
            </aside>

            <main class="mdc-toolbar-fixed-adjust">
                <div class="page-content">
                    <router-outlet>{{{routeHtml}}}</router-outlet>
                </div>
            </main>
        </div>
    </scvo-site>
    <script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript">
        var drawerEl = document.querySelector('.mdc-temporary-drawer');
        var MDCTemporaryDrawer = mdc.drawer.MDCTemporaryDrawer;
        var drawer = new MDCTemporaryDrawer(drawerEl);
        document.querySelector('.demo-menu').addEventListener('click', function() {
            drawer.open = true;
        });
        drawerEl.addEventListener('MDCTemporaryDrawer:open', function() {
            console.log('Received MDCTemporaryDrawer:open');
        });
        drawerEl.addEventListener('MDCTemporaryDrawer:close', function() {
            console.log('Received MDCTemporaryDrawer:close');
        });

        var search = document.querySelector('#search');
        search.addEventListener('keypress', function(evt) {
            if(evt.charCode === 13){
                var query = search.value;
                var url = '/search;query=' + encodeURIComponent(query);
                window.location.href = url;
            }
        });
        (function(){
            var href = window.location.href;
            var index = href.indexOf('query=');
            if(index > -1){
                var query = href.split('query=')[1];
                var eoq = query.indexOf(';');
                if(eoq > -1){
                    query = afterQuery.substr(0, eoq);
                }
                search.value = query;
            }
        })();
    </script>
    <script type="text/javascript" src="inline.bundle.js"></script>
    <script type="text/javascript" src="polyfills.bundle.js"></script>
    <script type="text/javascript" src="styles.bundle.js"></script>
    <script type="text/javascript" src="vendor.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script>
</body>
</html>


