<div class="cjs-job">
  {{> header_splash}}
  <div class="container-fluid page-content">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a></li>
      <li><a href="/jobs/community-jobs-scotland/vacancies">Vacancies</a></li>
      <li>Login</li>
    </ul>
    <form id="logout-form" method="POST" class="logout-form">
      <div class="mdc-typography--headline5">
        Logging out&hellip;
      </div>
    </form>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  window.setTimeout(function() {
    cjsFirebase.auth().signOut().then(function() {
      window.location.href = '/jobs/community-jobs-scotland/vacancies/login';
      setCookie('cjs_token');
    }).catch(function(err) {
      console.error('Error logging out:', err);
    });
  }, 1000);
});
</script>