<div class="footer">
    <div class="container-fluid">
        <div class="footer-main">
            <div class="row">
                <div class="col s12">
                    <h5>About us</h5>
                    <p>The Scottish Council for Voluntary Organisations (SCVO) is the membership organisation for Scotland's charities, voluntary organisations and social enterprises.</p>
                </div>
            </div>
            <div class="row">
                <div class="col l3">
                    <h5>Contact us</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a></li>
                        <li><a class="grey-text text-lighten-3" href="tel:+441314748000">0131 474 8000</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://twitter.com/scvotweet">Twitter</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/SCVO1939">Facebook</a></li>
                    </ul>
                </div>
                <div class="col l3">
                    <h5>Information</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" [routerLink]="['/terms-and-conditions']">Terms &amp; conditions</a></li>
                        <li><a class="grey-text text-lighten-3" [routerLink]="['/privacy-and-cookies']">Privacy &amp; cookies</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">Accessibility</a></li>
                    </ul>
                </div>
                <div class="col l3">
                    <h5>Services</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://goodhq.org">GoodHQ</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://www.fundingscotland.com">Funding Scotland</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://goodmoves.org.uk">Goodmoves</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://digital.scvo.org.uk">Digital Participation</a></li>
                    </ul>
                </div>
                <div class="col l3">
                    <h5>Related</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://thirdforcenews.org.uk">Third Force News</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://www.3rdsectorintern.com">Third Sector Internships Scotland</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://www.saifscotland.org.uk">Scottish Accessible Information Forum</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://charter.scvo.org.uk">Scotland's Digital Participation Charter</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="row">
                    <div class="col s12">
                        <p><small>&copy; {{ date | date:'yyyy' }}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Registration number <a href="http://www.oscr.org.uk/charities/search-scottish-charity-register/charity-details?number=SC003558">SC003558</a>.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
