<div class="footer">
    <div class="container-fluid">
        <div class="footer-main">
            <div class="row">
                <div class="col l7 m5 s12">
                    <a [routerLink]="['/']" class="brand-logo"><img src="app/assets/images/logos/scvo-white.png" /> SCVO</a>
                    <!-- <h5>About SCVO</h5> -->
                    <p>The <strong>Scottish Council for Voluntary Organisations</strong> is the membership organisation for Scotland's charities, voluntary organisations and social enterprises.</p>
                </div>
                <div class="col l2 m3 s6 offset-m1 offset-l1">
                    <!-- <h5>Contact</h5> -->
                    <ul>
                        <li><a class="grey-text text-lighten-3" [routerLink]="['/about-us']">About us</a></li>
                        <li><a class="grey-text text-lighten-3" [routerLink]="['/terms-and-conditions']">Terms &amp; conditions</a></li>
                        <li><a class="grey-text text-lighten-3" [routerLink]="['/privacy-and-cookies']">Privacy &amp; cookies</a></li>
                        <li><a class="grey-text text-lighten-3" [routerLink]="['/accessibility']">Accessibility</a></li>
                    </ul>
                </div>
                <div class="col l2 m3 s6">
                    <!-- <h5>Contact</h5> -->
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a></li>
                        <li><a class="grey-text text-lighten-3" href="tel:+441314748000">0131 474 8000</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/SCVO1939">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://twitter.com/scvotweet">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="row">
                    <div class="col s12">
                        <p><small>&copy; {{ date | date:'yyyy' }}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Registration number <a href="http://www.oscr.org.uk/charities/search-scottish-charity-register/charity-details?number=SC003558">SC003558</a>.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
