<h1 class="header-text">
  {{#if link ~}}<a href="/" title="Goodmoves">{{/if ~}}
  <img src="https://www.volunteerscotland.net/media/333407/volunteer_scotland_hi-res_png.png" />
  {{#if link ~}}</a>{{/if ~}}
</h1>