{{#if paging.totalResults ~}}
<div class="search-info">
  Your search returned <strong>{{addCommas paging.totalResults}} results</strong>
  {{#compare @root.route.name "!==" "opportunity_map" ~}}
  {{#compare paging.totalResults ">" 10 ~}} <strong>|</strong>
  page {{addCommas paging.currentPage}} of {{addCommas paging.totalPages}}
  {{/compare ~}}
  {{/compare ~}}
</div>
{{else}}
{{#ifAny @root.request.params.query.keywords @root.request.params.query.location @root.request.params.query.regions @root.request.params.query.work_types @root.request.params.query.client_groups @root.request.params.query.organisation_activities @root.request.params.query.recently_updated @root.request.params.query.has_opportunities ~}}
<div class="search-info mdc-elevation--z1">
  No results could be found, please try a different search query
</div>
{{/ifAny ~}}
{{/if ~}}
